=begin
#AuthorizationManagementClient

#Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role assignments. A role assignment grants access to Azure Active Directory users.

The version of the OpenAPI document: 2022-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Authorization
  class RoleAssignmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update a role assignment by scope and name.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param role_assignment_name [String] The name of the role assignment. It can be any valid GUID.
    # @param parameters [RoleAssignmentCreateParameters] Parameters for the role assignment.
    # @param [Hash] opts the optional parameters
    # @return [RoleAssignment]
    def role_assignments_create(api_version, scope, role_assignment_name, parameters, opts = {})
      data, _status_code, _headers = role_assignments_create_with_http_info(api_version, scope, role_assignment_name, parameters, opts)
      data
    end

    # Create or update a role assignment by scope and name.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param role_assignment_name [String] The name of the role assignment. It can be any valid GUID.
    # @param parameters [RoleAssignmentCreateParameters] Parameters for the role assignment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoleAssignment, Integer, Hash)>] RoleAssignment data, response status code and response headers
    def role_assignments_create_with_http_info(api_version, scope, role_assignment_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling RoleAssignmentsApi.role_assignments_create"
      end
      # verify the required parameter 'role_assignment_name' is set
      if @api_client.config.client_side_validation && role_assignment_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_assignment_name' when calling RoleAssignmentsApi.role_assignments_create"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling RoleAssignmentsApi.role_assignments_create"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}'.sub('{scope}', CGI.escape(scope.to_s)).sub('{roleAssignmentName}', CGI.escape(role_assignment_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a role assignment by ID.
    # @param api_version [String] The API version to use for this operation.
    # @param role_assignment_id [String] The fully qualified ID of the role assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/&lt;SUB_ID&gt;/resourcegroups/&lt;RESOURCE_GROUP&gt;/providers/Microsoft.Authorization/roleAssignments/&lt;ROLE_ASSIGNMENT_NAME&gt;
    # @param parameters [RoleAssignmentCreateParameters] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [RoleAssignment]
    def role_assignments_create_by_id(api_version, role_assignment_id, parameters, opts = {})
      data, _status_code, _headers = role_assignments_create_by_id_with_http_info(api_version, role_assignment_id, parameters, opts)
      data
    end

    # Create or update a role assignment by ID.
    # @param api_version [String] The API version to use for this operation.
    # @param role_assignment_id [String] The fully qualified ID of the role assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/&lt;SUB_ID&gt;/resourcegroups/&lt;RESOURCE_GROUP&gt;/providers/Microsoft.Authorization/roleAssignments/&lt;ROLE_ASSIGNMENT_NAME&gt;
    # @param parameters [RoleAssignmentCreateParameters] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoleAssignment, Integer, Hash)>] RoleAssignment data, response status code and response headers
    def role_assignments_create_by_id_with_http_info(api_version, role_assignment_id, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_create_by_id ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_create_by_id"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_create_by_id, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'role_assignment_id' is set
      if @api_client.config.client_side_validation && role_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_assignment_id' when calling RoleAssignmentsApi.role_assignments_create_by_id"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling RoleAssignmentsApi.role_assignments_create_by_id"
      end
      # resource path
      local_var_path = '/{roleAssignmentId}'.sub('{roleAssignmentId}', CGI.escape(role_assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_create_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_create_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a role assignment by scope and name.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param role_assignment_name [String] The name of the role assignment. It can be any valid GUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignment]
    def role_assignments_delete(api_version, scope, role_assignment_name, opts = {})
      data, _status_code, _headers = role_assignments_delete_with_http_info(api_version, scope, role_assignment_name, opts)
      data
    end

    # Delete a role assignment by scope and name.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param role_assignment_name [String] The name of the role assignment. It can be any valid GUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignment, Integer, Hash)>] RoleAssignment data, response status code and response headers
    def role_assignments_delete_with_http_info(api_version, scope, role_assignment_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling RoleAssignmentsApi.role_assignments_delete"
      end
      # verify the required parameter 'role_assignment_name' is set
      if @api_client.config.client_side_validation && role_assignment_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_assignment_name' when calling RoleAssignmentsApi.role_assignments_delete"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}'.sub('{scope}', CGI.escape(scope.to_s)).sub('{roleAssignmentName}', CGI.escape(role_assignment_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a role assignment by ID.
    # @param api_version [String] The API version to use for this operation.
    # @param role_assignment_id [String] The fully qualified ID of the role assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/&lt;SUB_ID&gt;/resourcegroups/&lt;RESOURCE_GROUP&gt;/providers/Microsoft.Authorization/roleAssignments/&lt;ROLE_ASSIGNMENT_NAME&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignment]
    def role_assignments_delete_by_id(api_version, role_assignment_id, opts = {})
      data, _status_code, _headers = role_assignments_delete_by_id_with_http_info(api_version, role_assignment_id, opts)
      data
    end

    # Delete a role assignment by ID.
    # @param api_version [String] The API version to use for this operation.
    # @param role_assignment_id [String] The fully qualified ID of the role assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/&lt;SUB_ID&gt;/resourcegroups/&lt;RESOURCE_GROUP&gt;/providers/Microsoft.Authorization/roleAssignments/&lt;ROLE_ASSIGNMENT_NAME&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignment, Integer, Hash)>] RoleAssignment data, response status code and response headers
    def role_assignments_delete_by_id_with_http_info(api_version, role_assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_delete_by_id ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_delete_by_id"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_delete_by_id, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'role_assignment_id' is set
      if @api_client.config.client_side_validation && role_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_assignment_id' when calling RoleAssignmentsApi.role_assignments_delete_by_id"
      end
      # resource path
      local_var_path = '/{roleAssignmentId}'.sub('{roleAssignmentId}', CGI.escape(role_assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_delete_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a role assignment by scope and name.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param role_assignment_name [String] The name of the role assignment. It can be any valid GUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignment]
    def role_assignments_get(api_version, scope, role_assignment_name, opts = {})
      data, _status_code, _headers = role_assignments_get_with_http_info(api_version, scope, role_assignment_name, opts)
      data
    end

    # Get a role assignment by scope and name.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param role_assignment_name [String] The name of the role assignment. It can be any valid GUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignment, Integer, Hash)>] RoleAssignment data, response status code and response headers
    def role_assignments_get_with_http_info(api_version, scope, role_assignment_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling RoleAssignmentsApi.role_assignments_get"
      end
      # verify the required parameter 'role_assignment_name' is set
      if @api_client.config.client_side_validation && role_assignment_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_assignment_name' when calling RoleAssignmentsApi.role_assignments_get"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}'.sub('{scope}', CGI.escape(scope.to_s)).sub('{roleAssignmentName}', CGI.escape(role_assignment_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a role assignment by ID.
    # @param api_version [String] The API version to use for this operation.
    # @param role_assignment_id [String] The fully qualified ID of the role assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/&lt;SUB_ID&gt;/resourcegroups/&lt;RESOURCE_GROUP&gt;/providers/Microsoft.Authorization/roleAssignments/&lt;ROLE_ASSIGNMENT_NAME&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignment]
    def role_assignments_get_by_id(api_version, role_assignment_id, opts = {})
      data, _status_code, _headers = role_assignments_get_by_id_with_http_info(api_version, role_assignment_id, opts)
      data
    end

    # Get a role assignment by ID.
    # @param api_version [String] The API version to use for this operation.
    # @param role_assignment_id [String] The fully qualified ID of the role assignment including scope, resource name, and resource type. Format: /{scope}/providers/Microsoft.Authorization/roleAssignments/{roleAssignmentName}. Example: /subscriptions/&lt;SUB_ID&gt;/resourcegroups/&lt;RESOURCE_GROUP&gt;/providers/Microsoft.Authorization/roleAssignments/&lt;ROLE_ASSIGNMENT_NAME&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignment, Integer, Hash)>] RoleAssignment data, response status code and response headers
    def role_assignments_get_by_id_with_http_info(api_version, role_assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_get_by_id ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_get_by_id"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_get_by_id, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'role_assignment_id' is set
      if @api_client.config.client_side_validation && role_assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_assignment_id' when calling RoleAssignmentsApi.role_assignments_get_by_id"
      end
      # resource path
      local_var_path = '/{roleAssignmentId}'.sub('{roleAssignmentId}', CGI.escape(role_assignment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_get_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all role assignments that apply to a resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param resource_type [String] The resource type of the resource.
    # @param resource_name [String] The name of the resource to get role assignments for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignmentListResult]
    def role_assignments_list_for_resource(api_version, subscription_id, resource_group_name, resource_provider_namespace, resource_type, resource_name, opts = {})
      data, _status_code, _headers = role_assignments_list_for_resource_with_http_info(api_version, subscription_id, resource_group_name, resource_provider_namespace, resource_type, resource_name, opts)
      data
    end

    # List all role assignments that apply to a resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param resource_type [String] The resource type of the resource.
    # @param resource_name [String] The name of the resource to get role assignments for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignmentListResult, Integer, Hash)>] RoleAssignmentListResult data, response status code and response headers
    def role_assignments_list_for_resource_with_http_info(api_version, subscription_id, resource_group_name, resource_provider_namespace, resource_type, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_list_for_resource ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_list_for_resource"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_list_for_resource, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling RoleAssignmentsApi.role_assignments_list_for_resource"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling RoleAssignmentsApi.role_assignments_list_for_resource"
      end
      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling RoleAssignmentsApi.role_assignments_list_for_resource"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling RoleAssignmentsApi.role_assignments_list_for_resource"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling RoleAssignmentsApi.role_assignments_list_for_resource"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/roleAssignments'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{resourceType}', CGI.escape(resource_type.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignmentListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_list_for_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_list_for_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all role assignments that apply to a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignmentListResult]
    def role_assignments_list_for_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = role_assignments_list_for_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # List all role assignments that apply to a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignmentListResult, Integer, Hash)>] RoleAssignmentListResult data, response status code and response headers
    def role_assignments_list_for_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_list_for_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_list_for_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_list_for_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling RoleAssignmentsApi.role_assignments_list_for_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling RoleAssignmentsApi.role_assignments_list_for_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling RoleAssignmentsApi.role_assignments_list_for_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling RoleAssignmentsApi.role_assignments_list_for_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/roleAssignments'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignmentListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_list_for_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_list_for_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all role assignments that apply to a scope.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @option opts [String] :skip_token The skipToken to apply on the operation. Use $skipToken&#x3D;{skiptoken} to return paged role assignments following the skipToken passed. Only supported on provider level calls.
    # @return [RoleAssignmentListResult]
    def role_assignments_list_for_scope(api_version, scope, opts = {})
      data, _status_code, _headers = role_assignments_list_for_scope_with_http_info(api_version, scope, opts)
      data
    end

    # List all role assignments that apply to a scope.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @option opts [String] :skip_token The skipToken to apply on the operation. Use $skipToken&#x3D;{skiptoken} to return paged role assignments following the skipToken passed. Only supported on provider level calls.
    # @return [Array<(RoleAssignmentListResult, Integer, Hash)>] RoleAssignmentListResult data, response status code and response headers
    def role_assignments_list_for_scope_with_http_info(api_version, scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_list_for_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_list_for_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_list_for_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling RoleAssignmentsApi.role_assignments_list_for_scope"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Authorization/roleAssignments'.sub('{scope}', CGI.escape(scope.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'$skipToken'] = opts[:'skip_token'] if !opts[:'skip_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignmentListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_list_for_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_list_for_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all role assignments that apply to a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [RoleAssignmentListResult]
    def role_assignments_list_for_subscription(api_version, subscription_id, opts = {})
      data, _status_code, _headers = role_assignments_list_for_subscription_with_http_info(api_version, subscription_id, opts)
      data
    end

    # List all role assignments that apply to a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation. Use $filter&#x3D;atScope() to return all role assignments at or above the scope. Use $filter&#x3D;principalId eq {id} to return all role assignments at, above or below the scope for the specified principal.
    # @option opts [String] :tenant_id Tenant ID for cross-tenant request
    # @return [Array<(RoleAssignmentListResult, Integer, Hash)>] RoleAssignmentListResult data, response status code and response headers
    def role_assignments_list_for_subscription_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleAssignmentsApi.role_assignments_list_for_subscription ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling RoleAssignmentsApi.role_assignments_list_for_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling RoleAssignmentsApi.role_assignments_list_for_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling RoleAssignmentsApi.role_assignments_list_for_subscription"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/roleAssignments'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoleAssignmentListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"RoleAssignmentsApi.role_assignments_list_for_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleAssignmentsApi#role_assignments_list_for_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end