=begin
#ContainerServiceClient

#The Container Service Client.

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module ContainerService
  class ManagedClustersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aborts last operation running on managed cluster.
    # Aborts the currently running operation on the managed cluster. The Managed Cluster will be moved to a Canceling state and eventually to a Canceled state when cancellation finishes. If the operation completes before cancellation can take place, a 409 error code is returned.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def managed_clusters_abort_latest_operation(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      managed_clusters_abort_latest_operation_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      nil
    end

    # Aborts last operation running on managed cluster.
    # Aborts the currently running operation on the managed cluster. The Managed Cluster will be moved to a Canceling state and eventually to a Canceled state when cancellation finishes. If the operation completes before cancellation can take place, a 409 error code is returned.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def managed_clusters_abort_latest_operation_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_abort_latest_operation ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_abort_latest_operation"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_abort_latest_operation, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_abort_latest_operation, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_abort_latest_operation, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/abort'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_abort_latest_operation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_abort_latest_operation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param parameters [ManagedCluster] The managed cluster to create or update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @option opts [String] :if_none_match The request should only proceed if no entity matches this string.
    # @return [ManagedCluster]
    def managed_clusters_create_or_update(api_version, subscription_id, resource_group_name, resource_name, parameters, opts = {})
      data, _status_code, _headers = managed_clusters_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, parameters, opts)
      data
    end

    # Creates or updates a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param parameters [ManagedCluster] The managed cluster to create or update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @option opts [String] :if_none_match The request should only proceed if no entity matches this string.
    # @return [Array<(ManagedCluster, Integer, Hash)>] ManagedCluster data, response status code and response headers
    def managed_clusters_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ManagedClustersApi.managed_clusters_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'if-match'] = opts[:'if_match'] if !opts[:'if_match'].nil?
      header_params[:'if-none-match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedCluster'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @return [nil]
    def managed_clusters_delete(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      managed_clusters_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      nil
    end

    # Deletes a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def managed_clusters_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_delete"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'if-match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [ManagedCluster]
    def managed_clusters_get(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = managed_clusters_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Gets a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedCluster, Integer, Hash)>] ManagedCluster data, response status code and response headers
    def managed_clusters_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_get"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedCluster'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets an access profile of a managed cluster.
    # **WARNING**: This API will be deprecated. Instead use [ListClusterUserCredentials](https://docs.microsoft.com/rest/api/aks/managedclusters/listclusterusercredentials) or [ListClusterAdminCredentials](https://docs.microsoft.com/rest/api/aks/managedclusters/listclusteradmincredentials) .
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param role_name [String] The name of the role for managed cluster accessProfile resource.
    # @param [Hash] opts the optional parameters
    # @return [ManagedClusterAccessProfile]
    def managed_clusters_get_access_profile(api_version, subscription_id, resource_group_name, resource_name, role_name, opts = {})
      data, _status_code, _headers = managed_clusters_get_access_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, role_name, opts)
      data
    end

    # Gets an access profile of a managed cluster.
    # **WARNING**: This API will be deprecated. Instead use [ListClusterUserCredentials](https://docs.microsoft.com/rest/api/aks/managedclusters/listclusterusercredentials) or [ListClusterAdminCredentials](https://docs.microsoft.com/rest/api/aks/managedclusters/listclusteradmincredentials) .
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param role_name [String] The name of the role for managed cluster accessProfile resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedClusterAccessProfile, Integer, Hash)>] ManagedClusterAccessProfile data, response status code and response headers
    def managed_clusters_get_access_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, role_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_get_access_profile ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_get_access_profile"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_get_access_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_get_access_profile"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_get_access_profile"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_access_profile, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_access_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_get_access_profile"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_access_profile, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_access_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_get_access_profile, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'role_name' is set
      if @api_client.config.client_side_validation && role_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_name' when calling ManagedClustersApi.managed_clusters_get_access_profile"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/accessProfiles/{roleName}/listCredential'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{roleName}', CGI.escape(role_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedClusterAccessProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_get_access_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_get_access_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the results of a command which has been run on the Managed Cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param command_id [String] Id of the command.
    # @param [Hash] opts the optional parameters
    # @return [RunCommandResult]
    def managed_clusters_get_command_result(api_version, subscription_id, resource_group_name, resource_name, command_id, opts = {})
      data, _status_code, _headers = managed_clusters_get_command_result_with_http_info(api_version, subscription_id, resource_group_name, resource_name, command_id, opts)
      data
    end

    # Gets the results of a command which has been run on the Managed Cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param command_id [String] Id of the command.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunCommandResult, Integer, Hash)>] RunCommandResult data, response status code and response headers
    def managed_clusters_get_command_result_with_http_info(api_version, subscription_id, resource_group_name, resource_name, command_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_get_command_result ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_get_command_result"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_get_command_result, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_get_command_result"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_get_command_result"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_command_result, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_command_result, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_get_command_result"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_command_result, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_command_result, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_get_command_result, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'command_id' is set
      if @api_client.config.client_side_validation && command_id.nil?
        fail ArgumentError, "Missing the required parameter 'command_id' when calling ManagedClustersApi.managed_clusters_get_command_result"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/commandResults/{commandId}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{commandId}', CGI.escape(command_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunCommandResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_get_command_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_get_command_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a mesh revision profile for a specified mesh in the specified location.
    # Contains extra metadata on the revision, including supported revisions, cluster compatibility and available upgrades
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param mode [String] The mode of the mesh.
    # @param [Hash] opts the optional parameters
    # @return [MeshRevisionProfile]
    def managed_clusters_get_mesh_revision_profile(api_version, subscription_id, location, mode, opts = {})
      data, _status_code, _headers = managed_clusters_get_mesh_revision_profile_with_http_info(api_version, subscription_id, location, mode, opts)
      data
    end

    # Gets a mesh revision profile for a specified mesh in the specified location.
    # Contains extra metadata on the revision, including supported revisions, cluster compatibility and available upgrades
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param mode [String] The mode of the mesh.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeshRevisionProfile, Integer, Hash)>] MeshRevisionProfile data, response status code and response headers
    def managed_clusters_get_mesh_revision_profile_with_http_info(api_version, subscription_id, location, mode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_get_mesh_revision_profile ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'mode' is set
      if @api_client.config.client_side_validation && mode.nil?
        fail ArgumentError, "Missing the required parameter 'mode' when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile"
      end
      if @api_client.config.client_side_validation && mode.to_s.length > 24
        fail ArgumentError, 'invalid value for "mode" when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && mode.to_s.length < 1
        fail ArgumentError, 'invalid value for "mode" when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && mode !~ pattern
        fail ArgumentError, "invalid value for 'mode' when calling ManagedClustersApi.managed_clusters_get_mesh_revision_profile, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/meshRevisionProfiles/{mode}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{mode}', CGI.escape(mode.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MeshRevisionProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_get_mesh_revision_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_get_mesh_revision_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets available upgrades for a service mesh in a cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param mode [String] The mode of the mesh.
    # @param [Hash] opts the optional parameters
    # @return [MeshUpgradeProfile]
    def managed_clusters_get_mesh_upgrade_profile(api_version, subscription_id, resource_group_name, resource_name, mode, opts = {})
      data, _status_code, _headers = managed_clusters_get_mesh_upgrade_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, mode, opts)
      data
    end

    # Gets available upgrades for a service mesh in a cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param mode [String] The mode of the mesh.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeshUpgradeProfile, Integer, Hash)>] MeshUpgradeProfile data, response status code and response headers
    def managed_clusters_get_mesh_upgrade_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, mode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'mode' is set
      if @api_client.config.client_side_validation && mode.nil?
        fail ArgumentError, "Missing the required parameter 'mode' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile"
      end
      if @api_client.config.client_side_validation && mode.to_s.length > 24
        fail ArgumentError, 'invalid value for "mode" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && mode.to_s.length < 1
        fail ArgumentError, 'invalid value for "mode" when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && mode !~ pattern
        fail ArgumentError, "invalid value for 'mode' when calling ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/meshUpgradeProfiles/{mode}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{mode}', CGI.escape(mode.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MeshUpgradeProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_get_mesh_upgrade_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_get_mesh_upgrade_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the upgrade profile of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [ManagedClusterUpgradeProfile]
    def managed_clusters_get_upgrade_profile(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = managed_clusters_get_upgrade_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Gets the upgrade profile of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedClusterUpgradeProfile, Integer, Hash)>] ManagedClusterUpgradeProfile data, response status code and response headers
    def managed_clusters_get_upgrade_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_get_upgrade_profile ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_get_upgrade_profile"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_upgrade_profile, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_upgrade_profile, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_get_upgrade_profile, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/upgradeProfiles/default'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedClusterUpgradeProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_get_upgrade_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_get_upgrade_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of managed clusters in the specified subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [ManagedClusterListResult]
    def managed_clusters_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = managed_clusters_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets a list of managed clusters in the specified subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedClusterListResult, Integer, Hash)>] ManagedClusterListResult data, response status code and response headers
    def managed_clusters_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/managedClusters'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedClusterListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists managed clusters in the specified subscription and resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [ManagedClusterListResult]
    def managed_clusters_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = managed_clusters_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists managed clusters in the specified subscription and resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedClusterListResult, Integer, Hash)>] ManagedClusterListResult data, response status code and response headers
    def managed_clusters_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedClusterListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the admin credentials of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :server_fqdn server fqdn type for credentials to be returned
    # @return [CredentialResults]
    def managed_clusters_list_cluster_admin_credentials(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = managed_clusters_list_cluster_admin_credentials_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Lists the admin credentials of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :server_fqdn server fqdn type for credentials to be returned
    # @return [Array<(CredentialResults, Integer, Hash)>] CredentialResults data, response status code and response headers
    def managed_clusters_list_cluster_admin_credentials_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list_cluster_admin_credentials ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_list_cluster_admin_credentials, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterAdminCredential'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'server-fqdn'] = opts[:'server_fqdn'] if !opts[:'server_fqdn'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredentialResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_list_cluster_admin_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_list_cluster_admin_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the cluster monitoring user credentials of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :server_fqdn server fqdn type for credentials to be returned
    # @return [CredentialResults]
    def managed_clusters_list_cluster_monitoring_user_credentials(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = managed_clusters_list_cluster_monitoring_user_credentials_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Lists the cluster monitoring user credentials of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :server_fqdn server fqdn type for credentials to be returned
    # @return [Array<(CredentialResults, Integer, Hash)>] CredentialResults data, response status code and response headers
    def managed_clusters_list_cluster_monitoring_user_credentials_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterMonitoringUserCredential'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'server-fqdn'] = opts[:'server_fqdn'] if !opts[:'server_fqdn'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredentialResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_list_cluster_monitoring_user_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_list_cluster_monitoring_user_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the user credentials of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :server_fqdn server fqdn type for credentials to be returned
    # @option opts [String] :format Only apply to AAD clusters, specifies the format of returned kubeconfig. Format &#39;azure&#39; will return azure auth-provider kubeconfig; format &#39;exec&#39; will return exec format kubeconfig, which requires kubelogin binary in the path.
    # @return [CredentialResults]
    def managed_clusters_list_cluster_user_credentials(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = managed_clusters_list_cluster_user_credentials_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Lists the user credentials of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :server_fqdn server fqdn type for credentials to be returned
    # @option opts [String] :format Only apply to AAD clusters, specifies the format of returned kubeconfig. Format &#39;azure&#39; will return azure auth-provider kubeconfig; format &#39;exec&#39; will return exec format kubeconfig, which requires kubelogin binary in the path.
    # @return [Array<(CredentialResults, Integer, Hash)>] CredentialResults data, response status code and response headers
    def managed_clusters_list_cluster_user_credentials_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list_cluster_user_credentials ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedClustersApi.managed_clusters_list_cluster_user_credentials, must conform to the pattern #{pattern}."
      end

      allowable_values = ["azure", "exec"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/listClusterUserCredential'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'server-fqdn'] = opts[:'server_fqdn'] if !opts[:'server_fqdn'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredentialResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_list_cluster_user_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_list_cluster_user_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of supported Kubernetes versions in the specified subscription.
    # Contains extra metadata on the version, including supported patch versions, capabilities, available upgrades, and details on preview status of the version
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [KubernetesVersionListResult]
    def managed_clusters_list_kubernetes_versions(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = managed_clusters_list_kubernetes_versions_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets a list of supported Kubernetes versions in the specified subscription.
    # Contains extra metadata on the version, including supported patch versions, capabilities, available upgrades, and details on preview status of the version
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KubernetesVersionListResult, Integer, Hash)>] KubernetesVersionListResult data, response status code and response headers
    def managed_clusters_list_kubernetes_versions_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list_kubernetes_versions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list_kubernetes_versions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list_kubernetes_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedClustersApi.managed_clusters_list_kubernetes_versions"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling ManagedClustersApi.managed_clusters_list_kubernetes_versions"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling ManagedClustersApi.managed_clusters_list_kubernetes_versions, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/kubernetesVersions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KubernetesVersionListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedClustersApi.managed_clusters_list_kubernetes_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedClustersApi#managed_clusters_list_kubernetes_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists mesh revision profiles for all meshes in the specified location.
    # Contains extra metadata on each revision, including supported revisions, cluster compatibility and available upgrades
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [MeshRevisionProfileList]
    def managed_clusters_list_mesh_revision_profiles(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = managed_clusters_list_mesh_revision_profiles_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Lists mesh revision profiles for all meshes in the specified location.
    # Contains extra metadata on each revision, including supported revisions, cluster compatibility and available upgrades
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeshRevisionProfileList, Integer, Hash)>] MeshRevisionProfileList data, response status code and response headers
    def managed_clusters_list_mesh_revision_profiles_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedClustersApi.managed_clusters_list_mesh_revision_profiles ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedClustersApi.managed_clusters_list_mesh_revision_profiles"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedClustersApi.managed_clusters_list_mesh_revision_profiles, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
[...]
