=begin
#ResourceManagementClient

#Provides operations for working with resources and resource groups.

The version of the OpenAPI document: 2025-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Resources
  class ResourcesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checks whether a resource exists.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resources_check_existence(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts = {})
      resources_check_existence_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts)
      nil
    end

    # Checks whether a resource exists.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resources_check_existence_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_check_existence ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_check_existence"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_check_existence, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourcesApi.resources_check_existence"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_check_existence, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_check_existence, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourcesApi.resources_check_existence, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ResourcesApi.resources_check_existence"
      end
      # verify the required parameter 'parent_resource_path' is set
      if @api_client.config.client_side_validation && parent_resource_path.nil?
        fail ArgumentError, "Missing the required parameter 'parent_resource_path' when calling ResourcesApi.resources_check_existence"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling ResourcesApi.resources_check_existence"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourcesApi.resources_check_existence"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_check_existence"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{parentResourcePath}', CGI.escape(parent_resource_path.to_s)).sub('{resourceType}', CGI.escape(resource_type.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_check_existence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_check_existence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Checks by ID whether a resource exists. This API currently works only for a limited set of Resource providers. In the event that a Resource provider does not implement this API, ARM will respond with a 405. The alternative then is to use the GET API to check for the existence of the resource.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resources_check_existence_by_id(resource_id, api_version, opts = {})
      resources_check_existence_by_id_with_http_info(resource_id, api_version, opts)
      nil
    end

    # Checks by ID whether a resource exists. This API currently works only for a limited set of Resource providers. In the event that a Resource provider does not implement this API, ARM will respond with a 405. The alternative then is to use the GET API to check for the existence of the resource.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resources_check_existence_by_id_with_http_info(resource_id, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_check_existence_by_id ...'
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling ResourcesApi.resources_check_existence_by_id"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_check_existence_by_id"
      end
      # resource path
      local_var_path = '/{resourceId}'.sub('{resourceId}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_check_existence_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_check_existence_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [GenericResource]
    def resources_create_or_update(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, parameters, opts = {})
      data, _status_code, _headers = resources_create_or_update_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, parameters, opts)
      data
    end

    # Creates a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResource, Integer, Hash)>] GenericResource data, response status code and response headers
    def resources_create_or_update_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_create_or_update ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourcesApi.resources_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourcesApi.resources_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ResourcesApi.resources_create_or_update"
      end
      # verify the required parameter 'parent_resource_path' is set
      if @api_client.config.client_side_validation && parent_resource_path.nil?
        fail ArgumentError, "Missing the required parameter 'parent_resource_path' when calling ResourcesApi.resources_create_or_update"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling ResourcesApi.resources_create_or_update"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourcesApi.resources_create_or_update"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourcesApi.resources_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{parentResourcePath}', CGI.escape(parent_resource_path.to_s)).sub('{resourceType}', CGI.escape(resource_type.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'GenericResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [GenericResource]
    def resources_create_or_update_by_id(resource_id, api_version, parameters, opts = {})
      data, _status_code, _headers = resources_create_or_update_by_id_with_http_info(resource_id, api_version, parameters, opts)
      data
    end

    # Create a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResource, Integer, Hash)>] GenericResource data, response status code and response headers
    def resources_create_or_update_by_id_with_http_info(resource_id, api_version, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_create_or_update_by_id ...'
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling ResourcesApi.resources_create_or_update_by_id"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_create_or_update_by_id"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourcesApi.resources_create_or_update_by_id"
      end
      # resource path
      local_var_path = '/{resourceId}'.sub('{resourceId}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'GenericResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_create_or_update_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_create_or_update_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resources_delete(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts = {})
      resources_delete_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts)
      nil
    end

    # Deletes a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resources_delete_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_delete ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourcesApi.resources_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourcesApi.resources_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ResourcesApi.resources_delete"
      end
      # verify the required parameter 'parent_resource_path' is set
      if @api_client.config.client_side_validation && parent_resource_path.nil?
        fail ArgumentError, "Missing the required parameter 'parent_resource_path' when calling ResourcesApi.resources_delete"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling ResourcesApi.resources_delete"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourcesApi.resources_delete"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{parentResourcePath}', CGI.escape(parent_resource_path.to_s)).sub('{resourceType}', CGI.escape(resource_type.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resources_delete_by_id(resource_id, api_version, opts = {})
      resources_delete_by_id_with_http_info(resource_id, api_version, opts)
      nil
    end

    # Deletes a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resources_delete_by_id_with_http_info(resource_id, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_delete_by_id ...'
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling ResourcesApi.resources_delete_by_id"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_delete_by_id"
      end
      # resource path
      local_var_path = '/{resourceId}'.sub('{resourceId}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_delete_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [GenericResource]
    def resources_get(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts = {})
      data, _status_code, _headers = resources_get_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts)
      data
    end

    # Gets a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResource, Integer, Hash)>] GenericResource data, response status code and response headers
    def resources_get_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_get ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourcesApi.resources_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourcesApi.resources_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ResourcesApi.resources_get"
      end
      # verify the required parameter 'parent_resource_path' is set
      if @api_client.config.client_side_validation && parent_resource_path.nil?
        fail ArgumentError, "Missing the required parameter 'parent_resource_path' when calling ResourcesApi.resources_get"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling ResourcesApi.resources_get"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourcesApi.resources_get"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{parentResourcePath}', CGI.escape(parent_resource_path.to_s)).sub('{resourceType}', CGI.escape(resource_type.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenericResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [GenericResource]
    def resources_get_by_id(resource_id, api_version, opts = {})
      data, _status_code, _headers = resources_get_by_id_with_http_info(resource_id, api_version, opts)
      data
    end

    # Gets a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResource, Integer, Hash)>] GenericResource data, response status code and response headers
    def resources_get_by_id_with_http_info(resource_id, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_get_by_id ...'
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling ResourcesApi.resources_get_by_id"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_get_by_id"
      end
      # resource path
      local_var_path = '/{resourceId}'.sub('{resourceId}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenericResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_get_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_get_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all the resources in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.&lt;br&gt;&lt;br&gt;Filter comparison operators include &#x60;eq&#x60; (equals) and &#x60;ne&#x60; (not equals) and may be used with the following properties: &#x60;location&#x60;, &#x60;resourceType&#x60;, &#x60;name&#x60;, &#x60;resourceGroup&#x60;, &#x60;identity&#x60;, &#x60;identity/principalId&#x60;, &#x60;plan&#x60;, &#x60;plan/publisher&#x60;, &#x60;plan/product&#x60;, &#x60;plan/name&#x60;, &#x60;plan/version&#x60;, and &#x60;plan/promotionCode&#x60;.&lt;br&gt;&lt;br&gt;For example, to filter by a resource type, use &#x60;$filter&#x3D;resourceType eq &#39;Microsoft.Network/virtualNetworks&#39;&#x60;&lt;br&gt;&lt;br&gt;&lt;br&gt;&#x60;substringof(value, property)&#x60; can  be used to filter for substrings of the following currently-supported properties: &#x60;name&#x60; and &#x60;resourceGroup&#x60;&lt;br&gt;&lt;br&gt;For example, to get all resources with &#39;demo&#39; anywhere in the resource name, use &#x60;$filter&#x3D;substringof(&#39;demo&#39;, name)&#x60;&lt;br&gt;&lt;br&gt;Multiple substring operations can also be combined using &#x60;and&#x60;/&#x60;or&#x60; operators.&lt;br&gt;&lt;br&gt;Note that any truncated number of results queried via &#x60;$top&#x60; may also not be compatible when using a filter.&lt;br&gt;&lt;br&gt;&lt;br&gt;Resources can be filtered by tag names and values. For example, to filter for a tag name and value, use &#x60;$filter&#x3D;tagName eq &#39;tag1&#39; and tagValue eq &#39;Value1&#39;&#x60;. Note that when resources are filtered by tag name and value, &lt;b&gt;the original tags for each resource will not be returned in the results.&lt;/b&gt; Any list of additional properties queried via &#x60;$expand&#x60; may also not be compatible when filtering by tag names/values. &lt;br&gt;&lt;br&gt;For tag names only, resources can be filtered by prefix using the following syntax: &#x60;$filter&#x3D;startswith(tagName, &#39;depart&#39;)&#x60;. This query will return all resources with a tag name prefixed by the phrase &#x60;depart&#x60; (i.e.&#x60;department&#x60;, &#x60;departureDate&#x60;, &#x60;departureTime&#x60;, etc.)&lt;br&gt;&lt;br&gt;&lt;br&gt;Note that some properties can be combined when filtering resources, which include the following: &#x60;substringof() and/or resourceType&#x60;, &#x60;plan and plan/publisher and plan/name&#x60;, and &#x60;identity and identity/principalId&#x60;.
    # @option opts [String] :expand Comma-separated list of additional properties to be included in the response. Valid values include &#x60;createdTime&#x60;, &#x60;changedTime&#x60; and &#x60;provisioningState&#x60;. For example, &#x60;$expand&#x3D;createdTime,changedTime&#x60;.
    # @option opts [Integer] :top The number of recommendations per page if a paged version of this API is being used.
    # @return [ResourceListResult]
    def resources_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = resources_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Get all the resources in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.&lt;br&gt;&lt;br&gt;Filter comparison operators include &#x60;eq&#x60; (equals) and &#x60;ne&#x60; (not equals) and may be used with the following properties: &#x60;location&#x60;, &#x60;resourceType&#x60;, &#x60;name&#x60;, &#x60;resourceGroup&#x60;, &#x60;identity&#x60;, &#x60;identity/principalId&#x60;, &#x60;plan&#x60;, &#x60;plan/publisher&#x60;, &#x60;plan/product&#x60;, &#x60;plan/name&#x60;, &#x60;plan/version&#x60;, and &#x60;plan/promotionCode&#x60;.&lt;br&gt;&lt;br&gt;For example, to filter by a resource type, use &#x60;$filter&#x3D;resourceType eq &#39;Microsoft.Network/virtualNetworks&#39;&#x60;&lt;br&gt;&lt;br&gt;&lt;br&gt;&#x60;substringof(value, property)&#x60; can  be used to filter for substrings of the following currently-supported properties: &#x60;name&#x60; and &#x60;resourceGroup&#x60;&lt;br&gt;&lt;br&gt;For example, to get all resources with &#39;demo&#39; anywhere in the resource name, use &#x60;$filter&#x3D;substringof(&#39;demo&#39;, name)&#x60;&lt;br&gt;&lt;br&gt;Multiple substring operations can also be combined using &#x60;and&#x60;/&#x60;or&#x60; operators.&lt;br&gt;&lt;br&gt;Note that any truncated number of results queried via &#x60;$top&#x60; may also not be compatible when using a filter.&lt;br&gt;&lt;br&gt;&lt;br&gt;Resources can be filtered by tag names and values. For example, to filter for a tag name and value, use &#x60;$filter&#x3D;tagName eq &#39;tag1&#39; and tagValue eq &#39;Value1&#39;&#x60;. Note that when resources are filtered by tag name and value, &lt;b&gt;the original tags for each resource will not be returned in the results.&lt;/b&gt; Any list of additional properties queried via &#x60;$expand&#x60; may also not be compatible when filtering by tag names/values. &lt;br&gt;&lt;br&gt;For tag names only, resources can be filtered by prefix using the following syntax: &#x60;$filter&#x3D;startswith(tagName, &#39;depart&#39;)&#x60;. This query will return all resources with a tag name prefixed by the phrase &#x60;depart&#x60; (i.e.&#x60;department&#x60;, &#x60;departureDate&#x60;, &#x60;departureTime&#x60;, etc.)&lt;br&gt;&lt;br&gt;&lt;br&gt;Note that some properties can be combined when filtering resources, which include the following: &#x60;substringof() and/or resourceType&#x60;, &#x60;plan and plan/publisher and plan/name&#x60;, and &#x60;identity and identity/principalId&#x60;.
    # @option opts [String] :expand Comma-separated list of additional properties to be included in the response. Valid values include &#x60;createdTime&#x60;, &#x60;changedTime&#x60; and &#x60;provisioningState&#x60;. For example, &#x60;$expand&#x3D;createdTime,changedTime&#x60;.
    # @option opts [Integer] :top The number of recommendations per page if a paged version of this API is being used.
    # @return [Array<(ResourceListResult, Integer, Hash)>] ResourceListResult data, response status code and response headers
    def resources_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourcesApi.resources_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Moves resources from one resource group to another resource group.
    # The resources to be moved must be in the same source resource group in the source subscription being used. The target resource group may be in a different subscription. When moving resources, both the source group and the target group are locked for the duration of the operation. Write and delete operations are blocked on the groups until the move completes.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param source_resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourcesMoveInfo] Parameters for moving resources.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resources_move_resources(api_version, subscription_id, source_resource_group_name, parameters, opts = {})
      resources_move_resources_with_http_info(api_version, subscription_id, source_resource_group_name, parameters, opts)
      nil
    end

    # Moves resources from one resource group to another resource group.
    # The resources to be moved must be in the same source resource group in the source subscription being used. The target resource group may be in a different subscription. When moving resources, both the source group and the target group are locked for the duration of the operation. Write and delete operations are blocked on the groups until the move completes.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param source_resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourcesMoveInfo] Parameters for moving resources.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resources_move_resources_with_http_info(api_version, subscription_id, source_resource_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_move_resources ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_move_resources"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourcesApi.resources_move_resources, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_move_resources"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_move_resources, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'source_resource_group_name' is set
      if @api_client.config.client_side_validation && source_resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'source_resource_group_name' when calling ResourcesApi.resources_move_resources"
      end
      if @api_client.config.client_side_validation && source_resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "source_resource_group_name" when calling ResourcesApi.resources_move_resources, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && source_resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "source_resource_group_name" when calling ResourcesApi.resources_move_resources, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && source_resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'source_resource_group_name' when calling ResourcesApi.resources_move_resources, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourcesApi.resources_move_resources"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{sourceResourceGroupName}/moveResources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{sourceResourceGroupName}', CGI.escape(source_resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_move_resources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_move_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [GenericResource]
    def resources_update(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, parameters, opts = {})
      data, _status_code, _headers = resources_update_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, parameters, opts)
      data
    end

    # Updates a resource.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group containing the resource to get. The name is case insensitive.
    # @param resource_provider_namespace [String] The resource provider of the resource to check.
    # @param parent_resource_path [String] The parent resource identity.
    # @param resource_type [String] The resource type.
    # @param resource_name [String] The name of the resource to check whether it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResource, Integer, Hash)>] GenericResource data, response status code and response headers
    def resources_update_with_http_info(subscription_id, resource_group_name, resource_provider_namespace, parent_resource_path, resource_type, resource_name, api_version, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_update ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourcesApi.resources_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourcesApi.resources_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourcesApi.resources_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ResourcesApi.resources_update"
      end
      # verify the required parameter 'parent_resource_path' is set
      if @api_client.config.client_side_validation && parent_resource_path.nil?
        fail ArgumentError, "Missing the required parameter 'parent_resource_path' when calling ResourcesApi.resources_update"
      end
      # verify the required parameter 'resource_type' is set
      if @api_client.config.client_side_validation && resource_type.nil?
        fail ArgumentError, "Missing the required parameter 'resource_type' when calling ResourcesApi.resources_update"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourcesApi.resources_update"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourcesApi.resources_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{parentResourcePath}', CGI.escape(parent_resource_path.to_s)).sub('{resourceType}', CGI.escape(resource_type.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'GenericResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [GenericResource]
    def resources_update_by_id(resource_id, api_version, parameters, opts = {})
      data, _status_code, _headers = resources_update_by_id_with_http_info(resource_id, api_version, parameters, opts)
      data
    end

    # Update a resource by ID.
    # @param resource_id [String] 
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [GenericResource] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResource, Integer, Hash)>] GenericResource data, response status code and response headers
    def resources_update_by_id_with_http_info(resource_id, api_version, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_update_by_id ...'
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling ResourcesApi.resources_update_by_id"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_update_by_id"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourcesApi.resources_update_by_id"
      end
      # resource path
      local_var_path = '/{resourceId}'.sub('{resourceId}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'GenericResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_update_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_update_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validates whether resources can be moved from one resource group to another resource group.
    # This operation checks whether the specified resources can be moved to the target. The resources to be moved must be in the same source resource group in the source subscription being used. The target resource group may be in a different subscription. If validation succeeds, it returns HTTP response code 204 (no content). If validation fails, it returns HTTP response code 409 (Conflict) with an error message. Retrieve the URL in the Location header value to check the result of the long-running operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param source_resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourcesMoveInfo] Parameters for moving resources.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resources_validate_move_resources(api_version, subscription_id, source_resource_group_name, parameters, opts = {})
      resources_validate_move_resources_with_http_info(api_version, subscription_id, source_resource_group_name, parameters, opts)
      nil
    end

    # Validates whether resources can be moved from one resource group to another resource group.
    # This operation checks whether the specified resources can be moved to the target. The resources to be moved must be in the same source resource group in the source subscription being used. The target resource group may be in a different subscription. If validation succeeds, it returns HTTP response code 204 (no content). If validation fails, it returns HTTP response code 409 (Conflict) with an error message. Retrieve the URL in the Location header value to check the result of the long-running operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param source_resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourcesMoveInfo] Parameters for moving resources.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resources_validate_move_resources_with_http_info(api_version, subscription_id, source_resource_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourcesApi.resources_validate_move_resources ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourcesApi.resources_validate_move_resources"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourcesApi.resources_validate_move_resources, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourcesApi.resources_validate_move_resources"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourcesApi.resources_validate_move_resources, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'source_resource_group_name' is set
      if @api_client.config.client_side_validation && source_resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'source_resource_group_name' when calling ResourcesApi.resources_validate_move_resources"
      end
      if @api_client.config.client_side_validation && source_resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "source_resource_group_name" when calling ResourcesApi.resources_validate_move_resources, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && source_resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "source_resource_group_name" when calling ResourcesApi.resources_validate_move_resources, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && source_resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'source_resource_group_name' when calling ResourcesApi.resources_validate_move_resources, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourcesApi.resources_validate_move_resources"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{sourceResourceGroupName}/validateMoveResources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{sourceResourceGroupName}', CGI.escape(source_resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourcesApi.resources_validate_move_resources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourcesApi#resources_validate_move_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end