=begin
#UsageManagementClient

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2015-06-01-preview

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Commerce
  class UsageAggregatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Query aggregated Azure subscription consumption data for a date range.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param reported_start_time [Time] The start of the time range to retrieve data for.
    # @param reported_end_time [Time] The end of the time range to retrieve data for.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :show_details &#x60;True&#x60; returns usage data in instance-level detail, &#x60;false&#x60; causes server-side aggregation with fewer details. For example, if you have 3 website instances, by default you will get 3 line items for website consumption. If you specify showDetails &#x3D; false, the data will be aggregated as a single line item for website consumption within the time period (for the given subscriptionId, meterId, usageStartTime and usageEndTime).
    # @option opts [String] :aggregation_granularity &#x60;Daily&#x60; (default) returns the data in daily granularity, &#x60;Hourly&#x60; returns the data in hourly granularity. (default to 'Daily')
    # @option opts [String] :continuation_token Used when a continuation token string is provided in the response body of the previous call, enabling paging through a large result set. If not present, the data is retrieved from the beginning of the day/hour (based on the granularity) passed in.
    # @return [UsageAggregationListResult]
    def usage_aggregates_list(api_version, subscription_id, reported_start_time, reported_end_time, opts = {})
      data, _status_code, _headers = usage_aggregates_list_with_http_info(api_version, subscription_id, reported_start_time, reported_end_time, opts)
      data
    end

    # Query aggregated Azure subscription consumption data for a date range.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param reported_start_time [Time] The start of the time range to retrieve data for.
    # @param reported_end_time [Time] The end of the time range to retrieve data for.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :show_details &#x60;True&#x60; returns usage data in instance-level detail, &#x60;false&#x60; causes server-side aggregation with fewer details. For example, if you have 3 website instances, by default you will get 3 line items for website consumption. If you specify showDetails &#x3D; false, the data will be aggregated as a single line item for website consumption within the time period (for the given subscriptionId, meterId, usageStartTime and usageEndTime).
    # @option opts [String] :aggregation_granularity &#x60;Daily&#x60; (default) returns the data in daily granularity, &#x60;Hourly&#x60; returns the data in hourly granularity. (default to 'Daily')
    # @option opts [String] :continuation_token Used when a continuation token string is provided in the response body of the previous call, enabling paging through a large result set. If not present, the data is retrieved from the beginning of the day/hour (based on the granularity) passed in.
    # @return [Array<(UsageAggregationListResult, Integer, Hash)>] UsageAggregationListResult data, response status code and response headers
    def usage_aggregates_list_with_http_info(api_version, subscription_id, reported_start_time, reported_end_time, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsageAggregatesApi.usage_aggregates_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling UsageAggregatesApi.usage_aggregates_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling UsageAggregatesApi.usage_aggregates_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling UsageAggregatesApi.usage_aggregates_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling UsageAggregatesApi.usage_aggregates_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'reported_start_time' is set
      if @api_client.config.client_side_validation && reported_start_time.nil?
        fail ArgumentError, "Missing the required parameter 'reported_start_time' when calling UsageAggregatesApi.usage_aggregates_list"
      end
      # verify the required parameter 'reported_end_time' is set
      if @api_client.config.client_side_validation && reported_end_time.nil?
        fail ArgumentError, "Missing the required parameter 'reported_end_time' when calling UsageAggregatesApi.usage_aggregates_list"
      end
      allowable_values = ["Daily", "Hourly"]
      if @api_client.config.client_side_validation && opts[:'aggregation_granularity'] && !allowable_values.include?(opts[:'aggregation_granularity'])
        fail ArgumentError, "invalid value for \"aggregation_granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/usageAggregates'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'reportedStartTime'] = reported_start_time
      query_params[:'reportedEndTime'] = reported_end_time
      query_params[:'showDetails'] = opts[:'show_details'] if !opts[:'show_details'].nil?
      query_params[:'aggregationGranularity'] = opts[:'aggregation_granularity'] if !opts[:'aggregation_granularity'].nil?
      query_params[:'continuationToken'] = opts[:'continuation_token'] if !opts[:'continuation_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UsageAggregationListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"UsageAggregatesApi.usage_aggregates_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsageAggregatesApi#usage_aggregates_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end