=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Network
  class DdosProtectionPlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates a DDoS protection plan.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param parameters [DdosProtectionPlan] Parameters supplied to the create or update operation.
    # @param [Hash] opts the optional parameters
    # @return [DdosProtectionPlan]
    def ddos_protection_plans_create_or_update(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, parameters, opts = {})
      data, _status_code, _headers = ddos_protection_plans_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, parameters, opts)
      data
    end

    # Creates or updates a DDoS protection plan.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param parameters [DdosProtectionPlan] Parameters supplied to the create or update operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DdosProtectionPlan, Integer, Hash)>] DdosProtectionPlan data, response status code and response headers
    def ddos_protection_plans_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DdosProtectionPlansApi.ddos_protection_plans_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ddos_protection_plan_name' is set
      if @api_client.config.client_side_validation && ddos_protection_plan_name.nil?
        fail ArgumentError, "Missing the required parameter 'ddos_protection_plan_name' when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DdosProtectionPlansApi.ddos_protection_plans_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ddosProtectionPlanName}', CGI.escape(ddos_protection_plan_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'DdosProtectionPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DdosProtectionPlansApi.ddos_protection_plans_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DdosProtectionPlansApi#ddos_protection_plans_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified DDoS protection plan.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def ddos_protection_plans_delete(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, opts = {})
      ddos_protection_plans_delete_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, opts)
      nil
    end

    # Deletes the specified DDoS protection plan.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def ddos_protection_plans_delete_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DdosProtectionPlansApi.ddos_protection_plans_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DdosProtectionPlansApi.ddos_protection_plans_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DdosProtectionPlansApi.ddos_protection_plans_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DdosProtectionPlansApi.ddos_protection_plans_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DdosProtectionPlansApi.ddos_protection_plans_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ddos_protection_plan_name' is set
      if @api_client.config.client_side_validation && ddos_protection_plan_name.nil?
        fail ArgumentError, "Missing the required parameter 'ddos_protection_plan_name' when calling DdosProtectionPlansApi.ddos_protection_plans_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ddosProtectionPlanName}', CGI.escape(ddos_protection_plan_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DdosProtectionPlansApi.ddos_protection_plans_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DdosProtectionPlansApi#ddos_protection_plans_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about the specified DDoS protection plan.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param [Hash] opts the optional parameters
    # @return [DdosProtectionPlan]
    def ddos_protection_plans_get(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, opts = {})
      data, _status_code, _headers = ddos_protection_plans_get_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, opts)
      data
    end

    # Gets information about the specified DDoS protection plan.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DdosProtectionPlan, Integer, Hash)>] DdosProtectionPlan data, response status code and response headers
    def ddos_protection_plans_get_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DdosProtectionPlansApi.ddos_protection_plans_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DdosProtectionPlansApi.ddos_protection_plans_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DdosProtectionPlansApi.ddos_protection_plans_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DdosProtectionPlansApi.ddos_protection_plans_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DdosProtectionPlansApi.ddos_protection_plans_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ddos_protection_plan_name' is set
      if @api_client.config.client_side_validation && ddos_protection_plan_name.nil?
        fail ArgumentError, "Missing the required parameter 'ddos_protection_plan_name' when calling DdosProtectionPlansApi.ddos_protection_plans_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ddosProtectionPlanName}', CGI.escape(ddos_protection_plan_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DdosProtectionPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DdosProtectionPlansApi.ddos_protection_plans_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DdosProtectionPlansApi#ddos_protection_plans_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all DDoS protection plans in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [DdosProtectionPlanListResult]
    def ddos_protection_plans_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = ddos_protection_plans_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets all DDoS protection plans in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DdosProtectionPlanListResult, Integer, Hash)>] DdosProtectionPlanListResult data, response status code and response headers
    def ddos_protection_plans_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DdosProtectionPlansApi.ddos_protection_plans_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DdosProtectionPlansApi.ddos_protection_plans_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DdosProtectionPlansApi.ddos_protection_plans_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DdosProtectionPlansApi.ddos_protection_plans_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/ddosProtectionPlans'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DdosProtectionPlanListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DdosProtectionPlansApi.ddos_protection_plans_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DdosProtectionPlansApi#ddos_protection_plans_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all the DDoS protection plans in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [DdosProtectionPlanListResult]
    def ddos_protection_plans_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = ddos_protection_plans_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Gets all the DDoS protection plans in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DdosProtectionPlanListResult, Integer, Hash)>] DdosProtectionPlanListResult data, response status code and response headers
    def ddos_protection_plans_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DdosProtectionPlanListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DdosProtectionPlansApi.ddos_protection_plans_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DdosProtectionPlansApi#ddos_protection_plans_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a DDoS protection plan tags.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param parameters [TagsObject] Parameters supplied to the update DDoS protection plan resource tags.
    # @param [Hash] opts the optional parameters
    # @return [DdosProtectionPlan]
    def ddos_protection_plans_update_tags(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, parameters, opts = {})
      data, _status_code, _headers = ddos_protection_plans_update_tags_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, parameters, opts)
      data
    end

    # Update a DDoS protection plan tags.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ddos_protection_plan_name [String] The name of the DDoS protection plan.
    # @param parameters [TagsObject] Parameters supplied to the update DDoS protection plan resource tags.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DdosProtectionPlan, Integer, Hash)>] DdosProtectionPlan data, response status code and response headers
    def ddos_protection_plans_update_tags_with_http_info(api_version, subscription_id, resource_group_name, ddos_protection_plan_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DdosProtectionPlansApi.ddos_protection_plans_update_tags ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ddos_protection_plan_name' is set
      if @api_client.config.client_side_validation && ddos_protection_plan_name.nil?
        fail ArgumentError, "Missing the required parameter 'ddos_protection_plan_name' when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DdosProtectionPlansApi.ddos_protection_plans_update_tags"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ddosProtectionPlans/{ddosProtectionPlanName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ddosProtectionPlanName}', CGI.escape(ddos_protection_plan_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'DdosProtectionPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DdosProtectionPlansApi.ddos_protection_plans_update_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DdosProtectionPlansApi#ddos_protection_plans_update_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end