=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-03-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Network
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets all of the available subnet delegations for this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AvailableDelegationsResult]
    def available_delegations_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = available_delegations_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets all of the available subnet delegations for this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailableDelegationsResult, Integer, Hash)>] AvailableDelegationsResult data, response status code and response headers
    def available_delegations_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_delegations_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_delegations_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_delegations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_delegations_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_delegations_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_delegations_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableDelegations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailableDelegationsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_delegations_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_delegations_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List what values of endpoint services are available for use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [EndpointServicesListResult]
    def available_endpoint_services_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = available_endpoint_services_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # List what values of endpoint services are available for use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EndpointServicesListResult, Integer, Hash)>] EndpointServicesListResult data, response status code and response headers
    def available_endpoint_services_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_endpoint_services_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_endpoint_services_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_endpoint_services_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_endpoint_services_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_endpoint_services_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_endpoint_services_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EndpointServicesListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_endpoint_services_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_endpoint_services_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AvailablePrivateEndpointTypesResult]
    def available_private_endpoint_types_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = available_private_endpoint_types_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailablePrivateEndpointTypesResult, Integer, Hash)>] AvailablePrivateEndpointTypesResult data, response status code and response headers
    def available_private_endpoint_types_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_private_endpoint_types_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_private_endpoint_types_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_private_endpoint_types_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_private_endpoint_types_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_private_endpoint_types_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_private_endpoint_types_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailablePrivateEndpointTypesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_private_endpoint_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_private_endpoint_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AvailablePrivateEndpointTypesResult]
    def available_private_endpoint_types_list_by_resource_group(api_version, subscription_id, resource_group_name, location, opts = {})
      data, _status_code, _headers = available_private_endpoint_types_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, opts)
      data
    end

    # Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailablePrivateEndpointTypesResult, Integer, Hash)>] AvailablePrivateEndpointTypesResult data, response status code and response headers
    def available_private_endpoint_types_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_private_endpoint_types_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_private_endpoint_types_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_private_endpoint_types_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_private_endpoint_types_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.available_private_endpoint_types_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.available_private_endpoint_types_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.available_private_endpoint_types_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_private_endpoint_types_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_private_endpoint_types_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailablePrivateEndpointTypesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_private_endpoint_types_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_private_endpoint_types_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all of the available subnet delegations for this resource group in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AvailableDelegationsResult]
    def available_resource_group_delegations_list(api_version, subscription_id, resource_group_name, location, opts = {})
      data, _status_code, _headers = available_resource_group_delegations_list_with_http_info(api_version, subscription_id, resource_group_name, location, opts)
      data
    end

    # Gets all of the available subnet delegations for this resource group in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailableDelegationsResult, Integer, Hash)>] AvailableDelegationsResult data, response status code and response headers
    def available_resource_group_delegations_list_with_http_info(api_version, subscription_id, resource_group_name, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_resource_group_delegations_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_resource_group_delegations_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_resource_group_delegations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_resource_group_delegations_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.available_resource_group_delegations_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.available_resource_group_delegations_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.available_resource_group_delegations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_resource_group_delegations_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_resource_group_delegations_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableDelegations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailableDelegationsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_resource_group_delegations_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_resource_group_delegations_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all available service aliases for this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AvailableServiceAliasesResult]
    def available_service_aliases_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = available_service_aliases_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets all available service aliases for this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailableServiceAliasesResult, Integer, Hash)>] AvailableServiceAliasesResult data, response status code and response headers
    def available_service_aliases_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_service_aliases_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_service_aliases_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_service_aliases_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_service_aliases_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_service_aliases_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_service_aliases_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableServiceAliases'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailableServiceAliasesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_service_aliases_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_service_aliases_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all available service aliases for this resource group in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AvailableServiceAliasesResult]
    def available_service_aliases_list_by_resource_group(api_version, subscription_id, resource_group_name, location, opts = {})
      data, _status_code, _headers = available_service_aliases_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, opts)
      data
    end

    # Gets all available service aliases for this resource group in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailableServiceAliasesResult, Integer, Hash)>] AvailableServiceAliasesResult data, response status code and response headers
    def available_service_aliases_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.available_service_aliases_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.available_service_aliases_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.available_service_aliases_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.available_service_aliases_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.available_service_aliases_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.available_service_aliases_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.available_service_aliases_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.available_service_aliases_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.available_service_aliases_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableServiceAliases'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailableServiceAliasesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.available_service_aliases_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#available_service_aliases_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Checks whether a domain name in the cloudapp.azure.com zone is available for use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param domain_name_label [String] The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.
    # @param [Hash] opts the optional parameters
    # @return [DnsNameAvailabilityResult]
    def check_dns_name_availability(api_version, subscription_id, location, domain_name_label, opts = {})
      data, _status_code, _headers = check_dns_name_availability_with_http_info(api_version, subscription_id, location, domain_name_label, opts)
      data
    end

    # Checks whether a domain name in the cloudapp.azure.com zone is available for use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param domain_name_label [String] The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DnsNameAvailabilityResult, Integer, Hash)>] DnsNameAvailabilityResult data, response status code and response headers
    def check_dns_name_availability_with_http_info(api_version, subscription_id, location, domain_name_label, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.check_dns_name_availability ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.check_dns_name_availability"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.check_dns_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.check_dns_name_availability"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.check_dns_name_availability"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.check_dns_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'domain_name_label' is set
      if @api_client.config.client_side_validation && domain_name_label.nil?
        fail ArgumentError, "Missing the required parameter 'domain_name_label' when calling DefaultApi.check_dns_name_availability"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkDnsNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'domainNameLabel'] = domain_name_label

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DnsNameAvailabilityResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.check_dns_name_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#check_dns_name_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates the specified Network Virtual Appliance Inbound Security Rules.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param rule_collection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [InboundSecurityRule] Parameters supplied to the create or update Network Virtual Appliance Inbound Security Rules operation.
    # @param [Hash] opts the optional parameters
    # @return [InboundSecurityRule]
    def inbound_security_rule_create_or_update(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, rule_collection_name, parameters, opts = {})
      data, _status_code, _headers = inbound_security_rule_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, rule_collection_name, parameters, opts)
      data
    end

    # Creates or updates the specified Network Virtual Appliance Inbound Security Rules.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param rule_collection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [InboundSecurityRule] Parameters supplied to the create or update Network Virtual Appliance Inbound Security Rules operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InboundSecurityRule, Integer, Hash)>] InboundSecurityRule data, response status code and response headers
    def inbound_security_rule_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, rule_collection_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.inbound_security_rule_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.inbound_security_rule_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.inbound_security_rule_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.inbound_security_rule_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.inbound_security_rule_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.inbound_security_rule_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.inbound_security_rule_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling DefaultApi.inbound_security_rule_create_or_update"
      end
      # verify the required parameter 'rule_collection_name' is set
      if @api_client.config.client_side_validation && rule_collection_name.nil?
        fail ArgumentError, "Missing the required parameter 'rule_collection_name' when calling DefaultApi.inbound_security_rule_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DefaultApi.inbound_security_rule_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/inboundSecurityRules/{ruleCollectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s)).sub('{ruleCollectionName}', CGI.escape(rule_collection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'InboundSecurityRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.inbound_security_rule_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#inbound_security_rule_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the available specified Network Virtual Appliance Inbound Security Rules Collection.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param rule_collection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [InboundSecurityRule]
    def inbound_security_rule_get(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, rule_collection_name, opts = {})
      data, _status_code, _headers = inbound_security_rule_get_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, rule_collection_name, opts)
      data
    end

    # Retrieves the available specified Network Virtual Appliance Inbound Security Rules Collection.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param rule_collection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InboundSecurityRule, Integer, Hash)>] InboundSecurityRule data, response status code and response headers
    def inbound_security_rule_get_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, rule_collection_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.inbound_security_rule_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.inbound_security_rule_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.inbound_security_rule_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.inbound_security_rule_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.inbound_security_rule_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.inbound_security_rule_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.inbound_security_rule_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling DefaultApi.inbound_security_rule_get"
      end
      # verify the required parameter 'rule_collection_name' is set
      if @api_client.config.client_side_validation && rule_collection_name.nil?
        fail ArgumentError, "Missing the required parameter 'rule_collection_name' when calling DefaultApi.inbound_security_rule_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/inboundSecurityRules/{ruleCollectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s)).sub('{ruleCollectionName}', CGI.escape(rule_collection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InboundSecurityRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.inbound_security_rule_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#inbound_security_rule_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specified public IP address in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The role instance name.
    # @param network_interface_name [String] The name of the network interface.
    # @param ip_configuration_name [String] The name of the IP configuration.
    # @param public_ip_address_name [String] The name of the public IP Address.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [PublicIPAddress]
    def public_ip_addresses_get_cloud_service_public_ip_address(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, ip_configuration_name, public_ip_address_name, opts = {})
      data, _status_code, _headers = public_ip_addresses_get_cloud_service_public_ip_address_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, ip_configuration_name, public_ip_address_name, opts)
      data
    end

    # Get the specified public IP address in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The role instance name.
    # @param network_interface_name [String] The name of the network interface.
    # @param ip_configuration_name [String] The name of the IP configuration.
    # @param public_ip_address_name [String] The name of the public IP Address.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(PublicIPAddress, Integer, Hash)>] PublicIPAddress data, response status code and response headers
    def public_ip_addresses_get_cloud_service_public_ip_address_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, ip_configuration_name, public_ip_address_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'cloud_service_name' is set
      if @api_client.config.client_side_validation && cloud_service_name.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_service_name' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      # verify the required parameter 'role_instance_name' is set
      if @api_client.config.client_side_validation && role_instance_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_instance_name' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      # verify the required parameter 'ip_configuration_name' is set
      if @api_client.config.client_side_validation && ip_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'ip_configuration_name' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      # verify the required parameter 'public_ip_address_name' is set
      if @api_client.config.client_side_validation && public_ip_address_name.nil?
        fail ArgumentError, "Missing the required parameter 'public_ip_address_name' when calling DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{cloudServiceName}', CGI.escape(cloud_service_name.to_s)).sub('{roleInstanceName}', CGI.escape(role_instance_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s)).sub('{ipConfigurationName}', CGI.escape(ip_configuration_name.to_s)).sub('{publicIpAddressName}', CGI.escape(public_ip_address_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicIPAddress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.public_ip_addresses_get_cloud_service_public_ip_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#public_ip_addresses_get_cloud_service_public_ip_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about all public IP addresses on a cloud service level.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param [Hash] opts the optional parameters
    # @return [PublicIPAddressListResult]
    def public_ip_addresses_list_cloud_service_public_ip_addresses(api_version, subscription_id, resource_group_name, cloud_service_name, opts = {})
      data, _status_code, _headers = public_ip_addresses_list_cloud_service_public_ip_addresses_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, opts)
      data
    end

    # Gets information about all public IP addresses on a cloud service level.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicIPAddressListResult, Integer, Hash)>] PublicIPAddressListResult data, response status code and response headers
    def public_ip_addresses_list_cloud_service_public_ip_addresses_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'cloud_service_name' is set
      if @api_client.config.client_side_validation && cloud_service_name.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_service_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/cloudServices/{cloudServiceName}/publicipaddresses'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{cloudServiceName}', CGI.escape(cloud_service_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicIPAddressListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.public_ip_addresses_list_cloud_service_public_ip_addresses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#public_ip_addresses_list_cloud_service_public_ip_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about all public IP addresses in a role instance IP configuration in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The role instance name.
    # @param network_interface_name [String] The name of the network interface.
    # @param ip_configuration_name [String] The name of the IP configuration.
    # @param [Hash] opts the optional parameters
    # @return [PublicIPAddressListResult]
    def public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, ip_configuration_name, opts = {})
      data, _status_code, _headers = public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, ip_configuration_name, opts)
      data
    end

    # Gets information about all public IP addresses in a role instance IP configuration in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The role instance name.
    # @param network_interface_name [String] The name of the network interface.
    # @param ip_configuration_name [String] The name of the IP configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublicIPAddressListResult, Integer, Hash)>] PublicIPAddressListResult data, response status code and response headers
    def public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, ip_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'cloud_service_name' is set
      if @api_client.config.client_side_validation && cloud_service_name.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_service_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      # verify the required parameter 'role_instance_name' is set
      if @api_client.config.client_side_validation && role_instance_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_instance_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      # verify the required parameter 'ip_configuration_name' is set
      if @api_client.config.client_side_validation && ip_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'ip_configuration_name' when calling DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{cloudServiceName}', CGI.escape(cloud_service_name.to_s)).sub('{roleInstanceName}', CGI.escape(role_instance_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s)).sub('{ipConfigurationName}', CGI.escape(ip_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicIPAddressListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#public_ip_addresses_list_cloud_service_role_instance_public_ip_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of resource navigation links for a subnet.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @return [ResourceNavigationLinksListResult]
    def resource_navigation_links_list(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      data, _status_code, _headers = resource_navigation_links_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts)
      data
    end

    # Gets a list of resource navigation links for a subnet.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceNavigationLinksListResult, Integer, Hash)>] ResourceNavigationLinksListResult data, response status code and response headers
    def resource_navigation_links_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.resource_navigation_links_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.resource_navigation_links_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.resource_navigation_links_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.resource_navigation_links_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.resource_navigation_links_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.resource_navigation_links_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.resource_navigation_links_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_network_name' is set
      if @api_client.config.client_side_validation && virtual_network_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_network_name' when calling DefaultApi.resource_navigation_links_list"
      end
      # verify the required parameter 'subnet_name' is set
      if @api_client.config.client_side_validation && subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'subnet_name' when calling DefaultApi.resource_navigation_links_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/resourceNavigationLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualNetworkName}', CGI.escape(virtual_network_name.to_s)).sub('{subnetName}', CGI.escape(subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceNavigationLinksListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.resource_navigation_links_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#resource_navigation_links_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of service association links for a subnet.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @return [ServiceAssociationLinksListResult]
    def service_association_links_list(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      data, _status_code, _headers = service_association_links_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts)
      data
    end

    # Gets a list of service association links for a subnet.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceAssociationLinksListResult, Integer, Hash)>] ServiceAssociationLinksListResult data, response status code and response headers
    def service_association_links_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.service_association_links_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.service_association_links_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.service_association_links_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.service_association_links_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DefaultApi.service_association_links_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.service_association_links_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DefaultApi.service_association_links_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_network_name' is set
      if @api_client.config.client_side_validation && virtual_network_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_network_name' when calling DefaultApi.service_association_links_list"
      end
      # verify the required parameter 'subnet_name' is set
      if @api_client.config.client_side_validation && subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'subnet_name' when calling DefaultApi.service_association_links_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/serviceAssociationLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualNetworkName}', CGI.escape(virtual_network_name.to_s)).sub('{subnetName}', CGI.escape(subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceAssociationLinksListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.service_association_links_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#service_association_links_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of service tag information resources with pagination.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :no_address_prefixes Do not return address prefixes for the tag(s).
    # @option opts [String] :tag_name Return tag information for a particular tag.
    # @return [ServiceTagInformationListResult]
    def service_tag_information_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = service_tag_information_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets a list of service tag information resources with pagination.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :no_address_prefixes Do not return address prefixes for the tag(s).
    # @option opts [String] :tag_name Return tag information for a particular tag.
    # @return [Array<(ServiceTagInformationListResult, Integer, Hash)>] ServiceTagInformationListResult data, response status code and response headers
    def service_tag_information_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.service_tag_information_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.service_tag_information_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.service_tag_information_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.service_tag_information_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.service_tag_information_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.service_tag_information_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTagDetails'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'noAddressPrefixes'] = opts[:'no_address_prefixes'] if !opts[:'no_address_prefixes'].nil?
      query_params[:'tagName'] = opts[:'tag_name'] if !opts[:'tag_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceTagInformationListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.service_tag_information_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#service_tag_information_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of service tag information resources.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [ServiceTagsListResult]
    def service_tags_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = service_tags_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets a list of service tag information resources.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceTagsListResult, Integer, Hash)>] ServiceTagsListResult data, response status code and response headers
    def service_tags_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.service_tags_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.service_tags_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.service_tags_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.service_tags_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DefaultApi.service_tags_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DefaultApi.service_tags_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceTagsListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.service_tags_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#service_tags_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Prepares a subnet by applying network intent policies.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param prepare_network_policies_request_parameters [PrepareNetworkPoliciesRequest] Parameters supplied to prepare subnet by applying network intent policies.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def subnets_prepare_network_policies(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, prepare_network_policies_request_parameters, opts = {})
      subnets_prepare_network_policies_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, prepare_network_policies_request_parameters, opts)
      nil
    end

    # Prepares a subnet by applying network intent policies.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param prepare_network_policies_request_parameters [PrepareNetworkPoliciesRequest] Parameters supplied to prepare subnet by applying network intent policies.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def subnets_prepare_network_policies_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, prepare_network_policies_request_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.subnets_prepare_network_policies ...'
      end
      # verify the required parameter 'api_version' is set
[...]
