=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Network
  class NetworkInterfacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the specified network interface ip configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param ip_configuration_name [String] The name of the ip configuration name.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceIPConfiguration]
    def network_interface_ip_configurations_get(api_version, subscription_id, resource_group_name, network_interface_name, ip_configuration_name, opts = {})
      data, _status_code, _headers = network_interface_ip_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, ip_configuration_name, opts)
      data
    end

    # Gets the specified network interface ip configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param ip_configuration_name [String] The name of the ip configuration name.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceIPConfiguration, Integer, Hash)>] NetworkInterfaceIPConfiguration data, response status code and response headers
    def network_interface_ip_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, ip_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_ip_configurations_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_ip_configurations_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_ip_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_ip_configurations_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_ip_configurations_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_ip_configurations_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_ip_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_ip_configurations_get"
      end
      # verify the required parameter 'ip_configuration_name' is set
      if @api_client.config.client_side_validation && ip_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'ip_configuration_name' when calling NetworkInterfacesApi.network_interface_ip_configurations_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s)).sub('{ipConfigurationName}', CGI.escape(ip_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceIPConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_ip_configurations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_ip_configurations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all ip configurations in a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceIPConfigurationListResult]
    def network_interface_ip_configurations_list(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interface_ip_configurations_list_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      data
    end

    # Get all ip configurations in a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceIPConfigurationListResult, Integer, Hash)>] NetworkInterfaceIPConfigurationListResult data, response status code and response headers
    def network_interface_ip_configurations_list_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_ip_configurations_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_ip_configurations_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_ip_configurations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_ip_configurations_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_ip_configurations_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_ip_configurations_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_ip_configurations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_ip_configurations_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/ipConfigurations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceIPConfigurationListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_ip_configurations_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_ip_configurations_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all load balancers in a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceLoadBalancerListResult]
    def network_interface_load_balancers_list(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interface_load_balancers_list_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      data
    end

    # List all load balancers in a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceLoadBalancerListResult, Integer, Hash)>] NetworkInterfaceLoadBalancerListResult data, response status code and response headers
    def network_interface_load_balancers_list_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_load_balancers_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_load_balancers_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_load_balancers_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_load_balancers_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_load_balancers_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_load_balancers_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_load_balancers_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_load_balancers_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/loadBalancers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceLoadBalancerListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_load_balancers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_load_balancers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates a Tap configuration in the specified NetworkInterface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param tap_configuration_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param tap_configuration_parameters [NetworkInterfaceTapConfiguration] Parameters supplied to the create or update tap configuration operation.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceTapConfiguration]
    def network_interface_tap_configurations_create_or_update(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, tap_configuration_parameters, opts = {})
      data, _status_code, _headers = network_interface_tap_configurations_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, tap_configuration_parameters, opts)
      data
    end

    # Creates or updates a Tap configuration in the specified NetworkInterface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param tap_configuration_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param tap_configuration_parameters [NetworkInterfaceTapConfiguration] Parameters supplied to the create or update tap configuration operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceTapConfiguration, Integer, Hash)>] NetworkInterfaceTapConfiguration data, response status code and response headers
    def network_interface_tap_configurations_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, tap_configuration_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_tap_configurations_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update"
      end
      # verify the required parameter 'tap_configuration_name' is set
      if @api_client.config.client_side_validation && tap_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'tap_configuration_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update"
      end
      # verify the required parameter 'tap_configuration_parameters' is set
      if @api_client.config.client_side_validation && tap_configuration_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'tap_configuration_parameters' when calling NetworkInterfacesApi.network_interface_tap_configurations_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/tapConfigurations/{tapConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s)).sub('{tapConfigurationName}', CGI.escape(tap_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tap_configuration_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceTapConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_tap_configurations_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_tap_configurations_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified tap configuration from the NetworkInterface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param tap_configuration_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_interface_tap_configurations_delete(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, opts = {})
      network_interface_tap_configurations_delete_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, opts)
      nil
    end

    # Deletes the specified tap configuration from the NetworkInterface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param tap_configuration_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_interface_tap_configurations_delete_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_tap_configurations_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_tap_configurations_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_tap_configurations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_tap_configurations_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_delete"
      end
      # verify the required parameter 'tap_configuration_name' is set
      if @api_client.config.client_side_validation && tap_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'tap_configuration_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/tapConfigurations/{tapConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s)).sub('{tapConfigurationName}', CGI.escape(tap_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_tap_configurations_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_tap_configurations_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specified tap configuration on a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param tap_configuration_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceTapConfiguration]
    def network_interface_tap_configurations_get(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, opts = {})
      data, _status_code, _headers = network_interface_tap_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, opts)
      data
    end

    # Get the specified tap configuration on a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param tap_configuration_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceTapConfiguration, Integer, Hash)>] NetworkInterfaceTapConfiguration data, response status code and response headers
    def network_interface_tap_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, tap_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_tap_configurations_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_tap_configurations_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_tap_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_tap_configurations_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_get"
      end
      # verify the required parameter 'tap_configuration_name' is set
      if @api_client.config.client_side_validation && tap_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'tap_configuration_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/tapConfigurations/{tapConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s)).sub('{tapConfigurationName}', CGI.escape(tap_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceTapConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_tap_configurations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_tap_configurations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all Tap configurations in a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceTapConfigurationListResult]
    def network_interface_tap_configurations_list(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interface_tap_configurations_list_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      data
    end

    # Get all Tap configurations in a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceTapConfigurationListResult, Integer, Hash)>] NetworkInterfaceTapConfigurationListResult data, response status code and response headers
    def network_interface_tap_configurations_list_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interface_tap_configurations_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interface_tap_configurations_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interface_tap_configurations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interface_tap_configurations_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interface_tap_configurations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interface_tap_configurations_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/tapConfigurations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceTapConfigurationListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interface_tap_configurations_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interface_tap_configurations_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param parameters [NetworkInterface] Parameters supplied to the create or update network interface operation.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterface]
    def network_interfaces_create_or_update(api_version, subscription_id, resource_group_name, network_interface_name, parameters, opts = {})
      data, _status_code, _headers = network_interfaces_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, parameters, opts)
      data
    end

    # Creates or updates a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param parameters [NetworkInterface] Parameters supplied to the create or update network interface operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterface, Integer, Hash)>] NetworkInterface data, response status code and response headers
    def network_interfaces_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interfaces_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling NetworkInterfacesApi.network_interfaces_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterface'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_interfaces_delete(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      network_interfaces_delete_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      nil
    end

    # Deletes the specified network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_interfaces_delete_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interfaces_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about the specified network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [NetworkInterface]
    def network_interfaces_get(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interfaces_get_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      data
    end

    # Gets information about the specified network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(NetworkInterface, Integer, Hash)>] NetworkInterface data, response status code and response headers
    def network_interfaces_get_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interfaces_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterface'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specified network interface in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The name of role instance.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [NetworkInterface]
    def network_interfaces_get_cloud_service_network_interface(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interfaces_get_cloud_service_network_interface_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, opts)
      data
    end

    # Get the specified network interface in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The name of role instance.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(NetworkInterface, Integer, Hash)>] NetworkInterface data, response status code and response headers
    def network_interfaces_get_cloud_service_network_interface_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'cloud_service_name' is set
      if @api_client.config.client_side_validation && cloud_service_name.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_service_name' when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface"
      end
      # verify the required parameter 'role_instance_name' is set
      if @api_client.config.client_side_validation && role_instance_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_instance_name' when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface"
      end
      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/networkInterfaces/{networkInterfaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{cloudServiceName}', CGI.escape(cloud_service_name.to_s)).sub('{roleInstanceName}', CGI.escape(role_instance_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterface'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_get_cloud_service_network_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_get_cloud_service_network_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all route tables applied to a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [EffectiveRouteListResult]
    def network_interfaces_get_effective_route_table(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interfaces_get_effective_route_table_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      data
    end

    # Gets all route tables applied to a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EffectiveRouteListResult, Integer, Hash)>] EffectiveRouteListResult data, response status code and response headers
    def network_interfaces_get_effective_route_table_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_get_effective_route_table ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interfaces_get_effective_route_table"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkInterfaceName}', CGI.escape(network_interface_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EffectiveRouteListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_get_effective_route_table",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_get_effective_route_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all network interfaces in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceListResult]
    def network_interfaces_list(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = network_interfaces_list_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Gets all network interfaces in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceListResult, Integer, Hash)>] NetworkInterfaceListResult data, response status code and response headers
    def network_interfaces_list_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all network interfaces in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceListResult]
    def network_interfaces_list_all(api_version, subscription_id, opts = {})
      data, _status_code, _headers = network_interfaces_list_all_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets all network interfaces in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceListResult, Integer, Hash)>] NetworkInterfaceListResult data, response status code and response headers
    def network_interfaces_list_all_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_list_all ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_list_all"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_list_all, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_list_all"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_list_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_list_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all network interfaces in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceListResult]
    def network_interfaces_list_cloud_service_network_interfaces(api_version, subscription_id, resource_group_name, cloud_service_name, opts = {})
      data, _status_code, _headers = network_interfaces_list_cloud_service_network_interfaces_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, opts)
      data
    end

    # Gets all network interfaces in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceListResult, Integer, Hash)>] NetworkInterfaceListResult data, response status code and response headers
    def network_interfaces_list_cloud_service_network_interfaces_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'cloud_service_name' is set
      if @api_client.config.client_side_validation && cloud_service_name.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_service_name' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/cloudServices/{cloudServiceName}/networkInterfaces'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{cloudServiceName}', CGI.escape(cloud_service_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_list_cloud_service_network_interfaces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_list_cloud_service_network_interfaces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about all network interfaces in a role instance in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The name of role instance.
    # @param [Hash] opts the optional parameters
    # @return [NetworkInterfaceListResult]
    def network_interfaces_list_cloud_service_role_instance_network_interfaces(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, opts = {})
      data, _status_code, _headers = network_interfaces_list_cloud_service_role_instance_network_interfaces_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, opts)
      data
    end

    # Gets information about all network interfaces in a role instance in a cloud service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param cloud_service_name [String] The name of the cloud service.
    # @param role_instance_name [String] The name of role instance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkInterfaceListResult, Integer, Hash)>] NetworkInterfaceListResult data, response status code and response headers
    def network_interfaces_list_cloud_service_role_instance_network_interfaces_with_http_info(api_version, subscription_id, resource_group_name, cloud_service_name, role_instance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'cloud_service_name' is set
      if @api_client.config.client_side_validation && cloud_service_name.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_service_name' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces"
      end
      # verify the required parameter 'role_instance_name' is set
      if @api_client.config.client_side_validation && role_instance_name.nil?
        fail ArgumentError, "Missing the required parameter 'role_instance_name' when calling NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/cloudServices/{cloudServiceName}/roleInstances/{roleInstanceName}/networkInterfaces'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{cloudServiceName}', CGI.escape(cloud_service_name.to_s)).sub('{roleInstanceName}', CGI.escape(role_instance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkInterfaceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkInterfacesApi.network_interfaces_list_cloud_service_role_instance_network_interfaces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkInterfacesApi#network_interfaces_list_cloud_service_role_instance_network_interfaces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all network security groups applied to a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [EffectiveNetworkSecurityGroupListResult]
    def network_interfaces_list_effective_network_security_groups(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      data, _status_code, _headers = network_interfaces_list_effective_network_security_groups_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts)
      data
    end

    # Gets all network security groups applied to a network interface.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_interface_name [String] The name of the network interface.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EffectiveNetworkSecurityGroupListResult, Integer, Hash)>] EffectiveNetworkSecurityGroupListResult data, response status code and response headers
    def network_interfaces_list_effective_network_security_groups_with_http_info(api_version, subscription_id, resource_group_name, network_interface_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_interface_name' is set
      if @api_client.config.client_side_validation && network_interface_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_interface_name' when calling NetworkInterfacesApi.network_interfaces_list_effective_network_security_groups"
      end
[...]
