=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-03-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Network
  class NetworkVirtualAppliancesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aborts an in-progress migration of the specified Network Virtual Appliance and rolls back to the previous state.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_virtual_appliances_abort_migration(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      network_virtual_appliances_abort_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts)
      nil
    end

    # Aborts an in-progress migration of the specified Network Virtual Appliance and rolls back to the previous state.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_virtual_appliances_abort_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/abortMigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_abort_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_abort_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Commits the migration of the specified Network Virtual Appliance. This finalizes a previously executed migration workflow.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param body [NetworkVirtualApplianceCommitMigrationRequest] Parameters supplied to commit the migration of the Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_virtual_appliances_commit_migration(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts = {})
      network_virtual_appliances_commit_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts)
      nil
    end

    # Commits the migration of the specified Network Virtual Appliance. This finalizes a previously executed migration workflow.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param body [NetworkVirtualApplianceCommitMigrationRequest] Parameters supplied to commit the migration of the Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_virtual_appliances_commit_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/commitMigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_commit_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_commit_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param parameters [NetworkVirtualAppliance] Parameters supplied to the create or update Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualAppliance]
    def network_virtual_appliances_create_or_update(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, parameters, opts = {})
      data, _status_code, _headers = network_virtual_appliances_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, parameters, opts)
      data
    end

    # Creates or updates the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param parameters [NetworkVirtualAppliance] Parameters supplied to the create or update Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualAppliance, Integer, Hash)>] NetworkVirtualAppliance data, response status code and response headers
    def network_virtual_appliances_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualAppliance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_virtual_appliances_delete(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      network_virtual_appliances_delete_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts)
      nil
    end

    # Deletes the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_virtual_appliances_delete_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Executes the migration of the specified Network Virtual Appliance. This step performs the migration workflow that was previously prepared.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param body [NetworkVirtualApplianceExecuteMigrationRequest] Parameters supplied to execute the migration of the Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_virtual_appliances_execute_migration(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts = {})
      network_virtual_appliances_execute_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts)
      nil
    end

    # Executes the migration of the specified Network Virtual Appliance. This step performs the migration workflow that was previously prepared.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param body [NetworkVirtualApplianceExecuteMigrationRequest] Parameters supplied to execute the migration of the Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_virtual_appliances_execute_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/executeMigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_execute_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_execute_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [NetworkVirtualAppliance]
    def network_virtual_appliances_get(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      data, _status_code, _headers = network_virtual_appliances_get_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts)
      data
    end

    # Gets the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(NetworkVirtualAppliance, Integer, Hash)>] NetworkVirtualAppliance data, response status code and response headers
    def network_virtual_appliances_get_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualAppliance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves the boot diagnostic logs for a VM instance belonging to the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param request [NetworkVirtualApplianceBootDiagnosticParameters] Parameters supplied to retrieve boot diagnostic logs for a NVA VM instance
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualApplianceInstanceId]
    def network_virtual_appliances_get_boot_diagnostic_logs(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, request, opts = {})
      data, _status_code, _headers = network_virtual_appliances_get_boot_diagnostic_logs_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, request, opts)
      data
    end

    # Retrieves the boot diagnostic logs for a VM instance belonging to the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param request [NetworkVirtualApplianceBootDiagnosticParameters] Parameters supplied to retrieve boot diagnostic logs for a NVA VM instance
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualApplianceInstanceId, Integer, Hash)>] NetworkVirtualApplianceInstanceId data, response status code and response headers
    def network_virtual_appliances_get_boot_diagnostic_logs_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs"
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/getBootDiagnosticLogs'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceInstanceId'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_get_boot_diagnostic_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_get_boot_diagnostic_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all Network Virtual Appliances in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualApplianceListResult]
    def network_virtual_appliances_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = network_virtual_appliances_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets all Network Virtual Appliances in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualApplianceListResult, Integer, Hash)>] NetworkVirtualApplianceListResult data, response status code and response headers
    def network_virtual_appliances_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkVirtualAppliances'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all Network Virtual Appliances in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualApplianceListResult]
    def network_virtual_appliances_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = network_virtual_appliances_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all Network Virtual Appliances in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualApplianceListResult, Integer, Hash)>] NetworkVirtualApplianceListResult data, response status code and response headers
    def network_virtual_appliances_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Prepares the migration of the specified Network Virtual Appliance. This is the first step of a migration workflow, such as migrating to a new OS version or to the new internal load balancer architecture.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param body [NetworkVirtualAppliancePrepareMigrationRequest] Parameters supplied to prepare the migration of the Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_virtual_appliances_prepare_migration(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts = {})
      network_virtual_appliances_prepare_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts)
      nil
    end

    # Prepares the migration of the specified Network Virtual Appliance. This is the first step of a migration workflow, such as migrating to a new OS version or to the new internal load balancer architecture.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param body [NetworkVirtualAppliancePrepareMigrationRequest] Parameters supplied to prepare the migration of the Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_virtual_appliances_prepare_migration_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/prepareMigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_prepare_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_prepare_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reimages one VM belonging to the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @option opts [NetworkVirtualApplianceInstanceIds] :network_virtual_appliance_instance_ids Specifies a list of virtual machine instance IDs from the Network Virtual Appliance VM instances.
    # @return [NetworkVirtualApplianceInstanceIds]
    def network_virtual_appliances_reimage(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      data, _status_code, _headers = network_virtual_appliances_reimage_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts)
      data
    end

    # Reimages one VM belonging to the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @option opts [NetworkVirtualApplianceInstanceIds] :network_virtual_appliance_instance_ids Specifies a list of virtual machine instance IDs from the Network Virtual Appliance VM instances.
    # @return [Array<(NetworkVirtualApplianceInstanceIds, Integer, Hash)>] NetworkVirtualApplianceInstanceIds data, response status code and response headers
    def network_virtual_appliances_reimage_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_reimage ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_reimage"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/reimage'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'network_virtual_appliance_instance_ids'])

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceInstanceIds'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_reimage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_reimage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restarts one or more VMs belonging to the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @option opts [NetworkVirtualApplianceInstanceIds] :network_virtual_appliance_instance_ids Specifies a list of virtual machine instance IDs from the Network Virtual Appliance VM instances.
    # @return [NetworkVirtualApplianceInstanceIds]
    def network_virtual_appliances_restart(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      data, _status_code, _headers = network_virtual_appliances_restart_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts)
      data
    end

    # Restarts one or more VMs belonging to the specified Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @option opts [NetworkVirtualApplianceInstanceIds] :network_virtual_appliance_instance_ids Specifies a list of virtual machine instance IDs from the Network Virtual Appliance VM instances.
    # @return [Array<(NetworkVirtualApplianceInstanceIds, Integer, Hash)>] NetworkVirtualApplianceInstanceIds data, response status code and response headers
    def network_virtual_appliances_restart_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_restart ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_restart"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/restart'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'network_virtual_appliance_instance_ids'])

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceInstanceIds'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_restart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param parameters [TagsObject] Parameters supplied to Update Network Virtual Appliance Tags.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualAppliance]
    def network_virtual_appliances_update_tags(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, parameters, opts = {})
      data, _status_code, _headers = network_virtual_appliances_update_tags_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, parameters, opts)
      data
    end

    # Updates a Network Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param parameters [TagsObject] Parameters supplied to Update Network Virtual Appliance Tags.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualAppliance, Integer, Hash)>] NetworkVirtualAppliance data, response status code and response headers
    def network_virtual_appliances_update_tags_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualAppliance'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkVirtualAppliancesApi.network_virtual_appliances_update_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkVirtualAppliancesApi#network_virtual_appliances_update_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end