=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-03-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Network
  class PrivateLinkServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checks whether the subscription is visible to private link service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param parameters [CheckPrivateLinkServiceVisibilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [PrivateLinkServiceVisibility]
    def private_link_services_check_private_link_service_visibility(api_version, subscription_id, location, parameters, opts = {})
      data, _status_code, _headers = private_link_services_check_private_link_service_visibility_with_http_info(api_version, subscription_id, location, parameters, opts)
      data
    end

    # Checks whether the subscription is visible to private link service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param parameters [CheckPrivateLinkServiceVisibilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateLinkServiceVisibility, Integer, Hash)>] PrivateLinkServiceVisibility data, response status code and response headers
    def private_link_services_check_private_link_service_visibility_with_http_info(api_version, subscription_id, location, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkServiceVisibility'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_check_private_link_service_visibility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Checks whether the subscription is visible to private link service in the specified resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param parameters [CheckPrivateLinkServiceVisibilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [PrivateLinkServiceVisibility]
    def private_link_services_check_private_link_service_visibility_by_resource_group(api_version, subscription_id, resource_group_name, location, parameters, opts = {})
      data, _status_code, _headers = private_link_services_check_private_link_service_visibility_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, parameters, opts)
      data
    end

    # Checks whether the subscription is visible to private link service in the specified resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param parameters [CheckPrivateLinkServiceVisibilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateLinkServiceVisibility, Integer, Hash)>] PrivateLinkServiceVisibility data, response status code and response headers
    def private_link_services_check_private_link_service_visibility_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkServiceVisibility'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_check_private_link_service_visibility_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_check_private_link_service_visibility_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified private link service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def private_link_services_delete(api_version, subscription_id, resource_group_name, service_name, opts = {})
      private_link_services_delete_with_http_info(api_version, subscription_id, resource_group_name, service_name, opts)
      nil
    end

    # Deletes the specified private link service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def private_link_services_delete_with_http_info(api_version, subscription_id, resource_group_name, service_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'service_name' is set
      if @api_client.config.client_side_validation && service_name.nil?
        fail ArgumentError, "Missing the required parameter 'service_name' when calling PrivateLinkServicesApi.private_link_services_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serviceName}', CGI.escape(service_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete private end point connection for a private link service in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param pe_connection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def private_link_services_delete_private_endpoint_connection(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, opts = {})
      private_link_services_delete_private_endpoint_connection_with_http_info(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, opts)
      nil
    end

    # Delete private end point connection for a private link service in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param pe_connection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def private_link_services_delete_private_endpoint_connection_with_http_info(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'service_name' is set
      if @api_client.config.client_side_validation && service_name.nil?
        fail ArgumentError, "Missing the required parameter 'service_name' when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection"
      end
      # verify the required parameter 'pe_connection_name' is set
      if @api_client.config.client_side_validation && pe_connection_name.nil?
        fail ArgumentError, "Missing the required parameter 'pe_connection_name' when calling PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serviceName}', CGI.escape(service_name.to_s)).sub('{peConnectionName}', CGI.escape(pe_connection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_delete_private_endpoint_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_delete_private_endpoint_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified private link service by resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [PrivateLinkService]
    def private_link_services_get(api_version, subscription_id, resource_group_name, service_name, opts = {})
      data, _status_code, _headers = private_link_services_get_with_http_info(api_version, subscription_id, resource_group_name, service_name, opts)
      data
    end

    # Gets the specified private link service by resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(PrivateLinkService, Integer, Hash)>] PrivateLinkService data, response status code and response headers
    def private_link_services_get_with_http_info(api_version, subscription_id, resource_group_name, service_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'service_name' is set
      if @api_client.config.client_side_validation && service_name.nil?
        fail ArgumentError, "Missing the required parameter 'service_name' when calling PrivateLinkServicesApi.private_link_services_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serviceName}', CGI.escape(service_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkService'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specific private end point connection by specific private link service in the resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param pe_connection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [PrivateEndpointConnection]
    def private_link_services_get_private_endpoint_connection(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, opts = {})
      data, _status_code, _headers = private_link_services_get_private_endpoint_connection_with_http_info(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, opts)
      data
    end

    # Get the specific private end point connection by specific private link service in the resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param pe_connection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(PrivateEndpointConnection, Integer, Hash)>] PrivateEndpointConnection data, response status code and response headers
    def private_link_services_get_private_endpoint_connection_with_http_info(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'service_name' is set
      if @api_client.config.client_side_validation && service_name.nil?
        fail ArgumentError, "Missing the required parameter 'service_name' when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection"
      end
      # verify the required parameter 'pe_connection_name' is set
      if @api_client.config.client_side_validation && pe_connection_name.nil?
        fail ArgumentError, "Missing the required parameter 'pe_connection_name' when calling PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serviceName}', CGI.escape(service_name.to_s)).sub('{peConnectionName}', CGI.escape(pe_connection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_get_private_endpoint_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_get_private_endpoint_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all private link services in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [PrivateLinkServiceListResult]
    def private_link_services_list(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = private_link_services_list_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Gets all private link services in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateLinkServiceListResult, Integer, Hash)>] PrivateLinkServiceListResult data, response status code and response headers
    def private_link_services_list_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkServiceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AutoApprovedPrivateLinkServicesResult]
    def private_link_services_list_auto_approved_private_link_services(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = private_link_services_list_auto_approved_private_link_services_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoApprovedPrivateLinkServicesResult, Integer, Hash)>] AutoApprovedPrivateLinkServicesResult data, response status code and response headers
    def private_link_services_list_auto_approved_private_link_services_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AutoApprovedPrivateLinkServicesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_list_auto_approved_private_link_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [AutoApprovedPrivateLinkServicesResult]
    def private_link_services_list_auto_approved_private_link_services_by_resource_group(api_version, subscription_id, resource_group_name, location, opts = {})
      data, _status_code, _headers = private_link_services_list_auto_approved_private_link_services_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, opts)
      data
    end

    # Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoApprovedPrivateLinkServicesResult, Integer, Hash)>] AutoApprovedPrivateLinkServicesResult data, response status code and response headers
    def private_link_services_list_auto_approved_private_link_services_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AutoApprovedPrivateLinkServicesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_list_auto_approved_private_link_services_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_list_auto_approved_private_link_services_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all private link service in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [PrivateLinkServiceListResult]
    def private_link_services_list_by_subscription(api_version, subscription_id, opts = {})
      data, _status_code, _headers = private_link_services_list_by_subscription_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets all private link service in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateLinkServiceListResult, Integer, Hash)>] PrivateLinkServiceListResult data, response status code and response headers
    def private_link_services_list_by_subscription_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_list_by_subscription ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_list_by_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_list_by_subscription"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateLinkServices'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkServiceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_list_by_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_list_by_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all private end point connections for a specific private link service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param [Hash] opts the optional parameters
    # @return [PrivateEndpointConnectionListResult]
    def private_link_services_list_private_endpoint_connections(api_version, subscription_id, resource_group_name, service_name, opts = {})
      data, _status_code, _headers = private_link_services_list_private_endpoint_connections_with_http_info(api_version, subscription_id, resource_group_name, service_name, opts)
      data
    end

    # Gets all private end point connections for a specific private link service.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateEndpointConnectionListResult, Integer, Hash)>] PrivateEndpointConnectionListResult data, response status code and response headers
    def private_link_services_list_private_endpoint_connections_with_http_info(api_version, subscription_id, resource_group_name, service_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'service_name' is set
      if @api_client.config.client_side_validation && service_name.nil?
        fail ArgumentError, "Missing the required parameter 'service_name' when calling PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serviceName}', CGI.escape(service_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnectionListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_list_private_endpoint_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_list_private_endpoint_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve or reject private end point connection for a private link service in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param pe_connection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [PrivateEndpointConnection] Parameters supplied to approve or reject the private end point connection.
    # @param [Hash] opts the optional parameters
    # @return [PrivateEndpointConnection]
    def private_link_services_update_private_endpoint_connection(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, parameters, opts = {})
      data, _status_code, _headers = private_link_services_update_private_endpoint_connection_with_http_info(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, parameters, opts)
      data
    end

    # Approve or reject private end point connection for a private link service in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param service_name [String] The name of the private link service.
    # @param pe_connection_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [PrivateEndpointConnection] Parameters supplied to approve or reject the private end point connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateEndpointConnection, Integer, Hash)>] PrivateEndpointConnection data, response status code and response headers
    def private_link_services_update_private_endpoint_connection_with_http_info(api_version, subscription_id, resource_group_name, service_name, pe_connection_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'service_name' is set
      if @api_client.config.client_side_validation && service_name.nil?
        fail ArgumentError, "Missing the required parameter 'service_name' when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection"
      end
      # verify the required parameter 'pe_connection_name' is set
      if @api_client.config.client_side_validation && pe_connection_name.nil?
        fail ArgumentError, "Missing the required parameter 'pe_connection_name' when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serviceName}', CGI.escape(service_name.to_s)).sub('{peConnectionName}', CGI.escape(pe_connection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateLinkServicesApi.private_link_services_update_private_endpoint_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateLinkServicesApi#private_link_services_update_private_endpoint_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end