=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Network
  class StaticCidrsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates/Updates the Static CIDR resource.
    # Creates/Updates the Static CIDR resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] 
    # @param pool_name [String] The name of the IPAM pool.
    # @param static_cidr_name [String] Name for the static CIDR.
    # @param [Hash] opts the optional parameters
    # @option opts [StaticCidr] :body StaticCidr resource object to create/update.
    # @return [StaticCidr]
    def static_cidrs_create(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts = {})
      data, _status_code, _headers = static_cidrs_create_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts)
      data
    end

    # Creates/Updates the Static CIDR resource.
    # Creates/Updates the Static CIDR resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] 
    # @param pool_name [String] The name of the IPAM pool.
    # @param static_cidr_name [String] Name for the static CIDR.
    # @param [Hash] opts the optional parameters
    # @option opts [StaticCidr] :body StaticCidr resource object to create/update.
    # @return [Array<(StaticCidr, Integer, Hash)>] StaticCidr data, response status code and response headers
    def static_cidrs_create_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaticCidrsApi.static_cidrs_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StaticCidrsApi.static_cidrs_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StaticCidrsApi.static_cidrs_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StaticCidrsApi.static_cidrs_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StaticCidrsApi.static_cidrs_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling StaticCidrsApi.static_cidrs_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling StaticCidrsApi.static_cidrs_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling StaticCidrsApi.static_cidrs_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling StaticCidrsApi.static_cidrs_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'static_cidr_name' is set
      if @api_client.config.client_side_validation && static_cidr_name.nil?
        fail ArgumentError, "Missing the required parameter 'static_cidr_name' when calling StaticCidrsApi.static_cidrs_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && static_cidr_name !~ pattern
        fail ArgumentError, "invalid value for 'static_cidr_name' when calling StaticCidrsApi.static_cidrs_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/staticCidrs/{staticCidrName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s)).sub('{staticCidrName}', CGI.escape(static_cidr_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'StaticCidr'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StaticCidrsApi.static_cidrs_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaticCidrsApi#static_cidrs_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the Static CIDR resource.
    # Delete the Static CIDR resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param static_cidr_name [String] StaticCidr resource name to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def static_cidrs_delete(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts = {})
      static_cidrs_delete_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts)
      nil
    end

    # Delete the Static CIDR resource.
    # Delete the Static CIDR resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param static_cidr_name [String] StaticCidr resource name to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def static_cidrs_delete_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaticCidrsApi.static_cidrs_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StaticCidrsApi.static_cidrs_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StaticCidrsApi.static_cidrs_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StaticCidrsApi.static_cidrs_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StaticCidrsApi.static_cidrs_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling StaticCidrsApi.static_cidrs_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling StaticCidrsApi.static_cidrs_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling StaticCidrsApi.static_cidrs_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling StaticCidrsApi.static_cidrs_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'static_cidr_name' is set
      if @api_client.config.client_side_validation && static_cidr_name.nil?
        fail ArgumentError, "Missing the required parameter 'static_cidr_name' when calling StaticCidrsApi.static_cidrs_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && static_cidr_name !~ pattern
        fail ArgumentError, "invalid value for 'static_cidr_name' when calling StaticCidrsApi.static_cidrs_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/staticCidrs/{staticCidrName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s)).sub('{staticCidrName}', CGI.escape(static_cidr_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StaticCidrsApi.static_cidrs_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaticCidrsApi#static_cidrs_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specific Static CIDR resource.
    # Gets the specific Static CIDR resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param static_cidr_name [String] StaticCidr resource name to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [StaticCidr]
    def static_cidrs_get(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts = {})
      data, _status_code, _headers = static_cidrs_get_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts)
      data
    end

    # Gets the specific Static CIDR resource.
    # Gets the specific Static CIDR resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param static_cidr_name [String] StaticCidr resource name to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StaticCidr, Integer, Hash)>] StaticCidr data, response status code and response headers
    def static_cidrs_get_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, static_cidr_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaticCidrsApi.static_cidrs_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StaticCidrsApi.static_cidrs_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StaticCidrsApi.static_cidrs_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StaticCidrsApi.static_cidrs_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StaticCidrsApi.static_cidrs_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling StaticCidrsApi.static_cidrs_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling StaticCidrsApi.static_cidrs_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling StaticCidrsApi.static_cidrs_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling StaticCidrsApi.static_cidrs_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'static_cidr_name' is set
      if @api_client.config.client_side_validation && static_cidr_name.nil?
        fail ArgumentError, "Missing the required parameter 'static_cidr_name' when calling StaticCidrsApi.static_cidrs_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && static_cidr_name !~ pattern
        fail ArgumentError, "invalid value for 'static_cidr_name' when calling StaticCidrsApi.static_cidrs_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/staticCidrs/{staticCidrName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s)).sub('{staticCidrName}', CGI.escape(static_cidr_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StaticCidr'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StaticCidrsApi.static_cidrs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaticCidrsApi#static_cidrs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of Static CIDR resources at Network Manager level.
    # Gets list of Static CIDR resources at Network Manager level.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip_token Optional skip token.
    # @option opts [Integer] :skip Optional num entries to skip. (default to 0)
    # @option opts [Integer] :top Optional num entries to show. (default to 50)
    # @option opts [String] :sort_key Optional key by which to sort.
    # @option opts [String] :sort_value Optional sort value for pagination.
    # @return [StaticCidrList]
    def static_cidrs_list(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      data, _status_code, _headers = static_cidrs_list_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts)
      data
    end

    # Gets list of Static CIDR resources at Network Manager level.
    # Gets list of Static CIDR resources at Network Manager level.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip_token Optional skip token.
    # @option opts [Integer] :skip Optional num entries to skip. (default to 0)
    # @option opts [Integer] :top Optional num entries to show. (default to 50)
    # @option opts [String] :sort_key Optional key by which to sort.
    # @option opts [String] :sort_value Optional sort value for pagination.
    # @return [Array<(StaticCidrList, Integer, Hash)>] StaticCidrList data, response status code and response headers
    def static_cidrs_list_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StaticCidrsApi.static_cidrs_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StaticCidrsApi.static_cidrs_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StaticCidrsApi.static_cidrs_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StaticCidrsApi.static_cidrs_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StaticCidrsApi.static_cidrs_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StaticCidrsApi.static_cidrs_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling StaticCidrsApi.static_cidrs_list"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling StaticCidrsApi.static_cidrs_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling StaticCidrsApi.static_cidrs_list"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling StaticCidrsApi.static_cidrs_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/staticCidrs'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'skipToken'] = opts[:'skip_token'] if !opts[:'skip_token'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'sortKey'] = opts[:'sort_key'] if !opts[:'sort_key'].nil?
      query_params[:'sortValue'] = opts[:'sort_value'] if !opts[:'sort_value'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StaticCidrList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StaticCidrsApi.static_cidrs_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StaticCidrsApi#static_cidrs_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end