=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-03-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Network
  class SubnetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates a subnet in the specified virtual network.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param subnet_parameters [Subnet] Parameters supplied to the create or update subnet operation.
    # @param [Hash] opts the optional parameters
    # @return [Subnet]
    def subnets_create_or_update(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, subnet_parameters, opts = {})
      data, _status_code, _headers = subnets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, subnet_parameters, opts)
      data
    end

    # Creates or updates a subnet in the specified virtual network.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param subnet_parameters [Subnet] Parameters supplied to the create or update subnet operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Subnet, Integer, Hash)>] Subnet data, response status code and response headers
    def subnets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, subnet_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubnetsApi.subnets_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SubnetsApi.subnets_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SubnetsApi.subnets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubnetsApi.subnets_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SubnetsApi.subnets_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_network_name' is set
      if @api_client.config.client_side_validation && virtual_network_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_network_name' when calling SubnetsApi.subnets_create_or_update"
      end
      # verify the required parameter 'subnet_name' is set
      if @api_client.config.client_side_validation && subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'subnet_name' when calling SubnetsApi.subnets_create_or_update"
      end
      # verify the required parameter 'subnet_parameters' is set
      if @api_client.config.client_side_validation && subnet_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'subnet_parameters' when calling SubnetsApi.subnets_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualNetworkName}', CGI.escape(virtual_network_name.to_s)).sub('{subnetName}', CGI.escape(subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subnet_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'Subnet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SubnetsApi.subnets_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubnetsApi#subnets_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified subnet.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def subnets_delete(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      subnets_delete_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts)
      nil
    end

    # Deletes the specified subnet.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def subnets_delete_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubnetsApi.subnets_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SubnetsApi.subnets_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SubnetsApi.subnets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubnetsApi.subnets_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SubnetsApi.subnets_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_network_name' is set
      if @api_client.config.client_side_validation && virtual_network_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_network_name' when calling SubnetsApi.subnets_delete"
      end
      # verify the required parameter 'subnet_name' is set
      if @api_client.config.client_side_validation && subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'subnet_name' when calling SubnetsApi.subnets_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualNetworkName}', CGI.escape(virtual_network_name.to_s)).sub('{subnetName}', CGI.escape(subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SubnetsApi.subnets_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubnetsApi#subnets_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified subnet by virtual network and resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Subnet]
    def subnets_get(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      data, _status_code, _headers = subnets_get_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts)
      data
    end

    # Gets the specified subnet by virtual network and resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param subnet_name [String] The name of the subnet.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Expands referenced resources.
    # @return [Array<(Subnet, Integer, Hash)>] Subnet data, response status code and response headers
    def subnets_get_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, subnet_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubnetsApi.subnets_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SubnetsApi.subnets_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SubnetsApi.subnets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubnetsApi.subnets_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SubnetsApi.subnets_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_network_name' is set
      if @api_client.config.client_side_validation && virtual_network_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_network_name' when calling SubnetsApi.subnets_get"
      end
      # verify the required parameter 'subnet_name' is set
      if @api_client.config.client_side_validation && subnet_name.nil?
        fail ArgumentError, "Missing the required parameter 'subnet_name' when calling SubnetsApi.subnets_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualNetworkName}', CGI.escape(virtual_network_name.to_s)).sub('{subnetName}', CGI.escape(subnet_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Subnet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SubnetsApi.subnets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubnetsApi#subnets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all subnets in a virtual network.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param [Hash] opts the optional parameters
    # @return [SubnetListResult]
    def subnets_list(api_version, subscription_id, resource_group_name, virtual_network_name, opts = {})
      data, _status_code, _headers = subnets_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, opts)
      data
    end

    # Gets all subnets in a virtual network.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_network_name [String] The name of the virtual network.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubnetListResult, Integer, Hash)>] SubnetListResult data, response status code and response headers
    def subnets_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_network_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubnetsApi.subnets_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SubnetsApi.subnets_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SubnetsApi.subnets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SubnetsApi.subnets_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SubnetsApi.subnets_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SubnetsApi.subnets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_network_name' is set
      if @api_client.config.client_side_validation && virtual_network_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_network_name' when calling SubnetsApi.subnets_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualNetworkName}', CGI.escape(virtual_network_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubnetListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SubnetsApi.subnets_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubnetsApi#subnets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end