=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-03-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Network
  class VerifierWorkspacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates Verifier Workspace.
    # Creates Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param body [VerifierWorkspace] Verifier Workspace object to create/update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [VerifierWorkspace]
    def verifier_workspaces_create(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, body, opts = {})
      data, _status_code, _headers = verifier_workspaces_create_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, body, opts)
      data
    end

    # Creates Verifier Workspace.
    # Creates Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param body [VerifierWorkspace] Verifier Workspace object to create/update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [Array<(VerifierWorkspace, Integer, Hash)>] VerifierWorkspace data, response status code and response headers
    def verifier_workspaces_create_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifierWorkspacesApi.verifier_workspaces_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VerifierWorkspacesApi.verifier_workspaces_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VerifierWorkspacesApi.verifier_workspaces_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VerifierWorkspacesApi.verifier_workspaces_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VerifierWorkspacesApi.verifier_workspaces_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'workspace_name' is set
      if @api_client.config.client_side_validation && workspace_name.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && workspace_name !~ pattern
        fail ArgumentError, "invalid value for 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VerifierWorkspacesApi.verifier_workspaces_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{workspaceName}', CGI.escape(workspace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifierWorkspace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VerifierWorkspacesApi.verifier_workspaces_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifierWorkspacesApi#verifier_workspaces_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes Verifier Workspace.
    # Deletes Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [nil]
    def verifier_workspaces_delete(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts = {})
      verifier_workspaces_delete_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts)
      nil
    end

    # Deletes Verifier Workspace.
    # Deletes Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def verifier_workspaces_delete_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifierWorkspacesApi.verifier_workspaces_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VerifierWorkspacesApi.verifier_workspaces_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VerifierWorkspacesApi.verifier_workspaces_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VerifierWorkspacesApi.verifier_workspaces_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VerifierWorkspacesApi.verifier_workspaces_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'workspace_name' is set
      if @api_client.config.client_side_validation && workspace_name.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && workspace_name !~ pattern
        fail ArgumentError, "invalid value for 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{workspaceName}', CGI.escape(workspace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VerifierWorkspacesApi.verifier_workspaces_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifierWorkspacesApi#verifier_workspaces_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets Verifier Workspace.
    # Gets Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param [Hash] opts the optional parameters
    # @return [VerifierWorkspace]
    def verifier_workspaces_get(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts = {})
      data, _status_code, _headers = verifier_workspaces_get_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts)
      data
    end

    # Gets Verifier Workspace.
    # Gets Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifierWorkspace, Integer, Hash)>] VerifierWorkspace data, response status code and response headers
    def verifier_workspaces_get_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifierWorkspacesApi.verifier_workspaces_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VerifierWorkspacesApi.verifier_workspaces_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VerifierWorkspacesApi.verifier_workspaces_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VerifierWorkspacesApi.verifier_workspaces_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VerifierWorkspacesApi.verifier_workspaces_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'workspace_name' is set
      if @api_client.config.client_side_validation && workspace_name.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && workspace_name !~ pattern
        fail ArgumentError, "invalid value for 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{workspaceName}', CGI.escape(workspace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerifierWorkspace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VerifierWorkspacesApi.verifier_workspaces_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifierWorkspacesApi#verifier_workspaces_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of Verifier Workspaces.
    # Gets list of Verifier Workspaces.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip_token Optional skip token.
    # @option opts [Integer] :skip Optional num entries to skip. (default to 0)
    # @option opts [Integer] :top Optional num entries to show. (default to 50)
    # @option opts [String] :sort_key Optional key by which to sort.
    # @option opts [String] :sort_value Optional sort value for pagination.
    # @return [VerifierWorkspaceListResult]
    def verifier_workspaces_list(api_version, subscription_id, resource_group_name, network_manager_name, opts = {})
      data, _status_code, _headers = verifier_workspaces_list_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, opts)
      data
    end

    # Gets list of Verifier Workspaces.
    # Gets list of Verifier Workspaces.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip_token Optional skip token.
    # @option opts [Integer] :skip Optional num entries to skip. (default to 0)
    # @option opts [Integer] :top Optional num entries to show. (default to 50)
    # @option opts [String] :sort_key Optional key by which to sort.
    # @option opts [String] :sort_value Optional sort value for pagination.
    # @return [Array<(VerifierWorkspaceListResult, Integer, Hash)>] VerifierWorkspaceListResult data, response status code and response headers
    def verifier_workspaces_list_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifierWorkspacesApi.verifier_workspaces_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VerifierWorkspacesApi.verifier_workspaces_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VerifierWorkspacesApi.verifier_workspaces_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VerifierWorkspacesApi.verifier_workspaces_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VerifierWorkspacesApi.verifier_workspaces_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_list"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'skipToken'] = opts[:'skip_token'] if !opts[:'skip_token'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'sortKey'] = opts[:'sort_key'] if !opts[:'sort_key'].nil?
      query_params[:'sortValue'] = opts[:'sort_value'] if !opts[:'sort_value'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerifierWorkspaceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VerifierWorkspacesApi.verifier_workspaces_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifierWorkspacesApi#verifier_workspaces_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates Verifier Workspace.
    # Updates Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @option opts [VerifierWorkspaceUpdate] :body Verifier Workspace object to create/update.
    # @return [VerifierWorkspace]
    def verifier_workspaces_update(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts = {})
      data, _status_code, _headers = verifier_workspaces_update_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts)
      data
    end

    # Updates Verifier Workspace.
    # Updates Verifier Workspace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param workspace_name [String] The name of the resource
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @option opts [VerifierWorkspaceUpdate] :body Verifier Workspace object to create/update.
    # @return [Array<(VerifierWorkspace, Integer, Hash)>] VerifierWorkspace data, response status code and response headers
    def verifier_workspaces_update_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, workspace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifierWorkspacesApi.verifier_workspaces_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VerifierWorkspacesApi.verifier_workspaces_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VerifierWorkspacesApi.verifier_workspaces_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VerifierWorkspacesApi.verifier_workspaces_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VerifierWorkspacesApi.verifier_workspaces_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VerifierWorkspacesApi.verifier_workspaces_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_update"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling VerifierWorkspacesApi.verifier_workspaces_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'workspace_name' is set
      if @api_client.config.client_side_validation && workspace_name.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_update"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && workspace_name !~ pattern
        fail ArgumentError, "invalid value for 'workspace_name' when calling VerifierWorkspacesApi.verifier_workspaces_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/verifierWorkspaces/{workspaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{workspaceName}', CGI.escape(workspace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'VerifierWorkspace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VerifierWorkspacesApi.verifier_workspaces_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifierWorkspacesApi#verifier_workspaces_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end