=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Network
  class VirtualApplianceSitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates the specified Network Virtual Appliance Site.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param site_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [VirtualApplianceSite] Parameters supplied to the create or update Network Virtual Appliance Site operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualApplianceSite]
    def virtual_appliance_sites_create_or_update(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, parameters, opts = {})
      data, _status_code, _headers = virtual_appliance_sites_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, parameters, opts)
      data
    end

    # Creates or updates the specified Network Virtual Appliance Site.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param site_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [VirtualApplianceSite] Parameters supplied to the create or update Network Virtual Appliance Site operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualApplianceSite, Integer, Hash)>] VirtualApplianceSite data, response status code and response headers
    def virtual_appliance_sites_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update"
      end
      # verify the required parameter 'site_name' is set
      if @api_client.config.client_side_validation && site_name.nil?
        fail ArgumentError, "Missing the required parameter 'site_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/virtualApplianceSites/{siteName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s)).sub('{siteName}', CGI.escape(site_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualApplianceSite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualApplianceSitesApi.virtual_appliance_sites_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualApplianceSitesApi#virtual_appliance_sites_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified site from a Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param site_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_appliance_sites_delete(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, opts = {})
      virtual_appliance_sites_delete_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, opts)
      nil
    end

    # Deletes the specified site from a Virtual Appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param site_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_appliance_sites_delete_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualApplianceSitesApi.virtual_appliance_sites_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete"
      end
      # verify the required parameter 'site_name' is set
      if @api_client.config.client_side_validation && site_name.nil?
        fail ArgumentError, "Missing the required parameter 'site_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/virtualApplianceSites/{siteName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s)).sub('{siteName}', CGI.escape(site_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualApplianceSitesApi.virtual_appliance_sites_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualApplianceSitesApi#virtual_appliance_sites_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified Virtual Appliance Site.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param site_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [VirtualApplianceSite]
    def virtual_appliance_sites_get(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, opts = {})
      data, _status_code, _headers = virtual_appliance_sites_get_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, opts)
      data
    end

    # Gets the specified Virtual Appliance Site.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param site_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualApplianceSite, Integer, Hash)>] VirtualApplianceSite data, response status code and response headers
    def virtual_appliance_sites_get_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, site_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualApplianceSitesApi.virtual_appliance_sites_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualApplianceSitesApi.virtual_appliance_sites_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualApplianceSitesApi.virtual_appliance_sites_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualApplianceSitesApi.virtual_appliance_sites_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_get"
      end
      # verify the required parameter 'site_name' is set
      if @api_client.config.client_side_validation && site_name.nil?
        fail ArgumentError, "Missing the required parameter 'site_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/virtualApplianceSites/{siteName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s)).sub('{siteName}', CGI.escape(site_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualApplianceSite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualApplianceSitesApi.virtual_appliance_sites_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualApplianceSitesApi#virtual_appliance_sites_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all Network Virtual Appliance Sites in a Network Virtual Appliance resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualApplianceSiteListResult]
    def virtual_appliance_sites_list(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      data, _status_code, _headers = virtual_appliance_sites_list_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts)
      data
    end

    # Lists all Network Virtual Appliance Sites in a Network Virtual Appliance resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_virtual_appliance_name [String] The name of Network Virtual Appliance.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualApplianceSiteListResult, Integer, Hash)>] NetworkVirtualApplianceSiteListResult data, response status code and response headers
    def virtual_appliance_sites_list_with_http_info(api_version, subscription_id, resource_group_name, network_virtual_appliance_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualApplianceSitesApi.virtual_appliance_sites_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualApplianceSitesApi.virtual_appliance_sites_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualApplianceSitesApi.virtual_appliance_sites_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualApplianceSitesApi.virtual_appliance_sites_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualApplianceSitesApi.virtual_appliance_sites_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_virtual_appliance_name' is set
      if @api_client.config.client_side_validation && network_virtual_appliance_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_virtual_appliance_name' when calling VirtualApplianceSitesApi.virtual_appliance_sites_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkVirtualAppliances/{networkVirtualApplianceName}/virtualApplianceSites'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkVirtualApplianceName}', CGI.escape(network_virtual_appliance_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceSiteListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualApplianceSitesApi.virtual_appliance_sites_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualApplianceSitesApi#virtual_appliance_sites_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end