=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Network
  class VirtualApplianceSkusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieves a single available sku for network virtual appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param sku_name [String] Name of the Sku.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualApplianceSku]
    def virtual_appliance_skus_get(api_version, subscription_id, sku_name, opts = {})
      data, _status_code, _headers = virtual_appliance_skus_get_with_http_info(api_version, subscription_id, sku_name, opts)
      data
    end

    # Retrieves a single available sku for network virtual appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param sku_name [String] Name of the Sku.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualApplianceSku, Integer, Hash)>] NetworkVirtualApplianceSku data, response status code and response headers
    def virtual_appliance_skus_get_with_http_info(api_version, subscription_id, sku_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualApplianceSkusApi.virtual_appliance_skus_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualApplianceSkusApi.virtual_appliance_skus_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualApplianceSkusApi.virtual_appliance_skus_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualApplianceSkusApi.virtual_appliance_skus_get"
      end
      # verify the required parameter 'sku_name' is set
      if @api_client.config.client_side_validation && sku_name.nil?
        fail ArgumentError, "Missing the required parameter 'sku_name' when calling VirtualApplianceSkusApi.virtual_appliance_skus_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkVirtualApplianceSkus/{skuName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{skuName}', CGI.escape(sku_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceSku'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualApplianceSkusApi.virtual_appliance_skus_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualApplianceSkusApi#virtual_appliance_skus_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all SKUs available for a virtual appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [NetworkVirtualApplianceSkuListResult]
    def virtual_appliance_skus_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = virtual_appliance_skus_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # List all SKUs available for a virtual appliance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkVirtualApplianceSkuListResult, Integer, Hash)>] NetworkVirtualApplianceSkuListResult data, response status code and response headers
    def virtual_appliance_skus_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualApplianceSkusApi.virtual_appliance_skus_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualApplianceSkusApi.virtual_appliance_skus_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualApplianceSkusApi.virtual_appliance_skus_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualApplianceSkusApi.virtual_appliance_skus_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkVirtualApplianceSkus'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkVirtualApplianceSkuListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualApplianceSkusApi.virtual_appliance_skus_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualApplianceSkusApi#virtual_appliance_skus_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end