=begin
#KeyVaultManagementClient

#The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.

The version of the OpenAPI document: 2026-05-15

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module KeyVault
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checks that the managed hsm name is valid and is not already in use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param mhsm_name [CheckMhsmNameAvailabilityParameters] The request body
    # @param [Hash] opts the optional parameters
    # @return [CheckMhsmNameAvailabilityResult]
    def managed_hsms_check_mhsm_name_availability(api_version, subscription_id, mhsm_name, opts = {})
      data, _status_code, _headers = managed_hsms_check_mhsm_name_availability_with_http_info(api_version, subscription_id, mhsm_name, opts)
      data
    end

    # Checks that the managed hsm name is valid and is not already in use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param mhsm_name [CheckMhsmNameAvailabilityParameters] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckMhsmNameAvailabilityResult, Integer, Hash)>] CheckMhsmNameAvailabilityResult data, response status code and response headers
    def managed_hsms_check_mhsm_name_availability_with_http_info(api_version, subscription_id, mhsm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.managed_hsms_check_mhsm_name_availability ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.managed_hsms_check_mhsm_name_availability"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.managed_hsms_check_mhsm_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.managed_hsms_check_mhsm_name_availability"
      end
      # verify the required parameter 'mhsm_name' is set
      if @api_client.config.client_side_validation && mhsm_name.nil?
        fail ArgumentError, "Missing the required parameter 'mhsm_name' when calling DefaultApi.managed_hsms_check_mhsm_name_availability"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkMhsmNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mhsm_name)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckMhsmNameAvailabilityResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.managed_hsms_check_mhsm_name_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#managed_hsms_check_mhsm_name_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The List operation gets information about the deleted managed HSMs associated with the subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [DeletedManagedHsmListResult]
    def managed_hsms_list_deleted(api_version, subscription_id, opts = {})
      data, _status_code, _headers = managed_hsms_list_deleted_with_http_info(api_version, subscription_id, opts)
      data
    end

    # The List operation gets information about the deleted managed HSMs associated with the subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedManagedHsmListResult, Integer, Hash)>] DeletedManagedHsmListResult data, response status code and response headers
    def managed_hsms_list_deleted_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.managed_hsms_list_deleted ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.managed_hsms_list_deleted"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.managed_hsms_list_deleted, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.managed_hsms_list_deleted"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedManagedHSMs'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletedManagedHsmListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.managed_hsms_list_deleted",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#managed_hsms_list_deleted\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Checks that the vault name is valid and is not already in use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param vault_name [VaultCheckNameAvailabilityParameters] The name of the vault.
    # @param [Hash] opts the optional parameters
    # @return [CheckNameAvailabilityResult]
    def vaults_check_name_availability(api_version, subscription_id, vault_name, opts = {})
      data, _status_code, _headers = vaults_check_name_availability_with_http_info(api_version, subscription_id, vault_name, opts)
      data
    end

    # Checks that the vault name is valid and is not already in use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param vault_name [VaultCheckNameAvailabilityParameters] The name of the vault.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckNameAvailabilityResult, Integer, Hash)>] CheckNameAvailabilityResult data, response status code and response headers
    def vaults_check_name_availability_with_http_info(api_version, subscription_id, vault_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.vaults_check_name_availability ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.vaults_check_name_availability"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.vaults_check_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.vaults_check_name_availability"
      end
      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling DefaultApi.vaults_check_name_availability"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vault_name)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckNameAvailabilityResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.vaults_check_name_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#vaults_check_name_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The List operation gets information about the vaults associated with the subscription.
    # @param filter [String] The filter to apply on the operation.
    # @param api_version [String] Azure Resource Manager Api Version.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :top Maximum number of results to return.
    # @return [ResourceListResult]
    def vaults_list(filter, api_version, subscription_id, opts = {})
      data, _status_code, _headers = vaults_list_with_http_info(filter, api_version, subscription_id, opts)
      data
    end

    # The List operation gets information about the vaults associated with the subscription.
    # @param filter [String] The filter to apply on the operation.
    # @param api_version [String] Azure Resource Manager Api Version.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :top Maximum number of results to return.
    # @return [Array<(ResourceListResult, Integer, Hash)>] ResourceListResult data, response status code and response headers
    def vaults_list_with_http_info(filter, api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.vaults_list ...'
      end
      # verify the required parameter 'filter' is set
      if @api_client.config.client_side_validation && filter.nil?
        fail ArgumentError, "Missing the required parameter 'filter' when calling DefaultApi.vaults_list"
      end
      # verify enum value
      allowable_values = ["resourceType eq 'Microsoft.KeyVault/vaults'"]
      if @api_client.config.client_side_validation && !allowable_values.include?(filter)
        fail ArgumentError, "invalid value for \"filter\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.vaults_list"
      end
      # verify enum value
      allowable_values = ["2015-11-01"]
      if @api_client.config.client_side_validation && !allowable_values.include?(api_version)
        fail ArgumentError, "invalid value for \"api_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.vaults_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'$filter'] = filter
      query_params[:'api-version'] = api_version
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.vaults_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#vaults_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about the deleted vaults in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [DeletedVaultListResult]
    def vaults_list_deleted(api_version, subscription_id, opts = {})
      data, _status_code, _headers = vaults_list_deleted_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets information about the deleted vaults in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedVaultListResult, Integer, Hash)>] DeletedVaultListResult data, response status code and response headers
    def vaults_list_deleted_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.vaults_list_deleted ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.vaults_list_deleted"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.vaults_list_deleted, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.vaults_list_deleted"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedVaults'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletedVaultListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.vaults_list_deleted",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#vaults_list_deleted\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end