=begin
#KeyVaultManagementClient

#The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.

The version of the OpenAPI document: 2026-05-15

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module KeyVault
  class DeletedManagedHsmsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the specified deleted managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param name [String] The name of the deleted managed HSM.
    # @param [Hash] opts the optional parameters
    # @return [DeletedManagedHsm]
    def managed_hsms_get_deleted(api_version, subscription_id, location, name, opts = {})
      data, _status_code, _headers = managed_hsms_get_deleted_with_http_info(api_version, subscription_id, location, name, opts)
      data
    end

    # Gets the specified deleted managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param name [String] The name of the deleted managed HSM.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedManagedHsm, Integer, Hash)>] DeletedManagedHsm data, response status code and response headers
    def managed_hsms_get_deleted_with_http_info(api_version, subscription_id, location, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeletedManagedHsmsApi.managed_hsms_get_deleted ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DeletedManagedHsmsApi.managed_hsms_get_deleted"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DeletedManagedHsmsApi.managed_hsms_get_deleted, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DeletedManagedHsmsApi.managed_hsms_get_deleted"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DeletedManagedHsmsApi.managed_hsms_get_deleted"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DeletedManagedHsmsApi.managed_hsms_get_deleted, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DeletedManagedHsmsApi.managed_hsms_get_deleted"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedManagedHSMs/{name}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletedManagedHsm'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DeletedManagedHsmsApi.managed_hsms_get_deleted",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeletedManagedHsmsApi#managed_hsms_get_deleted\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Permanently deletes the specified managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param name [String] The name of the deleted managed HSM.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def managed_hsms_purge_deleted(api_version, subscription_id, location, name, opts = {})
      managed_hsms_purge_deleted_with_http_info(api_version, subscription_id, location, name, opts)
      nil
    end

    # Permanently deletes the specified managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param name [String] The name of the deleted managed HSM.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def managed_hsms_purge_deleted_with_http_info(api_version, subscription_id, location, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeletedManagedHsmsApi.managed_hsms_purge_deleted ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DeletedManagedHsmsApi.managed_hsms_purge_deleted"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DeletedManagedHsmsApi.managed_hsms_purge_deleted, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DeletedManagedHsmsApi.managed_hsms_purge_deleted"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DeletedManagedHsmsApi.managed_hsms_purge_deleted"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DeletedManagedHsmsApi.managed_hsms_purge_deleted, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DeletedManagedHsmsApi.managed_hsms_purge_deleted"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedManagedHSMs/{name}/purge'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DeletedManagedHsmsApi.managed_hsms_purge_deleted",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeletedManagedHsmsApi#managed_hsms_purge_deleted\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end