=begin
#KeyVaultManagementClient

#The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.

The version of the OpenAPI document: 2026-05-15

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module KeyVault
  class KeyOperationGroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the specified version of the specified key in the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key version to be retrieved.
    # @param key_name [String] The name of the key version to be retrieved.
    # @param key_version [String] The version of the key to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Key]
    def keys_get_version(api_version, subscription_id, resource_group_name, vault_name, key_name, key_version, opts = {})
      data, _status_code, _headers = keys_get_version_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, key_version, opts)
      data
    end

    # Gets the specified version of the specified key in the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key version to be retrieved.
    # @param key_name [String] The name of the key version to be retrieved.
    # @param key_version [String] The version of the key to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Key, Integer, Hash)>] Key data, response status code and response headers
    def keys_get_version_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, key_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeyOperationGroupApi.keys_get_version ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeyOperationGroupApi.keys_get_version"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling KeyOperationGroupApi.keys_get_version, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling KeyOperationGroupApi.keys_get_version"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling KeyOperationGroupApi.keys_get_version"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeyOperationGroupApi.keys_get_version, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeyOperationGroupApi.keys_get_version, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling KeyOperationGroupApi.keys_get_version"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{3,24}$/)
      if @api_client.config.client_side_validation && vault_name !~ pattern
        fail ArgumentError, "invalid value for 'vault_name' when calling KeyOperationGroupApi.keys_get_version, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeyOperationGroupApi.keys_get_version"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{1,127}$/)
      if @api_client.config.client_side_validation && key_name !~ pattern
        fail ArgumentError, "invalid value for 'key_name' when calling KeyOperationGroupApi.keys_get_version, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeyOperationGroupApi.keys_get_version"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{32}$/)
      if @api_client.config.client_side_validation && key_version !~ pattern
        fail ArgumentError, "invalid value for 'key_version' when calling KeyOperationGroupApi.keys_get_version, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}/versions/{keyVersion}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{keyName}', CGI.escape(key_name.to_s)).sub('{keyVersion}', CGI.escape(key_version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Key'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"KeyOperationGroupApi.keys_get_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeyOperationGroupApi#keys_get_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the keys in the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key version to be retrieved.
    # @param key_name [String] The name of the key version to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [KeyListResult]
    def keys_list_versions(api_version, subscription_id, resource_group_name, vault_name, key_name, opts = {})
      data, _status_code, _headers = keys_list_versions_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, opts)
      data
    end

    # Lists the keys in the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key version to be retrieved.
    # @param key_name [String] The name of the key version to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyListResult, Integer, Hash)>] KeyListResult data, response status code and response headers
    def keys_list_versions_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeyOperationGroupApi.keys_list_versions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeyOperationGroupApi.keys_list_versions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling KeyOperationGroupApi.keys_list_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling KeyOperationGroupApi.keys_list_versions"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling KeyOperationGroupApi.keys_list_versions"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeyOperationGroupApi.keys_list_versions, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeyOperationGroupApi.keys_list_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling KeyOperationGroupApi.keys_list_versions"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{3,24}$/)
      if @api_client.config.client_side_validation && vault_name !~ pattern
        fail ArgumentError, "invalid value for 'vault_name' when calling KeyOperationGroupApi.keys_list_versions, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeyOperationGroupApi.keys_list_versions"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{1,127}$/)
      if @api_client.config.client_side_validation && key_name !~ pattern
        fail ArgumentError, "invalid value for 'key_name' when calling KeyOperationGroupApi.keys_list_versions, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}/versions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{keyName}', CGI.escape(key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KeyListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"KeyOperationGroupApi.keys_list_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeyOperationGroupApi#keys_list_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end