=begin
#KeyVaultManagementClient

#The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.

The version of the OpenAPI document: 2026-05-15

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module KeyVault
  class KeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates the first version of a new key if it does not exist. If it already exists, then the existing key is returned without any write operations being performed. This API does not create subsequent versions, and does not update existing keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key to be retrieved.
    # @param key_name [String] The name of the key to be retrieved.
    # @param parameters [KeyCreateParameters] The parameters used to create the specified key.
    # @param [Hash] opts the optional parameters
    # @return [Key]
    def keys_create_if_not_exist(api_version, subscription_id, resource_group_name, vault_name, key_name, parameters, opts = {})
      data, _status_code, _headers = keys_create_if_not_exist_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, parameters, opts)
      data
    end

    # Creates the first version of a new key if it does not exist. If it already exists, then the existing key is returned without any write operations being performed. This API does not create subsequent versions, and does not update existing keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key to be retrieved.
    # @param key_name [String] The name of the key to be retrieved.
    # @param parameters [KeyCreateParameters] The parameters used to create the specified key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Key, Integer, Hash)>] Key data, response status code and response headers
    def keys_create_if_not_exist_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.keys_create_if_not_exist ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.keys_create_if_not_exist"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling KeysApi.keys_create_if_not_exist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling KeysApi.keys_create_if_not_exist"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling KeysApi.keys_create_if_not_exist"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeysApi.keys_create_if_not_exist, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeysApi.keys_create_if_not_exist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling KeysApi.keys_create_if_not_exist"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{3,24}$/)
      if @api_client.config.client_side_validation && vault_name !~ pattern
        fail ArgumentError, "invalid value for 'vault_name' when calling KeysApi.keys_create_if_not_exist, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.keys_create_if_not_exist"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{1,127}$/)
      if @api_client.config.client_side_validation && key_name !~ pattern
        fail ArgumentError, "invalid value for 'key_name' when calling KeysApi.keys_create_if_not_exist, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.keys_create_if_not_exist"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{keyName}', CGI.escape(key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'Key'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"KeysApi.keys_create_if_not_exist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#keys_create_if_not_exist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current version of the specified key from the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key to be retrieved.
    # @param key_name [String] The name of the key to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Key]
    def keys_get(api_version, subscription_id, resource_group_name, vault_name, key_name, opts = {})
      data, _status_code, _headers = keys_get_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, opts)
      data
    end

    # Gets the current version of the specified key from the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key to be retrieved.
    # @param key_name [String] The name of the key to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Key, Integer, Hash)>] Key data, response status code and response headers
    def keys_get_with_http_info(api_version, subscription_id, resource_group_name, vault_name, key_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.keys_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.keys_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling KeysApi.keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling KeysApi.keys_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling KeysApi.keys_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeysApi.keys_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeysApi.keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling KeysApi.keys_get"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{3,24}$/)
      if @api_client.config.client_side_validation && vault_name !~ pattern
        fail ArgumentError, "invalid value for 'vault_name' when calling KeysApi.keys_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.keys_get"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{1,127}$/)
      if @api_client.config.client_side_validation && key_name !~ pattern
        fail ArgumentError, "invalid value for 'key_name' when calling KeysApi.keys_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{keyName}', CGI.escape(key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Key'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"KeysApi.keys_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#keys_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the keys in the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [KeyListResult]
    def keys_list(api_version, subscription_id, resource_group_name, vault_name, opts = {})
      data, _status_code, _headers = keys_list_with_http_info(api_version, subscription_id, resource_group_name, vault_name, opts)
      data
    end

    # Lists the keys in the specified key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault which contains the key to be retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyListResult, Integer, Hash)>] KeyListResult data, response status code and response headers
    def keys_list_with_http_info(api_version, subscription_id, resource_group_name, vault_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.keys_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.keys_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling KeysApi.keys_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling KeysApi.keys_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling KeysApi.keys_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeysApi.keys_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling KeysApi.keys_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling KeysApi.keys_list"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{3,24}$/)
      if @api_client.config.client_side_validation && vault_name !~ pattern
        fail ArgumentError, "invalid value for 'vault_name' when calling KeysApi.keys_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'KeyListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"KeysApi.keys_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#keys_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end