=begin
#KeyVaultManagementClient

#The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.

The version of the OpenAPI document: 2026-05-15

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module KeyVault
  class ManagedHsmKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates the first version of a new key if it does not exist. If it already exists, then the existing key is returned without any write operations being performed. This API does not create subsequent versions, and does not update existing keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param name [String] The name of the Managed HSM Pool within the specified resource group.
    # @param key_name [String] The name of the key to be created. The value you provide may be copied globally for the purpose of running the service. The value provided should not include personally identifiable or sensitive information.
    # @param parameters [ManagedHsmKeyCreateParameters] The parameters used to create the specified key.
    # @param [Hash] opts the optional parameters
    # @return [ManagedHsmKey]
    def managed_hsm_keys_create_if_not_exist(api_version, subscription_id, resource_group_name, name, key_name, parameters, opts = {})
      data, _status_code, _headers = managed_hsm_keys_create_if_not_exist_with_http_info(api_version, subscription_id, resource_group_name, name, key_name, parameters, opts)
      data
    end

    # Creates the first version of a new key if it does not exist. If it already exists, then the existing key is returned without any write operations being performed. This API does not create subsequent versions, and does not update existing keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param name [String] The name of the Managed HSM Pool within the specified resource group.
    # @param key_name [String] The name of the key to be created. The value you provide may be copied globally for the purpose of running the service. The value provided should not include personally identifiable or sensitive information.
    # @param parameters [ManagedHsmKeyCreateParameters] The parameters used to create the specified key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedHsmKey, Integer, Hash)>] ManagedHsmKey data, response status code and response headers
    def managed_hsm_keys_create_if_not_exist_with_http_info(api_version, subscription_id, resource_group_name, name, key_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 24
        fail ArgumentError, 'invalid value for "name" when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && name.to_s.length < 3
        fail ArgumentError, 'invalid value for "name" when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z]([A-Za-z0-9]|\-[A-Za-z0-9])+$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{1,127}$/)
      if @api_client.config.client_side_validation && key_name !~ pattern
        fail ArgumentError, "invalid value for 'key_name' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/keys/{keyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{name}', CGI.escape(name.to_s)).sub('{keyName}', CGI.escape(key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedHsmKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedHsmKeysApi.managed_hsm_keys_create_if_not_exist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedHsmKeysApi#managed_hsm_keys_create_if_not_exist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current version of the specified key from the specified managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param name [String] The name of the Managed HSM Pool within the specified resource group.
    # @param key_name [String] The name of the key to be created. The value you provide may be copied globally for the purpose of running the service. The value provided should not include personally identifiable or sensitive information.
    # @param [Hash] opts the optional parameters
    # @return [ManagedHsmKey]
    def managed_hsm_keys_get(api_version, subscription_id, resource_group_name, name, key_name, opts = {})
      data, _status_code, _headers = managed_hsm_keys_get_with_http_info(api_version, subscription_id, resource_group_name, name, key_name, opts)
      data
    end

    # Gets the current version of the specified key from the specified managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param name [String] The name of the Managed HSM Pool within the specified resource group.
    # @param key_name [String] The name of the key to be created. The value you provide may be copied globally for the purpose of running the service. The value provided should not include personally identifiable or sensitive information.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedHsmKey, Integer, Hash)>] ManagedHsmKey data, response status code and response headers
    def managed_hsm_keys_get_with_http_info(api_version, subscription_id, resource_group_name, name, key_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedHsmKeysApi.managed_hsm_keys_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedHsmKeysApi.managed_hsm_keys_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedHsmKeysApi.managed_hsm_keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedHsmKeysApi.managed_hsm_keys_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedHsmKeysApi.managed_hsm_keys_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedHsmKeysApi.managed_hsm_keys_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedHsmKeysApi.managed_hsm_keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ManagedHsmKeysApi.managed_hsm_keys_get"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 24
        fail ArgumentError, 'invalid value for "name" when calling ManagedHsmKeysApi.managed_hsm_keys_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && name.to_s.length < 3
        fail ArgumentError, 'invalid value for "name" when calling ManagedHsmKeysApi.managed_hsm_keys_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z]([A-Za-z0-9]|\-[A-Za-z0-9])+$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling ManagedHsmKeysApi.managed_hsm_keys_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling ManagedHsmKeysApi.managed_hsm_keys_get"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-]{1,127}$/)
      if @api_client.config.client_side_validation && key_name !~ pattern
        fail ArgumentError, "invalid value for 'key_name' when calling ManagedHsmKeysApi.managed_hsm_keys_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/keys/{keyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{name}', CGI.escape(name.to_s)).sub('{keyName}', CGI.escape(key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedHsmKey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedHsmKeysApi.managed_hsm_keys_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedHsmKeysApi#managed_hsm_keys_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the keys in the specified managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param name [String] The name of the Managed HSM Pool within the specified resource group.
    # @param [Hash] opts the optional parameters
    # @return [ManagedHsmKeyListResult]
    def managed_hsm_keys_list(api_version, subscription_id, resource_group_name, name, opts = {})
      data, _status_code, _headers = managed_hsm_keys_list_with_http_info(api_version, subscription_id, resource_group_name, name, opts)
      data
    end

    # Lists the keys in the specified managed HSM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param name [String] The name of the Managed HSM Pool within the specified resource group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedHsmKeyListResult, Integer, Hash)>] ManagedHsmKeyListResult data, response status code and response headers
    def managed_hsm_keys_list_with_http_info(api_version, subscription_id, resource_group_name, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedHsmKeysApi.managed_hsm_keys_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedHsmKeysApi.managed_hsm_keys_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedHsmKeysApi.managed_hsm_keys_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedHsmKeysApi.managed_hsm_keys_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedHsmKeysApi.managed_hsm_keys_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedHsmKeysApi.managed_hsm_keys_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedHsmKeysApi.managed_hsm_keys_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ManagedHsmKeysApi.managed_hsm_keys_list"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 24
        fail ArgumentError, 'invalid value for "name" when calling ManagedHsmKeysApi.managed_hsm_keys_list, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && name.to_s.length < 3
        fail ArgumentError, 'invalid value for "name" when calling ManagedHsmKeysApi.managed_hsm_keys_list, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z]([A-Za-z0-9]|\-[A-Za-z0-9])+$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling ManagedHsmKeysApi.managed_hsm_keys_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/keys'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedHsmKeyListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedHsmKeysApi.managed_hsm_keys_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedHsmKeysApi#managed_hsm_keys_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end