=begin
#KeyVaultManagementClient

#The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.

The version of the OpenAPI document: 2026-05-15

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module KeyVault
  class PrivateEndpointConnectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes the specified private endpoint connection associated with the key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param private_endpoint_connection_name [String] Name of the private endpoint connection associated with the key vault.
    # @param [Hash] opts the optional parameters
    # @return [PrivateEndpointConnection]
    def private_endpoint_connections_delete(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, opts = {})
      data, _status_code, _headers = private_endpoint_connections_delete_with_http_info(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, opts)
      data
    end

    # Deletes the specified private endpoint connection associated with the key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param private_endpoint_connection_name [String] Name of the private endpoint connection associated with the key vault.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateEndpointConnection, Integer, Hash)>] PrivateEndpointConnection data, response status code and response headers
    def private_endpoint_connections_delete_with_http_info(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateEndpointConnectionsApi.private_endpoint_connections_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete"
      end
      # verify the required parameter 'private_endpoint_connection_name' is set
      if @api_client.config.client_side_validation && private_endpoint_connection_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_endpoint_connection_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{privateEndpointConnectionName}', CGI.escape(private_endpoint_connection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateEndpointConnectionsApi.private_endpoint_connections_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateEndpointConnectionsApi#private_endpoint_connections_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified private endpoint connection associated with the key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param private_endpoint_connection_name [String] Name of the private endpoint connection associated with the key vault.
    # @param [Hash] opts the optional parameters
    # @return [PrivateEndpointConnection]
    def private_endpoint_connections_get(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, opts = {})
      data, _status_code, _headers = private_endpoint_connections_get_with_http_info(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, opts)
      data
    end

    # Gets the specified private endpoint connection associated with the key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param private_endpoint_connection_name [String] Name of the private endpoint connection associated with the key vault.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateEndpointConnection, Integer, Hash)>] PrivateEndpointConnection data, response status code and response headers
    def private_endpoint_connections_get_with_http_info(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateEndpointConnectionsApi.private_endpoint_connections_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get"
      end
      # verify the required parameter 'private_endpoint_connection_name' is set
      if @api_client.config.client_side_validation && private_endpoint_connection_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_endpoint_connection_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{privateEndpointConnectionName}', CGI.escape(private_endpoint_connection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateEndpointConnectionsApi.private_endpoint_connections_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateEndpointConnectionsApi#private_endpoint_connections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The List operation gets information about the private endpoint connections associated with the vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param [Hash] opts the optional parameters
    # @return [PrivateEndpointConnectionListResult]
    def private_endpoint_connections_list_by_resource(api_version, subscription_id, resource_group_name, vault_name, opts = {})
      data, _status_code, _headers = private_endpoint_connections_list_by_resource_with_http_info(api_version, subscription_id, resource_group_name, vault_name, opts)
      data
    end

    # The List operation gets information about the private endpoint connections associated with the vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateEndpointConnectionListResult, Integer, Hash)>] PrivateEndpointConnectionListResult data, response status code and response headers
    def private_endpoint_connections_list_by_resource_with_http_info(api_version, subscription_id, resource_group_name, vault_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnectionListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateEndpointConnectionsApi.private_endpoint_connections_list_by_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateEndpointConnectionsApi#private_endpoint_connections_list_by_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates the specified private endpoint connection associated with the key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param private_endpoint_connection_name [String] Name of the private endpoint connection associated with the key vault.
    # @param properties [PrivateEndpointConnection] The intended state of private endpoint connection.
    # @param [Hash] opts the optional parameters
    # @return [PrivateEndpointConnection]
    def private_endpoint_connections_put(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, properties, opts = {})
      data, _status_code, _headers = private_endpoint_connections_put_with_http_info(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, properties, opts)
      data
    end

    # Updates the specified private endpoint connection associated with the key vault.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vault_name [String] The name of the vault.
    # @param private_endpoint_connection_name [String] Name of the private endpoint connection associated with the key vault.
    # @param properties [PrivateEndpointConnection] The intended state of private endpoint connection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateEndpointConnection, Integer, Hash)>] PrivateEndpointConnection data, response status code and response headers
    def private_endpoint_connections_put_with_http_info(api_version, subscription_id, resource_group_name, vault_name, private_endpoint_connection_name, properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PrivateEndpointConnectionsApi.private_endpoint_connections_put ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vault_name' is set
      if @api_client.config.client_side_validation && vault_name.nil?
        fail ArgumentError, "Missing the required parameter 'vault_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put"
      end
      # verify the required parameter 'private_endpoint_connection_name' is set
      if @api_client.config.client_side_validation && private_endpoint_connection_name.nil?
        fail ArgumentError, "Missing the required parameter 'private_endpoint_connection_name' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put"
      end
      # verify the required parameter 'properties' is set
      if @api_client.config.client_side_validation && properties.nil?
        fail ArgumentError, "Missing the required parameter 'properties' when calling PrivateEndpointConnectionsApi.private_endpoint_connections_put"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vaultName}', CGI.escape(vault_name.to_s)).sub('{privateEndpointConnectionName}', CGI.escape(private_endpoint_connection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(properties)

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateEndpointConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"PrivateEndpointConnectionsApi.private_endpoint_connections_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PrivateEndpointConnectionsApi#private_endpoint_connections_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end