=begin
#Scheduled Query Rules API

#Azure Monitor client to create/update/delete Scheduled Query Rules.

The version of the OpenAPI document: 2026-03-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Insights
  class ScheduledQueryRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates a scheduled query rule.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [ScheduledQueryRuleResource] The parameters of the rule to create or update.
    # @param [Hash] opts the optional parameters
    # @return [ScheduledQueryRuleResource]
    def scheduled_query_rules_create_or_update(subscription_id, resource_group_name, rule_name, api_version, parameters, opts = {})
      data, _status_code, _headers = scheduled_query_rules_create_or_update_with_http_info(subscription_id, resource_group_name, rule_name, api_version, parameters, opts)
      data
    end

    # Creates or updates a scheduled query rule.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [ScheduledQueryRuleResource] The parameters of the rule to create or update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduledQueryRuleResource, Integer, Hash)>] ScheduledQueryRuleResource data, response status code and response headers
    def scheduled_query_rules_create_or_update_with_http_info(subscription_id, resource_group_name, rule_name, api_version, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduledQueryRulesApi.scheduled_query_rules_create_or_update ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'rule_name' is set
      if @api_client.config.client_side_validation && rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update"
      end
      pattern = Regexp.new(/^[^#<>%&:\?\/{}*]{1,260}$/)
      if @api_client.config.client_side_validation && rule_name !~ pattern
        fail ArgumentError, "invalid value for 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ScheduledQueryRulesApi.scheduled_query_rules_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules/{ruleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ruleName}', CGI.escape(rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduledQueryRuleResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ScheduledQueryRulesApi.scheduled_query_rules_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduledQueryRulesApi#scheduled_query_rules_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a scheduled query rule.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def scheduled_query_rules_delete(subscription_id, resource_group_name, rule_name, api_version, opts = {})
      scheduled_query_rules_delete_with_http_info(subscription_id, resource_group_name, rule_name, api_version, opts)
      nil
    end

    # Deletes a scheduled query rule.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def scheduled_query_rules_delete_with_http_info(subscription_id, resource_group_name, rule_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduledQueryRulesApi.scheduled_query_rules_delete ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ScheduledQueryRulesApi.scheduled_query_rules_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ScheduledQueryRulesApi.scheduled_query_rules_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'rule_name' is set
      if @api_client.config.client_side_validation && rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_delete"
      end
      pattern = Regexp.new(/^[^#<>%&:\?\/{}*]{1,260}$/)
      if @api_client.config.client_side_validation && rule_name !~ pattern
        fail ArgumentError, "invalid value for 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ScheduledQueryRulesApi.scheduled_query_rules_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ScheduledQueryRulesApi.scheduled_query_rules_delete, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules/{ruleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ruleName}', CGI.escape(rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ScheduledQueryRulesApi.scheduled_query_rules_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduledQueryRulesApi#scheduled_query_rules_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an scheduled query rule definition.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [ScheduledQueryRuleResource]
    def scheduled_query_rules_get(subscription_id, resource_group_name, rule_name, api_version, opts = {})
      data, _status_code, _headers = scheduled_query_rules_get_with_http_info(subscription_id, resource_group_name, rule_name, api_version, opts)
      data
    end

    # Retrieve an scheduled query rule definition.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduledQueryRuleResource, Integer, Hash)>] ScheduledQueryRuleResource data, response status code and response headers
    def scheduled_query_rules_get_with_http_info(subscription_id, resource_group_name, rule_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduledQueryRulesApi.scheduled_query_rules_get ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ScheduledQueryRulesApi.scheduled_query_rules_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ScheduledQueryRulesApi.scheduled_query_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'rule_name' is set
      if @api_client.config.client_side_validation && rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_get"
      end
      pattern = Regexp.new(/^[^#<>%&:\?\/{}*]{1,260}$/)
      if @api_client.config.client_side_validation && rule_name !~ pattern
        fail ArgumentError, "invalid value for 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ScheduledQueryRulesApi.scheduled_query_rules_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ScheduledQueryRulesApi.scheduled_query_rules_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules/{ruleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ruleName}', CGI.escape(rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduledQueryRuleResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ScheduledQueryRulesApi.scheduled_query_rules_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduledQueryRulesApi#scheduled_query_rules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve scheduled query rule definitions in a resource group.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [ScheduledQueryRuleResourceCollection]
    def scheduled_query_rules_list_by_resource_group(subscription_id, resource_group_name, api_version, opts = {})
      data, _status_code, _headers = scheduled_query_rules_list_by_resource_group_with_http_info(subscription_id, resource_group_name, api_version, opts)
      data
    end

    # Retrieve scheduled query rule definitions in a resource group.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduledQueryRuleResourceCollection, Integer, Hash)>] ScheduledQueryRuleResourceCollection data, response status code and response headers
    def scheduled_query_rules_list_by_resource_group_with_http_info(subscription_id, resource_group_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduledQueryRuleResourceCollection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ScheduledQueryRulesApi.scheduled_query_rules_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduledQueryRulesApi#scheduled_query_rules_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a scheduled query rule definitions in a subscription.
    # @param subscription_id [String] The ID of the target subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [ScheduledQueryRuleResourceCollection]
    def scheduled_query_rules_list_by_subscription(subscription_id, api_version, opts = {})
      data, _status_code, _headers = scheduled_query_rules_list_by_subscription_with_http_info(subscription_id, api_version, opts)
      data
    end

    # Retrieve a scheduled query rule definitions in a subscription.
    # @param subscription_id [String] The ID of the target subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduledQueryRuleResourceCollection, Integer, Hash)>] ScheduledQueryRuleResourceCollection data, response status code and response headers
    def scheduled_query_rules_list_by_subscription_with_http_info(subscription_id, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduledQueryRulesApi.scheduled_query_rules_list_by_subscription ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_subscription"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ScheduledQueryRulesApi.scheduled_query_rules_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Insights/scheduledQueryRules'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduledQueryRuleResourceCollection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ScheduledQueryRulesApi.scheduled_query_rules_list_by_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduledQueryRulesApi#scheduled_query_rules_list_by_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a scheduled query rule.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [ScheduledQueryRuleResourcePatch] The parameters of the rule to update.
    # @param [Hash] opts the optional parameters
    # @return [ScheduledQueryRuleResource]
    def scheduled_query_rules_update(subscription_id, resource_group_name, rule_name, api_version, parameters, opts = {})
      data, _status_code, _headers = scheduled_query_rules_update_with_http_info(subscription_id, resource_group_name, rule_name, api_version, parameters, opts)
      data
    end

    # Update a scheduled query rule.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param rule_name [String] The name of the rule.
    # @param api_version [String] The API version to use for this operation.
    # @param parameters [ScheduledQueryRuleResourcePatch] The parameters of the rule to update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduledQueryRuleResource, Integer, Hash)>] ScheduledQueryRuleResource data, response status code and response headers
    def scheduled_query_rules_update_with_http_info(subscription_id, resource_group_name, rule_name, api_version, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScheduledQueryRulesApi.scheduled_query_rules_update ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ScheduledQueryRulesApi.scheduled_query_rules_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ScheduledQueryRulesApi.scheduled_query_rules_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ScheduledQueryRulesApi.scheduled_query_rules_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'rule_name' is set
      if @api_client.config.client_side_validation && rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_update"
      end
      pattern = Regexp.new(/^[^#<>%&:\?\/{}*]{1,260}$/)
      if @api_client.config.client_side_validation && rule_name !~ pattern
        fail ArgumentError, "invalid value for 'rule_name' when calling ScheduledQueryRulesApi.scheduled_query_rules_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ScheduledQueryRulesApi.scheduled_query_rules_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ScheduledQueryRulesApi.scheduled_query_rules_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ScheduledQueryRulesApi.scheduled_query_rules_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/scheduledQueryRules/{ruleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{ruleName}', CGI.escape(rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduledQueryRuleResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ScheduledQueryRulesApi.scheduled_query_rules_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScheduledQueryRulesApi#scheduled_query_rules_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end