=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class BlobAccessPointConfigurationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates a Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param resource [BlobAccessPointConfiguration] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [BlobAccessPointConfiguration]
    def blob_access_point_configurations_create(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, resource, opts = {})
      data, _status_code, _headers = blob_access_point_configurations_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, resource, opts)
      data
    end

    # Creates or updates a Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param resource [BlobAccessPointConfiguration] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobAccessPointConfiguration, Integer, Hash)>] BlobAccessPointConfiguration data, response status code and response headers
    def blob_access_point_configurations_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobAccessPointConfigurationsApi.blob_access_point_configurations_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'blob_access_point_configuration_name' is set
      if @api_client.config.client_side_validation && blob_access_point_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && blob_access_point_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource' is set
      if @api_client.config.client_side_validation && resource.nil?
        fail ArgumentError, "Missing the required parameter 'resource' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{blobAccessPointConfigurationName}', CGI.escape(blob_access_point_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobAccessPointConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobAccessPointConfigurationsApi.blob_access_point_configurations_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobAccessPointConfigurationsApi#blob_access_point_configurations_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def blob_access_point_configurations_delete(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, opts = {})
      blob_access_point_configurations_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, opts)
      nil
    end

    # Delete a Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def blob_access_point_configurations_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'blob_access_point_configuration_name' is set
      if @api_client.config.client_side_validation && blob_access_point_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && blob_access_point_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{blobAccessPointConfigurationName}', CGI.escape(blob_access_point_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobAccessPointConfigurationsApi.blob_access_point_configurations_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobAccessPointConfigurationsApi#blob_access_point_configurations_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specified Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param [Hash] opts the optional parameters
    # @return [BlobAccessPointConfiguration]
    def blob_access_point_configurations_get(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, opts = {})
      data, _status_code, _headers = blob_access_point_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, opts)
      data
    end

    # Get the specified Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobAccessPointConfiguration, Integer, Hash)>] BlobAccessPointConfiguration data, response status code and response headers
    def blob_access_point_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobAccessPointConfigurationsApi.blob_access_point_configurations_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'blob_access_point_configuration_name' is set
      if @api_client.config.client_side_validation && blob_access_point_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && blob_access_point_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{blobAccessPointConfigurationName}', CGI.escape(blob_access_point_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobAccessPointConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobAccessPointConfigurationsApi.blob_access_point_configurations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobAccessPointConfigurationsApi#blob_access_point_configurations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all Blob Access Point configurations in a Storage Account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [BlobAccessPointConfigurationListResult]
    def blob_access_point_configurations_list_by_storage_account(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = blob_access_point_configurations_list_by_storage_account_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # List all Blob Access Point configurations in a Storage Account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobAccessPointConfigurationListResult, Integer, Hash)>] BlobAccessPointConfigurationListResult data, response status code and response headers
    def blob_access_point_configurations_list_by_storage_account_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobAccessPointConfigurations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobAccessPointConfigurationListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobAccessPointConfigurationsApi.blob_access_point_configurations_list_by_storage_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobAccessPointConfigurationsApi#blob_access_point_configurations_list_by_storage_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test the connection configured on an existing Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param body [BlobAccessPointConnectionTestRequest] The content of the action request
    # @param [Hash] opts the optional parameters
    # @return [BlobAccessPointConnectionTestResponse]
    def blob_access_point_configurations_test_existing_connection(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, body, opts = {})
      data, _status_code, _headers = blob_access_point_configurations_test_existing_connection_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, body, opts)
      data
    end

    # Test the connection configured on an existing Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param body [BlobAccessPointConnectionTestRequest] The content of the action request
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobAccessPointConnectionTestResponse, Integer, Hash)>] BlobAccessPointConnectionTestResponse data, response status code and response headers
    def blob_access_point_configurations_test_existing_connection_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'blob_access_point_configuration_name' is set
      if @api_client.config.client_side_validation && blob_access_point_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && blob_access_point_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}/testExistingConnection'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{blobAccessPointConfigurationName}', CGI.escape(blob_access_point_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobAccessPointConnectionTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobAccessPointConfigurationsApi.blob_access_point_configurations_test_existing_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobAccessPointConfigurationsApi#blob_access_point_configurations_test_existing_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param properties [BlobAccessPointConfigurationUpdate] The resource properties to be updated.
    # @param [Hash] opts the optional parameters
    # @return [BlobAccessPointConfiguration]
    def blob_access_point_configurations_update(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, properties, opts = {})
      data, _status_code, _headers = blob_access_point_configurations_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, properties, opts)
      data
    end

    # Update a Blob Access Point configuration.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param blob_access_point_configuration_name [String] The name of the Blob Access Point configuration.
    # @param properties [BlobAccessPointConfigurationUpdate] The resource properties to be updated.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobAccessPointConfiguration, Integer, Hash)>] BlobAccessPointConfiguration data, response status code and response headers
    def blob_access_point_configurations_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, blob_access_point_configuration_name, properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobAccessPointConfigurationsApi.blob_access_point_configurations_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'blob_access_point_configuration_name' is set
      if @api_client.config.client_side_validation && blob_access_point_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && blob_access_point_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'blob_access_point_configuration_name' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'properties' is set
      if @api_client.config.client_side_validation && properties.nil?
        fail ArgumentError, "Missing the required parameter 'properties' when calling BlobAccessPointConfigurationsApi.blob_access_point_configurations_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{blobAccessPointConfigurationName}', CGI.escape(blob_access_point_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(properties)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobAccessPointConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobAccessPointConfigurationsApi.blob_access_point_configurations_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobAccessPointConfigurationsApi#blob_access_point_configurations_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end