=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class ContextCacheContainersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update a container in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param resource [ContextCacheContainer] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [ContextCacheContainer]
    def context_cache_containers_create_or_update(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, resource, opts = {})
      data, _status_code, _headers = context_cache_containers_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, resource, opts)
      data
    end

    # Create or update a container in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param resource [ContextCacheContainer] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextCacheContainer, Integer, Hash)>] ContextCacheContainer data, response status code and response headers
    def context_cache_containers_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextCacheContainersApi.context_cache_containers_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ContextCacheContainersApi.context_cache_containers_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ContextCacheContainersApi.context_cache_containers_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ContextCacheContainersApi.context_cache_containers_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ContextCacheContainersApi.context_cache_containers_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'context_cache_name' is set
      if @api_client.config.client_side_validation && context_cache_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_create_or_update"
      end
      pattern = Regexp.new(/^[a-z0-9][a-z0-9-]{1,22}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'context_cache_container_name' is set
      if @api_client.config.client_side_validation && context_cache_container_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_create_or_update"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_container_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource' is set
      if @api_client.config.client_side_validation && resource.nil?
        fail ArgumentError, "Missing the required parameter 'resource' when calling ContextCacheContainersApi.context_cache_containers_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/contextCaches/{contextCacheName}/contextCacheContainers/{contextCacheContainerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{contextCacheName}', CGI.escape(context_cache_name.to_s)).sub('{contextCacheContainerName}', CGI.escape(context_cache_container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource)

      # return_type
      return_type = opts[:debug_return_type] || 'ContextCacheContainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ContextCacheContainersApi.context_cache_containers_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextCacheContainersApi#context_cache_containers_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a container from a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def context_cache_containers_delete(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, opts = {})
      context_cache_containers_delete_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, opts)
      nil
    end

    # Delete a container from a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def context_cache_containers_delete_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextCacheContainersApi.context_cache_containers_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ContextCacheContainersApi.context_cache_containers_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ContextCacheContainersApi.context_cache_containers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ContextCacheContainersApi.context_cache_containers_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ContextCacheContainersApi.context_cache_containers_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'context_cache_name' is set
      if @api_client.config.client_side_validation && context_cache_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_delete"
      end
      pattern = Regexp.new(/^[a-z0-9][a-z0-9-]{1,22}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'context_cache_container_name' is set
      if @api_client.config.client_side_validation && context_cache_container_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_delete"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_container_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/contextCaches/{contextCacheName}/contextCacheContainers/{contextCacheContainerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{contextCacheName}', CGI.escape(context_cache_name.to_s)).sub('{contextCacheContainerName}', CGI.escape(context_cache_container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ContextCacheContainersApi.context_cache_containers_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextCacheContainersApi#context_cache_containers_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a container in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param [Hash] opts the optional parameters
    # @return [ContextCacheContainer]
    def context_cache_containers_get(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, opts = {})
      data, _status_code, _headers = context_cache_containers_get_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, opts)
      data
    end

    # Get a container in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextCacheContainer, Integer, Hash)>] ContextCacheContainer data, response status code and response headers
    def context_cache_containers_get_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextCacheContainersApi.context_cache_containers_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ContextCacheContainersApi.context_cache_containers_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ContextCacheContainersApi.context_cache_containers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ContextCacheContainersApi.context_cache_containers_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ContextCacheContainersApi.context_cache_containers_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'context_cache_name' is set
      if @api_client.config.client_side_validation && context_cache_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_get"
      end
      pattern = Regexp.new(/^[a-z0-9][a-z0-9-]{1,22}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'context_cache_container_name' is set
      if @api_client.config.client_side_validation && context_cache_container_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_get"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_container_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/contextCaches/{contextCacheName}/contextCacheContainers/{contextCacheContainerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{contextCacheName}', CGI.escape(context_cache_name.to_s)).sub('{contextCacheContainerName}', CGI.escape(context_cache_container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContextCacheContainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ContextCacheContainersApi.context_cache_containers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextCacheContainersApi#context_cache_containers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all containers in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param [Hash] opts the optional parameters
    # @return [ContextCacheContainerListResult]
    def context_cache_containers_list_by_context_cache(api_version, subscription_id, resource_group_name, context_cache_name, opts = {})
      data, _status_code, _headers = context_cache_containers_list_by_context_cache_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, opts)
      data
    end

    # List all containers in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextCacheContainerListResult, Integer, Hash)>] ContextCacheContainerListResult data, response status code and response headers
    def context_cache_containers_list_by_context_cache_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextCacheContainersApi.context_cache_containers_list_by_context_cache ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'context_cache_name' is set
      if @api_client.config.client_side_validation && context_cache_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache"
      end
      pattern = Regexp.new(/^[a-z0-9][a-z0-9-]{1,22}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_list_by_context_cache, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/contextCaches/{contextCacheName}/contextCacheContainers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{contextCacheName}', CGI.escape(context_cache_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContextCacheContainerListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ContextCacheContainersApi.context_cache_containers_list_by_context_cache",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextCacheContainersApi#context_cache_containers_list_by_context_cache\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a container in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param properties [ContextCacheContainerUpdate] The resource properties to be updated.
    # @param [Hash] opts the optional parameters
    # @return [ContextCacheContainer]
    def context_cache_containers_update(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, properties, opts = {})
      data, _status_code, _headers = context_cache_containers_update_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, properties, opts)
      data
    end

    # Update a container in a Context Cache.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param context_cache_name [String] The name of the context cache
    # @param context_cache_container_name [String] The name of the context cache container
    # @param properties [ContextCacheContainerUpdate] The resource properties to be updated.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContextCacheContainer, Integer, Hash)>] ContextCacheContainer data, response status code and response headers
    def context_cache_containers_update_with_http_info(api_version, subscription_id, resource_group_name, context_cache_name, context_cache_container_name, properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContextCacheContainersApi.context_cache_containers_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ContextCacheContainersApi.context_cache_containers_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ContextCacheContainersApi.context_cache_containers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ContextCacheContainersApi.context_cache_containers_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ContextCacheContainersApi.context_cache_containers_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ContextCacheContainersApi.context_cache_containers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'context_cache_name' is set
      if @api_client.config.client_side_validation && context_cache_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_update"
      end
      pattern = Regexp.new(/^[a-z0-9][a-z0-9-]{1,22}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_name' when calling ContextCacheContainersApi.context_cache_containers_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'context_cache_container_name' is set
      if @api_client.config.client_side_validation && context_cache_container_name.nil?
        fail ArgumentError, "Missing the required parameter 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_update"
      end
      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && context_cache_container_name !~ pattern
        fail ArgumentError, "invalid value for 'context_cache_container_name' when calling ContextCacheContainersApi.context_cache_containers_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'properties' is set
      if @api_client.config.client_side_validation && properties.nil?
        fail ArgumentError, "Missing the required parameter 'properties' when calling ContextCacheContainersApi.context_cache_containers_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/contextCaches/{contextCacheName}/contextCacheContainers/{contextCacheContainerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{contextCacheName}', CGI.escape(context_cache_name.to_s)).sub('{contextCacheContainerName}', CGI.escape(context_cache_container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(properties)

      # return_type
      return_type = opts[:debug_return_type] || 'ContextCacheContainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ContextCacheContainersApi.context_cache_containers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContextCacheContainersApi#context_cache_containers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end