=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class EncryptionScopesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the properties for the specified encryption scope.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param encryption_scope_name [String] The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [EncryptionScope]
    def encryption_scopes_get(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, opts = {})
      data, _status_code, _headers = encryption_scopes_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, opts)
      data
    end

    # Returns the properties for the specified encryption scope.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param encryption_scope_name [String] The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EncryptionScope, Integer, Hash)>] EncryptionScope data, response status code and response headers
    def encryption_scopes_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionScopesApi.encryption_scopes_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling EncryptionScopesApi.encryption_scopes_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling EncryptionScopesApi.encryption_scopes_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling EncryptionScopesApi.encryption_scopes_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling EncryptionScopesApi.encryption_scopes_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling EncryptionScopesApi.encryption_scopes_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'encryption_scope_name' is set
      if @api_client.config.client_side_validation && encryption_scope_name.nil?
        fail ArgumentError, "Missing the required parameter 'encryption_scope_name' when calling EncryptionScopesApi.encryption_scopes_get"
      end
      if @api_client.config.client_side_validation && encryption_scope_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "encryption_scope_name" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && encryption_scope_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "encryption_scope_name" when calling EncryptionScopesApi.encryption_scopes_get, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{encryptionScopeName}', CGI.escape(encryption_scope_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EncryptionScope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"EncryptionScopesApi.encryption_scopes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionScopesApi#encryption_scopes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all the encryption scopes available under the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxpagesize Optional, specifies the maximum number of encryption scopes that will be included in the list response.
    # @option opts [String] :filter Optional. When specified, only encryption scope names starting with the filter will be listed.
    # @option opts [String] :include Optional, when specified, will list encryption scopes with the specific state. Defaults to All
    # @return [EncryptionScopeListResult]
    def encryption_scopes_list(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = encryption_scopes_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # Lists all the encryption scopes available under the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxpagesize Optional, specifies the maximum number of encryption scopes that will be included in the list response.
    # @option opts [String] :filter Optional. When specified, only encryption scope names starting with the filter will be listed.
    # @option opts [String] :include Optional, when specified, will list encryption scopes with the specific state. Defaults to All
    # @return [Array<(EncryptionScopeListResult, Integer, Hash)>] EncryptionScopeListResult data, response status code and response headers
    def encryption_scopes_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionScopesApi.encryption_scopes_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling EncryptionScopesApi.encryption_scopes_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling EncryptionScopesApi.encryption_scopes_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling EncryptionScopesApi.encryption_scopes_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling EncryptionScopesApi.encryption_scopes_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling EncryptionScopesApi.encryption_scopes_list"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_list, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_list, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling EncryptionScopesApi.encryption_scopes_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'maxpagesize'].nil? && opts[:'maxpagesize'] > 5000
        fail ArgumentError, 'invalid value for "opts[:"maxpagesize"]" when calling EncryptionScopesApi.encryption_scopes_list, must be smaller than or equal to 5000.'
      end

      if @api_client.config.client_side_validation && !opts[:'maxpagesize'].nil? && opts[:'maxpagesize'] < 1
        fail ArgumentError, 'invalid value for "opts[:"maxpagesize"]" when calling EncryptionScopesApi.encryption_scopes_list, must be greater than or equal to 1.'
      end

      allowable_values = ["All", "Enabled", "Disabled"]
      if @api_client.config.client_side_validation && opts[:'include'] && !allowable_values.include?(opts[:'include'])
        fail ArgumentError, "invalid value for \"include\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$maxpagesize'] = opts[:'maxpagesize'] if !opts[:'maxpagesize'].nil?
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EncryptionScopeListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"EncryptionScopesApi.encryption_scopes_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionScopesApi#encryption_scopes_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update encryption scope properties as specified in the request body. Update fails if the specified encryption scope does not already exist.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param encryption_scope_name [String] The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param encryption_scope [EncryptionScope] Encryption scope properties to be used for the update.
    # @param [Hash] opts the optional parameters
    # @return [EncryptionScope]
    def encryption_scopes_patch(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, encryption_scope, opts = {})
      data, _status_code, _headers = encryption_scopes_patch_with_http_info(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, encryption_scope, opts)
      data
    end

    # Update encryption scope properties as specified in the request body. Update fails if the specified encryption scope does not already exist.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param encryption_scope_name [String] The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param encryption_scope [EncryptionScope] Encryption scope properties to be used for the update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EncryptionScope, Integer, Hash)>] EncryptionScope data, response status code and response headers
    def encryption_scopes_patch_with_http_info(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, encryption_scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionScopesApi.encryption_scopes_patch ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling EncryptionScopesApi.encryption_scopes_patch"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling EncryptionScopesApi.encryption_scopes_patch"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling EncryptionScopesApi.encryption_scopes_patch"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling EncryptionScopesApi.encryption_scopes_patch"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling EncryptionScopesApi.encryption_scopes_patch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'encryption_scope_name' is set
      if @api_client.config.client_side_validation && encryption_scope_name.nil?
        fail ArgumentError, "Missing the required parameter 'encryption_scope_name' when calling EncryptionScopesApi.encryption_scopes_patch"
      end
      if @api_client.config.client_side_validation && encryption_scope_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "encryption_scope_name" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && encryption_scope_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "encryption_scope_name" when calling EncryptionScopesApi.encryption_scopes_patch, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'encryption_scope' is set
      if @api_client.config.client_side_validation && encryption_scope.nil?
        fail ArgumentError, "Missing the required parameter 'encryption_scope' when calling EncryptionScopesApi.encryption_scopes_patch"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{encryptionScopeName}', CGI.escape(encryption_scope_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(encryption_scope)

      # return_type
      return_type = opts[:debug_return_type] || 'EncryptionScope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"EncryptionScopesApi.encryption_scopes_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionScopesApi#encryption_scopes_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Synchronously creates or updates an encryption scope under the specified storage account. If an encryption scope is already created and a subsequent request is issued with different properties, the encryption scope properties will be updated per the specified request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param encryption_scope_name [String] The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param encryption_scope [EncryptionScope] Encryption scope properties to be used for the create or update.
    # @param [Hash] opts the optional parameters
    # @return [EncryptionScope]
    def encryption_scopes_put(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, encryption_scope, opts = {})
      data, _status_code, _headers = encryption_scopes_put_with_http_info(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, encryption_scope, opts)
      data
    end

    # Synchronously creates or updates an encryption scope under the specified storage account. If an encryption scope is already created and a subsequent request is issued with different properties, the encryption scope properties will be updated per the specified request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param encryption_scope_name [String] The name of the encryption scope within the specified storage account. Encryption scope names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param encryption_scope [EncryptionScope] Encryption scope properties to be used for the create or update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EncryptionScope, Integer, Hash)>] EncryptionScope data, response status code and response headers
    def encryption_scopes_put_with_http_info(api_version, subscription_id, resource_group_name, account_name, encryption_scope_name, encryption_scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EncryptionScopesApi.encryption_scopes_put ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling EncryptionScopesApi.encryption_scopes_put"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling EncryptionScopesApi.encryption_scopes_put"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling EncryptionScopesApi.encryption_scopes_put"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling EncryptionScopesApi.encryption_scopes_put"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling EncryptionScopesApi.encryption_scopes_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'encryption_scope_name' is set
      if @api_client.config.client_side_validation && encryption_scope_name.nil?
        fail ArgumentError, "Missing the required parameter 'encryption_scope_name' when calling EncryptionScopesApi.encryption_scopes_put"
      end
      if @api_client.config.client_side_validation && encryption_scope_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "encryption_scope_name" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && encryption_scope_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "encryption_scope_name" when calling EncryptionScopesApi.encryption_scopes_put, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'encryption_scope' is set
      if @api_client.config.client_side_validation && encryption_scope.nil?
        fail ArgumentError, "Missing the required parameter 'encryption_scope' when calling EncryptionScopesApi.encryption_scopes_put"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{encryptionScopeName}', CGI.escape(encryption_scope_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(encryption_scope)

      # return_type
      return_type = opts[:debug_return_type] || 'EncryptionScope'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"EncryptionScopesApi.encryption_scopes_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EncryptionScopesApi#encryption_scopes_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end