=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class LocalUserOperationGroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update the properties of a local user associated with the storage account. Properties for NFSv3 enablement and extended groups cannot be set with other properties.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param properties [LocalUser] The local user associated with a storage account.
    # @param [Hash] opts the optional parameters
    # @return [LocalUser]
    def local_users_create_or_update(api_version, subscription_id, resource_group_name, account_name, username, properties, opts = {})
      data, _status_code, _headers = local_users_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, properties, opts)
      data
    end

    # Create or update the properties of a local user associated with the storage account. Properties for NFSv3 enablement and extended groups cannot be set with other properties.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param properties [LocalUser] The local user associated with a storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocalUser, Integer, Hash)>] LocalUser data, response status code and response headers
    def local_users_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalUserOperationGroupApi.local_users_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocalUserOperationGroupApi.local_users_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocalUserOperationGroupApi.local_users_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling LocalUserOperationGroupApi.local_users_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling LocalUserOperationGroupApi.local_users_create_or_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling LocalUserOperationGroupApi.local_users_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LocalUserOperationGroupApi.local_users_create_or_update"
      end
      if @api_client.config.client_side_validation && username.to_s.length > 64
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && username.to_s.length < 3
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_create_or_update, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'properties' is set
      if @api_client.config.client_side_validation && properties.nil?
        fail ArgumentError, "Missing the required parameter 'properties' when calling LocalUserOperationGroupApi.local_users_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{username}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(properties)

      # return_type
      return_type = opts[:debug_return_type] || 'LocalUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocalUserOperationGroupApi.local_users_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalUserOperationGroupApi#local_users_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the local user associated with the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def local_users_delete(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      local_users_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts)
      nil
    end

    # Deletes the local user associated with the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def local_users_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalUserOperationGroupApi.local_users_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocalUserOperationGroupApi.local_users_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocalUserOperationGroupApi.local_users_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling LocalUserOperationGroupApi.local_users_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling LocalUserOperationGroupApi.local_users_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling LocalUserOperationGroupApi.local_users_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LocalUserOperationGroupApi.local_users_delete"
      end
      if @api_client.config.client_side_validation && username.to_s.length > 64
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && username.to_s.length < 3
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_delete, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{username}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocalUserOperationGroupApi.local_users_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalUserOperationGroupApi#local_users_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the local user of the storage account by username.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [LocalUser]
    def local_users_get(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      data, _status_code, _headers = local_users_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts)
      data
    end

    # Get the local user of the storage account by username.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocalUser, Integer, Hash)>] LocalUser data, response status code and response headers
    def local_users_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalUserOperationGroupApi.local_users_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocalUserOperationGroupApi.local_users_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocalUserOperationGroupApi.local_users_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocalUserOperationGroupApi.local_users_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling LocalUserOperationGroupApi.local_users_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling LocalUserOperationGroupApi.local_users_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling LocalUserOperationGroupApi.local_users_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LocalUserOperationGroupApi.local_users_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length > 64
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_get, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && username.to_s.length < 3
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_get, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{username}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocalUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocalUserOperationGroupApi.local_users_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalUserOperationGroupApi#local_users_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the local users associated with the storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxpagesize Optional, specifies the maximum number of local users that will be included in the list response.
    # @option opts [String] :filter Optional. When specified, only local user names starting with the filter will be listed.
    # @option opts [String] :include Optional, when specified, will list local users enabled for the specific protocol. Lists all users by default.
    # @return [LocalUsers]
    def local_users_list(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = local_users_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # List the local users associated with the storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxpagesize Optional, specifies the maximum number of local users that will be included in the list response.
    # @option opts [String] :filter Optional. When specified, only local user names starting with the filter will be listed.
    # @option opts [String] :include Optional, when specified, will list local users enabled for the specific protocol. Lists all users by default.
    # @return [Array<(LocalUsers, Integer, Hash)>] LocalUsers data, response status code and response headers
    def local_users_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalUserOperationGroupApi.local_users_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocalUserOperationGroupApi.local_users_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocalUserOperationGroupApi.local_users_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocalUserOperationGroupApi.local_users_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling LocalUserOperationGroupApi.local_users_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling LocalUserOperationGroupApi.local_users_list"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_list, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_list, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling LocalUserOperationGroupApi.local_users_list, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'maxpagesize'].nil? && opts[:'maxpagesize'] > 5000
        fail ArgumentError, 'invalid value for "opts[:"maxpagesize"]" when calling LocalUserOperationGroupApi.local_users_list, must be smaller than or equal to 5000.'
      end

      if @api_client.config.client_side_validation && !opts[:'maxpagesize'].nil? && opts[:'maxpagesize'] < 1
        fail ArgumentError, 'invalid value for "opts[:"maxpagesize"]" when calling LocalUserOperationGroupApi.local_users_list, must be greater than or equal to 1.'
      end

      allowable_values = ["nfsv3"]
      if @api_client.config.client_side_validation && opts[:'include'] && !allowable_values.include?(opts[:'include'])
        fail ArgumentError, "invalid value for \"include\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$maxpagesize'] = opts[:'maxpagesize'] if !opts[:'maxpagesize'].nil?
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocalUsers'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocalUserOperationGroupApi.local_users_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalUserOperationGroupApi#local_users_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SSH authorized keys and shared key of the local user.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [LocalUserKeys]
    def local_users_list_keys(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      data, _status_code, _headers = local_users_list_keys_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts)
      data
    end

    # List SSH authorized keys and shared key of the local user.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocalUserKeys, Integer, Hash)>] LocalUserKeys data, response status code and response headers
    def local_users_list_keys_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalUserOperationGroupApi.local_users_list_keys ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocalUserOperationGroupApi.local_users_list_keys"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocalUserOperationGroupApi.local_users_list_keys"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling LocalUserOperationGroupApi.local_users_list_keys"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling LocalUserOperationGroupApi.local_users_list_keys"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling LocalUserOperationGroupApi.local_users_list_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LocalUserOperationGroupApi.local_users_list_keys"
      end
      if @api_client.config.client_side_validation && username.to_s.length > 64
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && username.to_s.length < 3
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_list_keys, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}/listKeys'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{username}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocalUserKeys'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocalUserOperationGroupApi.local_users_list_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalUserOperationGroupApi#local_users_list_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Regenerate the local user SSH password.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [LocalUserRegeneratePasswordResult]
    def local_users_regenerate_password(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      data, _status_code, _headers = local_users_regenerate_password_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts)
      data
    end

    # Regenerate the local user SSH password.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param username [String] The name of local user. The username must contain lowercase letters and numbers only. It must be unique only within the storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocalUserRegeneratePasswordResult, Integer, Hash)>] LocalUserRegeneratePasswordResult data, response status code and response headers
    def local_users_regenerate_password_with_http_info(api_version, subscription_id, resource_group_name, account_name, username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalUserOperationGroupApi.local_users_regenerate_password ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocalUserOperationGroupApi.local_users_regenerate_password"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocalUserOperationGroupApi.local_users_regenerate_password"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling LocalUserOperationGroupApi.local_users_regenerate_password"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling LocalUserOperationGroupApi.local_users_regenerate_password"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling LocalUserOperationGroupApi.local_users_regenerate_password, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LocalUserOperationGroupApi.local_users_regenerate_password"
      end
      if @api_client.config.client_side_validation && username.to_s.length > 64
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && username.to_s.length < 3
        fail ArgumentError, 'invalid value for "username" when calling LocalUserOperationGroupApi.local_users_regenerate_password, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}/regeneratePassword'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{username}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocalUserRegeneratePasswordResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocalUserOperationGroupApi.local_users_regenerate_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalUserOperationGroupApi#local_users_regenerate_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end