=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class StorageAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the private link resources that need to be created for a storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [PrivateLinkResourceListResult]
    def private_link_resources_list_by_storage_account(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = private_link_resources_list_by_storage_account_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # Gets the private link resources that need to be created for a storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateLinkResourceListResult, Integer, Hash)>] PrivateLinkResourceListResult data, response status code and response headers
    def private_link_resources_list_by_storage_account_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.private_link_resources_list_by_storage_account ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.private_link_resources_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.private_link_resources_list_by_storage_account, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.private_link_resources_list_by_storage_account"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.private_link_resources_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.private_link_resources_list_by_storage_account, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.private_link_resources_list_by_storage_account, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.private_link_resources_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.private_link_resources_list_by_storage_account, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.private_link_resources_list_by_storage_account, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.private_link_resources_list_by_storage_account, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateLinkResources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkResourceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.private_link_resources_list_by_storage_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#private_link_resources_list_by_storage_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Abort live Migration of storage account to enable Hns
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def storage_accounts_abort_hierarchical_namespace_migration(api_version, subscription_id, resource_group_name, account_name, opts = {})
      storage_accounts_abort_hierarchical_namespace_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      nil
    end

    # Abort live Migration of storage account to enable Hns
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def storage_accounts_abort_hierarchical_namespace_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/aborthnsonmigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_abort_hierarchical_namespace_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_abort_hierarchical_namespace_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Checks that the storage account name is valid and is not already in use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param account_name [StorageAccountCheckNameAvailabilityParameters] The request body
    # @param [Hash] opts the optional parameters
    # @return [CheckNameAvailabilityResult]
    def storage_accounts_check_name_availability(api_version, subscription_id, account_name, opts = {})
      data, _status_code, _headers = storage_accounts_check_name_availability_with_http_info(api_version, subscription_id, account_name, opts)
      data
    end

    # Checks that the storage account name is valid and is not already in use.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param account_name [StorageAccountCheckNameAvailabilityParameters] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckNameAvailabilityResult, Integer, Hash)>] CheckNameAvailabilityResult data, response status code and response headers
    def storage_accounts_check_name_availability_with_http_info(api_version, subscription_id, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_check_name_availability ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_check_name_availability"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_check_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_check_name_availability"
      end
      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_check_name_availability"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_name)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckNameAvailabilityResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_check_name_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_check_name_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [StorageAccountCreateParameters] The parameters to provide for the created account.
    # @param [Hash] opts the optional parameters
    # @return [StorageAccount]
    def storage_accounts_create(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      data, _status_code, _headers = storage_accounts_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts)
      data
    end

    # Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [StorageAccountCreateParameters] The parameters to provide for the created account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageAccount, Integer, Hash)>] StorageAccount data, response status code and response headers
    def storage_accounts_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_create"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_create, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling StorageAccountsApi.storage_accounts_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Account Migration request can be triggered for a storage account to change its redundancy level. The migration updates the non-zonal redundant storage account to a zonal redundant account or vice-versa in order to have better reliability and availability. Zone-redundant storage (ZRS) replicates your storage account synchronously across three Azure availability zones in the primary region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [StorageAccountMigration] The request parameters required to perform storage account migration.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def storage_accounts_customer_initiated_migration(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      storage_accounts_customer_initiated_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts)
      nil
    end

    # Account Migration request can be triggered for a storage account to change its redundancy level. The migration updates the non-zonal redundant storage account to a zonal redundant account or vice-versa in order to have better reliability and availability. Zone-redundant storage (ZRS) replicates your storage account synchronously across three Azure availability zones in the primary region.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [StorageAccountMigration] The request parameters required to perform storage account migration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def storage_accounts_customer_initiated_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_customer_initiated_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_customer_initiated_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_customer_initiated_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_customer_initiated_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_customer_initiated_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_customer_initiated_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_customer_initiated_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_customer_initiated_migration"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_customer_initiated_migration, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_customer_initiated_migration, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_customer_initiated_migration, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling StorageAccountsApi.storage_accounts_customer_initiated_migration"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/startAccountMigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_customer_initiated_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_customer_initiated_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a storage account in Microsoft Azure.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def storage_accounts_delete(api_version, subscription_id, resource_group_name, account_name, opts = {})
      storage_accounts_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      nil
    end

    # Deletes a storage account in Microsoft Azure.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def storage_accounts_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A failover request can be triggered for a storage account in the event a primary endpoint becomes unavailable for any reason. The failover occurs from the storage account's primary cluster to the secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover and the account is converted to LRS. In the case of a Planned Failover, the primary and secondary clusters are swapped after failover and the account remains geo-replicated. Failover should continue to be used in the event of availability issues as Planned failover is only available while the primary and secondary endpoints are available. The primary use case of a Planned Failover is disaster recovery testing drills. This type of failover is invoked by setting FailoverType parameter to 'Planned'. Learn more about the failover options here- https://learn.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :failover_type The parameter is set to &#39;Planned&#39; to indicate whether a Planned failover is requested.
    # @return [nil]
    def storage_accounts_failover(api_version, subscription_id, resource_group_name, account_name, opts = {})
      storage_accounts_failover_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      nil
    end

    # A failover request can be triggered for a storage account in the event a primary endpoint becomes unavailable for any reason. The failover occurs from the storage account&#39;s primary cluster to the secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover and the account is converted to LRS. In the case of a Planned Failover, the primary and secondary clusters are swapped after failover and the account remains geo-replicated. Failover should continue to be used in the event of availability issues as Planned failover is only available while the primary and secondary endpoints are available. The primary use case of a Planned Failover is disaster recovery testing drills. This type of failover is invoked by setting FailoverType parameter to &#39;Planned&#39;. Learn more about the failover options here- https://learn.microsoft.com/azure/storage/common/storage-disaster-recovery-guidance
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :failover_type The parameter is set to &#39;Planned&#39; to indicate whether a Planned failover is requested.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def storage_accounts_failover_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_failover ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_failover"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_failover, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_failover"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_failover"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_failover, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_failover, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_failover"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_failover, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_failover, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_failover, must conform to the pattern #{pattern}."
      end

      allowable_values = ["Planned"]
      if @api_client.config.client_side_validation && opts[:'failover_type'] && !allowable_values.include?(opts[:'failover_type'])
        fail ArgumentError, "invalid value for \"failover_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'failoverType'] = opts[:'failover_type'] if !opts[:'failover_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_failover",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_failover\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand May be used to expand the properties within account&#39;s properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats and blobRestoreStatus.
    # @return [StorageAccount]
    def storage_accounts_get_properties(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = storage_accounts_get_properties_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand May be used to expand the properties within account&#39;s properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats and blobRestoreStatus.
    # @return [Array<(StorageAccount, Integer, Hash)>] StorageAccount data, response status code and response headers
    def storage_accounts_get_properties_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_get_properties ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_get_properties"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_get_properties, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_get_properties"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_get_properties"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_get_properties, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_get_properties, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_get_properties"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_get_properties, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_get_properties, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_get_properties, must conform to the pattern #{pattern}."
      end

      allowable_values = ["geoReplicationStats", "blobRestoreStatus"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_get_properties",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_get_properties\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Live Migration of storage account to enable Hns
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param request_type [String] Required. Hierarchical namespace migration type can either be a hierarchical namespace validation request &#39;HnsOnValidationRequest&#39; or a hydration request &#39;HnsOnHydrationRequest&#39;. The validation request will validate the migration whereas the hydration request will migrate the account.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def storage_accounts_hierarchical_namespace_migration(api_version, subscription_id, resource_group_name, account_name, request_type, opts = {})
      storage_accounts_hierarchical_namespace_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, request_type, opts)
      nil
    end

    # Live Migration of storage account to enable Hns
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param request_type [String] Required. Hierarchical namespace migration type can either be a hierarchical namespace validation request &#39;HnsOnValidationRequest&#39; or a hydration request &#39;HnsOnHydrationRequest&#39;. The validation request will validate the migration whereas the hydration request will migrate the account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def storage_accounts_hierarchical_namespace_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, request_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_hierarchical_namespace_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'request_type' is set
      if @api_client.config.client_side_validation && request_type.nil?
        fail ArgumentError, "Missing the required parameter 'request_type' when calling StorageAccountsApi.storage_accounts_hierarchical_namespace_migration"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/hnsonmigration'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'requestType'] = request_type

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_hierarchical_namespace_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_hierarchical_namespace_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [StorageAccountListResult]
    def storage_accounts_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = storage_accounts_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageAccountListResult, Integer, Hash)>] StorageAccountListResult data, response status code and response headers
    def storage_accounts_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageAccountListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SAS credentials of a storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [AccountSasParameters] The parameters to provide to list SAS credentials for the storage account.
    # @param [Hash] opts the optional parameters
    # @return [ListAccountSasResponse]
    def storage_accounts_list_account_sas(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      data, _status_code, _headers = storage_accounts_list_account_sas_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts)
      data
    end

    # List SAS credentials of a storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [AccountSasParameters] The parameters to provide to list SAS credentials for the storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAccountSasResponse, Integer, Hash)>] ListAccountSasResponse data, response status code and response headers
    def storage_accounts_list_account_sas_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_list_account_sas ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_list_account_sas"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_list_account_sas, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_list_account_sas"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_list_account_sas"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_account_sas, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_account_sas, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_list_account_sas"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_list_account_sas, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_list_account_sas, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_list_account_sas, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling StorageAccountsApi.storage_accounts_list_account_sas"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listAccountSas'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ListAccountSasResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_list_account_sas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_list_account_sas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [StorageAccountListResult]
    def storage_accounts_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = storage_accounts_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageAccountListResult, Integer, Hash)>] StorageAccountListResult data, response status code and response headers
    def storage_accounts_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageAccountListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the access keys or Kerberos keys (if active directory enabled) for the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Specifies type of the key to be listed. Possible value is kerb.
    # @return [StorageAccountListKeysResult]
    def storage_accounts_list_keys(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = storage_accounts_list_keys_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # Lists the access keys or Kerberos keys (if active directory enabled) for the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Specifies type of the key to be listed. Possible value is kerb.
    # @return [Array<(StorageAccountListKeysResult, Integer, Hash)>] StorageAccountListKeysResult data, response status code and response headers
    def storage_accounts_list_keys_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_list_keys ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_list_keys"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_list_keys, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_list_keys"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_list_keys"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_keys, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_keys, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_list_keys"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_list_keys, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_list_keys, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_list_keys, must conform to the pattern #{pattern}."
      end

      allowable_values = ["kerb"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageAccountListKeysResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_list_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_list_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List service SAS credentials of a specific resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [ServiceSasParameters] The parameters to provide to list service SAS credentials.
    # @param [Hash] opts the optional parameters
    # @return [ListServiceSasResponse]
    def storage_accounts_list_service_sas(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      data, _status_code, _headers = storage_accounts_list_service_sas_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts)
      data
    end

    # List service SAS credentials of a specific resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param parameters [ServiceSasParameters] The parameters to provide to list service SAS credentials.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListServiceSasResponse, Integer, Hash)>] ListServiceSasResponse data, response status code and response headers
    def storage_accounts_list_service_sas_with_http_info(api_version, subscription_id, resource_group_name, account_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_list_service_sas ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_list_service_sas"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_list_service_sas, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_list_service_sas"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_list_service_sas"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_service_sas, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_list_service_sas, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountsApi.storage_accounts_list_service_sas"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_list_service_sas, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountsApi.storage_accounts_list_service_sas, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountsApi.storage_accounts_list_service_sas, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling StorageAccountsApi.storage_accounts_list_service_sas"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listServiceSas'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ListServiceSasResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountsApi.storage_accounts_list_service_sas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountsApi#storage_accounts_list_service_sas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Regenerates one of the access keys or Kerberos keys for the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param regenerate_key [StorageAccountRegenerateKeyParameters] Specifies name of the key which should be regenerated -- key1, key2, kerb1, kerb2.
    # @param [Hash] opts the optional parameters
    # @return [StorageAccountListKeysResult]
    def storage_accounts_regenerate_key(api_version, subscription_id, resource_group_name, account_name, regenerate_key, opts = {})
      data, _status_code, _headers = storage_accounts_regenerate_key_with_http_info(api_version, subscription_id, resource_group_name, account_name, regenerate_key, opts)
      data
    end

    # Regenerates one of the access keys or Kerberos keys for the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param regenerate_key [StorageAccountRegenerateKeyParameters] Specifies name of the key which should be regenerated -- key1, key2, kerb1, kerb2.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageAccountListKeysResult, Integer, Hash)>] StorageAccountListKeysResult data, response status code and response headers
    def storage_accounts_regenerate_key_with_http_info(api_version, subscription_id, resource_group_name, account_name, regenerate_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountsApi.storage_accounts_regenerate_key ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountsApi.storage_accounts_regenerate_key"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountsApi.storage_accounts_regenerate_key, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountsApi.storage_accounts_regenerate_key"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountsApi.storage_accounts_regenerate_key"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountsApi.storage_accounts_regenerate_key, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
[...]
