=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class StorageQueuesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new queue with the specified queue name, under the specified account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param queue [StorageQueue] Queue properties and metadata to be created with
    # @param [Hash] opts the optional parameters
    # @return [StorageQueue]
    def queue_create(api_version, subscription_id, resource_group_name, account_name, queue_name, queue, opts = {})
      data, _status_code, _headers = queue_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, queue, opts)
      data
    end

    # Creates a new queue with the specified queue name, under the specified account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param queue [StorageQueue] Queue properties and metadata to be created with
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageQueue, Integer, Hash)>] StorageQueue data, response status code and response headers
    def queue_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, queue, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageQueuesApi.queue_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageQueuesApi.queue_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageQueuesApi.queue_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageQueuesApi.queue_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageQueuesApi.queue_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageQueuesApi.queue_create"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_create, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageQueuesApi.queue_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'queue_name' is set
      if @api_client.config.client_side_validation && queue_name.nil?
        fail ArgumentError, "Missing the required parameter 'queue_name' when calling StorageQueuesApi.queue_create"
      end
      if @api_client.config.client_side_validation && queue_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && queue_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && queue_name !~ pattern
        fail ArgumentError, "invalid value for 'queue_name' when calling StorageQueuesApi.queue_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'queue' is set
      if @api_client.config.client_side_validation && queue.nil?
        fail ArgumentError, "Missing the required parameter 'queue' when calling StorageQueuesApi.queue_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/default/queues/{queueName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{queueName}', CGI.escape(queue_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(queue)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageQueue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageQueuesApi.queue_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageQueuesApi#queue_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the queue with the specified queue name, under the specified account if it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def queue_delete(api_version, subscription_id, resource_group_name, account_name, queue_name, opts = {})
      queue_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, opts)
      nil
    end

    # Deletes the queue with the specified queue name, under the specified account if it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def queue_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageQueuesApi.queue_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageQueuesApi.queue_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageQueuesApi.queue_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageQueuesApi.queue_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageQueuesApi.queue_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageQueuesApi.queue_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageQueuesApi.queue_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'queue_name' is set
      if @api_client.config.client_side_validation && queue_name.nil?
        fail ArgumentError, "Missing the required parameter 'queue_name' when calling StorageQueuesApi.queue_delete"
      end
      if @api_client.config.client_side_validation && queue_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && queue_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && queue_name !~ pattern
        fail ArgumentError, "invalid value for 'queue_name' when calling StorageQueuesApi.queue_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/default/queues/{queueName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{queueName}', CGI.escape(queue_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageQueuesApi.queue_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageQueuesApi#queue_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the queue with the specified queue name, under the specified account if it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param [Hash] opts the optional parameters
    # @return [StorageQueue]
    def queue_get(api_version, subscription_id, resource_group_name, account_name, queue_name, opts = {})
      data, _status_code, _headers = queue_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, opts)
      data
    end

    # Gets the queue with the specified queue name, under the specified account if it exists.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageQueue, Integer, Hash)>] StorageQueue data, response status code and response headers
    def queue_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageQueuesApi.queue_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageQueuesApi.queue_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageQueuesApi.queue_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageQueuesApi.queue_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageQueuesApi.queue_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageQueuesApi.queue_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageQueuesApi.queue_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'queue_name' is set
      if @api_client.config.client_side_validation && queue_name.nil?
        fail ArgumentError, "Missing the required parameter 'queue_name' when calling StorageQueuesApi.queue_get"
      end
      if @api_client.config.client_side_validation && queue_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && queue_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && queue_name !~ pattern
        fail ArgumentError, "invalid value for 'queue_name' when calling StorageQueuesApi.queue_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/default/queues/{queueName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{queueName}', CGI.escape(queue_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageQueue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageQueuesApi.queue_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageQueuesApi#queue_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new queue with the specified queue name, under the specified account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param queue [StorageQueue] Queue properties and metadata to be created with
    # @param [Hash] opts the optional parameters
    # @return [StorageQueue]
    def queue_update(api_version, subscription_id, resource_group_name, account_name, queue_name, queue, opts = {})
      data, _status_code, _headers = queue_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, queue, opts)
      data
    end

    # Creates a new queue with the specified queue name, under the specified account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param queue_name [String] A queue name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of lowercase alphanumeric and dash(-) characters only, it should begin and end with an alphanumeric character and it cannot have two consecutive dash(-) characters.
    # @param queue [StorageQueue] Queue properties and metadata to be created with
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageQueue, Integer, Hash)>] StorageQueue data, response status code and response headers
    def queue_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, queue_name, queue, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageQueuesApi.queue_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageQueuesApi.queue_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageQueuesApi.queue_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageQueuesApi.queue_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageQueuesApi.queue_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageQueuesApi.queue_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageQueuesApi.queue_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageQueuesApi.queue_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageQueuesApi.queue_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'queue_name' is set
      if @api_client.config.client_side_validation && queue_name.nil?
        fail ArgumentError, "Missing the required parameter 'queue_name' when calling StorageQueuesApi.queue_update"
      end
      if @api_client.config.client_side_validation && queue_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && queue_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "queue_name" when calling StorageQueuesApi.queue_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && queue_name !~ pattern
        fail ArgumentError, "invalid value for 'queue_name' when calling StorageQueuesApi.queue_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'queue' is set
      if @api_client.config.client_side_validation && queue.nil?
        fail ArgumentError, "Missing the required parameter 'queue' when calling StorageQueuesApi.queue_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/queueServices/default/queues/{queueName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{queueName}', CGI.escape(queue_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(queue)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageQueue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageQueuesApi.queue_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageQueuesApi#queue_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end