=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Storage
  class StorageAccountMigrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the status of the ongoing migration for the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param migration_name [String] The name of the Storage Account Migration. It should always be &#39;default&#39;
    # @param [Hash] opts the optional parameters
    # @return [StorageAccountMigration]
    def storage_accounts_get_customer_initiated_migration(api_version, subscription_id, resource_group_name, account_name, migration_name, opts = {})
      data, _status_code, _headers = storage_accounts_get_customer_initiated_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, migration_name, opts)
      data
    end

    # Gets the status of the ongoing migration for the specified storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param migration_name [String] The name of the Storage Account Migration. It should always be &#39;default&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageAccountMigration, Integer, Hash)>] StorageAccountMigration data, response status code and response headers
    def storage_accounts_get_customer_initiated_migration_with_http_info(api_version, subscription_id, resource_group_name, account_name, migration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'migration_name' is set
      if @api_client.config.client_side_validation && migration_name.nil?
        fail ArgumentError, "Missing the required parameter 'migration_name' when calling StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration"
      end
      # verify enum value
      allowable_values = ["default"]
      if @api_client.config.client_side_validation && !allowable_values.include?(migration_name)
        fail ArgumentError, "invalid value for \"migration_name\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/accountMigrations/{migrationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{migrationName}', CGI.escape(migration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageAccountMigration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"StorageAccountMigrationsApi.storage_accounts_get_customer_initiated_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAccountMigrationsApi#storage_accounts_get_customer_initiated_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end