=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Compute
  class CapacityReservationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all of the capacity reservations in the specified capacity reservation group. Use the nextLink property in the response to get the next page of capacity reservations.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
    # @return [CapacityReservationListResult]
    def capacity_reservations_list_by_capacity_reservation_group(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts = {})
      data, _status_code, _headers = capacity_reservations_list_by_capacity_reservation_group_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts)
      data
    end

    # Lists all of the capacity reservations in the specified capacity reservation group. Use the nextLink property in the response to get the next page of capacity reservations.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
    # @return [Array<(CapacityReservationListResult, Integer, Hash)>] CapacityReservationListResult data, response status code and response headers
    def capacity_reservations_list_by_capacity_reservation_group_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group"
      end
      allowable_values = ["virtualMachineScaleSetVMs/$ref", "virtualMachines/$ref"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservationListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationApi.capacity_reservations_list_by_capacity_reservation_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationApi#capacity_reservations_list_by_capacity_reservation_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end