=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Compute
  class DedicatedHostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update a dedicated host .
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param parameters [DedicatedHost] Parameters supplied to the Create Dedicated Host.
    # @param [Hash] opts the optional parameters
    # @return [DedicatedHost]
    def dedicated_hosts_create_or_update(api_version, subscription_id, resource_group_name, host_group_name, host_name, parameters, opts = {})
      data, _status_code, _headers = dedicated_hosts_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, parameters, opts)
      data
    end

    # Create or update a dedicated host .
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param parameters [DedicatedHost] Parameters supplied to the Create Dedicated Host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DedicatedHost, Integer, Hash)>] DedicatedHost data, response status code and response headers
    def dedicated_hosts_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostsApi.dedicated_hosts_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostsApi.dedicated_hosts_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostsApi.dedicated_hosts_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostsApi.dedicated_hosts_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostsApi.dedicated_hosts_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostsApi.dedicated_hosts_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostsApi.dedicated_hosts_create_or_update"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostsApi.dedicated_hosts_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DedicatedHostsApi.dedicated_hosts_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'DedicatedHost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostsApi.dedicated_hosts_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostsApi#dedicated_hosts_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dedicated host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def dedicated_hosts_delete(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      dedicated_hosts_delete_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts)
      nil
    end

    # Delete a dedicated host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def dedicated_hosts_delete_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostsApi.dedicated_hosts_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostsApi.dedicated_hosts_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostsApi.dedicated_hosts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostsApi.dedicated_hosts_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostsApi.dedicated_hosts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostsApi.dedicated_hosts_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostsApi.dedicated_hosts_delete"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostsApi.dedicated_hosts_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostsApi.dedicated_hosts_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostsApi#dedicated_hosts_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves information about a dedicated host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; will retrieve the list of instance views of the dedicated host. &#39;UserData&#39; is not supported for dedicated host.
    # @return [DedicatedHost]
    def dedicated_hosts_get(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      data, _status_code, _headers = dedicated_hosts_get_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts)
      data
    end

    # Retrieves information about a dedicated host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; will retrieve the list of instance views of the dedicated host. &#39;UserData&#39; is not supported for dedicated host.
    # @return [Array<(DedicatedHost, Integer, Hash)>] DedicatedHost data, response status code and response headers
    def dedicated_hosts_get_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostsApi.dedicated_hosts_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostsApi.dedicated_hosts_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostsApi.dedicated_hosts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostsApi.dedicated_hosts_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostsApi.dedicated_hosts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostsApi.dedicated_hosts_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostsApi.dedicated_hosts_get"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostsApi.dedicated_hosts_get"
      end
      allowable_values = ["instanceView", "userData", "resiliencyView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DedicatedHost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostsApi.dedicated_hosts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostsApi#dedicated_hosts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a dedicated host .
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param parameters [DedicatedHostUpdate] Parameters supplied to the Update Dedicated Host operation.
    # @param [Hash] opts the optional parameters
    # @return [DedicatedHost]
    def dedicated_hosts_update(api_version, subscription_id, resource_group_name, host_group_name, host_name, parameters, opts = {})
      data, _status_code, _headers = dedicated_hosts_update_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, parameters, opts)
      data
    end

    # Update a dedicated host .
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param parameters [DedicatedHostUpdate] Parameters supplied to the Update Dedicated Host operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DedicatedHost, Integer, Hash)>] DedicatedHost data, response status code and response headers
    def dedicated_hosts_update_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostsApi.dedicated_hosts_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostsApi.dedicated_hosts_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostsApi.dedicated_hosts_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostsApi.dedicated_hosts_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostsApi.dedicated_hosts_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostsApi.dedicated_hosts_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostsApi.dedicated_hosts_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostsApi.dedicated_hosts_update"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostsApi.dedicated_hosts_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DedicatedHostsApi.dedicated_hosts_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'DedicatedHost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostsApi.dedicated_hosts_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostsApi#dedicated_hosts_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end