=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Compute
  class DedicatedHostApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists all available dedicated host sizes to which the specified dedicated host can be resized. NOTE: The dedicated host sizes provided can be used to only scale up the existing dedicated host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [DedicatedHostSizeListResult]
    def dedicated_hosts_list_available_sizes(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      data, _status_code, _headers = dedicated_hosts_list_available_sizes_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts)
      data
    end

    # Lists all available dedicated host sizes to which the specified dedicated host can be resized. NOTE: The dedicated host sizes provided can be used to only scale up the existing dedicated host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DedicatedHostSizeListResult, Integer, Hash)>] DedicatedHostSizeListResult data, response status code and response headers
    def dedicated_hosts_list_available_sizes_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostApi.dedicated_hosts_list_available_sizes ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostApi.dedicated_hosts_list_available_sizes"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostApi.dedicated_hosts_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostApi.dedicated_hosts_list_available_sizes"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostApi.dedicated_hosts_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostApi.dedicated_hosts_list_available_sizes"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_list_available_sizes, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostApi.dedicated_hosts_list_available_sizes"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostApi.dedicated_hosts_list_available_sizes"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}/hostSizes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DedicatedHostSizeListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostApi.dedicated_hosts_list_available_sizes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostApi#dedicated_hosts_list_available_sizes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the dedicated hosts in the specified dedicated host group. Use the nextLink property in the response to get the next page of dedicated hosts.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param [Hash] opts the optional parameters
    # @return [DedicatedHostListResult]
    def dedicated_hosts_list_by_host_group(api_version, subscription_id, resource_group_name, host_group_name, opts = {})
      data, _status_code, _headers = dedicated_hosts_list_by_host_group_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, opts)
      data
    end

    # Lists all of the dedicated hosts in the specified dedicated host group. Use the nextLink property in the response to get the next page of dedicated hosts.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DedicatedHostListResult, Integer, Hash)>] DedicatedHostListResult data, response status code and response headers
    def dedicated_hosts_list_by_host_group_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostApi.dedicated_hosts_list_by_host_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostApi.dedicated_hosts_list_by_host_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostApi.dedicated_hosts_list_by_host_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostApi.dedicated_hosts_list_by_host_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostApi.dedicated_hosts_list_by_host_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostApi.dedicated_hosts_list_by_host_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_list_by_host_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_list_by_host_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostApi.dedicated_hosts_list_by_host_group"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DedicatedHostListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostApi.dedicated_hosts_list_by_host_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostApi#dedicated_hosts_list_by_host_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redeploy the dedicated host. The operation will complete successfully once the dedicated host has migrated to a new node and is running. To determine the health of VMs deployed on the dedicated host after the redeploy check the Resource Health Center in the Azure Portal. Please refer to https://docs.microsoft.com/azure/service-health/resource-health-overview for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def dedicated_hosts_redeploy(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      dedicated_hosts_redeploy_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts)
      nil
    end

    # Redeploy the dedicated host. The operation will complete successfully once the dedicated host has migrated to a new node and is running. To determine the health of VMs deployed on the dedicated host after the redeploy check the Resource Health Center in the Azure Portal. Please refer to https://docs.microsoft.com/azure/service-health/resource-health-overview for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def dedicated_hosts_redeploy_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostApi.dedicated_hosts_redeploy ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostApi.dedicated_hosts_redeploy"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostApi.dedicated_hosts_redeploy, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostApi.dedicated_hosts_redeploy"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostApi.dedicated_hosts_redeploy, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostApi.dedicated_hosts_redeploy"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_redeploy, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_redeploy, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostApi.dedicated_hosts_redeploy"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostApi.dedicated_hosts_redeploy"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}/redeploy'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostApi.dedicated_hosts_redeploy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostApi#dedicated_hosts_redeploy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restart the dedicated host. The operation will complete successfully once the dedicated host has restarted and is running. To determine the health of VMs deployed on the dedicated host after the restart check the Resource Health Center in the Azure Portal. Please refer to https://docs.microsoft.com/azure/service-health/resource-health-overview for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def dedicated_hosts_restart(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      dedicated_hosts_restart_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts)
      nil
    end

    # Restart the dedicated host. The operation will complete successfully once the dedicated host has restarted and is running. To determine the health of VMs deployed on the dedicated host after the restart check the Resource Health Center in the Azure Portal. Please refer to https://docs.microsoft.com/azure/service-health/resource-health-overview for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param host_group_name [String] The name of the dedicated host group.
    # @param host_name [String] The name of the dedicated host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def dedicated_hosts_restart_with_http_info(api_version, subscription_id, resource_group_name, host_group_name, host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DedicatedHostApi.dedicated_hosts_restart ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DedicatedHostApi.dedicated_hosts_restart"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DedicatedHostApi.dedicated_hosts_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DedicatedHostApi.dedicated_hosts_restart"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling DedicatedHostApi.dedicated_hosts_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling DedicatedHostApi.dedicated_hosts_restart"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_restart, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling DedicatedHostApi.dedicated_hosts_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'host_group_name' is set
      if @api_client.config.client_side_validation && host_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_group_name' when calling DedicatedHostApi.dedicated_hosts_restart"
      end
      # verify the required parameter 'host_name' is set
      if @api_client.config.client_side_validation && host_name.nil?
        fail ArgumentError, "Missing the required parameter 'host_name' when calling DedicatedHostApi.dedicated_hosts_restart"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}/restart'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{hostGroupName}', CGI.escape(host_group_name.to_s)).sub('{hostName}', CGI.escape(host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DedicatedHostApi.dedicated_hosts_restart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DedicatedHostApi#dedicated_hosts_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end