=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Compute
  class VirtualMachineScaleSetVMExtensionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The operation to create or update the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param extension_parameters [VirtualMachineScaleSetVMExtension] Parameters supplied to the Create Virtual Machine Extension operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetVMExtension]
    def virtual_machine_scale_set_vm_extensions_create_or_update(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, extension_parameters, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vm_extensions_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, extension_parameters, opts)
      data
    end

    # The operation to create or update the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param extension_parameters [VirtualMachineScaleSetVMExtension] Parameters supplied to the Create Virtual Machine Extension operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetVMExtension, Integer, Hash)>] VirtualMachineScaleSetVMExtension data, response status code and response headers
    def virtual_machine_scale_set_vm_extensions_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, extension_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      # verify the required parameter 'vm_extension_name' is set
      if @api_client.config.client_side_validation && vm_extension_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_extension_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      # verify the required parameter 'extension_parameters' is set
      if @api_client.config.client_side_validation && extension_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'extension_parameters' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/extensions/{vmExtensionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s)).sub('{vmExtensionName}', CGI.escape(vm_extension_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extension_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVMExtension'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMExtensionsApi#virtual_machine_scale_set_vm_extensions_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to delete the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vm_extensions_delete(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, opts = {})
      virtual_machine_scale_set_vm_extensions_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, opts)
      nil
    end

    # The operation to delete the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vm_extensions_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete"
      end
      # verify the required parameter 'vm_extension_name' is set
      if @api_client.config.client_side_validation && vm_extension_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_extension_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/extensions/{vmExtensionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s)).sub('{vmExtensionName}', CGI.escape(vm_extension_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMExtensionsApi#virtual_machine_scale_set_vm_extensions_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to get the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [VirtualMachineScaleSetVMExtension]
    def virtual_machine_scale_set_vm_extensions_get(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vm_extensions_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, opts)
      data
    end

    # The operation to get the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [Array<(VirtualMachineScaleSetVMExtension, Integer, Hash)>] VirtualMachineScaleSetVMExtension data, response status code and response headers
    def virtual_machine_scale_set_vm_extensions_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get"
      end
      # verify the required parameter 'vm_extension_name' is set
      if @api_client.config.client_side_validation && vm_extension_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_extension_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/extensions/{vmExtensionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s)).sub('{vmExtensionName}', CGI.escape(vm_extension_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVMExtension'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMExtensionsApi#virtual_machine_scale_set_vm_extensions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to get all extensions of an instance in Virtual Machine Scaleset.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [VirtualMachineScaleSetVMExtensionsListResult]
    def virtual_machine_scale_set_vm_extensions_list(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vm_extensions_list_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      data
    end

    # The operation to get all extensions of an instance in Virtual Machine Scaleset.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [Array<(VirtualMachineScaleSetVMExtensionsListResult, Integer, Hash)>] VirtualMachineScaleSetVMExtensionsListResult data, response status code and response headers
    def virtual_machine_scale_set_vm_extensions_list_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/extensions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVMExtensionsListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMExtensionsApi#virtual_machine_scale_set_vm_extensions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to update the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param extension_parameters [VirtualMachineScaleSetVMExtensionUpdate] Parameters supplied to the Update Virtual Machine Extension operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetVMExtension]
    def virtual_machine_scale_set_vm_extensions_update(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, extension_parameters, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vm_extensions_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, extension_parameters, opts)
      data
    end

    # The operation to update the VMSS VM extension.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param vm_extension_name [String] The name of the virtual machine extension.
    # @param extension_parameters [VirtualMachineScaleSetVMExtensionUpdate] Parameters supplied to the Update Virtual Machine Extension operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetVMExtension, Integer, Hash)>] VirtualMachineScaleSetVMExtension data, response status code and response headers
    def virtual_machine_scale_set_vm_extensions_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, vm_extension_name, extension_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      # verify the required parameter 'vm_extension_name' is set
      if @api_client.config.client_side_validation && vm_extension_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_extension_name' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      # verify the required parameter 'extension_parameters' is set
      if @api_client.config.client_side_validation && extension_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'extension_parameters' when calling VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/extensions/{vmExtensionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s)).sub('{vmExtensionName}', CGI.escape(vm_extension_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extension_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVMExtension'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMExtensionsApi.virtual_machine_scale_set_vm_extensions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMExtensionsApi#virtual_machine_scale_set_vm_extensions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end