=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Compute
  class VirtualMachineScaleSetLifeCycleHookEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets a virtual machine scale set lifecycle hook event.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param lifecycle_hook_event_name [String] The name of the VMScaleSetLifecycleHookEvent
    # @param [Hash] opts the optional parameters
    # @return [VMScaleSetLifecycleHookEvent]
    def virtual_machine_scale_set_life_cycle_hook_events_get(api_version, subscription_id, resource_group_name, vm_scale_set_name, lifecycle_hook_event_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_life_cycle_hook_events_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, lifecycle_hook_event_name, opts)
      data
    end

    # Gets a virtual machine scale set lifecycle hook event.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param lifecycle_hook_event_name [String] The name of the VMScaleSetLifecycleHookEvent
    # @param [Hash] opts the optional parameters
    # @return [Array<(VMScaleSetLifecycleHookEvent, Integer, Hash)>] VMScaleSetLifecycleHookEvent data, response status code and response headers
    def virtual_machine_scale_set_life_cycle_hook_events_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, lifecycle_hook_event_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get"
      end
      # verify the required parameter 'lifecycle_hook_event_name' is set
      if @api_client.config.client_side_validation && lifecycle_hook_event_name.nil?
        fail ArgumentError, "Missing the required parameter 'lifecycle_hook_event_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/lifecycleHookEvents/{lifecycleHookEventName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{lifecycleHookEventName}', CGI.escape(lifecycle_hook_event_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VMScaleSetLifecycleHookEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetLifeCycleHookEventsApi#virtual_machine_scale_set_life_cycle_hook_events_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine scale set lifecycle hook events created for a virtual machine scale set resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [VMScaleSetLifecycleHookEventListResult]
    def virtual_machine_scale_set_life_cycle_hook_events_list(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_life_cycle_hook_events_list_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      data
    end

    # Gets a list of virtual machine scale set lifecycle hook events created for a virtual machine scale set resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VMScaleSetLifecycleHookEventListResult, Integer, Hash)>] VMScaleSetLifecycleHookEventListResult data, response status code and response headers
    def virtual_machine_scale_set_life_cycle_hook_events_list_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/lifecycleHookEvents'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VMScaleSetLifecycleHookEventListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetLifeCycleHookEventsApi#virtual_machine_scale_set_life_cycle_hook_events_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to update a virtual machine scale set lifecycle hook event.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param lifecycle_hook_event_name [String] The name of the VMScaleSetLifecycleHookEvent
    # @param properties [VMScaleSetLifecycleHookEventUpdate] Parameters supplied to the Update virtual machine scale set lifecycle hook event operation.
    # @param [Hash] opts the optional parameters
    # @return [VMScaleSetLifecycleHookEvent]
    def virtual_machine_scale_set_life_cycle_hook_events_update(api_version, subscription_id, resource_group_name, vm_scale_set_name, lifecycle_hook_event_name, properties, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_life_cycle_hook_events_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, lifecycle_hook_event_name, properties, opts)
      data
    end

    # The operation to update a virtual machine scale set lifecycle hook event.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param lifecycle_hook_event_name [String] The name of the VMScaleSetLifecycleHookEvent
    # @param properties [VMScaleSetLifecycleHookEventUpdate] Parameters supplied to the Update virtual machine scale set lifecycle hook event operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VMScaleSetLifecycleHookEvent, Integer, Hash)>] VMScaleSetLifecycleHookEvent data, response status code and response headers
    def virtual_machine_scale_set_life_cycle_hook_events_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, lifecycle_hook_event_name, properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update"
      end
      # verify the required parameter 'lifecycle_hook_event_name' is set
      if @api_client.config.client_side_validation && lifecycle_hook_event_name.nil?
        fail ArgumentError, "Missing the required parameter 'lifecycle_hook_event_name' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update"
      end
      # verify the required parameter 'properties' is set
      if @api_client.config.client_side_validation && properties.nil?
        fail ArgumentError, "Missing the required parameter 'properties' when calling VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/lifecycleHookEvents/{lifecycleHookEventName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{lifecycleHookEventName}', CGI.escape(lifecycle_hook_event_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(properties)

      # return_type
      return_type = opts[:debug_return_type] || 'VMScaleSetLifecycleHookEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetLifeCycleHookEventsApi.virtual_machine_scale_set_life_cycle_hook_events_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetLifeCycleHookEventsApi#virtual_machine_scale_set_life_cycle_hook_events_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end