=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Compute
  class VirtualMachineScaleSetVMsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve upgrade on deferred rolling upgrade for OS disk on a VM scale set instance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vms_approve_rolling_upgrade(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_approve_rolling_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Approve upgrade on deferred rolling upgrade for OS disk on a VM scale set instance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_approve_rolling_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/approveRollingUpgrade'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_approve_rolling_upgrade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_approve_rolling_upgrade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach and detach data disks to/from a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param parameters [AttachDetachDataDisksRequest] Parameters supplied to the attach and detach data disks operation on a Virtual Machine Scale Sets VM.
    # @param [Hash] opts the optional parameters
    # @return [StorageProfile]
    def virtual_machine_scale_set_vms_attach_detach_data_disks(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, parameters, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vms_attach_detach_data_disks_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, parameters, opts)
      data
    end

    # Attach and detach data disks to/from a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param parameters [AttachDetachDataDisksRequest] Parameters supplied to the attach and detach data disks operation on a Virtual Machine Scale Sets VM.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageProfile, Integer, Hash)>] StorageProfile data, response status code and response headers
    def virtual_machine_scale_set_vms_attach_detach_data_disks_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/attachDetachDataDisks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_attach_detach_data_disks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_attach_detach_data_disks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deallocates a specific virtual machine in a VM scale set. Shuts down the virtual machine and releases the compute resources it uses. You are not billed for the compute resources of this virtual machine once it is deallocated.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vms_deallocate(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_deallocate_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Deallocates a specific virtual machine in a VM scale set. Shuts down the virtual machine and releases the compute resources it uses. You are not billed for the compute resources of this virtual machine once it is deallocated.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_deallocate_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/deallocate'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_deallocate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_deallocate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a virtual machine from a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete a virtual machine from a VM scale set. (Feature in Preview)
    # @return [nil]
    def virtual_machine_scale_set_vms_delete(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Deletes a virtual machine from a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete a virtual machine from a VM scale set. (Feature in Preview)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'forceDeletion'] = opts[:'force_deletion'] if !opts[:'force_deletion'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a virtual machine from a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; will retrieve the instance view of the virtual machine. &#39;UserData&#39; will retrieve the UserData of the virtual machine.
    # @return [VirtualMachineScaleSetVM]
    def virtual_machine_scale_set_vms_get(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vms_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      data
    end

    # Gets a virtual machine from a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; will retrieve the instance view of the virtual machine. &#39;UserData&#39; will retrieve the UserData of the virtual machine.
    # @return [Array<(VirtualMachineScaleSetVM, Integer, Hash)>] VirtualMachineScaleSetVM data, response status code and response headers
    def virtual_machine_scale_set_vms_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get"
      end
      allowable_values = ["instanceView", "userData", "resiliencyView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVM'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the status of a virtual machine from a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetVMInstanceView]
    def virtual_machine_scale_set_vms_get_instance_view(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vms_get_instance_view_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      data
    end

    # Gets the status of a virtual machine from a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetVMInstanceView, Integer, Hash)>] VirtualMachineScaleSetVMInstanceView data, response status code and response headers
    def virtual_machine_scale_set_vms_get_instance_view_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/instanceView'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVMInstanceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_get_instance_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_get_instance_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of all virtual machines in a VM scale sets.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_machine_scale_set_name [String] The name of the VirtualMachineScaleSet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply to the operation. Allowed values are &#39;startswith(instanceView/statuses/code, &#39;PowerState&#39;) eq true&#39;, &#39;properties/latestModelApplied eq true&#39;, &#39;properties/latestModelApplied eq false&#39;.
    # @option opts [String] :select The list parameters. Allowed values are &#39;instanceView&#39;, &#39;instanceView/statuses&#39;.
    # @option opts [String] :expand The expand expression to apply to the operation. Allowed values are &#39;instanceView&#39;.
    # @return [VirtualMachineScaleSetVMListResult]
    def virtual_machine_scale_set_vms_list(api_version, subscription_id, resource_group_name, virtual_machine_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vms_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_machine_scale_set_name, opts)
      data
    end

    # Gets a list of all virtual machines in a VM scale sets.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_machine_scale_set_name [String] The name of the VirtualMachineScaleSet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply to the operation. Allowed values are &#39;startswith(instanceView/statuses/code, &#39;PowerState&#39;) eq true&#39;, &#39;properties/latestModelApplied eq true&#39;, &#39;properties/latestModelApplied eq false&#39;.
    # @option opts [String] :select The list parameters. Allowed values are &#39;instanceView&#39;, &#39;instanceView/statuses&#39;.
    # @option opts [String] :expand The expand expression to apply to the operation. Allowed values are &#39;instanceView&#39;.
    # @return [Array<(VirtualMachineScaleSetVMListResult, Integer, Hash)>] VirtualMachineScaleSetVMListResult data, response status code and response headers
    def virtual_machine_scale_set_vms_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_machine_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_machine_scale_set_name' is set
      if @api_client.config.client_side_validation && virtual_machine_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_machine_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualMachineScaleSetName}', CGI.escape(virtual_machine_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$select'] = opts[:'select'] if !opts[:'select'].nil?
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetVMListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Performs maintenance on a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vms_perform_maintenance(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_perform_maintenance_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Performs maintenance on a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_perform_maintenance_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/performMaintenance'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_perform_maintenance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_perform_maintenance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Power off (stop) a virtual machine in a VM scale set. Note that resources are still attached and you are getting charged for the resources. Instead, use deallocate to release resources and avoid charges.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :skip_shutdown The parameter to request non-graceful VM shutdown. True value for this flag indicates non-graceful shutdown whereas false indicates otherwise. Default value for this flag is false if not specified
    # @return [nil]
    def virtual_machine_scale_set_vms_power_off(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_power_off_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Power off (stop) a virtual machine in a VM scale set. Note that resources are still attached and you are getting charged for the resources. Instead, use deallocate to release resources and avoid charges.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :skip_shutdown The parameter to request non-graceful VM shutdown. True value for this flag indicates non-graceful shutdown whereas false indicates otherwise. Default value for this flag is false if not specified
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_power_off_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/powerOff'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'skipShutdown'] = opts[:'skip_shutdown'] if !opts[:'skip_shutdown'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_power_off",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_power_off\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Shuts down the virtual machine in the virtual machine scale set, moves it to a new node, and powers it back on.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vms_redeploy(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_redeploy_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Shuts down the virtual machine in the virtual machine scale set, moves it to a new node, and powers it back on.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_redeploy_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/redeploy'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_redeploy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_redeploy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reimages (upgrade the operating system) a specific virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [VirtualMachineScaleSetVMReimageParameters] :vm_scale_set_vm_reimage_input Parameters for the Reimaging Virtual machine in ScaleSet.
    # @return [nil]
    def virtual_machine_scale_set_vms_reimage(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_reimage_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Reimages (upgrade the operating system) a specific virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [VirtualMachineScaleSetVMReimageParameters] :vm_scale_set_vm_reimage_input Parameters for the Reimaging Virtual machine in ScaleSet.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_reimage_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/reimage'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'vm_scale_set_vm_reimage_input'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_reimage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Allows you to re-image all the disks ( including data disks ) in the a VM scale set instance. This operation is only supported for managed disks.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vms_reimage_all(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_reimage_all_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Allows you to re-image all the disks ( including data disks ) in the a VM scale set instance. This operation is only supported for managed disks.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_reimage_all_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/reimageall'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_reimage_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_reimage_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restarts a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_vms_restart(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      virtual_machine_scale_set_vms_restart_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      nil
    end

    # Restarts a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_vms_restart_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/restart'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_restart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to retrieve SAS URIs of boot diagnostic logs for a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sas_uri_expiration_time_in_minutes Expiration duration in minutes for the SAS URIs with a value between 1 to 1440 minutes. **Note:** If not specified, SAS URIs will be generated with a default expiration duration of 120 minutes.
    # @return [RetrieveBootDiagnosticsDataResult]
    def virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts)
      data
    end

    # The operation to retrieve SAS URIs of boot diagnostic logs for a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :sas_uri_expiration_time_in_minutes Expiration duration in minutes for the SAS URIs with a value between 1 to 1440 minutes. **Note:** If not specified, SAS URIs will be generated with a default expiration duration of 120 minutes.
    # @return [Array<(RetrieveBootDiagnosticsDataResult, Integer, Hash)>] RetrieveBootDiagnosticsDataResult data, response status code and response headers
    def virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data"
      end
      # verify the required parameter 'instance_id' is set
      if @api_client.config.client_side_validation && instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'instance_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}/retrieveBootDiagnosticsData'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s)).sub('{instanceId}', CGI.escape(instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'sasUriExpirationTimeInMinutes'] = opts[:'sas_uri_expiration_time_in_minutes'] if !opts[:'sas_uri_expiration_time_in_minutes'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetrieveBootDiagnosticsDataResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetVMsApi#virtual_machine_scale_set_vms_retrieve_boot_diagnostics_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run command on a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param parameters [RunCommandInput] Parameters supplied to the Run command operation.
    # @param [Hash] opts the optional parameters
    # @return [RunCommandResult]
    def virtual_machine_scale_set_vms_run_command(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, parameters, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_vms_run_command_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, parameters, opts)
      data
    end

    # Run command on a virtual machine in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param instance_id [String] The instance ID of the virtual machine.
    # @param parameters [RunCommandInput] Parameters supplied to the Run command operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunCommandResult, Integer, Hash)>] RunCommandResult data, response status code and response headers
    def virtual_machine_scale_set_vms_run_command_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, instance_id, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_run_command ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_run_command"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_run_command, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetVMsApi.virtual_machine_scale_set_vms_run_command"
      end
[...]
