=begin
#ResourceManagementClient

#Provides operations for working with resources and resource groups.

The version of the OpenAPI document: 2025-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Resources
  class ProvidersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the resource types for a specified resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The $expand query parameter.
    # @return [ProviderResourceTypeListResult]
    def provider_resource_types_list(api_version, subscription_id, resource_provider_namespace, opts = {})
      data, _status_code, _headers = provider_resource_types_list_with_http_info(api_version, subscription_id, resource_provider_namespace, opts)
      data
    end

    # List the resource types for a specified resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The $expand query parameter.
    # @return [Array<(ProviderResourceTypeListResult, Integer, Hash)>] ProviderResourceTypeListResult data, response status code and response headers
    def provider_resource_types_list_with_http_info(api_version, subscription_id, resource_provider_namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.provider_resource_types_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.provider_resource_types_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.provider_resource_types_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ProvidersApi.provider_resource_types_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ProvidersApi.provider_resource_types_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.provider_resource_types_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/resourceTypes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderResourceTypeListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.provider_resource_types_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#provider_resource_types_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The $expand query parameter. For example, to include property aliases in response, use $expand&#x3D;resourceTypes/aliases.
    # @return [Provider]
    def providers_get(api_version, resource_provider_namespace, subscription_id, opts = {})
      data, _status_code, _headers = providers_get_with_http_info(api_version, resource_provider_namespace, subscription_id, opts)
      data
    end

    # Gets the specified resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The $expand query parameter. For example, to include property aliases in response, use $expand&#x3D;resourceTypes/aliases.
    # @return [Array<(Provider, Integer, Hash)>] Provider data, response status code and response headers
    def providers_get_with_http_info(api_version, resource_provider_namespace, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.providers_get"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ProvidersApi.providers_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ProvidersApi.providers_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}'.sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Provider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified resource provider at the tenant level.
    # @param api_version [String] The API version to use for this operation.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The $expand query parameter. For example, to include property aliases in response, use $expand&#x3D;resourceTypes/aliases.
    # @return [Provider]
    def providers_get_at_tenant_scope(api_version, resource_provider_namespace, opts = {})
      data, _status_code, _headers = providers_get_at_tenant_scope_with_http_info(api_version, resource_provider_namespace, opts)
      data
    end

    # Gets the specified resource provider at the tenant level.
    # @param api_version [String] The API version to use for this operation.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The $expand query parameter. For example, to include property aliases in response, use $expand&#x3D;resourceTypes/aliases.
    # @return [Array<(Provider, Integer, Hash)>] Provider data, response status code and response headers
    def providers_get_at_tenant_scope_with_http_info(api_version, resource_provider_namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_get_at_tenant_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_get_at_tenant_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_get_at_tenant_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.providers_get_at_tenant_scope"
      end
      # resource path
      local_var_path = '/providers/{resourceProviderNamespace}'.sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Provider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_get_at_tenant_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_get_at_tenant_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all resource providers for a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The properties to include in the results. For example, use &amp;$expand&#x3D;metadata in the query string to retrieve resource provider metadata. To include property aliases in response, use $expand&#x3D;resourceTypes/aliases.
    # @return [ProviderListResult]
    def providers_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = providers_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets all resource providers for a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The properties to include in the results. For example, use &amp;$expand&#x3D;metadata in the query string to retrieve resource provider metadata. To include property aliases in response, use $expand&#x3D;resourceTypes/aliases.
    # @return [Array<(ProviderListResult, Integer, Hash)>] ProviderListResult data, response status code and response headers
    def providers_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ProvidersApi.providers_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ProvidersApi.providers_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all resource providers for the tenant.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The properties to include in the results.
    # @return [ProviderListResult]
    def providers_list_at_tenant_scope(api_version, opts = {})
      data, _status_code, _headers = providers_list_at_tenant_scope_with_http_info(api_version, opts)
      data
    end

    # Gets all resource providers for the tenant.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The properties to include in the results.
    # @return [Array<(ProviderListResult, Integer, Hash)>] ProviderListResult data, response status code and response headers
    def providers_list_at_tenant_scope_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_list_at_tenant_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_list_at_tenant_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_list_at_tenant_scope, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/providers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_list_at_tenant_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_list_at_tenant_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the provider permissions.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param [Hash] opts the optional parameters
    # @return [ProviderPermissionListResult]
    def providers_provider_permissions(api_version, subscription_id, resource_provider_namespace, opts = {})
      data, _status_code, _headers = providers_provider_permissions_with_http_info(api_version, subscription_id, resource_provider_namespace, opts)
      data
    end

    # Get the provider permissions.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderPermissionListResult, Integer, Hash)>] ProviderPermissionListResult data, response status code and response headers
    def providers_provider_permissions_with_http_info(api_version, subscription_id, resource_provider_namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_provider_permissions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_provider_permissions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_provider_permissions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ProvidersApi.providers_provider_permissions"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ProvidersApi.providers_provider_permissions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.providers_provider_permissions"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/providerPermissions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderPermissionListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_provider_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_provider_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Registers a subscription with a resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider to register.
    # @param [Hash] opts the optional parameters
    # @option opts [ProviderRegistrationRequest] :properties The third party consent for S2S.
    # @return [Provider]
    def providers_register(api_version, subscription_id, resource_provider_namespace, opts = {})
      data, _status_code, _headers = providers_register_with_http_info(api_version, subscription_id, resource_provider_namespace, opts)
      data
    end

    # Registers a subscription with a resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider to register.
    # @param [Hash] opts the optional parameters
    # @option opts [ProviderRegistrationRequest] :properties The third party consent for S2S.
    # @return [Array<(Provider, Integer, Hash)>] Provider data, response status code and response headers
    def providers_register_with_http_info(api_version, subscription_id, resource_provider_namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_register ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_register"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_register, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ProvidersApi.providers_register"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ProvidersApi.providers_register, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.providers_register"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'properties'])

      # return_type
      return_type = opts[:debug_return_type] || 'Provider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_register",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_register\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Registers a management group with a resource provider. Use this operation to register a resource provider with resource types that can be deployed at the management group scope. It does not recursively register subscriptions within the management group. Instead, you must register subscriptions individually.
    # @param api_version [String] The API version to use for this operation.
    # @param resource_provider_namespace [String] The management group ID.The namespace of the resource provider to register.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def providers_register_at_management_group_scope(api_version, resource_provider_namespace, group_id, opts = {})
      providers_register_at_management_group_scope_with_http_info(api_version, resource_provider_namespace, group_id, opts)
      nil
    end

    # Registers a management group with a resource provider. Use this operation to register a resource provider with resource types that can be deployed at the management group scope. It does not recursively register subscriptions within the management group. Instead, you must register subscriptions individually.
    # @param api_version [String] The API version to use for this operation.
    # @param resource_provider_namespace [String] The management group ID.The namespace of the resource provider to register.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def providers_register_at_management_group_scope_with_http_info(api_version, resource_provider_namespace, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_register_at_management_group_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_register_at_management_group_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_register_at_management_group_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.providers_register_at_management_group_scope"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling ProvidersApi.providers_register_at_management_group_scope"
      end
      if @api_client.config.client_side_validation && group_id.to_s.length > 90
        fail ArgumentError, 'invalid value for "group_id" when calling ProvidersApi.providers_register_at_management_group_scope, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && group_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "group_id" when calling ProvidersApi.providers_register_at_management_group_scope, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/providers/Microsoft.Management/managementGroups/{groupId}/providers/{resourceProviderNamespace}/register'.sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s)).sub('{groupId}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_register_at_management_group_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_register_at_management_group_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unregisters a subscription from a resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider to unregister.
    # @param [Hash] opts the optional parameters
    # @return [Provider]
    def providers_unregister(api_version, subscription_id, resource_provider_namespace, opts = {})
      data, _status_code, _headers = providers_unregister_with_http_info(api_version, subscription_id, resource_provider_namespace, opts)
      data
    end

    # Unregisters a subscription from a resource provider.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_provider_namespace [String] The namespace of the resource provider to unregister.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Provider, Integer, Hash)>] Provider data, response status code and response headers
    def providers_unregister_with_http_info(api_version, subscription_id, resource_provider_namespace, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvidersApi.providers_unregister ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ProvidersApi.providers_unregister"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ProvidersApi.providers_unregister, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ProvidersApi.providers_unregister"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ProvidersApi.providers_unregister, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_provider_namespace' is set
      if @api_client.config.client_side_validation && resource_provider_namespace.nil?
        fail ArgumentError, "Missing the required parameter 'resource_provider_namespace' when calling ProvidersApi.providers_unregister"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceProviderNamespace}', CGI.escape(resource_provider_namespace.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Provider'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ProvidersApi.providers_unregister",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvidersApi#providers_unregister\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end