=begin
#ResourceManagementClient

#Provides operations for working with resources and resource groups.

The version of the OpenAPI document: 2025-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Resources
  class ResourceGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Checks whether a resource group exists.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resource_groups_check_existence(api_version, subscription_id, resource_group_name, opts = {})
      resource_groups_check_existence_with_http_info(api_version, subscription_id, resource_group_name, opts)
      nil
    end

    # Checks whether a resource group exists.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resource_groups_check_existence_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_check_existence ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_check_existence"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_check_existence, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_check_existence"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_check_existence, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resource_groups_check_existence"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_check_existence, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_check_existence, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resource_groups_check_existence, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_check_existence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_check_existence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourceGroup] Parameters supplied to the create or update a resource group.
    # @param [Hash] opts the optional parameters
    # @return [ResourceGroup]
    def resource_groups_create_or_update(api_version, subscription_id, resource_group_name, parameters, opts = {})
      data, _status_code, _headers = resource_groups_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, parameters, opts)
      data
    end

    # Creates or updates a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourceGroup] Parameters supplied to the create or update a resource group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceGroup, Integer, Hash)>] ResourceGroup data, response status code and response headers
    def resource_groups_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resource_groups_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resource_groups_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourceGroupsApi.resource_groups_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a resource group.
    # When you delete a resource group, all of its resources are also deleted. Deleting a resource group deletes all of its template deployments and currently stored operations.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :force_deletion_types The resource types you want to force delete. Currently, only the following is supported: forceDeletionTypes&#x3D;Microsoft.Compute/virtualMachines,Microsoft.Compute/virtualMachineScaleSets
    # @return [nil]
    def resource_groups_delete(api_version, subscription_id, resource_group_name, opts = {})
      resource_groups_delete_with_http_info(api_version, subscription_id, resource_group_name, opts)
      nil
    end

    # Deletes a resource group.
    # When you delete a resource group, all of its resources are also deleted. Deleting a resource group deletes all of its template deployments and currently stored operations.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :force_deletion_types The resource types you want to force delete. Currently, only the following is supported: forceDeletionTypes&#x3D;Microsoft.Compute/virtualMachines,Microsoft.Compute/virtualMachineScaleSets
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resource_groups_delete_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resource_groups_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resource_groups_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'forceDeletionTypes'] = opts[:'force_deletion_types'] if !opts[:'force_deletion_types'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Captures the specified resource group as a template.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ExportTemplateRequest] Parameters for exporting the template.
    # @param [Hash] opts the optional parameters
    # @return [ResourceGroupExportResult]
    def resource_groups_export_template(api_version, subscription_id, resource_group_name, parameters, opts = {})
      data, _status_code, _headers = resource_groups_export_template_with_http_info(api_version, subscription_id, resource_group_name, parameters, opts)
      data
    end

    # Captures the specified resource group as a template.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ExportTemplateRequest] Parameters for exporting the template.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceGroupExportResult, Integer, Hash)>] ResourceGroupExportResult data, response status code and response headers
    def resource_groups_export_template_with_http_info(api_version, subscription_id, resource_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_export_template ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_export_template"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_export_template, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_export_template"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_export_template, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resource_groups_export_template"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_export_template, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_export_template, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resource_groups_export_template, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourceGroupsApi.resource_groups_export_template"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceGroupExportResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_export_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_export_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [ResourceGroup]
    def resource_groups_get(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = resource_groups_get_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Gets a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceGroup, Integer, Hash)>] ResourceGroup data, response status code and response headers
    def resource_groups_get_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resource_groups_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resource_groups_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all the resource groups for a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.&lt;br&gt;&lt;br&gt;You can filter by tag names and values. For example, to filter for a tag name and value, use $filter&#x3D;tagName eq &#39;tag1&#39; and tagValue eq &#39;Value1&#39;
    # @option opts [Integer] :top The number of results to return. If null is passed, returns all resource groups.
    # @return [ResourceGroupListResult]
    def resource_groups_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = resource_groups_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets all the resource groups for a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.&lt;br&gt;&lt;br&gt;You can filter by tag names and values. For example, to filter for a tag name and value, use $filter&#x3D;tagName eq &#39;tag1&#39; and tagValue eq &#39;Value1&#39;
    # @option opts [Integer] :top The number of results to return. If null is passed, returns all resource groups.
    # @return [Array<(ResourceGroupListResult, Integer, Hash)>] ResourceGroupListResult data, response status code and response headers
    def resource_groups_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceGroupListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a resource group.
    # Resource groups can be updated through a simple PATCH operation to a group address. The format of the request is the same as that for creating a resource group. If a field is unspecified, the current value is retained.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourceGroupPatchable] Parameters supplied to update a resource group.
    # @param [Hash] opts the optional parameters
    # @return [ResourceGroup]
    def resource_groups_update(api_version, subscription_id, resource_group_name, parameters, opts = {})
      data, _status_code, _headers = resource_groups_update_with_http_info(api_version, subscription_id, resource_group_name, parameters, opts)
      data
    end

    # Updates a resource group.
    # Resource groups can be updated through a simple PATCH operation to a group address. The format of the request is the same as that for creating a resource group. If a field is unspecified, the current value is retained.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param parameters [ResourceGroupPatchable] Parameters supplied to update a resource group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceGroup, Integer, Hash)>] ResourceGroup data, response status code and response headers
    def resource_groups_update_with_http_info(api_version, subscription_id, resource_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resource_groups_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resource_groups_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resource_groups_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resource_groups_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resource_groups_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resource_groups_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resource_groups_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resource_groups_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResourceGroupsApi.resource_groups_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resource_groups_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resource_groups_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all the resources for a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.&lt;br&gt;&lt;br&gt;The properties you can use for eq (equals) or ne (not equals) are: location, resourceType, name, resourceGroup, identity, identity/principalId, plan, plan/publisher, plan/product, plan/name, plan/version, and plan/promotionCode.&lt;br&gt;&lt;br&gt;For example, to filter by a resource type, use: $filter&#x3D;resourceType eq &#39;Microsoft.Network/virtualNetworks&#39;&lt;br&gt;&lt;br&gt;You can use substringof(value, property) in the filter. The properties you can use for substring are: name and resourceGroup.&lt;br&gt;&lt;br&gt;For example, to get all resources with &#39;demo&#39; anywhere in the name, use: $filter&#x3D;substringof(&#39;demo&#39;, name)&lt;br&gt;&lt;br&gt;You can link more than one substringof together by adding and/or operators.&lt;br&gt;&lt;br&gt;You can filter by tag names and values. For example, to filter for a tag name and value, use $filter&#x3D;tagName eq &#39;tag1&#39; and tagValue eq &#39;Value1&#39;. When you filter by a tag name and value, the tags for each resource are not returned in the results.&lt;br&gt;&lt;br&gt;You can use some properties together when filtering. The combinations you can use are: substringof and/or resourceType, plan and plan/publisher and plan/name, identity and identity/principalId.
    # @option opts [String] :expand Comma-separated list of additional properties to be included in the response. Valid values include &#x60;createdTime&#x60;, &#x60;changedTime&#x60; and &#x60;provisioningState&#x60;. For example, &#x60;$expand&#x3D;createdTime,changedTime&#x60;.
    # @option opts [Integer] :top The number of results to return. If null is passed, returns all resources.
    # @return [ResourceListResult]
    def resources_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = resources_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Get all the resources for a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group to get. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.&lt;br&gt;&lt;br&gt;The properties you can use for eq (equals) or ne (not equals) are: location, resourceType, name, resourceGroup, identity, identity/principalId, plan, plan/publisher, plan/product, plan/name, plan/version, and plan/promotionCode.&lt;br&gt;&lt;br&gt;For example, to filter by a resource type, use: $filter&#x3D;resourceType eq &#39;Microsoft.Network/virtualNetworks&#39;&lt;br&gt;&lt;br&gt;You can use substringof(value, property) in the filter. The properties you can use for substring are: name and resourceGroup.&lt;br&gt;&lt;br&gt;For example, to get all resources with &#39;demo&#39; anywhere in the name, use: $filter&#x3D;substringof(&#39;demo&#39;, name)&lt;br&gt;&lt;br&gt;You can link more than one substringof together by adding and/or operators.&lt;br&gt;&lt;br&gt;You can filter by tag names and values. For example, to filter for a tag name and value, use $filter&#x3D;tagName eq &#39;tag1&#39; and tagValue eq &#39;Value1&#39;. When you filter by a tag name and value, the tags for each resource are not returned in the results.&lt;br&gt;&lt;br&gt;You can use some properties together when filtering. The combinations you can use are: substringof and/or resourceType, plan and plan/publisher and plan/name, identity and identity/principalId.
    # @option opts [String] :expand Comma-separated list of additional properties to be included in the response. Valid values include &#x60;createdTime&#x60;, &#x60;changedTime&#x60; and &#x60;provisioningState&#x60;. For example, &#x60;$expand&#x3D;createdTime,changedTime&#x60;.
    # @option opts [Integer] :top The number of results to return. If null is passed, returns all resources.
    # @return [Array<(ResourceListResult, Integer, Hash)>] ResourceListResult data, response status code and response headers
    def resources_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceGroupsApi.resources_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResourceGroupsApi.resources_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResourceGroupsApi.resources_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResourceGroupsApi.resources_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling ResourceGroupsApi.resources_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResourceGroupsApi.resources_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resources_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResourceGroupsApi.resources_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._\(\)]+$/)
      if @api_client.config.client_side_validation && resource_group_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_group_name' when calling ResourceGroupsApi.resources_list_by_resource_group, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/resources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResourceGroupsApi.resources_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceGroupsApi#resources_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end