=begin
#ResourceManagementClient

#Provides operations for working with resources and resource groups.

The version of the OpenAPI document: 2025-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Resources
  class TagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a predefined tag name.
    # This operation allows adding a name to the list of predefined tag names for the given subscription. A tag name can have a maximum of 512 characters and is case-insensitive. Tag names cannot have the following prefixes which are reserved for Azure use: 'microsoft', 'azure', 'windows'.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag to create.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [TagDetails]
    def tags_create_or_update(api_version, tag_name, subscription_id, opts = {})
      data, _status_code, _headers = tags_create_or_update_with_http_info(api_version, tag_name, subscription_id, opts)
      data
    end

    # Creates a predefined tag name.
    # This operation allows adding a name to the list of predefined tag names for the given subscription. A tag name can have a maximum of 512 characters and is case-insensitive. Tag names cannot have the following prefixes which are reserved for Azure use: &#39;microsoft&#39;, &#39;azure&#39;, &#39;windows&#39;.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag to create.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagDetails, Integer, Hash)>] TagDetails data, response status code and response headers
    def tags_create_or_update_with_http_info(api_version, tag_name, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'tag_name' is set
      if @api_client.config.client_side_validation && tag_name.nil?
        fail ArgumentError, "Missing the required parameter 'tag_name' when calling TagsApi.tags_create_or_update"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TagsApi.tags_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling TagsApi.tags_create_or_update, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/tagNames/{tagName}'.sub('{tagName}', CGI.escape(tag_name.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TagDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates the entire set of tags on a resource or subscription.
    # This operation allows adding or replacing the entire set of tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param parameters [TagsResource] 
    # @param [Hash] opts the optional parameters
    # @return [TagsResource]
    def tags_create_or_update_at_scope(api_version, scope, parameters, opts = {})
      data, _status_code, _headers = tags_create_or_update_at_scope_with_http_info(api_version, scope, parameters, opts)
      data
    end

    # Creates or updates the entire set of tags on a resource or subscription.
    # This operation allows adding or replacing the entire set of tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param parameters [TagsResource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagsResource, Integer, Hash)>] TagsResource data, response status code and response headers
    def tags_create_or_update_at_scope_with_http_info(api_version, scope, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_create_or_update_at_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_create_or_update_at_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_create_or_update_at_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling TagsApi.tags_create_or_update_at_scope"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling TagsApi.tags_create_or_update_at_scope"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Resources/tags/default'.sub('{scope}', CGI.escape(scope.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'TagsResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_create_or_update_at_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_create_or_update_at_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a predefined value for a predefined tag name.
    # This operation allows adding a value to the list of predefined values for an existing predefined tag name. A tag value can have a maximum of 256 characters.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag.
    # @param tag_value [String] The value of the tag to create.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [TagValue]
    def tags_create_or_update_value(api_version, tag_name, tag_value, subscription_id, opts = {})
      data, _status_code, _headers = tags_create_or_update_value_with_http_info(api_version, tag_name, tag_value, subscription_id, opts)
      data
    end

    # Creates a predefined value for a predefined tag name.
    # This operation allows adding a value to the list of predefined values for an existing predefined tag name. A tag value can have a maximum of 256 characters.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag.
    # @param tag_value [String] The value of the tag to create.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagValue, Integer, Hash)>] TagValue data, response status code and response headers
    def tags_create_or_update_value_with_http_info(api_version, tag_name, tag_value, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_create_or_update_value ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_create_or_update_value"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_create_or_update_value, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'tag_name' is set
      if @api_client.config.client_side_validation && tag_name.nil?
        fail ArgumentError, "Missing the required parameter 'tag_name' when calling TagsApi.tags_create_or_update_value"
      end
      # verify the required parameter 'tag_value' is set
      if @api_client.config.client_side_validation && tag_value.nil?
        fail ArgumentError, "Missing the required parameter 'tag_value' when calling TagsApi.tags_create_or_update_value"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TagsApi.tags_create_or_update_value"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling TagsApi.tags_create_or_update_value, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}'.sub('{tagName}', CGI.escape(tag_name.to_s)).sub('{tagValue}', CGI.escape(tag_value.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TagValue'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_create_or_update_value",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_create_or_update_value\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a predefined tag name.
    # This operation allows deleting a name from the list of predefined tag names for the given subscription. The name being deleted must not be in use as a tag name for any resource. All predefined values for the given name must have already been deleted.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tags_delete(api_version, tag_name, subscription_id, opts = {})
      tags_delete_with_http_info(api_version, tag_name, subscription_id, opts)
      nil
    end

    # Deletes a predefined tag name.
    # This operation allows deleting a name from the list of predefined tag names for the given subscription. The name being deleted must not be in use as a tag name for any resource. All predefined values for the given name must have already been deleted.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tags_delete_with_http_info(api_version, tag_name, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'tag_name' is set
      if @api_client.config.client_side_validation && tag_name.nil?
        fail ArgumentError, "Missing the required parameter 'tag_name' when calling TagsApi.tags_delete"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TagsApi.tags_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling TagsApi.tags_delete, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/tagNames/{tagName}'.sub('{tagName}', CGI.escape(tag_name.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the entire set of tags on a resource or subscription.
    # Deletes the entire set of tags on a resource or subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tags_delete_at_scope(api_version, scope, opts = {})
      tags_delete_at_scope_with_http_info(api_version, scope, opts)
      nil
    end

    # Deletes the entire set of tags on a resource or subscription.
    # Deletes the entire set of tags on a resource or subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tags_delete_at_scope_with_http_info(api_version, scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_delete_at_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_delete_at_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_delete_at_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling TagsApi.tags_delete_at_scope"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Resources/tags/default'.sub('{scope}', CGI.escape(scope.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_delete_at_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_delete_at_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a predefined tag value for a predefined tag name.
    # This operation allows deleting a value from the list of predefined values for an existing predefined tag name. The value being deleted must not be in use as a tag value for the given tag name for any resource.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag.
    # @param tag_value [String] The value of the tag to delete.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tags_delete_value(api_version, tag_name, tag_value, subscription_id, opts = {})
      tags_delete_value_with_http_info(api_version, tag_name, tag_value, subscription_id, opts)
      nil
    end

    # Deletes a predefined tag value for a predefined tag name.
    # This operation allows deleting a value from the list of predefined values for an existing predefined tag name. The value being deleted must not be in use as a tag value for the given tag name for any resource.
    # @param api_version [String] The API version to use for this operation.
    # @param tag_name [String] The name of the tag.
    # @param tag_value [String] The value of the tag to delete.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tags_delete_value_with_http_info(api_version, tag_name, tag_value, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_delete_value ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_delete_value"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_delete_value, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'tag_name' is set
      if @api_client.config.client_side_validation && tag_name.nil?
        fail ArgumentError, "Missing the required parameter 'tag_name' when calling TagsApi.tags_delete_value"
      end
      # verify the required parameter 'tag_value' is set
      if @api_client.config.client_side_validation && tag_value.nil?
        fail ArgumentError, "Missing the required parameter 'tag_value' when calling TagsApi.tags_delete_value"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TagsApi.tags_delete_value"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling TagsApi.tags_delete_value, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}'.sub('{tagName}', CGI.escape(tag_name.to_s)).sub('{tagValue}', CGI.escape(tag_value.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_delete_value",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_delete_value\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the entire set of tags on a resource or subscription.
    # Gets the entire set of tags on a resource or subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param [Hash] opts the optional parameters
    # @return [TagsResource]
    def tags_get_at_scope(api_version, scope, opts = {})
      data, _status_code, _headers = tags_get_at_scope_with_http_info(api_version, scope, opts)
      data
    end

    # Gets the entire set of tags on a resource or subscription.
    # Gets the entire set of tags on a resource or subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagsResource, Integer, Hash)>] TagsResource data, response status code and response headers
    def tags_get_at_scope_with_http_info(api_version, scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_get_at_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_get_at_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_get_at_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling TagsApi.tags_get_at_scope"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Resources/tags/default'.sub('{scope}', CGI.escape(scope.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TagsResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_get_at_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_get_at_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a summary of tag usage under the subscription.
    # This operation performs a union of predefined tags, resource tags, resource group tags and subscription tags, and returns a summary of usage for each tag name and value under the given subscription. In case of a large number of tags, this operation may return a previously cached result.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [TagsListResult]
    def tags_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = tags_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets a summary of tag usage under the subscription.
    # This operation performs a union of predefined tags, resource tags, resource group tags and subscription tags, and returns a summary of usage for each tag name and value under the given subscription. In case of a large number of tags, this operation may return a previously cached result.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagsListResult, Integer, Hash)>] TagsListResult data, response status code and response headers
    def tags_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TagsApi.tags_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling TagsApi.tags_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/tagNames'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TagsListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Selectively updates the set of tags on a resource or subscription.
    # This operation allows replacing, merging or selectively deleting tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags at the end of the operation. The 'replace' option replaces the entire set of existing tags with a new set. The 'merge' option allows adding tags with new names and updating the values of tags with existing names. The 'delete' option allows selectively deleting tags based on given names or name/value pairs.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param parameters [TagsPatchResource] 
    # @param [Hash] opts the optional parameters
    # @return [TagsResource]
    def tags_update_at_scope(api_version, scope, parameters, opts = {})
      data, _status_code, _headers = tags_update_at_scope_with_http_info(api_version, scope, parameters, opts)
      data
    end

    # Selectively updates the set of tags on a resource or subscription.
    # This operation allows replacing, merging or selectively deleting tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags at the end of the operation. The &#39;replace&#39; option replaces the entire set of existing tags with a new set. The &#39;merge&#39; option allows adding tags with new names and updating the values of tags with existing names. The &#39;delete&#39; option allows selectively deleting tags based on given names or name/value pairs.
    # @param api_version [String] The API version to use for this operation.
    # @param scope [String] The fully qualified Azure Resource manager identifier of the resource.
    # @param parameters [TagsPatchResource] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagsResource, Integer, Hash)>] TagsResource data, response status code and response headers
    def tags_update_at_scope_with_http_info(api_version, scope, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TagsApi.tags_update_at_scope ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TagsApi.tags_update_at_scope"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TagsApi.tags_update_at_scope, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling TagsApi.tags_update_at_scope"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling TagsApi.tags_update_at_scope"
      end
      # resource path
      local_var_path = '/{scope}/providers/Microsoft.Resources/tags/default'.sub('{scope}', CGI.escape(scope.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'TagsResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TagsApi.tags_update_at_scope",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TagsApi#tags_update_at_scope\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end