=begin
#PostgreSQLManagementClient

#The Azure Database for PostgreSQL management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, network configuration, security alert policies, log files and configurations with new business model.

The version of the OpenAPI document: 2025-08-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module PostgreSQL
  class BackupAutomaticAndOnDemandsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates an on demand backup of a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] Name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def backups_automatic_and_on_demand_create(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      backups_automatic_and_on_demand_create_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts)
      nil
    end

    # Creates an on demand backup of a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] Name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def backups_automatic_and_on_demand_create_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create"
      end
      if @api_client.config.client_side_validation && backup_name.to_s.length > 128
        fail ArgumentError, 'invalid value for "backup_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && backup_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "backup_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && backup_name !~ pattern
        fail ArgumentError, "invalid value for 'backup_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/backups/{backupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{backupName}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupAutomaticAndOnDemandsApi#backups_automatic_and_on_demand_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a specific backup, given its name.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] Name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def backups_automatic_and_on_demand_delete(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      backups_automatic_and_on_demand_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts)
      nil
    end

    # Deletes a specific backup, given its name.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] Name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def backups_automatic_and_on_demand_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete"
      end
      if @api_client.config.client_side_validation && backup_name.to_s.length > 128
        fail ArgumentError, 'invalid value for "backup_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && backup_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "backup_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && backup_name !~ pattern
        fail ArgumentError, "invalid value for 'backup_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/backups/{backupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{backupName}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupAutomaticAndOnDemandsApi#backups_automatic_and_on_demand_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information of an on demand backup, given its name.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] Name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [BackupAutomaticAndOnDemand]
    def backups_automatic_and_on_demand_get(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      data, _status_code, _headers = backups_automatic_and_on_demand_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts)
      data
    end

    # Gets information of an on demand backup, given its name.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] Name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BackupAutomaticAndOnDemand, Integer, Hash)>] BackupAutomaticAndOnDemand data, response status code and response headers
    def backups_automatic_and_on_demand_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get"
      end
      if @api_client.config.client_side_validation && backup_name.to_s.length > 128
        fail ArgumentError, 'invalid value for "backup_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && backup_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "backup_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && backup_name !~ pattern
        fail ArgumentError, "invalid value for 'backup_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/backups/{backupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{backupName}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BackupAutomaticAndOnDemand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupAutomaticAndOnDemandsApi#backups_automatic_and_on_demand_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all available backups of a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [BackupAutomaticAndOnDemandList]
    def backups_automatic_and_on_demand_list_by_server(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = backups_automatic_and_on_demand_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Lists all available backups of a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BackupAutomaticAndOnDemandList, Integer, Hash)>] BackupAutomaticAndOnDemandList data, response status code and response headers
    def backups_automatic_and_on_demand_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/backups'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BackupAutomaticAndOnDemandList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupAutomaticAndOnDemandsApi.backups_automatic_and_on_demand_list_by_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupAutomaticAndOnDemandsApi#backups_automatic_and_on_demand_list_by_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end