=begin
#PostgreSQLManagementClient

#The Azure Database for PostgreSQL management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, network configuration, security alert policies, log files and configurations with new business model.

The version of the OpenAPI document: 2025-08-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module PostgreSQL
  class ServersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Performs all checks required for a long term retention backup operation to succeed.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [LtrPreBackupRequest] Request body for operation
    # @param [Hash] opts the optional parameters
    # @return [LtrPreBackupResponse]
    def backups_long_term_retention_check_prerequisites(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = backups_long_term_retention_check_prerequisites_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Performs all checks required for a long term retention backup operation to succeed.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [LtrPreBackupRequest] Request body for operation
    # @param [Hash] opts the optional parameters
    # @return [Array<(LtrPreBackupResponse, Integer, Hash)>] LtrPreBackupResponse data, response status code and response headers
    def backups_long_term_retention_check_prerequisites_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.backups_long_term_retention_check_prerequisites ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.backups_long_term_retention_check_prerequisites"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.backups_long_term_retention_check_prerequisites, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.backups_long_term_retention_check_prerequisites"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.backups_long_term_retention_check_prerequisites"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.backups_long_term_retention_check_prerequisites, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.backups_long_term_retention_check_prerequisites, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.backups_long_term_retention_check_prerequisites"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.backups_long_term_retention_check_prerequisites, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.backups_long_term_retention_check_prerequisites, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.backups_long_term_retention_check_prerequisites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.backups_long_term_retention_check_prerequisites"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/ltrPreBackup'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'LtrPreBackupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.backups_long_term_retention_check_prerequisites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#backups_long_term_retention_check_prerequisites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiates a long term retention backup.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [BackupsLongTermRetentionRequest] Request body for operation
    # @param [Hash] opts the optional parameters
    # @return [BackupsLongTermRetentionResponse]
    def backups_long_term_retention_start(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = backups_long_term_retention_start_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Initiates a long term retention backup.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [BackupsLongTermRetentionRequest] Request body for operation
    # @param [Hash] opts the optional parameters
    # @return [Array<(BackupsLongTermRetentionResponse, Integer, Hash)>] BackupsLongTermRetentionResponse data, response status code and response headers
    def backups_long_term_retention_start_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.backups_long_term_retention_start ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.backups_long_term_retention_start"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.backups_long_term_retention_start, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.backups_long_term_retention_start"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.backups_long_term_retention_start"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.backups_long_term_retention_start, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.backups_long_term_retention_start, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.backups_long_term_retention_start"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.backups_long_term_retention_start, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.backups_long_term_retention_start, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.backups_long_term_retention_start, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.backups_long_term_retention_start"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/startLtrBackup'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'BackupsLongTermRetentionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.backups_long_term_retention_start",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#backups_long_term_retention_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the capabilities available for a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [CapabilityList]
    def capabilities_by_server_list(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = capabilities_by_server_list_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Lists the capabilities available for a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapabilityList, Integer, Hash)>] CapabilityList data, response status code and response headers
    def capabilities_by_server_list_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.capabilities_by_server_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.capabilities_by_server_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.capabilities_by_server_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.capabilities_by_server_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.capabilities_by_server_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.capabilities_by_server_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.capabilities_by_server_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.capabilities_by_server_list"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.capabilities_by_server_list, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.capabilities_by_server_list, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.capabilities_by_server_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/capabilities'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilityList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.capabilities_by_server_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#capabilities_by_server_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all captured logs for download in a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [CapturedLogList]
    def captured_logs_list_by_server(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = captured_logs_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Lists all captured logs for download in a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapturedLogList, Integer, Hash)>] CapturedLogList data, response status code and response headers
    def captured_logs_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.captured_logs_list_by_server ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.captured_logs_list_by_server"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.captured_logs_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.captured_logs_list_by_server"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.captured_logs_list_by_server"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.captured_logs_list_by_server, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.captured_logs_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.captured_logs_list_by_server"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.captured_logs_list_by_server, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.captured_logs_list_by_server, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.captured_logs_list_by_server, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/logFiles'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapturedLogList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.captured_logs_list_by_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#captured_logs_list_by_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check the validity and availability of the given name, to assign it to a new migration.
    # Checks if a proposed migration name is valid and available.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [MigrationNameAvailability] Parameters required to check if a migration name is valid and available.
    # @param [Hash] opts the optional parameters
    # @return [MigrationNameAvailability]
    def migrations_check_name_availability(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = migrations_check_name_availability_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Check the validity and availability of the given name, to assign it to a new migration.
    # Checks if a proposed migration name is valid and available.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [MigrationNameAvailability] Parameters required to check if a migration name is valid and available.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MigrationNameAvailability, Integer, Hash)>] MigrationNameAvailability data, response status code and response headers
    def migrations_check_name_availability_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.migrations_check_name_availability ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.migrations_check_name_availability"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.migrations_check_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.migrations_check_name_availability"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.migrations_check_name_availability"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.migrations_check_name_availability, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.migrations_check_name_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.migrations_check_name_availability"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.migrations_check_name_availability, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.migrations_check_name_availability, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.migrations_check_name_availability, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.migrations_check_name_availability"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/checkMigrationNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'MigrationNameAvailability'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.migrations_check_name_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#migrations_check_name_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all read replicas of a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [ServerList]
    def replicas_list_by_server(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = replicas_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Lists all read replicas of a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerList, Integer, Hash)>] ServerList data, response status code and response headers
    def replicas_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.replicas_list_by_server ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.replicas_list_by_server"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.replicas_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.replicas_list_by_server"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.replicas_list_by_server"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.replicas_list_by_server, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.replicas_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.replicas_list_by_server"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.replicas_list_by_server, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.replicas_list_by_server, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.replicas_list_by_server, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/replicas'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.replicas_list_by_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#replicas_list_by_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [Server] Parameters required to create a new server or to update an existing server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_create_or_update(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      servers_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      nil
    end

    # Creates a new server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [Server] Parameters required to create a new server or to update an existing server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_create_or_update"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_create_or_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes or drops an existing server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_delete(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Deletes or drops an existing server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_delete"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about an existing server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Server]
    def servers_get(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = servers_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Gets information about an existing server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Server, Integer, Hash)>] Server data, response status code and response headers
    def servers_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Server'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all servers in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [ServerList]
    def servers_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = servers_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all servers in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerList, Integer, Hash)>] ServerList data, response status code and response headers
    def servers_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all servers in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [ServerList]
    def servers_list_by_subscription(api_version, subscription_id, opts = {})
      data, _status_code, _headers = servers_list_by_subscription_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all servers in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerList, Integer, Hash)>] ServerList data, response status code and response headers
    def servers_list_by_subscription_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_list_by_subscription ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_list_by_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_list_by_subscription"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/flexibleServers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_list_by_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_list_by_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restarts PostgreSQL database engine in a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @option opts [RestartParameter] :parameters Parameters to restart a server.
    # @return [nil]
    def servers_restart(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_restart_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Restarts PostgreSQL database engine in a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @option opts [RestartParameter] :parameters Parameters to restart a server.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_restart_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_restart ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_restart"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_restart"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_restart"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_restart, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_restart"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_restart, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_restart, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_restart, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/restart'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'parameters'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_restart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts a stopped server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_start(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_start_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Starts a stopped server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_start_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_start ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_start"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_start, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_start"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_start"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_start, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_start, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_start"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_start, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_start, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_start, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/start'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_start",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stops a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_stop(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_stop_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Stops a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_stop_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_stop ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_stop"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_stop, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_stop"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_stop"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_stop, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_stop, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_stop"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_stop, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_stop, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_stop, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/stop'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing server. The request body can contain one or multiple of the properties present in the normal server definition.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerForPatch] Parameters required to update a server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_update(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      servers_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      nil
    end

    # Updates an existing server. The request body can contain one or multiple of the properties present in the normal server definition.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerForPatch] Parameters required to update a server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_update"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end