=begin
#PostgreSQLManagementClient

#The Azure Database for PostgreSQL management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, network configuration, security alert policies, log files and configurations with new business model.

The version of the OpenAPI document: 2025-08-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module PostgreSQL
  class VirtualEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a pair of virtual endpoints for a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param parameters [VirtualEndpoint] Parameters required to create or update a pair of virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_endpoints_create(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, parameters, opts = {})
      virtual_endpoints_create_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, parameters, opts)
      nil
    end

    # Creates a pair of virtual endpoints for a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param parameters [VirtualEndpoint] Parameters required to create or update a pair of virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_endpoints_create_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualEndpointsApi.virtual_endpoints_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualEndpointsApi.virtual_endpoints_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualEndpointsApi.virtual_endpoints_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualEndpointsApi.virtual_endpoints_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_create"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'virtual_endpoint_name' is set
      if @api_client.config.client_side_validation && virtual_endpoint_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_create"
      end
      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9-]{0,62}(?<!-)$/)
      if @api_client.config.client_side_validation && virtual_endpoint_name !~ pattern
        fail ArgumentError, "invalid value for 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualEndpointsApi.virtual_endpoints_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{virtualEndpointName}', CGI.escape(virtual_endpoint_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualEndpointsApi.virtual_endpoints_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualEndpointsApi#virtual_endpoints_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a pair of virtual endpoints.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_endpoints_delete(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, opts = {})
      virtual_endpoints_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, opts)
      nil
    end

    # Deletes a pair of virtual endpoints.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_endpoints_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualEndpointsApi.virtual_endpoints_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualEndpointsApi.virtual_endpoints_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualEndpointsApi.virtual_endpoints_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualEndpointsApi.virtual_endpoints_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_delete"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'virtual_endpoint_name' is set
      if @api_client.config.client_side_validation && virtual_endpoint_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_delete"
      end
      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9-]{0,62}(?<!-)$/)
      if @api_client.config.client_side_validation && virtual_endpoint_name !~ pattern
        fail ArgumentError, "invalid value for 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{virtualEndpointName}', CGI.escape(virtual_endpoint_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualEndpointsApi.virtual_endpoints_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualEndpointsApi#virtual_endpoints_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about a pair of virtual endpoints.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [VirtualEndpoint]
    def virtual_endpoints_get(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, opts = {})
      data, _status_code, _headers = virtual_endpoints_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, opts)
      data
    end

    # Gets information about a pair of virtual endpoints.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualEndpoint, Integer, Hash)>] VirtualEndpoint data, response status code and response headers
    def virtual_endpoints_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualEndpointsApi.virtual_endpoints_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualEndpointsApi.virtual_endpoints_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualEndpointsApi.virtual_endpoints_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualEndpointsApi.virtual_endpoints_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'virtual_endpoint_name' is set
      if @api_client.config.client_side_validation && virtual_endpoint_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_get"
      end
      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9-]{0,62}(?<!-)$/)
      if @api_client.config.client_side_validation && virtual_endpoint_name !~ pattern
        fail ArgumentError, "invalid value for 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{virtualEndpointName}', CGI.escape(virtual_endpoint_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualEndpointsApi.virtual_endpoints_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualEndpointsApi#virtual_endpoints_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists pair of virtual endpoints associated to a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [VirtualEndpointsList]
    def virtual_endpoints_list_by_server(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = virtual_endpoints_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Lists pair of virtual endpoints associated to a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualEndpointsList, Integer, Hash)>] VirtualEndpointsList data, response status code and response headers
    def virtual_endpoints_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualEndpointsApi.virtual_endpoints_list_by_server ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualEndpointsApi.virtual_endpoints_list_by_server"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualEndpointsApi.virtual_endpoints_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualEndpointsApi.virtual_endpoints_list_by_server"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualEndpointsApi.virtual_endpoints_list_by_server"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_list_by_server, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_list_by_server"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_list_by_server, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_list_by_server, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_list_by_server, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualEndpointsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualEndpointsApi.virtual_endpoints_list_by_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualEndpointsApi#virtual_endpoints_list_by_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a pair of virtual endpoints for a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param parameters [VirtualEndpointResourceForPatch] Parameters required to update a pair of virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_endpoints_update(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, parameters, opts = {})
      virtual_endpoints_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, parameters, opts)
      nil
    end

    # Updates a pair of virtual endpoints for a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param virtual_endpoint_name [String] Base name of the virtual endpoints.
    # @param parameters [VirtualEndpointResourceForPatch] Parameters required to update a pair of virtual endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_endpoints_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, virtual_endpoint_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualEndpointsApi.virtual_endpoints_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualEndpointsApi.virtual_endpoints_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualEndpointsApi.virtual_endpoints_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualEndpointsApi.virtual_endpoints_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_update"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "server_name" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling VirtualEndpointsApi.virtual_endpoints_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'virtual_endpoint_name' is set
      if @api_client.config.client_side_validation && virtual_endpoint_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_update"
      end
      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && virtual_endpoint_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "virtual_endpoint_name" when calling VirtualEndpointsApi.virtual_endpoints_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9-]{0,62}(?<!-)$/)
      if @api_client.config.client_side_validation && virtual_endpoint_name !~ pattern
        fail ArgumentError, "invalid value for 'virtual_endpoint_name' when calling VirtualEndpointsApi.virtual_endpoints_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualEndpointsApi.virtual_endpoints_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{virtualEndpointName}', CGI.escape(virtual_endpoint_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualEndpointsApi.virtual_endpoints_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualEndpointsApi#virtual_endpoints_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end