=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Storage
  class AdvancedPlatformMetricsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update the advanced platform metrics rule for the storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param advanced_platform_metrics_rule_type [String] The type of the advanced platform metrics rule.
    # @param resource [AdvancedPlatformMetricsRule] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedPlatformMetricsRule]
    def advanced_platform_metrics_create_or_update(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, resource, opts = {})
      data, _status_code, _headers = advanced_platform_metrics_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, resource, opts)
      data
    end

    # Create or update the advanced platform metrics rule for the storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param advanced_platform_metrics_rule_type [String] The type of the advanced platform metrics rule.
    # @param resource [AdvancedPlatformMetricsRule] Resource create parameters.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedPlatformMetricsRule, Integer, Hash)>] AdvancedPlatformMetricsRule data, response status code and response headers
    def advanced_platform_metrics_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advanced_platform_metrics_rule_type' is set
      if @api_client.config.client_side_validation && advanced_platform_metrics_rule_type.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_platform_metrics_rule_type' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update"
      end
      # verify enum value
      allowable_values = ["ContainerLevelCapacityMetrics"]
      if @api_client.config.client_side_validation && !allowable_values.include?(advanced_platform_metrics_rule_type)
        fail ArgumentError, "invalid value for \"advanced_platform_metrics_rule_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'resource' is set
      if @api_client.config.client_side_validation && resource.nil?
        fail ArgumentError, "Missing the required parameter 'resource' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/advancedPlatformMetrics/{advancedPlatformMetricsRuleType}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{advancedPlatformMetricsRuleType}', CGI.escape(advanced_platform_metrics_rule_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedPlatformMetricsRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedPlatformMetricsApi.advanced_platform_metrics_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedPlatformMetricsApi#advanced_platform_metrics_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the advanced platform metrics rule for the storage account by rule type.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param advanced_platform_metrics_rule_type [String] The type of the advanced platform metrics rule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def advanced_platform_metrics_delete(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, opts = {})
      advanced_platform_metrics_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, opts)
      nil
    end

    # Delete the advanced platform metrics rule for the storage account by rule type.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param advanced_platform_metrics_rule_type [String] The type of the advanced platform metrics rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def advanced_platform_metrics_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedPlatformMetricsApi.advanced_platform_metrics_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advanced_platform_metrics_rule_type' is set
      if @api_client.config.client_side_validation && advanced_platform_metrics_rule_type.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_platform_metrics_rule_type' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_delete"
      end
      # verify enum value
      allowable_values = ["ContainerLevelCapacityMetrics"]
      if @api_client.config.client_side_validation && !allowable_values.include?(advanced_platform_metrics_rule_type)
        fail ArgumentError, "invalid value for \"advanced_platform_metrics_rule_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/advancedPlatformMetrics/{advancedPlatformMetricsRuleType}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{advancedPlatformMetricsRuleType}', CGI.escape(advanced_platform_metrics_rule_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedPlatformMetricsApi.advanced_platform_metrics_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedPlatformMetricsApi#advanced_platform_metrics_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the advanced platform metrics rule for the storage account by rule type.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param advanced_platform_metrics_rule_type [String] The type of the advanced platform metrics rule.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedPlatformMetricsRule]
    def advanced_platform_metrics_get(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, opts = {})
      data, _status_code, _headers = advanced_platform_metrics_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, opts)
      data
    end

    # Get the advanced platform metrics rule for the storage account by rule type.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param advanced_platform_metrics_rule_type [String] The type of the advanced platform metrics rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedPlatformMetricsRule, Integer, Hash)>] AdvancedPlatformMetricsRule data, response status code and response headers
    def advanced_platform_metrics_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, advanced_platform_metrics_rule_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedPlatformMetricsApi.advanced_platform_metrics_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advanced_platform_metrics_rule_type' is set
      if @api_client.config.client_side_validation && advanced_platform_metrics_rule_type.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_platform_metrics_rule_type' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_get"
      end
      # verify enum value
      allowable_values = ["ContainerLevelCapacityMetrics"]
      if @api_client.config.client_side_validation && !allowable_values.include?(advanced_platform_metrics_rule_type)
        fail ArgumentError, "invalid value for \"advanced_platform_metrics_rule_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/advancedPlatformMetrics/{advancedPlatformMetricsRuleType}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{advancedPlatformMetricsRuleType}', CGI.escape(advanced_platform_metrics_rule_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedPlatformMetricsRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedPlatformMetricsApi.advanced_platform_metrics_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedPlatformMetricsApi#advanced_platform_metrics_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the advanced platform metrics rules associated with the storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedPlatformMetricsRuleListResult]
    def advanced_platform_metrics_list(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = advanced_platform_metrics_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # List the advanced platform metrics rules associated with the storage account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedPlatformMetricsRuleListResult, Integer, Hash)>] AdvancedPlatformMetricsRuleListResult data, response status code and response headers
    def advanced_platform_metrics_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedPlatformMetricsApi.advanced_platform_metrics_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling AdvancedPlatformMetricsApi.advanced_platform_metrics_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/advancedPlatformMetrics'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedPlatformMetricsRuleListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedPlatformMetricsApi.advanced_platform_metrics_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedPlatformMetricsApi#advanced_platform_metrics_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end