=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Storage
  class BlobContainersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param legal_hold [LegalHold] The LegalHold property that will be clear from a blob container.
    # @param [Hash] opts the optional parameters
    # @return [LegalHold]
    def blob_containers_clear_legal_hold(api_version, subscription_id, resource_group_name, account_name, container_name, legal_hold, opts = {})
      data, _status_code, _headers = blob_containers_clear_legal_hold_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, legal_hold, opts)
      data
    end

    # Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param legal_hold [LegalHold] The LegalHold property that will be clear from a blob container.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LegalHold, Integer, Hash)>] LegalHold data, response status code and response headers
    def blob_containers_clear_legal_hold_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, legal_hold, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_clear_legal_hold ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_clear_legal_hold"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_clear_legal_hold"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_clear_legal_hold"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_clear_legal_hold"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_clear_legal_hold, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_clear_legal_hold"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_clear_legal_hold, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'legal_hold' is set
      if @api_client.config.client_side_validation && legal_hold.nil?
        fail ArgumentError, "Missing the required parameter 'legal_hold' when calling BlobContainersApi.blob_containers_clear_legal_hold"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(legal_hold)

      # return_type
      return_type = opts[:debug_return_type] || 'LegalHold'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_clear_legal_hold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_clear_legal_hold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param blob_container [BlobContainer] Properties of the blob container to create.
    # @param [Hash] opts the optional parameters
    # @return [BlobContainer]
    def blob_containers_create(api_version, subscription_id, resource_group_name, account_name, container_name, blob_container, opts = {})
      data, _status_code, _headers = blob_containers_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, blob_container, opts)
      data
    end

    # Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param blob_container [BlobContainer] Properties of the blob container to create.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobContainer, Integer, Hash)>] BlobContainer data, response status code and response headers
    def blob_containers_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, blob_container, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_create"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_create, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_create"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_create, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'blob_container' is set
      if @api_client.config.client_side_validation && blob_container.nil?
        fail ArgumentError, "Missing the required parameter 'blob_container' when calling BlobContainersApi.blob_containers_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blob_container)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobContainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes specified container under its account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def blob_containers_delete(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      blob_containers_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts)
      nil
    end

    # Deletes specified container under its account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def blob_containers_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_delete"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_delete, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets properties of a specified container.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [BlobContainer]
    def blob_containers_get(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      data, _status_code, _headers = blob_containers_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts)
      data
    end

    # Gets properties of a specified container.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobContainer, Integer, Hash)>] BlobContainer data, response status code and response headers
    def blob_containers_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_get"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_get, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobContainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The Lease Container operation establishes and manages a lock on a container for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [LeaseContainerRequest] :parameters The content of the action request
    # @return [LeaseContainerResponse]
    def blob_containers_lease(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      data, _status_code, _headers = blob_containers_lease_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts)
      data
    end

    # The Lease Container operation establishes and manages a lock on a container for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [LeaseContainerRequest] :parameters The content of the action request
    # @return [Array<(LeaseContainerResponse, Integer, Hash)>] LeaseContainerResponse data, response status code and response headers
    def blob_containers_lease_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_lease ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_lease"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_lease, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_lease"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_lease"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_lease, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_lease, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_lease"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_lease, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_lease, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_lease, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_lease"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_lease, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_lease, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/lease'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'LeaseContainerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_lease",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_lease\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This operation migrates a blob container from container level WORM to object level immutability enabled container. Prerequisites require a container level immutability policy either in locked or unlocked state, Account level versioning must be enabled and there should be no Legal hold on the container.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def blob_containers_object_level_worm(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      blob_containers_object_level_worm_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts)
      nil
    end

    # This operation migrates a blob container from container level WORM to object level immutability enabled container. Prerequisites require a container level immutability policy either in locked or unlocked state, Account level versioning must be enabled and there should be no Legal hold on the container.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def blob_containers_object_level_worm_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_object_level_worm ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_object_level_worm"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_object_level_worm"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_object_level_worm"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_object_level_worm"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_object_level_worm, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_object_level_worm"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_object_level_worm, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/migrate'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_object_level_worm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_object_level_worm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param legal_hold [LegalHold] The LegalHold property that will be set to a blob container.
    # @param [Hash] opts the optional parameters
    # @return [LegalHold]
    def blob_containers_set_legal_hold(api_version, subscription_id, resource_group_name, account_name, container_name, legal_hold, opts = {})
      data, _status_code, _headers = blob_containers_set_legal_hold_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, legal_hold, opts)
      data
    end

    # Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param legal_hold [LegalHold] The LegalHold property that will be set to a blob container.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LegalHold, Integer, Hash)>] LegalHold data, response status code and response headers
    def blob_containers_set_legal_hold_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, legal_hold, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_set_legal_hold ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_set_legal_hold"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_set_legal_hold"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_set_legal_hold"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_set_legal_hold"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_set_legal_hold, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_set_legal_hold"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_set_legal_hold, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'legal_hold' is set
      if @api_client.config.client_side_validation && legal_hold.nil?
        fail ArgumentError, "Missing the required parameter 'legal_hold' when calling BlobContainersApi.blob_containers_set_legal_hold"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(legal_hold)

      # return_type
      return_type = opts[:debug_return_type] || 'LegalHold'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_set_legal_hold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_set_legal_hold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn't already exist.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param blob_container [BlobContainer] Properties to update for the blob container.
    # @param [Hash] opts the optional parameters
    # @return [BlobContainer]
    def blob_containers_update(api_version, subscription_id, resource_group_name, account_name, container_name, blob_container, opts = {})
      data, _status_code, _headers = blob_containers_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, blob_container, opts)
      data
    end

    # Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn&#39;t already exist.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param container_name [String] The name of the blob container within the specified storage account. Blob container names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param blob_container [BlobContainer] Properties to update for the blob container.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlobContainer, Integer, Hash)>] BlobContainer data, response status code and response headers
    def blob_containers_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, container_name, blob_container, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobContainersApi.blob_containers_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BlobContainersApi.blob_containers_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BlobContainersApi.blob_containers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BlobContainersApi.blob_containers_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BlobContainersApi.blob_containers_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BlobContainersApi.blob_containers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling BlobContainersApi.blob_containers_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling BlobContainersApi.blob_containers_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling BlobContainersApi.blob_containers_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'container_name' is set
      if @api_client.config.client_side_validation && container_name.nil?
        fail ArgumentError, "Missing the required parameter 'container_name' when calling BlobContainersApi.blob_containers_update"
      end
      if @api_client.config.client_side_validation && container_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && container_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "container_name" when calling BlobContainersApi.blob_containers_update, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'blob_container' is set
      if @api_client.config.client_side_validation && blob_container.nil?
        fail ArgumentError, "Missing the required parameter 'blob_container' when calling BlobContainersApi.blob_containers_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{containerName}', CGI.escape(container_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(blob_container)

      # return_type
      return_type = opts[:debug_return_type] || 'BlobContainer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BlobContainersApi.blob_containers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobContainersApi#blob_containers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end