=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Storage
  class ConnectorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Storage Connector if it does not already exist; otherwise, error out. This API will not allow you to replace an already existing resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param resource [Connector] Create a Storage Connector if it does not already exist; otherwise, error out. This API will not allow you to replace an already existing resource.
    # @param [Hash] opts the optional parameters
    # @return [Connector]
    def connectors_create(api_version, subscription_id, resource_group_name, account_name, connector_name, resource, opts = {})
      data, _status_code, _headers = connectors_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, resource, opts)
      data
    end

    # Create a Storage Connector if it does not already exist; otherwise, error out. This API will not allow you to replace an already existing resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param resource [Connector] Create a Storage Connector if it does not already exist; otherwise, error out. This API will not allow you to replace an already existing resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Connector, Integer, Hash)>] Connector data, response status code and response headers
    def connectors_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.connectors_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ConnectorsApi.connectors_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ConnectorsApi.connectors_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ConnectorsApi.connectors_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ConnectorsApi.connectors_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling ConnectorsApi.connectors_create"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_create, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling ConnectorsApi.connectors_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connector_name' is set
      if @api_client.config.client_side_validation && connector_name.nil?
        fail ArgumentError, "Missing the required parameter 'connector_name' when calling ConnectorsApi.connectors_create"
      end
      if @api_client.config.client_side_validation && connector_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && connector_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && connector_name !~ pattern
        fail ArgumentError, "invalid value for 'connector_name' when calling ConnectorsApi.connectors_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource' is set
      if @api_client.config.client_side_validation && resource.nil?
        fail ArgumentError, "Missing the required parameter 'resource' when calling ConnectorsApi.connectors_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/connectors/{connectorName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{connectorName}', CGI.escape(connector_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource)

      # return_type
      return_type = opts[:debug_return_type] || 'Connector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.connectors_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#connectors_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Storage Connector.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def connectors_delete(api_version, subscription_id, resource_group_name, account_name, connector_name, opts = {})
      connectors_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, opts)
      nil
    end

    # Delete a Storage Connector.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def connectors_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.connectors_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ConnectorsApi.connectors_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ConnectorsApi.connectors_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ConnectorsApi.connectors_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ConnectorsApi.connectors_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling ConnectorsApi.connectors_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling ConnectorsApi.connectors_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connector_name' is set
      if @api_client.config.client_side_validation && connector_name.nil?
        fail ArgumentError, "Missing the required parameter 'connector_name' when calling ConnectorsApi.connectors_delete"
      end
      if @api_client.config.client_side_validation && connector_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && connector_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && connector_name !~ pattern
        fail ArgumentError, "invalid value for 'connector_name' when calling ConnectorsApi.connectors_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/connectors/{connectorName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{connectorName}', CGI.escape(connector_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.connectors_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#connectors_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specified Storage Connector.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param [Hash] opts the optional parameters
    # @return [Connector]
    def connectors_get(api_version, subscription_id, resource_group_name, account_name, connector_name, opts = {})
      data, _status_code, _headers = connectors_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, opts)
      data
    end

    # Get the specified Storage Connector.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Connector, Integer, Hash)>] Connector data, response status code and response headers
    def connectors_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.connectors_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ConnectorsApi.connectors_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ConnectorsApi.connectors_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ConnectorsApi.connectors_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ConnectorsApi.connectors_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling ConnectorsApi.connectors_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling ConnectorsApi.connectors_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connector_name' is set
      if @api_client.config.client_side_validation && connector_name.nil?
        fail ArgumentError, "Missing the required parameter 'connector_name' when calling ConnectorsApi.connectors_get"
      end
      if @api_client.config.client_side_validation && connector_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && connector_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && connector_name !~ pattern
        fail ArgumentError, "invalid value for 'connector_name' when calling ConnectorsApi.connectors_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/connectors/{connectorName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{connectorName}', CGI.escape(connector_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Connector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.connectors_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#connectors_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all Storage Connectors in a Storage Account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [ConnectorListResult]
    def connectors_list_by_storage_account(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = connectors_list_by_storage_account_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # List all Storage Connectors in a Storage Account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectorListResult, Integer, Hash)>] ConnectorListResult data, response status code and response headers
    def connectors_list_by_storage_account_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.connectors_list_by_storage_account ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ConnectorsApi.connectors_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ConnectorsApi.connectors_list_by_storage_account, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ConnectorsApi.connectors_list_by_storage_account"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ConnectorsApi.connectors_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_list_by_storage_account, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_list_by_storage_account, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling ConnectorsApi.connectors_list_by_storage_account"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_list_by_storage_account, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_list_by_storage_account, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling ConnectorsApi.connectors_list_by_storage_account, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/connectors'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectorListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.connectors_list_by_storage_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#connectors_list_by_storage_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This method is used to verify that the connection to the backing data store works. This API is designed to be used for monitoring and debugging purposes. From the caller’s perspective, this method does the following: Calls List on the backing data store, attempting to list up to one blob/object/etc. If the above succeeds, and if a blob/object/etc is found, calls Get on that object, attempting to download one byte.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param body [TestExistingConnectionRequest] This method is used to verify that the connection to the backing data store works. This API is designed to be used for monitoring and debugging purposes. From the caller’s perspective, this method does the following: Calls List on the backing data store, attempting to list up to one blob/object/etc. If the above succeeds, and if a blob/object/etc is found, calls Get on that object, attempting to download one byte.
    # @param [Hash] opts the optional parameters
    # @return [TestConnectionResponse]
    def connectors_test_existing_connection(api_version, subscription_id, resource_group_name, account_name, connector_name, body, opts = {})
      data, _status_code, _headers = connectors_test_existing_connection_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, body, opts)
      data
    end

    # This method is used to verify that the connection to the backing data store works. This API is designed to be used for monitoring and debugging purposes. From the caller’s perspective, this method does the following: Calls List on the backing data store, attempting to list up to one blob/object/etc. If the above succeeds, and if a blob/object/etc is found, calls Get on that object, attempting to download one byte.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param body [TestExistingConnectionRequest] This method is used to verify that the connection to the backing data store works. This API is designed to be used for monitoring and debugging purposes. From the caller’s perspective, this method does the following: Calls List on the backing data store, attempting to list up to one blob/object/etc. If the above succeeds, and if a blob/object/etc is found, calls Get on that object, attempting to download one byte.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestConnectionResponse, Integer, Hash)>] TestConnectionResponse data, response status code and response headers
    def connectors_test_existing_connection_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.connectors_test_existing_connection ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ConnectorsApi.connectors_test_existing_connection"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ConnectorsApi.connectors_test_existing_connection"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ConnectorsApi.connectors_test_existing_connection"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling ConnectorsApi.connectors_test_existing_connection"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling ConnectorsApi.connectors_test_existing_connection, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connector_name' is set
      if @api_client.config.client_side_validation && connector_name.nil?
        fail ArgumentError, "Missing the required parameter 'connector_name' when calling ConnectorsApi.connectors_test_existing_connection"
      end
      if @api_client.config.client_side_validation && connector_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && connector_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_test_existing_connection, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && connector_name !~ pattern
        fail ArgumentError, "invalid value for 'connector_name' when calling ConnectorsApi.connectors_test_existing_connection, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ConnectorsApi.connectors_test_existing_connection"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/connectors/{connectorName}/testExistingConnection'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{connectorName}', CGI.escape(connector_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'TestConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.connectors_test_existing_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#connectors_test_existing_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Storage Connector.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param properties [ConnectorUpdate] The updated properties of the Storage Connector.
    # @param [Hash] opts the optional parameters
    # @return [Connector]
    def connectors_update(api_version, subscription_id, resource_group_name, account_name, connector_name, properties, opts = {})
      data, _status_code, _headers = connectors_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, properties, opts)
      data
    end

    # Update a Storage Connector.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param connector_name [String] The name of the Storage Connector.
    # @param properties [ConnectorUpdate] The updated properties of the Storage Connector.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Connector, Integer, Hash)>] Connector data, response status code and response headers
    def connectors_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, connector_name, properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.connectors_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ConnectorsApi.connectors_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ConnectorsApi.connectors_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ConnectorsApi.connectors_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ConnectorsApi.connectors_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ConnectorsApi.connectors_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling ConnectorsApi.connectors_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling ConnectorsApi.connectors_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling ConnectorsApi.connectors_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connector_name' is set
      if @api_client.config.client_side_validation && connector_name.nil?
        fail ArgumentError, "Missing the required parameter 'connector_name' when calling ConnectorsApi.connectors_update"
      end
      if @api_client.config.client_side_validation && connector_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && connector_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "connector_name" when calling ConnectorsApi.connectors_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$/)
      if @api_client.config.client_side_validation && connector_name !~ pattern
        fail ArgumentError, "invalid value for 'connector_name' when calling ConnectorsApi.connectors_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'properties' is set
      if @api_client.config.client_side_validation && properties.nil?
        fail ArgumentError, "Missing the required parameter 'properties' when calling ConnectorsApi.connectors_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/connectors/{connectorName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{connectorName}', CGI.escape(connector_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(properties)

      # return_type
      return_type = opts[:debug_return_type] || 'Connector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.connectors_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#connectors_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end