=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Storage
  class DeletedAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get properties of specified deleted account resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param deleted_account_name [String] Name of the deleted storage account.
    # @param [Hash] opts the optional parameters
    # @return [DeletedAccount]
    def deleted_accounts_get(api_version, subscription_id, location, deleted_account_name, opts = {})
      data, _status_code, _headers = deleted_accounts_get_with_http_info(api_version, subscription_id, location, deleted_account_name, opts)
      data
    end

    # Get properties of specified deleted account resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param deleted_account_name [String] Name of the deleted storage account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedAccount, Integer, Hash)>] DeletedAccount data, response status code and response headers
    def deleted_accounts_get_with_http_info(api_version, subscription_id, location, deleted_account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeletedAccountsApi.deleted_accounts_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DeletedAccountsApi.deleted_accounts_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DeletedAccountsApi.deleted_accounts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DeletedAccountsApi.deleted_accounts_get"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling DeletedAccountsApi.deleted_accounts_get"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling DeletedAccountsApi.deleted_accounts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'deleted_account_name' is set
      if @api_client.config.client_side_validation && deleted_account_name.nil?
        fail ArgumentError, "Missing the required parameter 'deleted_account_name' when calling DeletedAccountsApi.deleted_accounts_get"
      end
      if @api_client.config.client_side_validation && deleted_account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "deleted_account_name" when calling DeletedAccountsApi.deleted_accounts_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && deleted_account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "deleted_account_name" when calling DeletedAccountsApi.deleted_accounts_get, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/deletedAccounts/{deletedAccountName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{deletedAccountName}', CGI.escape(deleted_account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletedAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DeletedAccountsApi.deleted_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeletedAccountsApi#deleted_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end