=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Storage
  class FileSharesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new share under the specified account as described by request body. The share resource includes metadata and properties for that share. It does not include a list of the files contained by the share.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param file_share [FileShare] Properties of the file share to create.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Optional, used to expand the properties within share&#39;s properties. Valid values are: snapshots. Should be passed as a string with delimiter &#39;,&#39;
    # @return [FileShare]
    def file_shares_create(api_version, subscription_id, resource_group_name, account_name, share_name, file_share, opts = {})
      data, _status_code, _headers = file_shares_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, file_share, opts)
      data
    end

    # Creates a new share under the specified account as described by request body. The share resource includes metadata and properties for that share. It does not include a list of the files contained by the share.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param file_share [FileShare] Properties of the file share to create.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Optional, used to expand the properties within share&#39;s properties. Valid values are: snapshots. Should be passed as a string with delimiter &#39;,&#39;
    # @return [Array<(FileShare, Integer, Hash)>] FileShare data, response status code and response headers
    def file_shares_create_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, file_share, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileSharesApi.file_shares_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FileSharesApi.file_shares_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FileSharesApi.file_shares_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FileSharesApi.file_shares_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FileSharesApi.file_shares_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling FileSharesApi.file_shares_create"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_create, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_create, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling FileSharesApi.file_shares_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'share_name' is set
      if @api_client.config.client_side_validation && share_name.nil?
        fail ArgumentError, "Missing the required parameter 'share_name' when calling FileSharesApi.file_shares_create"
      end
      if @api_client.config.client_side_validation && share_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && share_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_create, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'file_share' is set
      if @api_client.config.client_side_validation && file_share.nil?
        fail ArgumentError, "Missing the required parameter 'file_share' when calling FileSharesApi.file_shares_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{shareName}', CGI.escape(share_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(file_share)

      # return_type
      return_type = opts[:debug_return_type] || 'FileShare'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FileSharesApi.file_shares_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileSharesApi#file_shares_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes specified share under its account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_ms_snapshot Optional, used to delete a snapshot.
    # @option opts [String] :include Optional. Valid values are: snapshots, leased-snapshots, none. The default value is snapshots. For &#39;snapshots&#39;, the file share is deleted including all of its file share snapshots. If the file share contains leased-snapshots, the deletion fails. For &#39;leased-snapshots&#39;, the file share is deleted included all of its file share snapshots (leased/unleased). For &#39;none&#39;, the file share is deleted if it has no share snapshots. If the file share contains any snapshots (leased or unleased), the deletion fails.
    # @return [nil]
    def file_shares_delete(api_version, subscription_id, resource_group_name, account_name, share_name, opts = {})
      file_shares_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, opts)
      nil
    end

    # Deletes specified share under its account.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_ms_snapshot Optional, used to delete a snapshot.
    # @option opts [String] :include Optional. Valid values are: snapshots, leased-snapshots, none. The default value is snapshots. For &#39;snapshots&#39;, the file share is deleted including all of its file share snapshots. If the file share contains leased-snapshots, the deletion fails. For &#39;leased-snapshots&#39;, the file share is deleted included all of its file share snapshots (leased/unleased). For &#39;none&#39;, the file share is deleted if it has no share snapshots. If the file share contains any snapshots (leased or unleased), the deletion fails.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def file_shares_delete_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileSharesApi.file_shares_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FileSharesApi.file_shares_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FileSharesApi.file_shares_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FileSharesApi.file_shares_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FileSharesApi.file_shares_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling FileSharesApi.file_shares_delete"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_delete, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling FileSharesApi.file_shares_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'share_name' is set
      if @api_client.config.client_side_validation && share_name.nil?
        fail ArgumentError, "Missing the required parameter 'share_name' when calling FileSharesApi.file_shares_delete"
      end
      if @api_client.config.client_side_validation && share_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && share_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_delete, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{shareName}', CGI.escape(share_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$include'] = opts[:'include'] if !opts[:'include'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-ms-snapshot'] = opts[:'x_ms_snapshot'] if !opts[:'x_ms_snapshot'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FileSharesApi.file_shares_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileSharesApi#file_shares_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets properties of a specified share.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Optional, used to expand the properties within share&#39;s properties. Valid values are: stats. Should be passed as a string with delimiter &#39;,&#39;.
    # @option opts [String] :x_ms_snapshot Optional, used to retrieve properties of a snapshot.
    # @return [FileShare]
    def file_shares_get(api_version, subscription_id, resource_group_name, account_name, share_name, opts = {})
      data, _status_code, _headers = file_shares_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, opts)
      data
    end

    # Gets properties of a specified share.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Optional, used to expand the properties within share&#39;s properties. Valid values are: stats. Should be passed as a string with delimiter &#39;,&#39;.
    # @option opts [String] :x_ms_snapshot Optional, used to retrieve properties of a snapshot.
    # @return [Array<(FileShare, Integer, Hash)>] FileShare data, response status code and response headers
    def file_shares_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileSharesApi.file_shares_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FileSharesApi.file_shares_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FileSharesApi.file_shares_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FileSharesApi.file_shares_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FileSharesApi.file_shares_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling FileSharesApi.file_shares_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling FileSharesApi.file_shares_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'share_name' is set
      if @api_client.config.client_side_validation && share_name.nil?
        fail ArgumentError, "Missing the required parameter 'share_name' when calling FileSharesApi.file_shares_get"
      end
      if @api_client.config.client_side_validation && share_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && share_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_get, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{shareName}', CGI.escape(share_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-ms-snapshot'] = opts[:'x_ms_snapshot'] if !opts[:'x_ms_snapshot'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileShare'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FileSharesApi.file_shares_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileSharesApi#file_shares_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The Lease Share operation establishes and manages a lock on a share for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_ms_snapshot Optional. Specify the snapshot time to lease a snapshot.
    # @option opts [LeaseShareRequest] :parameters The content of the action request
    # @return [LeaseShareResponse]
    def file_shares_lease(api_version, subscription_id, resource_group_name, account_name, share_name, opts = {})
      data, _status_code, _headers = file_shares_lease_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, opts)
      data
    end

    # The Lease Share operation establishes and manages a lock on a share for delete operations. The lock duration can be 15 to 60 seconds, or can be infinite.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_ms_snapshot Optional. Specify the snapshot time to lease a snapshot.
    # @option opts [LeaseShareRequest] :parameters The content of the action request
    # @return [Array<(LeaseShareResponse, Integer, Hash)>] LeaseShareResponse data, response status code and response headers
    def file_shares_lease_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileSharesApi.file_shares_lease ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FileSharesApi.file_shares_lease"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FileSharesApi.file_shares_lease, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FileSharesApi.file_shares_lease"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FileSharesApi.file_shares_lease"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_lease, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_lease, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling FileSharesApi.file_shares_lease"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_lease, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_lease, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling FileSharesApi.file_shares_lease, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'share_name' is set
      if @api_client.config.client_side_validation && share_name.nil?
        fail ArgumentError, "Missing the required parameter 'share_name' when calling FileSharesApi.file_shares_lease"
      end
      if @api_client.config.client_side_validation && share_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_lease, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && share_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_lease, the character length must be greater than or equal to 3.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}/lease'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{shareName}', CGI.escape(share_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-ms-snapshot'] = opts[:'x_ms_snapshot'] if !opts[:'x_ms_snapshot'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'LeaseShareResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FileSharesApi.file_shares_lease",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileSharesApi#file_shares_lease\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore a file share within a valid retention days if share soft delete is enabled
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param deleted_share [DeletedShare] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def file_shares_restore(api_version, subscription_id, resource_group_name, account_name, share_name, deleted_share, opts = {})
      file_shares_restore_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, deleted_share, opts)
      nil
    end

    # Restore a file share within a valid retention days if share soft delete is enabled
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param deleted_share [DeletedShare] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def file_shares_restore_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, deleted_share, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileSharesApi.file_shares_restore ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FileSharesApi.file_shares_restore"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FileSharesApi.file_shares_restore, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FileSharesApi.file_shares_restore"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FileSharesApi.file_shares_restore"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_restore, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_restore, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling FileSharesApi.file_shares_restore"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_restore, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_restore, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling FileSharesApi.file_shares_restore, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'share_name' is set
      if @api_client.config.client_side_validation && share_name.nil?
        fail ArgumentError, "Missing the required parameter 'share_name' when calling FileSharesApi.file_shares_restore"
      end
      if @api_client.config.client_side_validation && share_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_restore, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && share_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_restore, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'deleted_share' is set
      if @api_client.config.client_side_validation && deleted_share.nil?
        fail ArgumentError, "Missing the required parameter 'deleted_share' when calling FileSharesApi.file_shares_restore"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}/restore'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{shareName}', CGI.escape(share_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(deleted_share)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FileSharesApi.file_shares_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileSharesApi#file_shares_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates share properties as specified in request body. Properties not mentioned in the request will not be changed. Update fails if the specified share does not already exist.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param file_share [FileShare] Properties to update for the file share.
    # @param [Hash] opts the optional parameters
    # @return [FileShare]
    def file_shares_update(api_version, subscription_id, resource_group_name, account_name, share_name, file_share, opts = {})
      data, _status_code, _headers = file_shares_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, file_share, opts)
      data
    end

    # Updates share properties as specified in request body. Properties not mentioned in the request will not be changed. Update fails if the specified share does not already exist.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param share_name [String] The name of the file share within the specified storage account. File share names must be between 3 and 63 characters in length and use numbers, lower-case letters and dash (-) only. Every dash (-) character must be immediately preceded and followed by a letter or number.
    # @param file_share [FileShare] Properties to update for the file share.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileShare, Integer, Hash)>] FileShare data, response status code and response headers
    def file_shares_update_with_http_info(api_version, subscription_id, resource_group_name, account_name, share_name, file_share, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FileSharesApi.file_shares_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FileSharesApi.file_shares_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FileSharesApi.file_shares_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FileSharesApi.file_shares_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FileSharesApi.file_shares_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FileSharesApi.file_shares_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling FileSharesApi.file_shares_update"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling FileSharesApi.file_shares_update, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling FileSharesApi.file_shares_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'share_name' is set
      if @api_client.config.client_side_validation && share_name.nil?
        fail ArgumentError, "Missing the required parameter 'share_name' when calling FileSharesApi.file_shares_update"
      end
      if @api_client.config.client_side_validation && share_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && share_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "share_name" when calling FileSharesApi.file_shares_update, the character length must be greater than or equal to 3.'
      end

      # verify the required parameter 'file_share' is set
      if @api_client.config.client_side_validation && file_share.nil?
        fail ArgumentError, "Missing the required parameter 'file_share' when calling FileSharesApi.file_shares_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/fileServices/default/shares/{shareName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{shareName}', CGI.escape(share_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(file_share)

      # return_type
      return_type = opts[:debug_return_type] || 'FileShare'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FileSharesApi.file_shares_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FileSharesApi#file_shares_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end