=begin
#StorageManagementClient

#The Azure Storage Management API.

The version of the OpenAPI document: 2026-09-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Storage
  class NetworkSecurityPerimeterConfigurationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets effective NetworkSecurityPerimeterConfiguration for association
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param network_security_perimeter_configuration_name [String] The name for Network Security Perimeter configuration
    # @param [Hash] opts the optional parameters
    # @return [NetworkSecurityPerimeterConfiguration]
    def network_security_perimeter_configurations_get(api_version, subscription_id, resource_group_name, account_name, network_security_perimeter_configuration_name, opts = {})
      data, _status_code, _headers = network_security_perimeter_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, network_security_perimeter_configuration_name, opts)
      data
    end

    # Gets effective NetworkSecurityPerimeterConfiguration for association
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param network_security_perimeter_configuration_name [String] The name for Network Security Perimeter configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkSecurityPerimeterConfiguration, Integer, Hash)>] NetworkSecurityPerimeterConfiguration data, response status code and response headers
    def network_security_perimeter_configurations_get_with_http_info(api_version, subscription_id, resource_group_name, account_name, network_security_perimeter_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'network_security_perimeter_configuration_name' is set
      if @api_client.config.client_side_validation && network_security_perimeter_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_perimeter_configuration_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get"
      end
      pattern = Regexp.new(/^.*$/)
      if @api_client.config.client_side_validation && network_security_perimeter_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'network_security_perimeter_configuration_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{networkSecurityPerimeterConfigurationName}', CGI.escape(network_security_perimeter_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkSecurityPerimeterConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkSecurityPerimeterConfigurationsApi#network_security_perimeter_configurations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of effective NetworkSecurityPerimeterConfiguration for storage account
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [NetworkSecurityPerimeterConfigurationList]
    def network_security_perimeter_configurations_list(api_version, subscription_id, resource_group_name, account_name, opts = {})
      data, _status_code, _headers = network_security_perimeter_configurations_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts)
      data
    end

    # Gets list of effective NetworkSecurityPerimeterConfiguration for storage account
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkSecurityPerimeterConfigurationList, Integer, Hash)>] NetworkSecurityPerimeterConfigurationList data, response status code and response headers
    def network_security_perimeter_configurations_list_with_http_info(api_version, subscription_id, resource_group_name, account_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/networkSecurityPerimeterConfigurations'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkSecurityPerimeterConfigurationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkSecurityPerimeterConfigurationsApi#network_security_perimeter_configurations_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refreshes any information about the association.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param network_security_perimeter_configuration_name [String] The name for Network Security Perimeter configuration
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_security_perimeter_configurations_reconcile(api_version, subscription_id, resource_group_name, account_name, network_security_perimeter_configuration_name, opts = {})
      network_security_perimeter_configurations_reconcile_with_http_info(api_version, subscription_id, resource_group_name, account_name, network_security_perimeter_configuration_name, opts)
      nil
    end

    # Refreshes any information about the association.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param account_name [String] The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.
    # @param network_security_perimeter_configuration_name [String] The name for Network Security Perimeter configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def network_security_perimeter_configurations_reconcile_with_http_info(api_version, subscription_id, resource_group_name, account_name, network_security_perimeter_configuration_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'account_name' is set
      if @api_client.config.client_side_validation && account_name.nil?
        fail ArgumentError, "Missing the required parameter 'account_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile"
      end
      if @api_client.config.client_side_validation && account_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "account_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && account_name.to_s.length < 3
        fail ArgumentError, 'invalid value for "account_name" when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, the character length must be greater than or equal to 3.'
      end

      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && account_name !~ pattern
        fail ArgumentError, "invalid value for 'account_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'network_security_perimeter_configuration_name' is set
      if @api_client.config.client_side_validation && network_security_perimeter_configuration_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_perimeter_configuration_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile"
      end
      pattern = Regexp.new(/^.*$/)
      if @api_client.config.client_side_validation && network_security_perimeter_configuration_name !~ pattern
        fail ArgumentError, "invalid value for 'network_security_perimeter_configuration_name' when calling NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}/reconcile'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{accountName}', CGI.escape(account_name.to_s)).sub('{networkSecurityPerimeterConfigurationName}', CGI.escape(network_security_perimeter_configuration_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"NetworkSecurityPerimeterConfigurationsApi.network_security_perimeter_configurations_reconcile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NetworkSecurityPerimeterConfigurationsApi#network_security_perimeter_configurations_reconcile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end