=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class AddressPrefixSetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates an address prefix set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param address_prefix_set_name [String] The name of the address prefix set.
    # @param resource [AddressPrefixSet] Parameters supplied to the create or update address prefix set operation.
    # @param [Hash] opts the optional parameters
    # @return [AddressPrefixSet]
    def address_prefix_sets_create_or_update(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, resource, opts = {})
      data, _status_code, _headers = address_prefix_sets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, resource, opts)
      data
    end

    # Creates or updates an address prefix set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param address_prefix_set_name [String] The name of the address prefix set.
    # @param resource [AddressPrefixSet] Parameters supplied to the create or update address prefix set operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddressPrefixSet, Integer, Hash)>] AddressPrefixSet data, response status code and response headers
    def address_prefix_sets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressPrefixSetsApi.address_prefix_sets_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'application_security_group_name' is set
      if @api_client.config.client_side_validation && application_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'application_security_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update"
      end
      # verify the required parameter 'address_prefix_set_name' is set
      if @api_client.config.client_side_validation && address_prefix_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'address_prefix_set_name' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9]([a-zA-Z0-9_.-]{0,78}[a-zA-Z0-9_])?$/)
      if @api_client.config.client_side_validation && address_prefix_set_name !~ pattern
        fail ArgumentError, "invalid value for 'address_prefix_set_name' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource' is set
      if @api_client.config.client_side_validation && resource.nil?
        fail ArgumentError, "Missing the required parameter 'resource' when calling AddressPrefixSetsApi.address_prefix_sets_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups/{applicationSecurityGroupName}/addressPrefixSets/{addressPrefixSetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{applicationSecurityGroupName}', CGI.escape(application_security_group_name.to_s)).sub('{addressPrefixSetName}', CGI.escape(address_prefix_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource)

      # return_type
      return_type = opts[:debug_return_type] || 'AddressPrefixSet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AddressPrefixSetsApi.address_prefix_sets_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressPrefixSetsApi#address_prefix_sets_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified address prefix set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param address_prefix_set_name [String] The name of the address prefix set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def address_prefix_sets_delete(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, opts = {})
      address_prefix_sets_delete_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, opts)
      nil
    end

    # Deletes the specified address prefix set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param address_prefix_set_name [String] The name of the address prefix set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def address_prefix_sets_delete_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressPrefixSetsApi.address_prefix_sets_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AddressPrefixSetsApi.address_prefix_sets_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AddressPrefixSetsApi.address_prefix_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AddressPrefixSetsApi.address_prefix_sets_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'application_security_group_name' is set
      if @api_client.config.client_side_validation && application_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'application_security_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_delete"
      end
      # verify the required parameter 'address_prefix_set_name' is set
      if @api_client.config.client_side_validation && address_prefix_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'address_prefix_set_name' when calling AddressPrefixSetsApi.address_prefix_sets_delete"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9]([a-zA-Z0-9_.-]{0,78}[a-zA-Z0-9_])?$/)
      if @api_client.config.client_side_validation && address_prefix_set_name !~ pattern
        fail ArgumentError, "invalid value for 'address_prefix_set_name' when calling AddressPrefixSetsApi.address_prefix_sets_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups/{applicationSecurityGroupName}/addressPrefixSets/{addressPrefixSetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{applicationSecurityGroupName}', CGI.escape(application_security_group_name.to_s)).sub('{addressPrefixSetName}', CGI.escape(address_prefix_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AddressPrefixSetsApi.address_prefix_sets_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressPrefixSetsApi#address_prefix_sets_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified address prefix set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param address_prefix_set_name [String] The name of the address prefix set.
    # @param [Hash] opts the optional parameters
    # @return [AddressPrefixSet]
    def address_prefix_sets_get(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, opts = {})
      data, _status_code, _headers = address_prefix_sets_get_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, opts)
      data
    end

    # Gets the specified address prefix set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param address_prefix_set_name [String] The name of the address prefix set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddressPrefixSet, Integer, Hash)>] AddressPrefixSet data, response status code and response headers
    def address_prefix_sets_get_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, address_prefix_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressPrefixSetsApi.address_prefix_sets_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AddressPrefixSetsApi.address_prefix_sets_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AddressPrefixSetsApi.address_prefix_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AddressPrefixSetsApi.address_prefix_sets_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'application_security_group_name' is set
      if @api_client.config.client_side_validation && application_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'application_security_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_get"
      end
      # verify the required parameter 'address_prefix_set_name' is set
      if @api_client.config.client_side_validation && address_prefix_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'address_prefix_set_name' when calling AddressPrefixSetsApi.address_prefix_sets_get"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9]([a-zA-Z0-9_.-]{0,78}[a-zA-Z0-9_])?$/)
      if @api_client.config.client_side_validation && address_prefix_set_name !~ pattern
        fail ArgumentError, "invalid value for 'address_prefix_set_name' when calling AddressPrefixSetsApi.address_prefix_sets_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups/{applicationSecurityGroupName}/addressPrefixSets/{addressPrefixSetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{applicationSecurityGroupName}', CGI.escape(application_security_group_name.to_s)).sub('{addressPrefixSetName}', CGI.escape(address_prefix_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AddressPrefixSet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AddressPrefixSetsApi.address_prefix_sets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressPrefixSetsApi#address_prefix_sets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all address prefix sets in an application security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param [Hash] opts the optional parameters
    # @return [AddressPrefixSetListResult]
    def address_prefix_sets_list(api_version, subscription_id, resource_group_name, application_security_group_name, opts = {})
      data, _status_code, _headers = address_prefix_sets_list_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, opts)
      data
    end

    # Gets all address prefix sets in an application security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param application_security_group_name [String] The name of the application security group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddressPrefixSetListResult, Integer, Hash)>] AddressPrefixSetListResult data, response status code and response headers
    def address_prefix_sets_list_with_http_info(api_version, subscription_id, resource_group_name, application_security_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddressPrefixSetsApi.address_prefix_sets_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AddressPrefixSetsApi.address_prefix_sets_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AddressPrefixSetsApi.address_prefix_sets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AddressPrefixSetsApi.address_prefix_sets_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AddressPrefixSetsApi.address_prefix_sets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'application_security_group_name' is set
      if @api_client.config.client_side_validation && application_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'application_security_group_name' when calling AddressPrefixSetsApi.address_prefix_sets_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups/{applicationSecurityGroupName}/addressPrefixSets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{applicationSecurityGroupName}', CGI.escape(application_security_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AddressPrefixSetListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AddressPrefixSetsApi.address_prefix_sets_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddressPrefixSetsApi#address_prefix_sets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end