=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class BastionShareableLinkApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bastion_shareable_link(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      delete_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts)
      nil
    end

    # Deletes the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionShareableLinkApi.delete_bastion_shareable_link ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionShareableLinkApi.delete_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionShareableLinkApi.delete_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionShareableLinkApi.delete_bastion_shareable_link"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionShareableLinkApi.delete_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.delete_bastion_shareable_link, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.delete_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionShareableLinkApi.delete_bastion_shareable_link"
      end
      # verify the required parameter 'bsl_request' is set
      if @api_client.config.client_side_validation && bsl_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_request' when calling BastionShareableLinkApi.delete_bastion_shareable_link"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/deleteShareableLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionShareableLinkApi.delete_bastion_shareable_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionShareableLinkApi#delete_bastion_shareable_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the Bastion Shareable Links for all the tokens specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_token_request [BastionShareableLinkTokenListRequest] Post request for Delete Bastion Shareable Link By Token endpoint.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bastion_shareable_link_by_token(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_token_request, opts = {})
      delete_bastion_shareable_link_by_token_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_token_request, opts)
      nil
    end

    # Deletes the Bastion Shareable Links for all the tokens specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_token_request [BastionShareableLinkTokenListRequest] Post request for Delete Bastion Shareable Link By Token endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bastion_shareable_link_by_token_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionShareableLinkApi.delete_bastion_shareable_link_by_token ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token"
      end
      # verify the required parameter 'bsl_token_request' is set
      if @api_client.config.client_side_validation && bsl_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_token_request' when calling BastionShareableLinkApi.delete_bastion_shareable_link_by_token"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/deleteShareableLinksByToken'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_token_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionShareableLinkApi.delete_bastion_shareable_link_by_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionShareableLinkApi#delete_bastion_shareable_link_by_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [BastionShareableLinkListResult]
    def get_bastion_shareable_link(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      data, _status_code, _headers = get_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts)
      data
    end

    # Return the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionShareableLinkListResult, Integer, Hash)>] BastionShareableLinkListResult data, response status code and response headers
    def get_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionShareableLinkApi.get_bastion_shareable_link ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionShareableLinkApi.get_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionShareableLinkApi.get_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionShareableLinkApi.get_bastion_shareable_link"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionShareableLinkApi.get_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.get_bastion_shareable_link, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.get_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionShareableLinkApi.get_bastion_shareable_link"
      end
      # verify the required parameter 'bsl_request' is set
      if @api_client.config.client_side_validation && bsl_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_request' when calling BastionShareableLinkApi.get_bastion_shareable_link"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/getShareableLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionShareableLinkListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionShareableLinkApi.get_bastion_shareable_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionShareableLinkApi#get_bastion_shareable_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [BastionShareableLinkListResult]
    def put_bastion_shareable_link(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      data, _status_code, _headers = put_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts)
      data
    end

    # Creates a Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionShareableLinkListResult, Integer, Hash)>] BastionShareableLinkListResult data, response status code and response headers
    def put_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionShareableLinkApi.put_bastion_shareable_link ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionShareableLinkApi.put_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionShareableLinkApi.put_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionShareableLinkApi.put_bastion_shareable_link"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionShareableLinkApi.put_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.put_bastion_shareable_link, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionShareableLinkApi.put_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionShareableLinkApi.put_bastion_shareable_link"
      end
      # verify the required parameter 'bsl_request' is set
      if @api_client.config.client_side_validation && bsl_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_request' when calling BastionShareableLinkApi.put_bastion_shareable_link"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/createShareableLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionShareableLinkListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionShareableLinkApi.put_bastion_shareable_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionShareableLinkApi#put_bastion_shareable_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end