=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class BastionHostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates the specified Bastion Host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param parameters [BastionHost] Parameters supplied to the create or update Bastion Host operation.
    # @param [Hash] opts the optional parameters
    # @return [BastionHost]
    def bastion_hosts_create_or_update(api_version, subscription_id, resource_group_name, bastion_host_name, parameters, opts = {})
      data, _status_code, _headers = bastion_hosts_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, parameters, opts)
      data
    end

    # Creates or updates the specified Bastion Host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param parameters [BastionHost] Parameters supplied to the create or update Bastion Host operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionHost, Integer, Hash)>] BastionHost data, response status code and response headers
    def bastion_hosts_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.bastion_hosts_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.bastion_hosts_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.bastion_hosts_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.bastion_hosts_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.bastion_hosts_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.bastion_hosts_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling BastionHostsApi.bastion_hosts_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionHost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.bastion_hosts_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#bastion_hosts_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified Bastion Host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def bastion_hosts_delete(api_version, subscription_id, resource_group_name, bastion_host_name, opts = {})
      bastion_hosts_delete_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, opts)
      nil
    end

    # Deletes the specified Bastion Host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def bastion_hosts_delete_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.bastion_hosts_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.bastion_hosts_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.bastion_hosts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.bastion_hosts_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.bastion_hosts_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.bastion_hosts_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.bastion_hosts_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#bastion_hosts_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified Bastion Host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param [Hash] opts the optional parameters
    # @return [BastionHost]
    def bastion_hosts_get(api_version, subscription_id, resource_group_name, bastion_host_name, opts = {})
      data, _status_code, _headers = bastion_hosts_get_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, opts)
      data
    end

    # Gets the specified Bastion Host.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionHost, Integer, Hash)>] BastionHost data, response status code and response headers
    def bastion_hosts_get_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.bastion_hosts_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.bastion_hosts_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.bastion_hosts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.bastion_hosts_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.bastion_hosts_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.bastion_hosts_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BastionHost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.bastion_hosts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#bastion_hosts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all Bastion Hosts in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [BastionHostListResult]
    def bastion_hosts_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = bastion_hosts_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all Bastion Hosts in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionHostListResult, Integer, Hash)>] BastionHostListResult data, response status code and response headers
    def bastion_hosts_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.bastion_hosts_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.bastion_hosts_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.bastion_hosts_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.bastion_hosts_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Network/bastionHosts'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BastionHostListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.bastion_hosts_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#bastion_hosts_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all Bastion Hosts in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [BastionHostListResult]
    def bastion_hosts_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = bastion_hosts_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all Bastion Hosts in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionHostListResult, Integer, Hash)>] BastionHostListResult data, response status code and response headers
    def bastion_hosts_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.bastion_hosts_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.bastion_hosts_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.bastion_hosts_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.bastion_hosts_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.bastion_hosts_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BastionHostListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.bastion_hosts_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#bastion_hosts_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates Tags or identity for BastionHost resource
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param parameters [BastionHostUpdate] Parameters supplied to update BastionHost tags or identity.
    # @param [Hash] opts the optional parameters
    # @return [BastionHost]
    def bastion_hosts_update(api_version, subscription_id, resource_group_name, bastion_host_name, parameters, opts = {})
      data, _status_code, _headers = bastion_hosts_update_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, parameters, opts)
      data
    end

    # Updates Tags or identity for BastionHost resource
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param parameters [BastionHostUpdate] Parameters supplied to update BastionHost tags or identity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionHost, Integer, Hash)>] BastionHost data, response status code and response headers
    def bastion_hosts_update_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.bastion_hosts_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.bastion_hosts_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.bastion_hosts_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.bastion_hosts_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.bastion_hosts_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.bastion_hosts_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.bastion_hosts_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling BastionHostsApi.bastion_hosts_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionHost'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.bastion_hosts_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#bastion_hosts_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bastion_shareable_link(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      delete_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts)
      nil
    end

    # Deletes the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.delete_bastion_shareable_link ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.delete_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.delete_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.delete_bastion_shareable_link"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.delete_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.delete_bastion_shareable_link, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.delete_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.delete_bastion_shareable_link"
      end
      # verify the required parameter 'bsl_request' is set
      if @api_client.config.client_side_validation && bsl_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_request' when calling BastionHostsApi.delete_bastion_shareable_link"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/deleteShareableLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.delete_bastion_shareable_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#delete_bastion_shareable_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the Bastion Shareable Links for all the tokens specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_token_request [BastionShareableLinkTokenListRequest] Post request for Delete Bastion Shareable Link By Token endpoint.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_bastion_shareable_link_by_token(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_token_request, opts = {})
      delete_bastion_shareable_link_by_token_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_token_request, opts)
      nil
    end

    # Deletes the Bastion Shareable Links for all the tokens specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_token_request [BastionShareableLinkTokenListRequest] Post request for Delete Bastion Shareable Link By Token endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bastion_shareable_link_by_token_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.delete_bastion_shareable_link_by_token ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.delete_bastion_shareable_link_by_token"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.delete_bastion_shareable_link_by_token, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.delete_bastion_shareable_link_by_token"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.delete_bastion_shareable_link_by_token"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.delete_bastion_shareable_link_by_token, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.delete_bastion_shareable_link_by_token, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.delete_bastion_shareable_link_by_token"
      end
      # verify the required parameter 'bsl_token_request' is set
      if @api_client.config.client_side_validation && bsl_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_token_request' when calling BastionHostsApi.delete_bastion_shareable_link_by_token"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/deleteShareableLinksByToken'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_token_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.delete_bastion_shareable_link_by_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#delete_bastion_shareable_link_by_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the list of currently active sessions on the Bastion.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param session_ids [SessionIds] The list of sessionids to disconnect.
    # @param [Hash] opts the optional parameters
    # @return [BastionSessionDeleteResult]
    def disconnect_active_sessions(api_version, subscription_id, resource_group_name, bastion_host_name, session_ids, opts = {})
      data, _status_code, _headers = disconnect_active_sessions_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, session_ids, opts)
      data
    end

    # Returns the list of currently active sessions on the Bastion.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param session_ids [SessionIds] The list of sessionids to disconnect.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionSessionDeleteResult, Integer, Hash)>] BastionSessionDeleteResult data, response status code and response headers
    def disconnect_active_sessions_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, session_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.disconnect_active_sessions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.disconnect_active_sessions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.disconnect_active_sessions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.disconnect_active_sessions"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.disconnect_active_sessions"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.disconnect_active_sessions, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.disconnect_active_sessions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.disconnect_active_sessions"
      end
      # verify the required parameter 'session_ids' is set
      if @api_client.config.client_side_validation && session_ids.nil?
        fail ArgumentError, "Missing the required parameter 'session_ids' when calling BastionHostsApi.disconnect_active_sessions"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/disconnectActiveSessions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(session_ids)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionSessionDeleteResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.disconnect_active_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#disconnect_active_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the list of currently active sessions on the Bastion.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param [Hash] opts the optional parameters
    # @return [BastionActiveSessionListResult]
    def get_active_sessions(api_version, subscription_id, resource_group_name, bastion_host_name, opts = {})
      data, _status_code, _headers = get_active_sessions_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, opts)
      data
    end

    # Returns the list of currently active sessions on the Bastion.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionActiveSessionListResult, Integer, Hash)>] BastionActiveSessionListResult data, response status code and response headers
    def get_active_sessions_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.get_active_sessions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.get_active_sessions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.get_active_sessions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.get_active_sessions"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.get_active_sessions"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.get_active_sessions, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.get_active_sessions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.get_active_sessions"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/getActiveSessions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BastionActiveSessionListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.get_active_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#get_active_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [BastionShareableLinkListResult]
    def get_bastion_shareable_link(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      data, _status_code, _headers = get_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts)
      data
    end

    # Return the Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionShareableLinkListResult, Integer, Hash)>] BastionShareableLinkListResult data, response status code and response headers
    def get_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.get_bastion_shareable_link ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.get_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.get_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.get_bastion_shareable_link"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.get_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.get_bastion_shareable_link, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.get_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.get_bastion_shareable_link"
      end
      # verify the required parameter 'bsl_request' is set
      if @api_client.config.client_side_validation && bsl_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_request' when calling BastionHostsApi.get_bastion_shareable_link"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/getShareableLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionShareableLinkListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.get_bastion_shareable_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#get_bastion_shareable_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [BastionShareableLinkListResult]
    def put_bastion_shareable_link(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      data, _status_code, _headers = put_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts)
      data
    end

    # Creates a Bastion Shareable Links for all the VMs specified in the request.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param bastion_host_name [String] The name of the Bastion Host.
    # @param bsl_request [BastionShareableLinkListRequest] Post request for Create/Delete/Get Bastion Shareable Link endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BastionShareableLinkListResult, Integer, Hash)>] BastionShareableLinkListResult data, response status code and response headers
    def put_bastion_shareable_link_with_http_info(api_version, subscription_id, resource_group_name, bastion_host_name, bsl_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BastionHostsApi.put_bastion_shareable_link ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BastionHostsApi.put_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BastionHostsApi.put_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BastionHostsApi.put_bastion_shareable_link"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BastionHostsApi.put_bastion_shareable_link"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.put_bastion_shareable_link, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BastionHostsApi.put_bastion_shareable_link, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'bastion_host_name' is set
      if @api_client.config.client_side_validation && bastion_host_name.nil?
        fail ArgumentError, "Missing the required parameter 'bastion_host_name' when calling BastionHostsApi.put_bastion_shareable_link"
      end
      # verify the required parameter 'bsl_request' is set
      if @api_client.config.client_side_validation && bsl_request.nil?
        fail ArgumentError, "Missing the required parameter 'bsl_request' when calling BastionHostsApi.put_bastion_shareable_link"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/bastionHosts/{bastionHostName}/createShareableLinks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{bastionHostName}', CGI.escape(bastion_host_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bsl_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BastionShareableLinkListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BastionHostsApi.put_bastion_shareable_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BastionHostsApi#put_bastion_shareable_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end