=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class IpamPoolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates/Updates the Pool resource.
    # Creates/Updates the Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param body [IpamPool] Pool resource object to create/update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [IpamPool]
    def ipam_pools_create(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, body, opts = {})
      data, _status_code, _headers = ipam_pools_create_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, body, opts)
      data
    end

    # Creates/Updates the Pool resource.
    # Creates/Updates the Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param body [IpamPool] Pool resource object to create/update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [Array<(IpamPool, Integer, Hash)>] IpamPool data, response status code and response headers
    def ipam_pools_create_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling IpamPoolsApi.ipam_pools_create"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling IpamPoolsApi.ipam_pools_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling IpamPoolsApi.ipam_pools_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'IpamPool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the Pool resource.
    # Delete the Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [nil]
    def ipam_pools_delete(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      ipam_pools_delete_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts)
      nil
    end

    # Delete the Pool resource.
    # Delete the Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def ipam_pools_delete_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling IpamPoolsApi.ipam_pools_delete"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling IpamPoolsApi.ipam_pools_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specific Pool resource.
    # Gets the specific Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @return [IpamPool]
    def ipam_pools_get(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      data, _status_code, _headers = ipam_pools_get_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts)
      data
    end

    # Gets the specific Pool resource.
    # Gets the specific Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @return [Array<(IpamPool, Integer, Hash)>] IpamPool data, response status code and response headers
    def ipam_pools_get_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling IpamPoolsApi.ipam_pools_get"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling IpamPoolsApi.ipam_pools_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IpamPool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the Pool Usage.
    # Get the Pool Usage.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @return [PoolUsage]
    def ipam_pools_get_pool_usage(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      data, _status_code, _headers = ipam_pools_get_pool_usage_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts)
      data
    end

    # Get the Pool Usage.
    # Get the Pool Usage.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PoolUsage, Integer, Hash)>] PoolUsage data, response status code and response headers
    def ipam_pools_get_pool_usage_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_get_pool_usage ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_get_pool_usage"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_get_pool_usage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_get_pool_usage"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_get_pool_usage"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_get_pool_usage, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_get_pool_usage, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_get_pool_usage"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_get_pool_usage, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling IpamPoolsApi.ipam_pools_get_pool_usage"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling IpamPoolsApi.ipam_pools_get_pool_usage, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/getPoolUsage'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PoolUsage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_get_pool_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_get_pool_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of Pool resources at Network Manager level.
    # Gets list of Pool resources at Network Manager level.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip_token Optional skip token.
    # @option opts [Integer] :skip Optional num entries to skip. (default to 0)
    # @option opts [Integer] :top Optional num entries to show. (default to 50)
    # @option opts [String] :sort_key Optional key by which to sort.
    # @option opts [String] :sort_value Optional sort value for pagination.
    # @return [IpamPoolList]
    def ipam_pools_list(api_version, subscription_id, resource_group_name, network_manager_name, opts = {})
      data, _status_code, _headers = ipam_pools_list_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, opts)
      data
    end

    # Gets list of Pool resources at Network Manager level.
    # Gets list of Pool resources at Network Manager level.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :skip_token Optional skip token.
    # @option opts [Integer] :skip Optional num entries to skip. (default to 0)
    # @option opts [Integer] :top Optional num entries to show. (default to 50)
    # @option opts [String] :sort_key Optional key by which to sort.
    # @option opts [String] :sort_value Optional sort value for pagination.
    # @return [Array<(IpamPoolList, Integer, Hash)>] IpamPoolList data, response status code and response headers
    def ipam_pools_list_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_list"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'skipToken'] = opts[:'skip_token'] if !opts[:'skip_token'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'sortKey'] = opts[:'sort_key'] if !opts[:'sort_key'].nil?
      query_params[:'sortValue'] = opts[:'sort_value'] if !opts[:'sort_value'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IpamPoolList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Associated Resource in the Pool.
    # List Associated Resource in the Pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @return [PoolAssociationList]
    def ipam_pools_list_associated_resources(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      data, _status_code, _headers = ipam_pools_list_associated_resources_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts)
      data
    end

    # List Associated Resource in the Pool.
    # List Associated Resource in the Pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PoolAssociationList, Integer, Hash)>] PoolAssociationList data, response status code and response headers
    def ipam_pools_list_associated_resources_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_list_associated_resources ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_list_associated_resources"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_list_associated_resources, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_list_associated_resources"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_list_associated_resources"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_list_associated_resources, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_list_associated_resources, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_list_associated_resources"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_list_associated_resources, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling IpamPoolsApi.ipam_pools_list_associated_resources"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling IpamPoolsApi.ipam_pools_list_associated_resources, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}/listAssociatedResources'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PoolAssociationList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_list_associated_resources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_list_associated_resources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates the specific Pool resource.
    # Updates the specific Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @option opts [IpamPoolUpdate] :body Pool resource object to update partially.
    # @return [IpamPool]
    def ipam_pools_update(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      data, _status_code, _headers = ipam_pools_update_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts)
      data
    end

    # Updates the specific Pool resource.
    # Updates the specific Pool resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_manager_name [String] The name of the network manager.
    # @param pool_name [String] Pool resource name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The entity state (ETag) version of the pool to update. This value can be omitted or set to \&quot;*\&quot; to apply the operation unconditionally.
    # @option opts [IpamPoolUpdate] :body Pool resource object to update partially.
    # @return [Array<(IpamPool, Integer, Hash)>] IpamPool data, response status code and response headers
    def ipam_pools_update_with_http_info(api_version, subscription_id, resource_group_name, network_manager_name, pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IpamPoolsApi.ipam_pools_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling IpamPoolsApi.ipam_pools_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling IpamPoolsApi.ipam_pools_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling IpamPoolsApi.ipam_pools_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling IpamPoolsApi.ipam_pools_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling IpamPoolsApi.ipam_pools_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_manager_name' is set
      if @api_client.config.client_side_validation && network_manager_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_manager_name' when calling IpamPoolsApi.ipam_pools_update"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && network_manager_name !~ pattern
        fail ArgumentError, "invalid value for 'network_manager_name' when calling IpamPoolsApi.ipam_pools_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'pool_name' is set
      if @api_client.config.client_side_validation && pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'pool_name' when calling IpamPoolsApi.ipam_pools_update"
      end
      pattern = Regexp.new(/^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$/)
      if @api_client.config.client_side_validation && pool_name !~ pattern
        fail ArgumentError, "invalid value for 'pool_name' when calling IpamPoolsApi.ipam_pools_update, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/ipamPools/{poolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkManagerName}', CGI.escape(network_manager_name.to_s)).sub('{poolName}', CGI.escape(pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'IpamPool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"IpamPoolsApi.ipam_pools_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IpamPoolsApi#ipam_pools_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end