=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class SecurityRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the specified default network security rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param default_security_rule_name [String] The name of the default security rule.
    # @param [Hash] opts the optional parameters
    # @return [SecurityRule]
    def default_security_rules_get(api_version, subscription_id, resource_group_name, network_security_group_name, default_security_rule_name, opts = {})
      data, _status_code, _headers = default_security_rules_get_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, default_security_rule_name, opts)
      data
    end

    # Get the specified default network security rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param default_security_rule_name [String] The name of the default security rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityRule, Integer, Hash)>] SecurityRule data, response status code and response headers
    def default_security_rules_get_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, default_security_rule_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityRulesApi.default_security_rules_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SecurityRulesApi.default_security_rules_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SecurityRulesApi.default_security_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SecurityRulesApi.default_security_rules_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SecurityRulesApi.default_security_rules_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.default_security_rules_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.default_security_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_security_group_name' is set
      if @api_client.config.client_side_validation && network_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_group_name' when calling SecurityRulesApi.default_security_rules_get"
      end
      # verify the required parameter 'default_security_rule_name' is set
      if @api_client.config.client_side_validation && default_security_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'default_security_rule_name' when calling SecurityRulesApi.default_security_rules_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/defaultSecurityRules/{defaultSecurityRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkSecurityGroupName}', CGI.escape(network_security_group_name.to_s)).sub('{defaultSecurityRuleName}', CGI.escape(default_security_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SecurityRulesApi.default_security_rules_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityRulesApi#default_security_rules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all default security rules in a network security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param [Hash] opts the optional parameters
    # @return [SecurityRuleListResult]
    def default_security_rules_list(api_version, subscription_id, resource_group_name, network_security_group_name, opts = {})
      data, _status_code, _headers = default_security_rules_list_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, opts)
      data
    end

    # Gets all default security rules in a network security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityRuleListResult, Integer, Hash)>] SecurityRuleListResult data, response status code and response headers
    def default_security_rules_list_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityRulesApi.default_security_rules_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SecurityRulesApi.default_security_rules_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SecurityRulesApi.default_security_rules_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SecurityRulesApi.default_security_rules_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SecurityRulesApi.default_security_rules_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.default_security_rules_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.default_security_rules_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_security_group_name' is set
      if @api_client.config.client_side_validation && network_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_group_name' when calling SecurityRulesApi.default_security_rules_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/defaultSecurityRules'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkSecurityGroupName}', CGI.escape(network_security_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRuleListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SecurityRulesApi.default_security_rules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityRulesApi#default_security_rules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates a security rule in the specified network security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param security_rule_name [String] The name of the security rule.
    # @param security_rule_parameters [SecurityRule] Parameters supplied to the create or update network security rule operation.
    # @param [Hash] opts the optional parameters
    # @return [SecurityRule]
    def security_rules_create_or_update(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, security_rule_parameters, opts = {})
      data, _status_code, _headers = security_rules_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, security_rule_parameters, opts)
      data
    end

    # Creates or updates a security rule in the specified network security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param security_rule_name [String] The name of the security rule.
    # @param security_rule_parameters [SecurityRule] Parameters supplied to the create or update network security rule operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityRule, Integer, Hash)>] SecurityRule data, response status code and response headers
    def security_rules_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, security_rule_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityRulesApi.security_rules_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SecurityRulesApi.security_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SecurityRulesApi.security_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SecurityRulesApi.security_rules_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SecurityRulesApi.security_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_security_group_name' is set
      if @api_client.config.client_side_validation && network_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_group_name' when calling SecurityRulesApi.security_rules_create_or_update"
      end
      # verify the required parameter 'security_rule_name' is set
      if @api_client.config.client_side_validation && security_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'security_rule_name' when calling SecurityRulesApi.security_rules_create_or_update"
      end
      # verify the required parameter 'security_rule_parameters' is set
      if @api_client.config.client_side_validation && security_rule_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'security_rule_parameters' when calling SecurityRulesApi.security_rules_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkSecurityGroupName}', CGI.escape(network_security_group_name.to_s)).sub('{securityRuleName}', CGI.escape(security_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_rule_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SecurityRulesApi.security_rules_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityRulesApi#security_rules_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified network security rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param security_rule_name [String] The name of the security rule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def security_rules_delete(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, opts = {})
      security_rules_delete_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, opts)
      nil
    end

    # Deletes the specified network security rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param security_rule_name [String] The name of the security rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def security_rules_delete_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityRulesApi.security_rules_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SecurityRulesApi.security_rules_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SecurityRulesApi.security_rules_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SecurityRulesApi.security_rules_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SecurityRulesApi.security_rules_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_security_group_name' is set
      if @api_client.config.client_side_validation && network_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_group_name' when calling SecurityRulesApi.security_rules_delete"
      end
      # verify the required parameter 'security_rule_name' is set
      if @api_client.config.client_side_validation && security_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'security_rule_name' when calling SecurityRulesApi.security_rules_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkSecurityGroupName}', CGI.escape(network_security_group_name.to_s)).sub('{securityRuleName}', CGI.escape(security_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SecurityRulesApi.security_rules_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityRulesApi#security_rules_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the specified network security rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param security_rule_name [String] The name of the security rule.
    # @param [Hash] opts the optional parameters
    # @return [SecurityRule]
    def security_rules_get(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, opts = {})
      data, _status_code, _headers = security_rules_get_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, opts)
      data
    end

    # Get the specified network security rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param security_rule_name [String] The name of the security rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityRule, Integer, Hash)>] SecurityRule data, response status code and response headers
    def security_rules_get_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, security_rule_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityRulesApi.security_rules_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SecurityRulesApi.security_rules_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SecurityRulesApi.security_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SecurityRulesApi.security_rules_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SecurityRulesApi.security_rules_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_security_group_name' is set
      if @api_client.config.client_side_validation && network_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_group_name' when calling SecurityRulesApi.security_rules_get"
      end
      # verify the required parameter 'security_rule_name' is set
      if @api_client.config.client_side_validation && security_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'security_rule_name' when calling SecurityRulesApi.security_rules_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkSecurityGroupName}', CGI.escape(network_security_group_name.to_s)).sub('{securityRuleName}', CGI.escape(security_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SecurityRulesApi.security_rules_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityRulesApi#security_rules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all security rules in a network security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param [Hash] opts the optional parameters
    # @return [SecurityRuleListResult]
    def security_rules_list(api_version, subscription_id, resource_group_name, network_security_group_name, opts = {})
      data, _status_code, _headers = security_rules_list_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, opts)
      data
    end

    # Gets all security rules in a network security group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param network_security_group_name [String] The name of the network security group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecurityRuleListResult, Integer, Hash)>] SecurityRuleListResult data, response status code and response headers
    def security_rules_list_with_http_info(api_version, subscription_id, resource_group_name, network_security_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurityRulesApi.security_rules_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SecurityRulesApi.security_rules_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SecurityRulesApi.security_rules_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SecurityRulesApi.security_rules_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SecurityRulesApi.security_rules_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SecurityRulesApi.security_rules_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'network_security_group_name' is set
      if @api_client.config.client_side_validation && network_security_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'network_security_group_name' when calling SecurityRulesApi.security_rules_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{networkSecurityGroupName}', CGI.escape(network_security_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRuleListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SecurityRulesApi.security_rules_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurityRulesApi#security_rules_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end