=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class VipSwapApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Performs vip swap operation on swappable cloud services.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param group_name [String] 
    # @param resource_name [String] The name of the cloud service.
    # @param singleton_resource [String] The name of the singleton resource.
    # @param parameters [SwapResource] SwapResource object where slot type should be the target slot after vip swap for the specified cloud service.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vip_swap_create(api_version, subscription_id, group_name, resource_name, singleton_resource, parameters, opts = {})
      vip_swap_create_with_http_info(api_version, subscription_id, group_name, resource_name, singleton_resource, parameters, opts)
      nil
    end

    # Performs vip swap operation on swappable cloud services.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param group_name [String] 
    # @param resource_name [String] The name of the cloud service.
    # @param singleton_resource [String] The name of the singleton resource.
    # @param parameters [SwapResource] SwapResource object where slot type should be the target slot after vip swap for the specified cloud service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vip_swap_create_with_http_info(api_version, subscription_id, group_name, resource_name, singleton_resource, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VipSwapApi.vip_swap_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VipSwapApi.vip_swap_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VipSwapApi.vip_swap_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VipSwapApi.vip_swap_create"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling VipSwapApi.vip_swap_create"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling VipSwapApi.vip_swap_create"
      end
      # verify the required parameter 'singleton_resource' is set
      if @api_client.config.client_side_validation && singleton_resource.nil?
        fail ArgumentError, "Missing the required parameter 'singleton_resource' when calling VipSwapApi.vip_swap_create"
      end
      # verify enum value
      allowable_values = ["swap"]
      if @api_client.config.client_side_validation && !allowable_values.include?(singleton_resource)
        fail ArgumentError, "invalid value for \"singleton_resource\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VipSwapApi.vip_swap_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/microsoft.Compute/cloudServices/{resourceName}/providers/Microsoft.Network/cloudServiceSlots/{singletonResource}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{groupName}', CGI.escape(group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{singletonResource}', CGI.escape(singleton_resource.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VipSwapApi.vip_swap_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VipSwapApi#vip_swap_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the SwapResource which identifies the slot type for the specified cloud service. The slot type on a cloud service can either be Staging or Production
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param group_name [String] 
    # @param resource_name [String] The name of the cloud service.
    # @param singleton_resource [String] The name of the singleton resource.
    # @param [Hash] opts the optional parameters
    # @return [SwapResource]
    def vip_swap_get(api_version, subscription_id, group_name, resource_name, singleton_resource, opts = {})
      data, _status_code, _headers = vip_swap_get_with_http_info(api_version, subscription_id, group_name, resource_name, singleton_resource, opts)
      data
    end

    # Gets the SwapResource which identifies the slot type for the specified cloud service. The slot type on a cloud service can either be Staging or Production
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param group_name [String] 
    # @param resource_name [String] The name of the cloud service.
    # @param singleton_resource [String] The name of the singleton resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SwapResource, Integer, Hash)>] SwapResource data, response status code and response headers
    def vip_swap_get_with_http_info(api_version, subscription_id, group_name, resource_name, singleton_resource, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VipSwapApi.vip_swap_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VipSwapApi.vip_swap_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VipSwapApi.vip_swap_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VipSwapApi.vip_swap_get"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling VipSwapApi.vip_swap_get"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling VipSwapApi.vip_swap_get"
      end
      # verify the required parameter 'singleton_resource' is set
      if @api_client.config.client_side_validation && singleton_resource.nil?
        fail ArgumentError, "Missing the required parameter 'singleton_resource' when calling VipSwapApi.vip_swap_get"
      end
      # verify enum value
      allowable_values = ["swap"]
      if @api_client.config.client_side_validation && !allowable_values.include?(singleton_resource)
        fail ArgumentError, "invalid value for \"singleton_resource\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/microsoft.Compute/cloudServices/{resourceName}/providers/Microsoft.Network/cloudServiceSlots/{singletonResource}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{groupName}', CGI.escape(group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{singletonResource}', CGI.escape(singleton_resource.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SwapResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VipSwapApi.vip_swap_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VipSwapApi#vip_swap_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the list of SwapResource which identifies the slot type for the specified cloud service. The slot type on a cloud service can either be Staging or Production
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param group_name [String] 
    # @param resource_name [String] The name of the cloud service.
    # @param [Hash] opts the optional parameters
    # @return [SwapResourceListResult]
    def vip_swap_list(api_version, subscription_id, group_name, resource_name, opts = {})
      data, _status_code, _headers = vip_swap_list_with_http_info(api_version, subscription_id, group_name, resource_name, opts)
      data
    end

    # Gets the list of SwapResource which identifies the slot type for the specified cloud service. The slot type on a cloud service can either be Staging or Production
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param group_name [String] 
    # @param resource_name [String] The name of the cloud service.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SwapResourceListResult, Integer, Hash)>] SwapResourceListResult data, response status code and response headers
    def vip_swap_list_with_http_info(api_version, subscription_id, group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VipSwapApi.vip_swap_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VipSwapApi.vip_swap_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VipSwapApi.vip_swap_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VipSwapApi.vip_swap_list"
      end
      # verify the required parameter 'group_name' is set
      if @api_client.config.client_side_validation && group_name.nil?
        fail ArgumentError, "Missing the required parameter 'group_name' when calling VipSwapApi.vip_swap_list"
      end
      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling VipSwapApi.vip_swap_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/microsoft.Compute/cloudServices/{resourceName}/providers/Microsoft.Network/cloudServiceSlots'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{groupName}', CGI.escape(group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SwapResourceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VipSwapApi.vip_swap_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VipSwapApi#vip_swap_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end