=begin
#WebApplicationFirewallManagement

#APIs to manage Microsoft Azure network resources.

The version of the OpenAPI document: 2026-01-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module Network
  class VirtualRouterPeeringsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates the specified Virtual Router Peering.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param peering_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [VirtualRouterPeering] Parameters supplied to the create or update Virtual Router Peering operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualRouterPeering]
    def virtual_router_peerings_create_or_update(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, parameters, opts = {})
      data, _status_code, _headers = virtual_router_peerings_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, parameters, opts)
      data
    end

    # Creates or updates the specified Virtual Router Peering.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param peering_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param parameters [VirtualRouterPeering] Parameters supplied to the create or update Virtual Router Peering operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualRouterPeering, Integer, Hash)>] VirtualRouterPeering data, response status code and response headers
    def virtual_router_peerings_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_router_name' is set
      if @api_client.config.client_side_validation && virtual_router_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_router_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update"
      end
      # verify the required parameter 'peering_name' is set
      if @api_client.config.client_side_validation && peering_name.nil?
        fail ArgumentError, "Missing the required parameter 'peering_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualRouterName}', CGI.escape(virtual_router_name.to_s)).sub('{peeringName}', CGI.escape(peering_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualRouterPeering'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualRouterPeeringsApi.virtual_router_peerings_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualRouterPeeringsApi#virtual_router_peerings_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes the specified peering from a Virtual Router.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param peering_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_router_peerings_delete(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, opts = {})
      virtual_router_peerings_delete_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, opts)
      nil
    end

    # Deletes the specified peering from a Virtual Router.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param peering_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_router_peerings_delete_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualRouterPeeringsApi.virtual_router_peerings_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_router_name' is set
      if @api_client.config.client_side_validation && virtual_router_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_router_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete"
      end
      # verify the required parameter 'peering_name' is set
      if @api_client.config.client_side_validation && peering_name.nil?
        fail ArgumentError, "Missing the required parameter 'peering_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualRouterName}', CGI.escape(virtual_router_name.to_s)).sub('{peeringName}', CGI.escape(peering_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualRouterPeeringsApi.virtual_router_peerings_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualRouterPeeringsApi#virtual_router_peerings_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified Virtual Router Peering.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param peering_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [VirtualRouterPeering]
    def virtual_router_peerings_get(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, opts = {})
      data, _status_code, _headers = virtual_router_peerings_get_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, opts)
      data
    end

    # Gets the specified Virtual Router Peering.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param peering_name [String] The name of the resource that is unique within a resource group. This name can be used to access the resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualRouterPeering, Integer, Hash)>] VirtualRouterPeering data, response status code and response headers
    def virtual_router_peerings_get_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, peering_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualRouterPeeringsApi.virtual_router_peerings_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualRouterPeeringsApi.virtual_router_peerings_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualRouterPeeringsApi.virtual_router_peerings_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualRouterPeeringsApi.virtual_router_peerings_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_router_name' is set
      if @api_client.config.client_side_validation && virtual_router_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_router_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_get"
      end
      # verify the required parameter 'peering_name' is set
      if @api_client.config.client_side_validation && peering_name.nil?
        fail ArgumentError, "Missing the required parameter 'peering_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualRouterName}', CGI.escape(virtual_router_name.to_s)).sub('{peeringName}', CGI.escape(peering_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualRouterPeering'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualRouterPeeringsApi.virtual_router_peerings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualRouterPeeringsApi#virtual_router_peerings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all Virtual Router Peerings in a Virtual Router resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param [Hash] opts the optional parameters
    # @return [VirtualRouterPeeringListResult]
    def virtual_router_peerings_list(api_version, subscription_id, resource_group_name, virtual_router_name, opts = {})
      data, _status_code, _headers = virtual_router_peerings_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, opts)
      data
    end

    # Lists all Virtual Router Peerings in a Virtual Router resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param virtual_router_name [String] The name of the Virtual Router.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualRouterPeeringListResult, Integer, Hash)>] VirtualRouterPeeringListResult data, response status code and response headers
    def virtual_router_peerings_list_with_http_info(api_version, subscription_id, resource_group_name, virtual_router_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualRouterPeeringsApi.virtual_router_peerings_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualRouterPeeringsApi.virtual_router_peerings_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualRouterPeeringsApi.virtual_router_peerings_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualRouterPeeringsApi.virtual_router_peerings_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualRouterPeeringsApi.virtual_router_peerings_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'virtual_router_name' is set
      if @api_client.config.client_side_validation && virtual_router_name.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_router_name' when calling VirtualRouterPeeringsApi.virtual_router_peerings_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{virtualRouterName}', CGI.escape(virtual_router_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualRouterPeeringListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualRouterPeeringsApi.virtual_router_peerings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualRouterPeeringsApi#virtual_router_peerings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end