=begin
#PostgreSQLManagementClient

#The Azure Database for PostgreSQL management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, network configuration, security alert policies, log files and configurations with new business model.

The version of the OpenAPI document: 2025-08-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module PostgreSQL
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Lists the capabilities available in a given location for a specific subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [CapabilityList]
    def capabilities_by_location_list(api_version, subscription_id, location_name, opts = {})
      data, _status_code, _headers = capabilities_by_location_list_with_http_info(api_version, subscription_id, location_name, opts)
      data
    end

    # Lists the capabilities available in a given location for a specific subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapabilityList, Integer, Hash)>] CapabilityList data, response status code and response headers
    def capabilities_by_location_list_with_http_info(api_version, subscription_id, location_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.capabilities_by_location_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.capabilities_by_location_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.capabilities_by_location_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.capabilities_by_location_list"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.capabilities_by_location_list"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.capabilities_by_location_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.capabilities_by_location_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/capabilities'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilityList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.capabilities_by_location_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#capabilities_by_location_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Checks the validity and availability of the given name, to assign it to a new server or to use it as the base name of a new pair of virtual endpoints.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param parameters [CheckNameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [NameAvailabilityModel]
    def name_availability_check_globally(api_version, subscription_id, parameters, opts = {})
      data, _status_code, _headers = name_availability_check_globally_with_http_info(api_version, subscription_id, parameters, opts)
      data
    end

    # Checks the validity and availability of the given name, to assign it to a new server or to use it as the base name of a new pair of virtual endpoints.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param parameters [CheckNameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(NameAvailabilityModel, Integer, Hash)>] NameAvailabilityModel data, response status code and response headers
    def name_availability_check_globally_with_http_info(api_version, subscription_id, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.name_availability_check_globally ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.name_availability_check_globally"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.name_availability_check_globally, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.name_availability_check_globally"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DefaultApi.name_availability_check_globally"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/checkNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'NameAvailabilityModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.name_availability_check_globally",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#name_availability_check_globally\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check the availability of name for resource
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param parameters [CheckNameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [NameAvailabilityModel]
    def name_availability_check_with_location(api_version, subscription_id, location_name, parameters, opts = {})
      data, _status_code, _headers = name_availability_check_with_location_with_http_info(api_version, subscription_id, location_name, parameters, opts)
      data
    end

    # Check the availability of name for resource
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param parameters [CheckNameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(NameAvailabilityModel, Integer, Hash)>] NameAvailabilityModel data, response status code and response headers
    def name_availability_check_with_location_with_http_info(api_version, subscription_id, location_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.name_availability_check_with_location ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.name_availability_check_with_location"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.name_availability_check_with_location, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.name_availability_check_with_location"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.name_availability_check_with_location"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.name_availability_check_with_location, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.name_availability_check_with_location, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DefaultApi.name_availability_check_with_location"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/checkNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'NameAvailabilityModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.name_availability_check_with_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#name_availability_check_with_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the private DNS zone suffix.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def private_dns_zone_suffix_get(api_version, opts = {})
      data, _status_code, _headers = private_dns_zone_suffix_get_with_http_info(api_version, opts)
      data
    end

    # Gets the private DNS zone suffix.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def private_dns_zone_suffix_get_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.private_dns_zone_suffix_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.private_dns_zone_suffix_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.private_dns_zone_suffix_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/providers/Microsoft.DBforPostgreSQL/getPrivateDnsZoneSuffix'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.private_dns_zone_suffix_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#private_dns_zone_suffix_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get quota usages at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [QuotaUsageList]
    def quota_usages_list(api_version, subscription_id, location_name, opts = {})
      data, _status_code, _headers = quota_usages_list_with_http_info(api_version, subscription_id, location_name, opts)
      data
    end

    # Get quota usages at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuotaUsageList, Integer, Hash)>] QuotaUsageList data, response status code and response headers
    def quota_usages_list_with_http_info(api_version, subscription_id, location_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.quota_usages_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.quota_usages_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.quota_usages_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.quota_usages_list"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.quota_usages_list"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.quota_usages_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.quota_usages_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/resourceType/flexibleServers/usages'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuotaUsageList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.quota_usages_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#quota_usages_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the virtual network subnet usage for a given virtual network.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param parameters [VirtualNetworkSubnetUsageParameter] The request body
    # @param [Hash] opts the optional parameters
    # @return [VirtualNetworkSubnetUsageModel]
    def virtual_network_subnet_usage_list(api_version, subscription_id, location_name, parameters, opts = {})
      data, _status_code, _headers = virtual_network_subnet_usage_list_with_http_info(api_version, subscription_id, location_name, parameters, opts)
      data
    end

    # Lists the virtual network subnet usage for a given virtual network.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param parameters [VirtualNetworkSubnetUsageParameter] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualNetworkSubnetUsageModel, Integer, Hash)>] VirtualNetworkSubnetUsageModel data, response status code and response headers
    def virtual_network_subnet_usage_list_with_http_info(api_version, subscription_id, location_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.virtual_network_subnet_usage_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.virtual_network_subnet_usage_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.virtual_network_subnet_usage_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.virtual_network_subnet_usage_list"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.virtual_network_subnet_usage_list"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.virtual_network_subnet_usage_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.virtual_network_subnet_usage_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DefaultApi.virtual_network_subnet_usage_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/checkVirtualNetworkSubnetUsage'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualNetworkSubnetUsageModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.virtual_network_subnet_usage_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#virtual_network_subnet_usage_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end