=begin
#MySQLManagementClient

#The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.

The version of the OpenAPI document: 2024-12-30

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module MySQL
  class AdvancedThreatProtectionSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a server's Advanced Threat Protection state
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param advanced_threat_protection_name [String] The name of the Advanced Threat Protection state.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedThreatProtection]
    def advanced_threat_protection_settings_get(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, opts = {})
      data, _status_code, _headers = advanced_threat_protection_settings_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, opts)
      data
    end

    # Get a server&#39;s Advanced Threat Protection state
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param advanced_threat_protection_name [String] The name of the Advanced Threat Protection state.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedThreatProtection, Integer, Hash)>] AdvancedThreatProtection data, response status code and response headers
    def advanced_threat_protection_settings_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advanced_threat_protection_name' is set
      if @api_client.config.client_side_validation && advanced_threat_protection_name.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_threat_protection_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get"
      end
      # verify enum value
      allowable_values = ["Default"]
      if @api_client.config.client_side_validation && !allowable_values.include?(advanced_threat_protection_name)
        fail ArgumentError, "invalid value for \"advanced_threat_protection_name\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/advancedThreatProtectionSettings/{advancedThreatProtectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{advancedThreatProtectionName}', CGI.escape(advanced_threat_protection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedThreatProtection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedThreatProtectionSettingsApi#advanced_threat_protection_settings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of server's Advanced Threat Protection states.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedThreatProtectionListResult]
    def advanced_threat_protection_settings_list(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = advanced_threat_protection_settings_list_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Gets a list of server&#39;s Advanced Threat Protection states.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedThreatProtectionListResult, Integer, Hash)>] AdvancedThreatProtectionListResult data, response status code and response headers
    def advanced_threat_protection_settings_list_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/advancedThreatProtectionSettings'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedThreatProtectionListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedThreatProtectionSettingsApi#advanced_threat_protection_settings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a server's Advanced Threat Protection state.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param advanced_threat_protection_name [String] The name of the Advanced Threat Protection state.
    # @param parameters [AdvancedThreatProtectionForUpdate] The server&#39;s Advanced Threat Protection body to update.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedThreatProtection]
    def advanced_threat_protection_settings_update(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, parameters, opts = {})
      data, _status_code, _headers = advanced_threat_protection_settings_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, parameters, opts)
      data
    end

    # Updates a server&#39;s Advanced Threat Protection state.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param advanced_threat_protection_name [String] The name of the Advanced Threat Protection state.
    # @param parameters [AdvancedThreatProtectionForUpdate] The server&#39;s Advanced Threat Protection body to update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedThreatProtection, Integer, Hash)>] AdvancedThreatProtection data, response status code and response headers
    def advanced_threat_protection_settings_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advanced_threat_protection_name' is set
      if @api_client.config.client_side_validation && advanced_threat_protection_name.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_threat_protection_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update"
      end
      # verify enum value
      allowable_values = ["Default"]
      if @api_client.config.client_side_validation && !allowable_values.include?(advanced_threat_protection_name)
        fail ArgumentError, "invalid value for \"advanced_threat_protection_name\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/advancedThreatProtectionSettings/{advancedThreatProtectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{advancedThreatProtectionName}', CGI.escape(advanced_threat_protection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedThreatProtection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedThreatProtectionSettingsApi#advanced_threat_protection_settings_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a server's Advanced Threat Protection state.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param advanced_threat_protection_name [String] The name of the Advanced Threat Protection state.
    # @param parameters [AdvancedThreatProtection] The server&#39;s Advanced Threat Protection body to update.
    # @param [Hash] opts the optional parameters
    # @return [AdvancedThreatProtection]
    def advanced_threat_protection_settings_update_put(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, parameters, opts = {})
      data, _status_code, _headers = advanced_threat_protection_settings_update_put_with_http_info(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, parameters, opts)
      data
    end

    # Updates a server&#39;s Advanced Threat Protection state.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param advanced_threat_protection_name [String] The name of the Advanced Threat Protection state.
    # @param parameters [AdvancedThreatProtection] The server&#39;s Advanced Threat Protection body to update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdvancedThreatProtection, Integer, Hash)>] AdvancedThreatProtection data, response status code and response headers
    def advanced_threat_protection_settings_update_put_with_http_info(api_version, subscription_id, resource_group_name, server_name, advanced_threat_protection_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'advanced_threat_protection_name' is set
      if @api_client.config.client_side_validation && advanced_threat_protection_name.nil?
        fail ArgumentError, "Missing the required parameter 'advanced_threat_protection_name' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put"
      end
      # verify enum value
      allowable_values = ["Default"]
      if @api_client.config.client_side_validation && !allowable_values.include?(advanced_threat_protection_name)
        fail ArgumentError, "invalid value for \"advanced_threat_protection_name\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/advancedThreatProtectionSettings/{advancedThreatProtectionName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{advancedThreatProtectionName}', CGI.escape(advanced_threat_protection_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'AdvancedThreatProtection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AdvancedThreatProtectionSettingsApi.advanced_threat_protection_settings_update_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdvancedThreatProtectionSettingsApi#advanced_threat_protection_settings_update_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end