=begin
#MySQLManagementClient

#The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.

The version of the OpenAPI document: 2024-12-30

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module MySQL
  class BackupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List all the backups for a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] The name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [ServerBackup]
    def backups_get(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      data, _status_code, _headers = backups_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts)
      data
    end

    # List all the backups for a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] The name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerBackup, Integer, Hash)>] ServerBackup data, response status code and response headers
    def backups_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.backups_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupsApi.backups_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupsApi.backups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupsApi.backups_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupsApi.backups_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupsApi.backups_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupsApi.backups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupsApi.backups_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupsApi.backups_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling BackupsApi.backups_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupsApi.backups_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling BackupsApi.backups_get"
      end
      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && backup_name !~ pattern
        fail ArgumentError, "invalid value for 'backup_name' when calling BackupsApi.backups_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/backups/{backupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{backupName}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerBackup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupsApi.backups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#backups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the backups for a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [ServerBackupListResult]
    def backups_list_by_server(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = backups_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # List all the backups for a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerBackupListResult, Integer, Hash)>] ServerBackupListResult data, response status code and response headers
    def backups_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.backups_list_by_server ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupsApi.backups_list_by_server"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupsApi.backups_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupsApi.backups_list_by_server"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupsApi.backups_list_by_server"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupsApi.backups_list_by_server, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupsApi.backups_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupsApi.backups_list_by_server"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupsApi.backups_list_by_server, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling BackupsApi.backups_list_by_server, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupsApi.backups_list_by_server, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/backups'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerBackupListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupsApi.backups_list_by_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#backups_list_by_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create backup for a given server with specified backup name.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] The name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [ServerBackup]
    def backups_put(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      data, _status_code, _headers = backups_put_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts)
      data
    end

    # Create backup for a given server with specified backup name.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param backup_name [String] The name of the backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerBackup, Integer, Hash)>] ServerBackup data, response status code and response headers
    def backups_put_with_http_info(api_version, subscription_id, resource_group_name, server_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.backups_put ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling BackupsApi.backups_put"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling BackupsApi.backups_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BackupsApi.backups_put"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling BackupsApi.backups_put"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupsApi.backups_put, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling BackupsApi.backups_put, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling BackupsApi.backups_put"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling BackupsApi.backups_put, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling BackupsApi.backups_put, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling BackupsApi.backups_put, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling BackupsApi.backups_put"
      end
      pattern = Regexp.new(/^[-\w\._]+$/)
      if @api_client.config.client_side_validation && backup_name !~ pattern
        fail ArgumentError, "invalid value for 'backup_name' when calling BackupsApi.backups_put, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/backups/{backupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{backupName}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerBackup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"BackupsApi.backups_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#backups_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end