=begin
#MySQLManagementClient

#The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.

The version of the OpenAPI document: 2024-12-30

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module MySQL
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check the availability of name for server
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param name_availability_request [NameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [NameAvailability]
    def check_name_availability_execute(api_version, subscription_id, location_name, name_availability_request, opts = {})
      data, _status_code, _headers = check_name_availability_execute_with_http_info(api_version, subscription_id, location_name, name_availability_request, opts)
      data
    end

    # Check the availability of name for server
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param name_availability_request [NameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(NameAvailability, Integer, Hash)>] NameAvailability data, response status code and response headers
    def check_name_availability_execute_with_http_info(api_version, subscription_id, location_name, name_availability_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.check_name_availability_execute ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.check_name_availability_execute"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.check_name_availability_execute, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.check_name_availability_execute"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.check_name_availability_execute"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.check_name_availability_execute, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.check_name_availability_execute, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'name_availability_request' is set
      if @api_client.config.client_side_validation && name_availability_request.nil?
        fail ArgumentError, "Missing the required parameter 'name_availability_request' when calling DefaultApi.check_name_availability_execute"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/checkNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(name_availability_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NameAvailability'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.check_name_availability_execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#check_name_availability_execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check the availability of name for server
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param name_availability_request [NameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [NameAvailability]
    def check_name_availability_without_location_execute(api_version, subscription_id, name_availability_request, opts = {})
      data, _status_code, _headers = check_name_availability_without_location_execute_with_http_info(api_version, subscription_id, name_availability_request, opts)
      data
    end

    # Check the availability of name for server
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param name_availability_request [NameAvailabilityRequest] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(NameAvailability, Integer, Hash)>] NameAvailability data, response status code and response headers
    def check_name_availability_without_location_execute_with_http_info(api_version, subscription_id, name_availability_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.check_name_availability_without_location_execute ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.check_name_availability_without_location_execute"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.check_name_availability_without_location_execute, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.check_name_availability_without_location_execute"
      end
      # verify the required parameter 'name_availability_request' is set
      if @api_client.config.client_side_validation && name_availability_request.nil?
        fail ArgumentError, "Missing the required parameter 'name_availability_request' when calling DefaultApi.check_name_availability_without_location_execute"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/checkNameAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(name_availability_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NameAvailability'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.check_name_availability_without_location_execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#check_name_availability_without_location_execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get virtual network subnet usage for a given vNet resource id.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param parameters [VirtualNetworkSubnetUsageParameter] The request body
    # @param [Hash] opts the optional parameters
    # @return [VirtualNetworkSubnetUsageResult]
    def check_virtual_network_subnet_usage_execute(api_version, subscription_id, location_name, parameters, opts = {})
      data, _status_code, _headers = check_virtual_network_subnet_usage_execute_with_http_info(api_version, subscription_id, location_name, parameters, opts)
      data
    end

    # Get virtual network subnet usage for a given vNet resource id.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param parameters [VirtualNetworkSubnetUsageParameter] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualNetworkSubnetUsageResult, Integer, Hash)>] VirtualNetworkSubnetUsageResult data, response status code and response headers
    def check_virtual_network_subnet_usage_execute_with_http_info(api_version, subscription_id, location_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.check_virtual_network_subnet_usage_execute ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.check_virtual_network_subnet_usage_execute"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.check_virtual_network_subnet_usage_execute, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.check_virtual_network_subnet_usage_execute"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.check_virtual_network_subnet_usage_execute"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.check_virtual_network_subnet_usage_execute, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.check_virtual_network_subnet_usage_execute, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling DefaultApi.check_virtual_network_subnet_usage_execute"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/checkVirtualNetworkSubnetUsage'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualNetworkSubnetUsageResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.check_virtual_network_subnet_usage_execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#check_virtual_network_subnet_usage_execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get private DNS zone suffix in the cloud.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [GetPrivateDnsZoneSuffixResponse]
    def get_private_dns_zone_suffix_execute(api_version, opts = {})
      data, _status_code, _headers = get_private_dns_zone_suffix_execute_with_http_info(api_version, opts)
      data
    end

    # Get private DNS zone suffix in the cloud.
    # @param api_version [String] The API version to use for this operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPrivateDnsZoneSuffixResponse, Integer, Hash)>] GetPrivateDnsZoneSuffixResponse data, response status code and response headers
    def get_private_dns_zone_suffix_execute_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_private_dns_zone_suffix_execute ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.get_private_dns_zone_suffix_execute"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.get_private_dns_zone_suffix_execute, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/providers/Microsoft.DBforMySQL/getPrivateDnsZoneSuffix'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPrivateDnsZoneSuffixResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.get_private_dns_zone_suffix_execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_private_dns_zone_suffix_execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get capabilities at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [CapabilitiesListResult]
    def location_based_capabilities_list(api_version, subscription_id, location_name, opts = {})
      data, _status_code, _headers = location_based_capabilities_list_with_http_info(api_version, subscription_id, location_name, opts)
      data
    end

    # Get capabilities at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapabilitiesListResult, Integer, Hash)>] CapabilitiesListResult data, response status code and response headers
    def location_based_capabilities_list_with_http_info(api_version, subscription_id, location_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.location_based_capabilities_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.location_based_capabilities_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.location_based_capabilities_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.location_based_capabilities_list"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.location_based_capabilities_list"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.location_based_capabilities_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.location_based_capabilities_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/capabilities'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilitiesListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.location_based_capabilities_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#location_based_capabilities_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the operation result for a long running operation.
    # Get the operation result for a long running operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param operation_id [String] The ID of an ongoing async operation.
    # @param [Hash] opts the optional parameters
    # @return [OperationProgressResult]
    def operation_progress_get(api_version, subscription_id, location_name, operation_id, opts = {})
      data, _status_code, _headers = operation_progress_get_with_http_info(api_version, subscription_id, location_name, operation_id, opts)
      data
    end

    # Get the operation result for a long running operation.
    # Get the operation result for a long running operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param operation_id [String] The ID of an ongoing async operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationProgressResult, Integer, Hash)>] OperationProgressResult data, response status code and response headers
    def operation_progress_get_with_http_info(api_version, subscription_id, location_name, operation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.operation_progress_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.operation_progress_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.operation_progress_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.operation_progress_get"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.operation_progress_get"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.operation_progress_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.operation_progress_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'operation_id' is set
      if @api_client.config.client_side_validation && operation_id.nil?
        fail ArgumentError, "Missing the required parameter 'operation_id' when calling DefaultApi.operation_progress_get"
      end
      if @api_client.config.client_side_validation && operation_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "operation_id" when calling DefaultApi.operation_progress_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/operationProgress/{operationId}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s)).sub('{operationId}', CGI.escape(operation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationProgressResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.operation_progress_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#operation_progress_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the operation result for a long running operation.
    # Get the operation result for a long running operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param operation_id [String] The ID of an ongoing async operation.
    # @param [Hash] opts the optional parameters
    # @return [OperationStatusExtendedResult]
    def operation_results_get(api_version, subscription_id, location_name, operation_id, opts = {})
      data, _status_code, _headers = operation_results_get_with_http_info(api_version, subscription_id, location_name, operation_id, opts)
      data
    end

    # Get the operation result for a long running operation.
    # Get the operation result for a long running operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param operation_id [String] The ID of an ongoing async operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(OperationStatusExtendedResult, Integer, Hash)>] OperationStatusExtendedResult data, response status code and response headers
    def operation_results_get_with_http_info(api_version, subscription_id, location_name, operation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.operation_results_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling DefaultApi.operation_results_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling DefaultApi.operation_results_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling DefaultApi.operation_results_get"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling DefaultApi.operation_results_get"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling DefaultApi.operation_results_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling DefaultApi.operation_results_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'operation_id' is set
      if @api_client.config.client_side_validation && operation_id.nil?
        fail ArgumentError, "Missing the required parameter 'operation_id' when calling DefaultApi.operation_results_get"
      end
      if @api_client.config.client_side_validation && operation_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "operation_id" when calling DefaultApi.operation_results_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/operationResults/{operationId}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s)).sub('{operationId}', CGI.escape(operation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OperationStatusExtendedResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"DefaultApi.operation_results_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#operation_results_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end