=begin
#MySQLManagementClient

#The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.

The version of the OpenAPI document: 2024-12-30

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module MySQL
  class FirewallRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new firewall rule or updates an existing firewall rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param firewall_rule_name [String] The name of the server firewall rule.
    # @param parameters [FirewallRule] The required parameters for creating or updating a firewall rule.
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def firewall_rules_create_or_update(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, parameters, opts = {})
      data, _status_code, _headers = firewall_rules_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, parameters, opts)
      data
    end

    # Creates a new firewall rule or updates an existing firewall rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param firewall_rule_name [String] The name of the server firewall rule.
    # @param parameters [FirewallRule] The required parameters for creating or updating a firewall rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def firewall_rules_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRulesApi.firewall_rules_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FirewallRulesApi.firewall_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FirewallRulesApi.firewall_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FirewallRulesApi.firewall_rules_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FirewallRulesApi.firewall_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling FirewallRulesApi.firewall_rules_create_or_update"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling FirewallRulesApi.firewall_rules_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_rule_name' is set
      if @api_client.config.client_side_validation && firewall_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_name' when calling FirewallRulesApi.firewall_rules_create_or_update"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9][-_a-zA-Z0-9]{0,79}(?<!-)$/)
      if @api_client.config.client_side_validation && firewall_rule_name !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_name' when calling FirewallRulesApi.firewall_rules_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling FirewallRulesApi.firewall_rules_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/firewallRules/{firewallRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{firewallRuleName}', CGI.escape(firewall_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FirewallRulesApi.firewall_rules_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRulesApi#firewall_rules_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a firewall rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param firewall_rule_name [String] The name of the server firewall rule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def firewall_rules_delete(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, opts = {})
      firewall_rules_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, opts)
      nil
    end

    # Deletes a firewall rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param firewall_rule_name [String] The name of the server firewall rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def firewall_rules_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRulesApi.firewall_rules_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FirewallRulesApi.firewall_rules_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FirewallRulesApi.firewall_rules_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FirewallRulesApi.firewall_rules_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FirewallRulesApi.firewall_rules_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling FirewallRulesApi.firewall_rules_delete"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling FirewallRulesApi.firewall_rules_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_rule_name' is set
      if @api_client.config.client_side_validation && firewall_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_name' when calling FirewallRulesApi.firewall_rules_delete"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9][-_a-zA-Z0-9]{0,79}(?<!-)$/)
      if @api_client.config.client_side_validation && firewall_rule_name !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_name' when calling FirewallRulesApi.firewall_rules_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/firewallRules/{firewallRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{firewallRuleName}', CGI.escape(firewall_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FirewallRulesApi.firewall_rules_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRulesApi#firewall_rules_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about a server firewall rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param firewall_rule_name [String] The name of the server firewall rule.
    # @param [Hash] opts the optional parameters
    # @return [FirewallRule]
    def firewall_rules_get(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, opts = {})
      data, _status_code, _headers = firewall_rules_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, opts)
      data
    end

    # Gets information about a server firewall rule.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param firewall_rule_name [String] The name of the server firewall rule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRule, Integer, Hash)>] FirewallRule data, response status code and response headers
    def firewall_rules_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, firewall_rule_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRulesApi.firewall_rules_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FirewallRulesApi.firewall_rules_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FirewallRulesApi.firewall_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FirewallRulesApi.firewall_rules_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FirewallRulesApi.firewall_rules_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling FirewallRulesApi.firewall_rules_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling FirewallRulesApi.firewall_rules_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'firewall_rule_name' is set
      if @api_client.config.client_side_validation && firewall_rule_name.nil?
        fail ArgumentError, "Missing the required parameter 'firewall_rule_name' when calling FirewallRulesApi.firewall_rules_get"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9][-_a-zA-Z0-9]{0,79}(?<!-)$/)
      if @api_client.config.client_side_validation && firewall_rule_name !~ pattern
        fail ArgumentError, "invalid value for 'firewall_rule_name' when calling FirewallRulesApi.firewall_rules_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/firewallRules/{firewallRuleName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s)).sub('{firewallRuleName}', CGI.escape(firewall_rule_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FirewallRulesApi.firewall_rules_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRulesApi#firewall_rules_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the firewall rules in a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [FirewallRuleListResult]
    def firewall_rules_list_by_server(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = firewall_rules_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # List all the firewall rules in a given server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FirewallRuleListResult, Integer, Hash)>] FirewallRuleListResult data, response status code and response headers
    def firewall_rules_list_by_server_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FirewallRulesApi.firewall_rules_list_by_server ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling FirewallRulesApi.firewall_rules_list_by_server"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling FirewallRulesApi.firewall_rules_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling FirewallRulesApi.firewall_rules_list_by_server"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling FirewallRulesApi.firewall_rules_list_by_server"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_list_by_server, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling FirewallRulesApi.firewall_rules_list_by_server, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling FirewallRulesApi.firewall_rules_list_by_server"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_list_by_server, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling FirewallRulesApi.firewall_rules_list_by_server, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling FirewallRulesApi.firewall_rules_list_by_server, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/firewallRules'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FirewallRuleListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"FirewallRulesApi.firewall_rules_list_by_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FirewallRulesApi#firewall_rules_list_by_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end