=begin
#MySQLManagementClient

#The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.

The version of the OpenAPI document: 2024-12-30

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module MySQL
  class LocationBasedCapabilitySetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get capabilities at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param capability_set_name [String] Name of capability set
    # @param [Hash] opts the optional parameters
    # @return [Capability]
    def location_based_capability_set_get(api_version, subscription_id, location_name, capability_set_name, opts = {})
      data, _status_code, _headers = location_based_capability_set_get_with_http_info(api_version, subscription_id, location_name, capability_set_name, opts)
      data
    end

    # Get capabilities at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param capability_set_name [String] Name of capability set
    # @param [Hash] opts the optional parameters
    # @return [Array<(Capability, Integer, Hash)>] Capability data, response status code and response headers
    def location_based_capability_set_get_with_http_info(api_version, subscription_id, location_name, capability_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationBasedCapabilitySetApi.location_based_capability_set_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocationBasedCapabilitySetApi.location_based_capability_set_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocationBasedCapabilitySetApi.location_based_capability_set_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocationBasedCapabilitySetApi.location_based_capability_set_get"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling LocationBasedCapabilitySetApi.location_based_capability_set_get"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling LocationBasedCapabilitySetApi.location_based_capability_set_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling LocationBasedCapabilitySetApi.location_based_capability_set_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'capability_set_name' is set
      if @api_client.config.client_side_validation && capability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'capability_set_name' when calling LocationBasedCapabilitySetApi.location_based_capability_set_get"
      end
      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && capability_set_name !~ pattern
        fail ArgumentError, "invalid value for 'capability_set_name' when calling LocationBasedCapabilitySetApi.location_based_capability_set_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/capabilitySets/{capabilitySetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s)).sub('{capabilitySetName}', CGI.escape(capability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Capability'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocationBasedCapabilitySetApi.location_based_capability_set_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationBasedCapabilitySetApi#location_based_capability_set_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get capabilities at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [CapabilitySetsList]
    def location_based_capability_set_list(api_version, subscription_id, location_name, opts = {})
      data, _status_code, _headers = location_based_capability_set_list_with_http_info(api_version, subscription_id, location_name, opts)
      data
    end

    # Get capabilities at specified location in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location_name [String] The name of the location.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapabilitySetsList, Integer, Hash)>] CapabilitySetsList data, response status code and response headers
    def location_based_capability_set_list_with_http_info(api_version, subscription_id, location_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationBasedCapabilitySetApi.location_based_capability_set_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LocationBasedCapabilitySetApi.location_based_capability_set_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LocationBasedCapabilitySetApi.location_based_capability_set_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LocationBasedCapabilitySetApi.location_based_capability_set_list"
      end
      # verify the required parameter 'location_name' is set
      if @api_client.config.client_side_validation && location_name.nil?
        fail ArgumentError, "Missing the required parameter 'location_name' when calling LocationBasedCapabilitySetApi.location_based_capability_set_list"
      end
      if @api_client.config.client_side_validation && location_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "location_name" when calling LocationBasedCapabilitySetApi.location_based_capability_set_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[ \w]+$/)
      if @api_client.config.client_side_validation && location_name !~ pattern
        fail ArgumentError, "invalid value for 'location_name' when calling LocationBasedCapabilitySetApi.location_based_capability_set_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/capabilitySets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{locationName}', CGI.escape(location_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilitySetsList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LocationBasedCapabilitySetApi.location_based_capability_set_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationBasedCapabilitySetApi#location_based_capability_set_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end