=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Compute
  class AvailabilitySetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel the migration operation on an Availability Set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def availability_sets_cancel_migration_to_virtual_machine_scale_set(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      availability_sets_cancel_migration_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts)
      nil
    end

    # Cancel the migration operation on an Availability Set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def availability_sets_cancel_migration_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/cancelMigrationToVirtualMachineScaleSet'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_cancel_migration_to_virtual_machine_scale_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_cancel_migration_to_virtual_machine_scale_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Flexible Virtual Machine Scale Set and migrate all the Virtual Machines in the Availability Set. This does not trigger a downtime on the Virtual Machines.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @option opts [ConvertToVirtualMachineScaleSetInput] :parameters Parameters supplied to the migrate operation on the availability set.
    # @return [nil]
    def availability_sets_convert_to_virtual_machine_scale_set(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      availability_sets_convert_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts)
      nil
    end

    # Create a new Flexible Virtual Machine Scale Set and migrate all the Virtual Machines in the Availability Set. This does not trigger a downtime on the Virtual Machines.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @option opts [ConvertToVirtualMachineScaleSetInput] :parameters Parameters supplied to the migrate operation on the availability set.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def availability_sets_convert_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/convertToVirtualMachineScaleSet'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'parameters'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_convert_to_virtual_machine_scale_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_convert_to_virtual_machine_scale_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [AvailabilitySet] Parameters supplied to the Create Availability Set operation.
    # @param [Hash] opts the optional parameters
    # @return [AvailabilitySet]
    def availability_sets_create_or_update(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      data, _status_code, _headers = availability_sets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts)
      data
    end

    # Create or update an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [AvailabilitySet] Parameters supplied to the Create Availability Set operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailabilitySet, Integer, Hash)>] AvailabilitySet data, response status code and response headers
    def availability_sets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AvailabilitySetsApi.availability_sets_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def availability_sets_delete(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      availability_sets_delete_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts)
      nil
    end

    # Delete an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def availability_sets_delete_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves information about an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [AvailabilitySet]
    def availability_sets_get(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      data, _status_code, _headers = availability_sets_get_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts)
      data
    end

    # Retrieves information about an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailabilitySet, Integer, Hash)>] AvailabilitySet data, response status code and response headers
    def availability_sets_get_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all availability sets in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [AvailabilitySetListResult]
    def availability_sets_list(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = availability_sets_list_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all availability sets in a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailabilitySetListResult, Integer, Hash)>] AvailabilitySetListResult data, response status code and response headers
    def availability_sets_list_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySetListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineSizeListResult]
    def availability_sets_list_available_sizes(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      data, _status_code, _headers = availability_sets_list_available_sizes_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts)
      data
    end

    # Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineSizeListResult, Integer, Hash)>] VirtualMachineSizeListResult data, response status code and response headers
    def availability_sets_list_available_sizes_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_list_available_sizes ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_list_available_sizes"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_list_available_sizes"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_list_available_sizes"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_list_available_sizes, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_list_available_sizes"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineSizeListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_list_available_sizes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_list_available_sizes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all availability sets in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply to the operation. Allowed values are &#39;instanceView&#39;.
    # @return [AvailabilitySetListResult]
    def availability_sets_list_by_subscription(api_version, subscription_id, opts = {})
      data, _status_code, _headers = availability_sets_list_by_subscription_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all availability sets in a subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply to the operation. Allowed values are &#39;instanceView&#39;.
    # @return [Array<(AvailabilitySetListResult, Integer, Hash)>] AvailabilitySetListResult data, response status code and response headers
    def availability_sets_list_by_subscription_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_list_by_subscription ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_list_by_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_list_by_subscription"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySetListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_list_by_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_list_by_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start migration operation on an Availability Set to move its Virtual Machines to a Virtual Machine Scale Set. This should be followed by a migrate operation on each Virtual Machine that triggers a downtime on the Virtual Machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [MigrateToVirtualMachineScaleSetInput] Parameters supplied to the migrate operation on the availability set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def availability_sets_start_migration_to_virtual_machine_scale_set(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      availability_sets_start_migration_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts)
      nil
    end

    # Start migration operation on an Availability Set to move its Virtual Machines to a Virtual Machine Scale Set. This should be followed by a migrate operation on each Virtual Machine that triggers a downtime on the Virtual Machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [MigrateToVirtualMachineScaleSetInput] Parameters supplied to the migrate operation on the availability set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def availability_sets_start_migration_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/startMigrationToVirtualMachineScaleSet'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_start_migration_to_virtual_machine_scale_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_start_migration_to_virtual_machine_scale_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [AvailabilitySetUpdate] Parameters supplied to the Update Availability Set operation.
    # @param [Hash] opts the optional parameters
    # @return [AvailabilitySet]
    def availability_sets_update(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      data, _status_code, _headers = availability_sets_update_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts)
      data
    end

    # Update an availability set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [AvailabilitySetUpdate] Parameters supplied to the Update Availability Set operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailabilitySet, Integer, Hash)>] AvailabilitySet data, response status code and response headers
    def availability_sets_update_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AvailabilitySetsApi.availability_sets_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validates that the Virtual Machines in the Availability Set can be migrated to the provided Virtual Machine Scale Set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [MigrateToVirtualMachineScaleSetInput] Parameters supplied to the migrate operation on the availability set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def availability_sets_validate_migration_to_virtual_machine_scale_set(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      availability_sets_validate_migration_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts)
      nil
    end

    # Validates that the Virtual Machines in the Availability Set can be migrated to the provided Virtual Machine Scale Set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param availability_set_name [String] The name of the availability set.
    # @param parameters [MigrateToVirtualMachineScaleSetInput] Parameters supplied to the migrate operation on the availability set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def availability_sets_validate_migration_to_virtual_machine_scale_set_with_http_info(api_version, subscription_id, resource_group_name, availability_set_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'availability_set_name' is set
      if @api_client.config.client_side_validation && availability_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'availability_set_name' when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/validateMigrationToVirtualMachineScaleSet'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{availabilitySetName}', CGI.escape(availability_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AvailabilitySetsApi.availability_sets_validate_migration_to_virtual_machine_scale_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySetsApi#availability_sets_validate_migration_to_virtual_machine_scale_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end