=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Compute
  class CapacityReservationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The operation to create or update a capacity reservation. Please note some properties can be set only during capacity reservation creation. Please refer to https://aka.ms/CapacityReservation for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param parameters [CapacityReservation] Parameters supplied to the Create capacity reservation.
    # @param [Hash] opts the optional parameters
    # @return [CapacityReservation]
    def capacity_reservations_create_or_update(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, parameters, opts = {})
      data, _status_code, _headers = capacity_reservations_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, parameters, opts)
      data
    end

    # The operation to create or update a capacity reservation. Please note some properties can be set only during capacity reservation creation. Please refer to https://aka.ms/CapacityReservation for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param parameters [CapacityReservation] Parameters supplied to the Create capacity reservation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapacityReservation, Integer, Hash)>] CapacityReservation data, response status code and response headers
    def capacity_reservations_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationsApi.capacity_reservations_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationsApi.capacity_reservations_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationsApi.capacity_reservations_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationsApi.capacity_reservations_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationsApi.capacity_reservations_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationsApi.capacity_reservations_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationsApi.capacity_reservations_create_or_update"
      end
      # verify the required parameter 'capacity_reservation_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_name' when calling CapacityReservationsApi.capacity_reservations_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling CapacityReservationsApi.capacity_reservations_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s)).sub('{capacityReservationName}', CGI.escape(capacity_reservation_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationsApi.capacity_reservations_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationsApi#capacity_reservations_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to delete a capacity reservation. This operation is allowed only when all the associated resources are disassociated from the capacity reservation. Please refer to https://aka.ms/CapacityReservation for more details. Note: Block capacity reservations cannot be deleted after they have been successfully allocated until the schedule end time. Future capacity reservations (Minimum API version: 2026-04-01) can be deleted if their reservation state is one of: Pending, Declined, FulfillmentFailed, or Approved. Otherwise, Future capacity reservations in the Committed, Live, or PartiallyFulfilled state cannot be deleted until minimumCommitmentDays have elapsed since their scheduled start date.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def capacity_reservations_delete(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, opts = {})
      capacity_reservations_delete_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, opts)
      nil
    end

    # The operation to delete a capacity reservation. This operation is allowed only when all the associated resources are disassociated from the capacity reservation. Please refer to https://aka.ms/CapacityReservation for more details. Note: Block capacity reservations cannot be deleted after they have been successfully allocated until the schedule end time. Future capacity reservations (Minimum API version: 2026-04-01) can be deleted if their reservation state is one of: Pending, Declined, FulfillmentFailed, or Approved. Otherwise, Future capacity reservations in the Committed, Live, or PartiallyFulfilled state cannot be deleted until minimumCommitmentDays have elapsed since their scheduled start date.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def capacity_reservations_delete_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationsApi.capacity_reservations_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationsApi.capacity_reservations_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationsApi.capacity_reservations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationsApi.capacity_reservations_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationsApi.capacity_reservations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationsApi.capacity_reservations_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationsApi.capacity_reservations_delete"
      end
      # verify the required parameter 'capacity_reservation_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_name' when calling CapacityReservationsApi.capacity_reservations_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s)).sub('{capacityReservationName}', CGI.escape(capacity_reservation_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationsApi.capacity_reservations_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationsApi#capacity_reservations_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation that retrieves information about the capacity reservation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; retrieves a snapshot of the runtime properties of the capacity reservation that is managed by the platform and can change outside of control plane operations.
    # @return [CapacityReservation]
    def capacity_reservations_get(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, opts = {})
      data, _status_code, _headers = capacity_reservations_get_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, opts)
      data
    end

    # The operation that retrieves information about the capacity reservation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; retrieves a snapshot of the runtime properties of the capacity reservation that is managed by the platform and can change outside of control plane operations.
    # @return [Array<(CapacityReservation, Integer, Hash)>] CapacityReservation data, response status code and response headers
    def capacity_reservations_get_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationsApi.capacity_reservations_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationsApi.capacity_reservations_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationsApi.capacity_reservations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationsApi.capacity_reservations_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationsApi.capacity_reservations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationsApi.capacity_reservations_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationsApi.capacity_reservations_get"
      end
      # verify the required parameter 'capacity_reservation_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_name' when calling CapacityReservationsApi.capacity_reservations_get"
      end
      allowable_values = ["instanceView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s)).sub('{capacityReservationName}', CGI.escape(capacity_reservation_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationsApi.capacity_reservations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationsApi#capacity_reservations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to update a capacity reservation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param parameters [CapacityReservationUpdate] Parameters supplied to the Update capacity reservation operation.
    # @param [Hash] opts the optional parameters
    # @return [CapacityReservation]
    def capacity_reservations_update(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, parameters, opts = {})
      data, _status_code, _headers = capacity_reservations_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, parameters, opts)
      data
    end

    # The operation to update a capacity reservation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param capacity_reservation_name [String] The name of the capacity reservation.
    # @param parameters [CapacityReservationUpdate] Parameters supplied to the Update capacity reservation operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapacityReservation, Integer, Hash)>] CapacityReservation data, response status code and response headers
    def capacity_reservations_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, capacity_reservation_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationsApi.capacity_reservations_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationsApi.capacity_reservations_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationsApi.capacity_reservations_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationsApi.capacity_reservations_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationsApi.capacity_reservations_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationsApi.capacity_reservations_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationsApi.capacity_reservations_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationsApi.capacity_reservations_update"
      end
      # verify the required parameter 'capacity_reservation_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_name' when calling CapacityReservationsApi.capacity_reservations_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling CapacityReservationsApi.capacity_reservations_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s)).sub('{capacityReservationName}', CGI.escape(capacity_reservation_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationsApi.capacity_reservations_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationsApi#capacity_reservations_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end