=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Compute
  class CapacityReservationGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The operation to create or update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified. Please refer to https://aka.ms/CapacityReservation for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param parameters [CapacityReservationGroup] Parameters supplied to the Create capacity reservation Group.
    # @param [Hash] opts the optional parameters
    # @return [CapacityReservationGroup]
    def capacity_reservation_groups_create_or_update(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, parameters, opts = {})
      data, _status_code, _headers = capacity_reservation_groups_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, parameters, opts)
      data
    end

    # The operation to create or update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified. Please refer to https://aka.ms/CapacityReservation for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param parameters [CapacityReservationGroup] Parameters supplied to the Create capacity reservation Group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapacityReservationGroup, Integer, Hash)>] CapacityReservationGroup data, response status code and response headers
    def capacity_reservation_groups_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservationGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationGroupsApi.capacity_reservation_groups_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationGroupsApi#capacity_reservation_groups_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to delete a capacity reservation group. This operation is allowed only if all the associated resources are disassociated from the reservation group and all capacity reservations under the reservation group have also been deleted. Please refer to https://aka.ms/CapacityReservation for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def capacity_reservation_groups_delete(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts = {})
      capacity_reservation_groups_delete_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts)
      nil
    end

    # The operation to delete a capacity reservation group. This operation is allowed only if all the associated resources are disassociated from the reservation group and all capacity reservations under the reservation group have also been deleted. Please refer to https://aka.ms/CapacityReservation for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def capacity_reservation_groups_delete_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationGroupsApi.capacity_reservation_groups_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationGroupsApi.capacity_reservation_groups_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationGroupsApi#capacity_reservation_groups_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation that retrieves information about a capacity reservation group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; will retrieve the list of instance views of the capacity reservations under the capacity reservation group which is a snapshot of the runtime properties of a capacity reservation that is managed by the platform and can change outside of control plane operations.
    # @return [CapacityReservationGroup]
    def capacity_reservation_groups_get(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts = {})
      data, _status_code, _headers = capacity_reservation_groups_get_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts)
      data
    end

    # The operation that retrieves information about a capacity reservation group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; will retrieve the list of instance views of the capacity reservations under the capacity reservation group which is a snapshot of the runtime properties of a capacity reservation that is managed by the platform and can change outside of control plane operations.
    # @return [Array<(CapacityReservationGroup, Integer, Hash)>] CapacityReservationGroup data, response status code and response headers
    def capacity_reservation_groups_get_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationGroupsApi.capacity_reservation_groups_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationGroupsApi.capacity_reservation_groups_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationGroupsApi.capacity_reservation_groups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationGroupsApi.capacity_reservation_groups_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationGroupsApi.capacity_reservation_groups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_get"
      end
      allowable_values = ["instanceView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservationGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationGroupsApi.capacity_reservation_groups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationGroupsApi#capacity_reservation_groups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the capacity reservation groups in the specified resource group. Use the nextLink property in the response to get the next page of capacity reservation groups.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
    # @return [CapacityReservationGroupListResult]
    def capacity_reservation_groups_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = capacity_reservation_groups_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all of the capacity reservation groups in the specified resource group. Use the nextLink property in the response to get the next page of capacity reservation groups.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
    # @return [Array<(CapacityReservationGroupListResult, Integer, Hash)>] CapacityReservationGroupListResult data, response status code and response headers
    def capacity_reservation_groups_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      allowable_values = ["virtualMachineScaleSetVMs/$ref", "virtualMachines/$ref"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservationGroupListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationGroupsApi.capacity_reservation_groups_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationGroupsApi#capacity_reservation_groups_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the capacity reservation groups in the subscription. Use the nextLink property in the response to get the next page of capacity reservation groups.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
    # @option opts [String] :resource_ids_only The query option to fetch Capacity Reservation Group Resource Ids. &lt;br&gt; &#39;CreatedInSubscription&#39; enables fetching Resource Ids for all capacity reservation group resources created in the subscription. &lt;br&gt; &#39;SharedWithSubscription&#39; enables fetching Resource Ids for all capacity reservation group resources shared with the subscription. &lt;br&gt; &#39;All&#39; enables fetching Resource Ids for all capacity reservation group resources shared with the subscription and created in the subscription.
    # @return [CapacityReservationGroupListResult]
    def capacity_reservation_groups_list_by_subscription(api_version, subscription_id, opts = {})
      data, _status_code, _headers = capacity_reservation_groups_list_by_subscription_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all of the capacity reservation groups in the subscription. Use the nextLink property in the response to get the next page of capacity reservation groups.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.
    # @option opts [String] :resource_ids_only The query option to fetch Capacity Reservation Group Resource Ids. &lt;br&gt; &#39;CreatedInSubscription&#39; enables fetching Resource Ids for all capacity reservation group resources created in the subscription. &lt;br&gt; &#39;SharedWithSubscription&#39; enables fetching Resource Ids for all capacity reservation group resources shared with the subscription. &lt;br&gt; &#39;All&#39; enables fetching Resource Ids for all capacity reservation group resources shared with the subscription and created in the subscription.
    # @return [Array<(CapacityReservationGroupListResult, Integer, Hash)>] CapacityReservationGroupListResult data, response status code and response headers
    def capacity_reservation_groups_list_by_subscription_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationGroupsApi.capacity_reservation_groups_list_by_subscription ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_subscription"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationGroupsApi.capacity_reservation_groups_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      allowable_values = ["virtualMachineScaleSetVMs/$ref", "virtualMachines/$ref"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      allowable_values = ["CreatedInSubscription", "SharedWithSubscription", "All"]
      if @api_client.config.client_side_validation && opts[:'resource_ids_only'] && !allowable_values.include?(opts[:'resource_ids_only'])
        fail ArgumentError, "invalid value for \"resource_ids_only\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/capacityReservationGroups'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'resourceIdsOnly'] = opts[:'resource_ids_only'] if !opts[:'resource_ids_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservationGroupListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationGroupsApi.capacity_reservation_groups_list_by_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationGroupsApi#capacity_reservation_groups_list_by_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param parameters [CapacityReservationGroupUpdate] Parameters supplied to the Update capacity reservation Group operation.
    # @param [Hash] opts the optional parameters
    # @return [CapacityReservationGroup]
    def capacity_reservation_groups_update(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, parameters, opts = {})
      data, _status_code, _headers = capacity_reservation_groups_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, parameters, opts)
      data
    end

    # The operation to update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param capacity_reservation_group_name [String] The name of the capacity reservation group.
    # @param parameters [CapacityReservationGroupUpdate] Parameters supplied to the Update capacity reservation Group operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CapacityReservationGroup, Integer, Hash)>] CapacityReservationGroup data, response status code and response headers
    def capacity_reservation_groups_update_with_http_info(api_version, subscription_id, resource_group_name, capacity_reservation_group_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapacityReservationGroupsApi.capacity_reservation_groups_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling CapacityReservationGroupsApi.capacity_reservation_groups_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling CapacityReservationGroupsApi.capacity_reservation_groups_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling CapacityReservationGroupsApi.capacity_reservation_groups_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling CapacityReservationGroupsApi.capacity_reservation_groups_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling CapacityReservationGroupsApi.capacity_reservation_groups_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'capacity_reservation_group_name' is set
      if @api_client.config.client_side_validation && capacity_reservation_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'capacity_reservation_group_name' when calling CapacityReservationGroupsApi.capacity_reservation_groups_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling CapacityReservationGroupsApi.capacity_reservation_groups_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{capacityReservationGroupName}', CGI.escape(capacity_reservation_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'CapacityReservationGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"CapacityReservationGroupsApi.capacity_reservation_groups_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapacityReservationGroupsApi#capacity_reservation_groups_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end