=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Compute
  class LogAnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Export logs that show Api requests made by this subscription in the given time window to show throttling activities.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param parameters [RequestRateByIntervalInput] Parameters supplied to the LogAnalytics getRequestRateByInterval Api.
    # @param [Hash] opts the optional parameters
    # @return [LogAnalyticsOperationResult]
    def log_analytics_export_request_rate_by_interval(api_version, subscription_id, location, parameters, opts = {})
      data, _status_code, _headers = log_analytics_export_request_rate_by_interval_with_http_info(api_version, subscription_id, location, parameters, opts)
      data
    end

    # Export logs that show Api requests made by this subscription in the given time window to show throttling activities.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param parameters [RequestRateByIntervalInput] Parameters supplied to the LogAnalytics getRequestRateByInterval Api.
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogAnalyticsOperationResult, Integer, Hash)>] LogAnalyticsOperationResult data, response status code and response headers
    def log_analytics_export_request_rate_by_interval_with_http_info(api_version, subscription_id, location, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogAnalyticsApi.log_analytics_export_request_rate_by_interval ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling LogAnalyticsApi.log_analytics_export_request_rate_by_interval"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'LogAnalyticsOperationResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LogAnalyticsApi.log_analytics_export_request_rate_by_interval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogAnalyticsApi#log_analytics_export_request_rate_by_interval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export logs that show total throttled Api requests for this subscription in the given time window.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param parameters [ThrottledRequestsInput] The request body
    # @param [Hash] opts the optional parameters
    # @return [LogAnalyticsOperationResult]
    def log_analytics_export_throttled_requests(api_version, subscription_id, location, parameters, opts = {})
      data, _status_code, _headers = log_analytics_export_throttled_requests_with_http_info(api_version, subscription_id, location, parameters, opts)
      data
    end

    # Export logs that show total throttled Api requests for this subscription in the given time window.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param parameters [ThrottledRequestsInput] The request body
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogAnalyticsOperationResult, Integer, Hash)>] LogAnalyticsOperationResult data, response status code and response headers
    def log_analytics_export_throttled_requests_with_http_info(api_version, subscription_id, location, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogAnalyticsApi.log_analytics_export_throttled_requests ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling LogAnalyticsApi.log_analytics_export_throttled_requests"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling LogAnalyticsApi.log_analytics_export_throttled_requests, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling LogAnalyticsApi.log_analytics_export_throttled_requests"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling LogAnalyticsApi.log_analytics_export_throttled_requests, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling LogAnalyticsApi.log_analytics_export_throttled_requests"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling LogAnalyticsApi.log_analytics_export_throttled_requests, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling LogAnalyticsApi.log_analytics_export_throttled_requests"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'LogAnalyticsOperationResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"LogAnalyticsApi.log_analytics_export_throttled_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogAnalyticsApi#log_analytics_export_throttled_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end