=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Compute
  class SshPublicKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new SSH public key resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param parameters [SshPublicKeyResource] Parameters supplied to create the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [SshPublicKeyResource]
    def ssh_public_keys_create(api_version, subscription_id, resource_group_name, ssh_public_key_name, parameters, opts = {})
      data, _status_code, _headers = ssh_public_keys_create_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, parameters, opts)
      data
    end

    # Creates a new SSH public key resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param parameters [SshPublicKeyResource] Parameters supplied to create the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshPublicKeyResource, Integer, Hash)>] SshPublicKeyResource data, response status code and response headers
    def ssh_public_keys_create_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_create"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SshPublicKeysApi.ssh_public_keys_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ssh_public_key_name' is set
      if @api_client.config.client_side_validation && ssh_public_key_name.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_public_key_name' when calling SshPublicKeysApi.ssh_public_keys_create"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling SshPublicKeysApi.ssh_public_keys_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{sshPublicKeyName}', CGI.escape(ssh_public_key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'SshPublicKeyResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an SSH public key.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def ssh_public_keys_delete(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts = {})
      ssh_public_keys_delete_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts)
      nil
    end

    # Delete an SSH public key.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def ssh_public_keys_delete_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SshPublicKeysApi.ssh_public_keys_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ssh_public_key_name' is set
      if @api_client.config.client_side_validation && ssh_public_key_name.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_public_key_name' when calling SshPublicKeysApi.ssh_public_keys_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{sshPublicKeyName}', CGI.escape(ssh_public_key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generates and returns a public/private key pair and populates the SSH public key resource with the public key. The length of the key will be 3072 bits. This operation can only be performed once per SSH public key resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param [Hash] opts the optional parameters
    # @option opts [SshGenerateKeyPairInputParameters] :parameters Parameters supplied to generate the SSH public key.
    # @return [SshPublicKeyGenerateKeyPairResult]
    def ssh_public_keys_generate_key_pair(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts = {})
      data, _status_code, _headers = ssh_public_keys_generate_key_pair_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts)
      data
    end

    # Generates and returns a public/private key pair and populates the SSH public key resource with the public key. The length of the key will be 3072 bits. This operation can only be performed once per SSH public key resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param [Hash] opts the optional parameters
    # @option opts [SshGenerateKeyPairInputParameters] :parameters Parameters supplied to generate the SSH public key.
    # @return [Array<(SshPublicKeyGenerateKeyPairResult, Integer, Hash)>] SshPublicKeyGenerateKeyPairResult data, response status code and response headers
    def ssh_public_keys_generate_key_pair_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_generate_key_pair ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ssh_public_key_name' is set
      if @api_client.config.client_side_validation && ssh_public_key_name.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_public_key_name' when calling SshPublicKeysApi.ssh_public_keys_generate_key_pair"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}/generateKeyPair'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{sshPublicKeyName}', CGI.escape(ssh_public_key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'SshPublicKeyGenerateKeyPairResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_generate_key_pair",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_generate_key_pair\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves information about an SSH public key.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [SshPublicKeyResource]
    def ssh_public_keys_get(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts = {})
      data, _status_code, _headers = ssh_public_keys_get_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts)
      data
    end

    # Retrieves information about an SSH public key.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshPublicKeyResource, Integer, Hash)>] SshPublicKeyResource data, response status code and response headers
    def ssh_public_keys_get_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SshPublicKeysApi.ssh_public_keys_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ssh_public_key_name' is set
      if @api_client.config.client_side_validation && ssh_public_key_name.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_public_key_name' when calling SshPublicKeysApi.ssh_public_keys_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{sshPublicKeyName}', CGI.escape(ssh_public_key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SshPublicKeyResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the SSH public keys in the specified resource group. Use the nextLink property in the response to get the next page of SSH public keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [SshPublicKeysGroupListResult]
    def ssh_public_keys_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = ssh_public_keys_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all of the SSH public keys in the specified resource group. Use the nextLink property in the response to get the next page of SSH public keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshPublicKeysGroupListResult, Integer, Hash)>] SshPublicKeysGroupListResult data, response status code and response headers
    def ssh_public_keys_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SshPublicKeysGroupListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the SSH public keys in the subscription. Use the nextLink property in the response to get the next page of SSH public keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [SshPublicKeysGroupListResult]
    def ssh_public_keys_list_by_subscription(api_version, subscription_id, opts = {})
      data, _status_code, _headers = ssh_public_keys_list_by_subscription_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all of the SSH public keys in the subscription. Use the nextLink property in the response to get the next page of SSH public keys.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshPublicKeysGroupListResult, Integer, Hash)>] SshPublicKeysGroupListResult data, response status code and response headers
    def ssh_public_keys_list_by_subscription_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_list_by_subscription ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_list_by_subscription"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_list_by_subscription"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_list_by_subscription, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/sshPublicKeys'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SshPublicKeysGroupListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_list_by_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_list_by_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a new SSH public key resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param parameters [SshPublicKeyUpdateResource] Parameters supplied to update the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [SshPublicKeyResource]
    def ssh_public_keys_update(api_version, subscription_id, resource_group_name, ssh_public_key_name, parameters, opts = {})
      data, _status_code, _headers = ssh_public_keys_update_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, parameters, opts)
      data
    end

    # Updates a new SSH public key resource.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param ssh_public_key_name [String] The name of the SSH public key.
    # @param parameters [SshPublicKeyUpdateResource] Parameters supplied to update the SSH public key.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SshPublicKeyResource, Integer, Hash)>] SshPublicKeyResource data, response status code and response headers
    def ssh_public_keys_update_with_http_info(api_version, subscription_id, resource_group_name, ssh_public_key_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SshPublicKeysApi.ssh_public_keys_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling SshPublicKeysApi.ssh_public_keys_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling SshPublicKeysApi.ssh_public_keys_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling SshPublicKeysApi.ssh_public_keys_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling SshPublicKeysApi.ssh_public_keys_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling SshPublicKeysApi.ssh_public_keys_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling SshPublicKeysApi.ssh_public_keys_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'ssh_public_key_name' is set
      if @api_client.config.client_side_validation && ssh_public_key_name.nil?
        fail ArgumentError, "Missing the required parameter 'ssh_public_key_name' when calling SshPublicKeysApi.ssh_public_keys_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling SshPublicKeysApi.ssh_public_keys_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{sshPublicKeyName}', CGI.escape(ssh_public_key_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'SshPublicKeyResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"SshPublicKeysApi.ssh_public_keys_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SshPublicKeysApi#ssh_public_keys_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end