=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Compute
  class VirtualMachineScaleSetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve upgrade on deferred rolling upgrades for OS disks in the virtual machines in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [VirtualMachineScaleSetVMInstanceIDs] :vm_instance_ids A list of virtual machine instance IDs from the VM scale set.
    # @return [nil]
    def virtual_machine_scale_sets_approve_rolling_upgrade(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_sets_approve_rolling_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Approve upgrade on deferred rolling upgrades for OS disks in the virtual machines in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [VirtualMachineScaleSetVMInstanceIDs] :vm_instance_ids A list of virtual machine instance IDs from the VM scale set.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_approve_rolling_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/approveRollingUpgrade'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'vm_instance_ids'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_approve_rolling_upgrade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_approve_rolling_upgrade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Converts SinglePlacementGroup property to false for a existing virtual machine scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param parameters [VMScaleSetConvertToSinglePlacementGroupInput] The input object for ConvertToSinglePlacementGroup API.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_sets_convert_to_single_placement_group(api_version, subscription_id, resource_group_name, vm_scale_set_name, parameters, opts = {})
      virtual_machine_scale_sets_convert_to_single_placement_group_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, parameters, opts)
      nil
    end

    # Converts SinglePlacementGroup property to false for a existing virtual machine scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param parameters [VMScaleSetConvertToSinglePlacementGroupInput] The input object for ConvertToSinglePlacementGroup API.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_convert_to_single_placement_group_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/convertToSinglePlacementGroup'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_convert_to_single_placement_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_convert_to_single_placement_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param parameters [VirtualMachineScaleSet] The scale set object.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
    # @option opts [String] :if_none_match Set to &#39;*&#39; to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.
    # @return [VirtualMachineScaleSet]
    def virtual_machine_scale_sets_create_or_update(api_version, subscription_id, resource_group_name, vm_scale_set_name, parameters, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, parameters, opts)
      data
    end

    # Create or update a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param parameters [VirtualMachineScaleSet] The scale set object.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
    # @option opts [String] :if_none_match Set to &#39;*&#39; to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.
    # @return [Array<(VirtualMachineScaleSet, Integer, Hash)>] VirtualMachineScaleSet data, response status code and response headers
    def virtual_machine_scale_sets_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deallocates specific virtual machines in a VM scale set. Shuts down the virtual machines and releases the compute resources. You are not billed for the compute resources that this virtual machine scale set deallocates.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :hibernate Optional parameter to hibernate a virtual machine from the VM scale set. (This feature is available for VMSS with Flexible OrchestrationMode only)
    # @option opts [VirtualMachineScaleSetVMInstanceIDs] :vm_instance_ids A list of virtual machine instance IDs from the VM scale set.
    # @return [nil]
    def virtual_machine_scale_sets_deallocate(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_sets_deallocate_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Deallocates specific virtual machines in a VM scale set. Shuts down the virtual machines and releases the compute resources. You are not billed for the compute resources that this virtual machine scale set deallocates.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :hibernate Optional parameter to hibernate a virtual machine from the VM scale set. (This feature is available for VMSS with Flexible OrchestrationMode only)
    # @option opts [VirtualMachineScaleSetVMInstanceIDs] :vm_instance_ids A list of virtual machine instance IDs from the VM scale set.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_deallocate_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/deallocate'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'hibernate'] = opts[:'hibernate'] if !opts[:'hibernate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'vm_instance_ids'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_deallocate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_deallocate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete a VM scale set. (Feature in Preview)
    # @return [nil]
    def virtual_machine_scale_sets_delete(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_sets_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Deletes a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete a VM scale set. (Feature in Preview)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'forceDeletion'] = opts[:'force_deletion'] if !opts[:'force_deletion'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes virtual machines in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param vm_instance_ids [VirtualMachineScaleSetVMInstanceRequiredIDs] A list of virtual machine instance IDs from the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete virtual machines from the VM scale set. (Feature in Preview)
    # @return [nil]
    def virtual_machine_scale_sets_delete_instances(api_version, subscription_id, resource_group_name, vm_scale_set_name, vm_instance_ids, opts = {})
      virtual_machine_scale_sets_delete_instances_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, vm_instance_ids, opts)
      nil
    end

    # Deletes virtual machines in a VM scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param vm_instance_ids [VirtualMachineScaleSetVMInstanceRequiredIDs] A list of virtual machine instance IDs from the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete virtual machines from the VM scale set. (Feature in Preview)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_delete_instances_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, vm_instance_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances"
      end
      # verify the required parameter 'vm_instance_ids' is set
      if @api_client.config.client_side_validation && vm_instance_ids.nil?
        fail ArgumentError, "Missing the required parameter 'vm_instance_ids' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/delete'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'forceDeletion'] = opts[:'force_deletion'] if !opts[:'force_deletion'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vm_instance_ids)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_delete_instances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_delete_instances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manual platform update domain walk to update virtual machines in a service fabric virtual machine scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param platform_update_domain [Integer] The platform update domain for which a manual recovery walk is requested
    # @param [Hash] opts the optional parameters
    # @option opts [String] :zone The zone in which the manual recovery walk is requested for cross zone virtual machine scale set
    # @option opts [String] :placement_group_id The placement group id for which the manual recovery walk is requested.
    # @return [RecoveryWalkResponse]
    def virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk(api_version, subscription_id, resource_group_name, vm_scale_set_name, platform_update_domain, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, platform_update_domain, opts)
      data
    end

    # Manual platform update domain walk to update virtual machines in a service fabric virtual machine scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param platform_update_domain [Integer] The platform update domain for which a manual recovery walk is requested
    # @param [Hash] opts the optional parameters
    # @option opts [String] :zone The zone in which the manual recovery walk is requested for cross zone virtual machine scale set
    # @option opts [String] :placement_group_id The placement group id for which the manual recovery walk is requested.
    # @return [Array<(RecoveryWalkResponse, Integer, Hash)>] RecoveryWalkResponse data, response status code and response headers
    def virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, platform_update_domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk"
      end
      # verify the required parameter 'platform_update_domain' is set
      if @api_client.config.client_side_validation && platform_update_domain.nil?
        fail ArgumentError, "Missing the required parameter 'platform_update_domain' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/forceRecoveryServiceFabricPlatformUpdateDomainWalk'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'platformUpdateDomain'] = platform_update_domain
      query_params[:'zone'] = opts[:'zone'] if !opts[:'zone'].nil?
      query_params[:'placementGroupId'] = opts[:'placement_group_id'] if !opts[:'placement_group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RecoveryWalkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_force_recovery_service_fabric_platform_update_domain_walk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Display information about a virtual machine scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;UserData&#39; retrieves the UserData property of the VM scale set that was provided by the user during the VM scale set Create/Update operation
    # @return [VirtualMachineScaleSet]
    def virtual_machine_scale_sets_get(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      data
    end

    # Display information about a virtual machine scale set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;UserData&#39; retrieves the UserData property of the VM scale set that was provided by the user during the VM scale set Create/Update operation
    # @return [Array<(VirtualMachineScaleSet, Integer, Hash)>] VirtualMachineScaleSet data, response status code and response headers
    def virtual_machine_scale_sets_get_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get"
      end
      allowable_values = ["userData"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the status of a VM scale set instance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetInstanceView]
    def virtual_machine_scale_sets_get_instance_view(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_get_instance_view_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      data
    end

    # Gets the status of a VM scale set instance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetInstanceView, Integer, Hash)>] VirtualMachineScaleSetInstanceView data, response status code and response headers
    def virtual_machine_scale_sets_get_instance_view_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/instanceView'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetInstanceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_instance_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_get_instance_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets list of OS upgrades on a VM scale set instance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetListOSUpgradeHistory]
    def virtual_machine_scale_sets_get_os_upgrade_history(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_get_os_upgrade_history_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      data
    end

    # Gets list of OS upgrades on a VM scale set instance.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetListOSUpgradeHistory, Integer, Hash)>] VirtualMachineScaleSetListOSUpgradeHistory data, response status code and response headers
    def virtual_machine_scale_sets_get_os_upgrade_history_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/osUpgradeHistory'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetListOSUpgradeHistory'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_get_os_upgrade_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_get_os_upgrade_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of all VM scale sets under a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetListResult]
    def virtual_machine_scale_sets_list(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_list_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Gets a list of all VM scale sets under a resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetListResult, Integer, Hash)>] VirtualMachineScaleSetListResult data, response status code and response headers
    def virtual_machine_scale_sets_list_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of all VM Scale Sets in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of VM Scale Sets. Do this till nextLink is null to fetch all the VM Scale Sets.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetListWithLinkResult]
    def virtual_machine_scale_sets_list_all(api_version, subscription_id, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_list_all_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Gets a list of all VM Scale Sets in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of VM Scale Sets. Do this till nextLink is null to fetch all the VM Scale Sets.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetListWithLinkResult, Integer, Hash)>] VirtualMachineScaleSetListWithLinkResult data, response status code and response headers
    def virtual_machine_scale_sets_list_all_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_all ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_all"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_all, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_all"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_all, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetListWithLinkResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_list_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all the VM scale sets under the specified subscription for the specified location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetListResult]
    def virtual_machine_scale_sets_list_by_location(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_list_by_location_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets all the VM scale sets under the specified subscription for the specified location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetListResult, Integer, Hash)>] VirtualMachineScaleSetListResult data, response status code and response headers
    def virtual_machine_scale_sets_list_by_location_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachineScaleSets'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_by_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_list_by_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of SKUs available for your VM scale set, including the minimum and maximum VM instances allowed for each SKU.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineScaleSetListSkusResult]
    def virtual_machine_scale_sets_list_skus(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_sets_list_skus_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      data
    end

    # Gets a list of SKUs available for your VM scale set, including the minimum and maximum VM instances allowed for each SKU.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineScaleSetListSkusResult, Integer, Hash)>] VirtualMachineScaleSetListSkusResult data, response status code and response headers
    def virtual_machine_scale_sets_list_skus_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/skus'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineScaleSetListSkusResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_list_skus",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_list_skus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Migrates one or more virtual machines in a VM scale set to an availability zone.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param body [MigrateVMAvailabilityZoneInput] The input object for the MigrateVMAvailabilityZone API.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_sets_migrate_vm_availability_zone(api_version, subscription_id, resource_group_name, vm_scale_set_name, body, opts = {})
      virtual_machine_scale_sets_migrate_vm_availability_zone_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, body, opts)
      nil
    end

    # Migrates one or more virtual machines in a VM scale set to an availability zone.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param body [MigrateVMAvailabilityZoneInput] The input object for the MigrateVMAvailabilityZone API.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_migrate_vm_availability_zone_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/migrateVMAvailabilityZone'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetsApi.virtual_machine_scale_sets_migrate_vm_availability_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetsApi#virtual_machine_scale_sets_migrate_vm_availability_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Perform maintenance on one or more virtual machines in a VM scale set. Operation on instances which are not eligible for perform maintenance will be failed. Please refer to best practices for more details: https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-maintenance-notifications
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [VirtualMachineScaleSetVMInstanceIDs] :vm_instance_ids A list of virtual machine instance IDs from the VM scale set.
    # @return [nil]
    def virtual_machine_scale_sets_perform_maintenance(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_sets_perform_maintenance_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Perform maintenance on one or more virtual machines in a VM scale set. Operation on instances which are not eligible for perform maintenance will be failed. Please refer to best practices for more details: https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-maintenance-notifications
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @option opts [VirtualMachineScaleSetVMInstanceIDs] :vm_instance_ids A list of virtual machine instance IDs from the VM scale set.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_sets_perform_maintenance_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetsApi.virtual_machine_scale_sets_perform_maintenance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_perform_maintenance"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_perform_maintenance, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_perform_maintenance"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_perform_maintenance, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetsApi.virtual_machine_scale_sets_perform_maintenance"
      end
[...]
