=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Compute
  class VirtualMachineScaleSetRollingUpgradesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancels the current virtual machine scale set rolling upgrade.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_rolling_upgrades_cancel(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_set_rolling_upgrades_cancel_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Cancels the current virtual machine scale set rolling upgrade.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_rolling_upgrades_cancel_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/rollingUpgrades/cancel'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_cancel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetRollingUpgradesApi#virtual_machine_scale_set_rolling_upgrades_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the status of the latest virtual machine scale set rolling upgrade.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [RollingUpgradeStatusInfo]
    def virtual_machine_scale_set_rolling_upgrades_get_latest(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      data, _status_code, _headers = virtual_machine_scale_set_rolling_upgrades_get_latest_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      data
    end

    # Gets the status of the latest virtual machine scale set rolling upgrade.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RollingUpgradeStatusInfo, Integer, Hash)>] RollingUpgradeStatusInfo data, response status code and response headers
    def virtual_machine_scale_set_rolling_upgrades_get_latest_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/rollingUpgrades/latest'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RollingUpgradeStatusInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_get_latest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetRollingUpgradesApi#virtual_machine_scale_set_rolling_upgrades_get_latest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts a rolling upgrade to move all extensions for all virtual machine scale set instances to the latest available extension version. Instances which are already running the latest extension versions are not affected.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Starts a rolling upgrade to move all extensions for all virtual machine scale set instances to the latest available extension version. Instances which are already running the latest extension versions are not affected.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/extensionRollingUpgrade'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetRollingUpgradesApi#virtual_machine_scale_set_rolling_upgrades_start_extension_upgrade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts a rolling upgrade to move all virtual machine scale set instances to the latest available Platform Image OS version. Instances which are already running the latest available OS version are not affected.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_scale_set_rolling_upgrades_start_os_upgrade(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      virtual_machine_scale_set_rolling_upgrades_start_os_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts)
      nil
    end

    # Starts a rolling upgrade to move all virtual machine scale set instances to the latest available Platform Image OS version. Instances which are already running the latest available OS version are not affected.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_scale_set_name [String] The name of the VM scale set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_scale_set_rolling_upgrades_start_os_upgrade_with_http_info(api_version, subscription_id, resource_group_name, vm_scale_set_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_scale_set_name' is set
      if @api_client.config.client_side_validation && vm_scale_set_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_scale_set_name' when calling VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/osRollingUpgrade'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmScaleSetName}', CGI.escape(vm_scale_set_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineScaleSetRollingUpgradesApi.virtual_machine_scale_set_rolling_upgrades_start_os_upgrade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineScaleSetRollingUpgradesApi#virtual_machine_scale_set_rolling_upgrades_start_os_upgrade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end