=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Compute
  class VirtualMachineRunCommandsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # The operation to create or update the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param run_command [VirtualMachineRunCommand] Parameters supplied to the Create Virtual Machine RunCommand operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineRunCommand]
    def virtual_machine_run_commands_create_or_update(api_version, subscription_id, resource_group_name, vm_name, run_command_name, run_command, opts = {})
      data, _status_code, _headers = virtual_machine_run_commands_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, run_command, opts)
      data
    end

    # The operation to create or update the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param run_command [VirtualMachineRunCommand] Parameters supplied to the Create Virtual Machine RunCommand operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineRunCommand, Integer, Hash)>] VirtualMachineRunCommand data, response status code and response headers
    def virtual_machine_run_commands_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, run_command, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update"
      end
      # verify the required parameter 'run_command_name' is set
      if @api_client.config.client_side_validation && run_command_name.nil?
        fail ArgumentError, "Missing the required parameter 'run_command_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update"
      end
      # verify the required parameter 'run_command' is set
      if @api_client.config.client_side_validation && run_command.nil?
        fail ArgumentError, "Missing the required parameter 'run_command' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s)).sub('{runCommandName}', CGI.escape(run_command_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(run_command)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineRunCommand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to delete the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machine_run_commands_delete(api_version, subscription_id, resource_group_name, vm_name, run_command_name, opts = {})
      virtual_machine_run_commands_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, opts)
      nil
    end

    # The operation to delete the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machine_run_commands_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete"
      end
      # verify the required parameter 'run_command_name' is set
      if @api_client.config.client_side_validation && run_command_name.nil?
        fail ArgumentError, "Missing the required parameter 'run_command_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s)).sub('{runCommandName}', CGI.escape(run_command_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets specific run command for a subscription in a location.
    # @param api_version [String] The API version to use for this operation.
    # @param location [String] The name of Azure region.
    # @param command_id [String] Specifies a commandId of predefined built-in script. Command IDs available for Linux are listed at https://aka.ms/RunCommandManagedLinux#available-commands, Windows at https://aka.ms/RunCommandManagedWindows#available-commands.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [RunCommandDocument]
    def virtual_machine_run_commands_get(api_version, location, command_id, subscription_id, opts = {})
      data, _status_code, _headers = virtual_machine_run_commands_get_with_http_info(api_version, location, command_id, subscription_id, opts)
      data
    end

    # Gets specific run command for a subscription in a location.
    # @param api_version [String] The API version to use for this operation.
    # @param location [String] The name of Azure region.
    # @param command_id [String] Specifies a commandId of predefined built-in script. Command IDs available for Linux are listed at https://aka.ms/RunCommandManagedLinux#available-commands, Windows at https://aka.ms/RunCommandManagedWindows#available-commands.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunCommandDocument, Integer, Hash)>] RunCommandDocument data, response status code and response headers
    def virtual_machine_run_commands_get_with_http_info(api_version, location, command_id, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'command_id' is set
      if @api_client.config.client_side_validation && command_id.nil?
        fail ArgumentError, "Missing the required parameter 'command_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands/{commandId}'.sub('{location}', CGI.escape(location.to_s)).sub('{commandId}', CGI.escape(command_id.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunCommandDocument'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to get the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [VirtualMachineRunCommand]
    def virtual_machine_run_commands_get_by_virtual_machine(api_version, subscription_id, resource_group_name, vm_name, run_command_name, opts = {})
      data, _status_code, _headers = virtual_machine_run_commands_get_by_virtual_machine_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, opts)
      data
    end

    # The operation to get the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [Array<(VirtualMachineRunCommand, Integer, Hash)>] VirtualMachineRunCommand data, response status code and response headers
    def virtual_machine_run_commands_get_by_virtual_machine_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine"
      end
      # verify the required parameter 'run_command_name' is set
      if @api_client.config.client_side_validation && run_command_name.nil?
        fail ArgumentError, "Missing the required parameter 'run_command_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s)).sub('{runCommandName}', CGI.escape(run_command_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineRunCommand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_get_by_virtual_machine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_get_by_virtual_machine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all available run commands for a subscription in a location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [RunCommandListResult]
    def virtual_machine_run_commands_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = virtual_machine_run_commands_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Lists all available run commands for a subscription in a location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunCommandListResult, Integer, Hash)>] RunCommandListResult data, response status code and response headers
    def virtual_machine_run_commands_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunCommandListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to get all run commands of a Virtual Machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [VirtualMachineRunCommandsListResult]
    def virtual_machine_run_commands_list_by_virtual_machine(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      data, _status_code, _headers = virtual_machine_run_commands_list_by_virtual_machine_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      data
    end

    # The operation to get all run commands of a Virtual Machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @return [Array<(VirtualMachineRunCommandsListResult, Integer, Hash)>] VirtualMachineRunCommandsListResult data, response status code and response headers
    def virtual_machine_run_commands_list_by_virtual_machine_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineRunCommandsListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_list_by_virtual_machine",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_list_by_virtual_machine\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to update the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param run_command [VirtualMachineRunCommandUpdate] Parameters supplied to the Update Virtual Machine RunCommand operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineRunCommand]
    def virtual_machine_run_commands_update(api_version, subscription_id, resource_group_name, vm_name, run_command_name, run_command, opts = {})
      data, _status_code, _headers = virtual_machine_run_commands_update_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, run_command, opts)
      data
    end

    # The operation to update the run command.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the VirtualMachine
    # @param run_command_name [String] The name of the VirtualMachineRunCommand
    # @param run_command [VirtualMachineRunCommandUpdate] Parameters supplied to the Update Virtual Machine RunCommand operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineRunCommand, Integer, Hash)>] VirtualMachineRunCommand data, response status code and response headers
    def virtual_machine_run_commands_update_with_http_info(api_version, subscription_id, resource_group_name, vm_name, run_command_name, run_command, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineRunCommandsApi.virtual_machine_run_commands_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update"
      end
      # verify the required parameter 'run_command_name' is set
      if @api_client.config.client_side_validation && run_command_name.nil?
        fail ArgumentError, "Missing the required parameter 'run_command_name' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update"
      end
      # verify the required parameter 'run_command' is set
      if @api_client.config.client_side_validation && run_command.nil?
        fail ArgumentError, "Missing the required parameter 'run_command' when calling VirtualMachineRunCommandsApi.virtual_machine_run_commands_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/runCommands/{runCommandName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s)).sub('{runCommandName}', CGI.escape(run_command_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(run_command)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineRunCommand'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineRunCommandsApi.virtual_machine_run_commands_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineRunCommandsApi#virtual_machine_run_commands_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end