=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Compute
  class VirtualMachineImagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets a virtual machine image in an edge zone.
    # @param api_version [String] The API version to use for this operation.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param version [String] A valid image SKU version.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineImage]
    def virtual_machine_images_edge_zone_get(api_version, location, edge_zone, publisher_name, offer, skus, version, subscription_id, opts = {})
      data, _status_code, _headers = virtual_machine_images_edge_zone_get_with_http_info(api_version, location, edge_zone, publisher_name, offer, skus, version, subscription_id, opts)
      data
    end

    # Gets a virtual machine image in an edge zone.
    # @param api_version [String] The API version to use for this operation.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param version [String] A valid image SKU version.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineImage, Integer, Hash)>] VirtualMachineImage data, response status code and response headers
    def virtual_machine_images_edge_zone_get_with_http_info(api_version, location, edge_zone, publisher_name, offer, skus, version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_edge_zone_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'edge_zone' is set
      if @api_client.config.client_side_validation && edge_zone.nil?
        fail ArgumentError, "Missing the required parameter 'edge_zone' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      # verify the required parameter 'offer' is set
      if @api_client.config.client_side_validation && offer.nil?
        fail ArgumentError, "Missing the required parameter 'offer' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      # verify the required parameter 'skus' is set
      if @api_client.config.client_side_validation && skus.nil?
        fail ArgumentError, "Missing the required parameter 'skus' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}'.sub('{location}', CGI.escape(location.to_s)).sub('{edgeZone}', CGI.escape(edge_zone.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{offer}', CGI.escape(offer.to_s)).sub('{skus}', CGI.escape(skus.to_s)).sub('{version}', CGI.escape(version.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineImage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_edge_zone_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_edge_zone_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of all virtual machine image versions for the specified location, edge zone, publisher, offer, and SKU.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @option opts [Integer] :top An integer value specifying the number of images to return that matches supplied values.
    # @option opts [String] :orderby Specifies the order of the results returned. Formatted as an OData query.
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_edge_zone_list(api_version, subscription_id, location, edge_zone, publisher_name, offer, skus, opts = {})
      data, _status_code, _headers = virtual_machine_images_edge_zone_list_with_http_info(api_version, subscription_id, location, edge_zone, publisher_name, offer, skus, opts)
      data
    end

    # Gets a list of all virtual machine image versions for the specified location, edge zone, publisher, offer, and SKU.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @option opts [Integer] :top An integer value specifying the number of images to return that matches supplied values.
    # @option opts [String] :orderby Specifies the order of the results returned. Formatted as an OData query.
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_edge_zone_list_with_http_info(api_version, subscription_id, location, edge_zone, publisher_name, offer, skus, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_edge_zone_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'edge_zone' is set
      if @api_client.config.client_side_validation && edge_zone.nil?
        fail ArgumentError, "Missing the required parameter 'edge_zone' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      # verify the required parameter 'offer' is set
      if @api_client.config.client_side_validation && offer.nil?
        fail ArgumentError, "Missing the required parameter 'offer' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      # verify the required parameter 'skus' is set
      if @api_client.config.client_side_validation && skus.nil?
        fail ArgumentError, "Missing the required parameter 'skus' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{edgeZone}', CGI.escape(edge_zone.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{offer}', CGI.escape(offer.to_s)).sub('{skus}', CGI.escape(skus.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_edge_zone_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_edge_zone_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine image offers for the specified location, edge zone and publisher.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_edge_zone_list_offers(api_version, subscription_id, location, edge_zone, publisher_name, opts = {})
      data, _status_code, _headers = virtual_machine_images_edge_zone_list_offers_with_http_info(api_version, subscription_id, location, edge_zone, publisher_name, opts)
      data
    end

    # Gets a list of virtual machine image offers for the specified location, edge zone and publisher.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_edge_zone_list_offers_with_http_info(api_version, subscription_id, location, edge_zone, publisher_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'edge_zone' is set
      if @api_client.config.client_side_validation && edge_zone.nil?
        fail ArgumentError, "Missing the required parameter 'edge_zone' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers"
      end
      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{edgeZone}', CGI.escape(edge_zone.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_offers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_edge_zone_list_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine image publishers for the specified Azure location and edge zone.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_edge_zone_list_publishers(api_version, subscription_id, location, edge_zone, opts = {})
      data, _status_code, _headers = virtual_machine_images_edge_zone_list_publishers_with_http_info(api_version, subscription_id, location, edge_zone, opts)
      data
    end

    # Gets a list of virtual machine image publishers for the specified Azure location and edge zone.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_edge_zone_list_publishers_with_http_info(api_version, subscription_id, location, edge_zone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'edge_zone' is set
      if @api_client.config.client_side_validation && edge_zone.nil?
        fail ArgumentError, "Missing the required parameter 'edge_zone' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{edgeZone}', CGI.escape(edge_zone.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_publishers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_edge_zone_list_publishers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine image SKUs for the specified location, edge zone, publisher, and offer.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_edge_zone_list_skus(api_version, subscription_id, location, edge_zone, publisher_name, offer, opts = {})
      data, _status_code, _headers = virtual_machine_images_edge_zone_list_skus_with_http_info(api_version, subscription_id, location, edge_zone, publisher_name, offer, opts)
      data
    end

    # Gets a list of virtual machine image SKUs for the specified location, edge zone, publisher, and offer.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_edge_zone_list_skus_with_http_info(api_version, subscription_id, location, edge_zone, publisher_name, offer, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'edge_zone' is set
      if @api_client.config.client_side_validation && edge_zone.nil?
        fail ArgumentError, "Missing the required parameter 'edge_zone' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus"
      end
      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus"
      end
      # verify the required parameter 'offer' is set
      if @api_client.config.client_side_validation && offer.nil?
        fail ArgumentError, "Missing the required parameter 'offer' when calling VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{edgeZone}', CGI.escape(edge_zone.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{offer}', CGI.escape(offer.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_edge_zone_list_skus",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_edge_zone_list_skus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a virtual machine image.
    # @param api_version [String] The API version to use for this operation.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param version [String] A valid image SKU version.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineImage]
    def virtual_machine_images_get(api_version, location, publisher_name, offer, skus, version, subscription_id, opts = {})
      data, _status_code, _headers = virtual_machine_images_get_with_http_info(api_version, location, publisher_name, offer, skus, version, subscription_id, opts)
      data
    end

    # Gets a virtual machine image.
    # @param api_version [String] The API version to use for this operation.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param version [String] A valid image SKU version.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineImage, Integer, Hash)>] VirtualMachineImage data, response status code and response headers
    def virtual_machine_images_get_with_http_info(api_version, location, publisher_name, offer, skus, version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      # verify the required parameter 'offer' is set
      if @api_client.config.client_side_validation && offer.nil?
        fail ArgumentError, "Missing the required parameter 'offer' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      # verify the required parameter 'skus' is set
      if @api_client.config.client_side_validation && skus.nil?
        fail ArgumentError, "Missing the required parameter 'skus' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_get, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}'.sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{offer}', CGI.escape(offer.to_s)).sub('{skus}', CGI.escape(skus.to_s)).sub('{version}', CGI.escape(version.to_s)).sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineImage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @option opts [Integer] :top 
    # @option opts [String] :orderby 
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_list(api_version, subscription_id, location, publisher_name, offer, skus, opts = {})
      data, _status_code, _headers = virtual_machine_images_list_with_http_info(api_version, subscription_id, location, publisher_name, offer, skus, opts)
      data
    end

    # Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param skus [String] A valid image SKU.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation.
    # @option opts [Integer] :top 
    # @option opts [String] :orderby 
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_list_with_http_info(api_version, subscription_id, location, publisher_name, offer, skus, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_list"
      end
      # verify the required parameter 'offer' is set
      if @api_client.config.client_side_validation && offer.nil?
        fail ArgumentError, "Missing the required parameter 'offer' when calling VirtualMachineImagesApi.virtual_machine_images_list"
      end
      # verify the required parameter 'skus' is set
      if @api_client.config.client_side_validation && skus.nil?
        fail ArgumentError, "Missing the required parameter 'skus' when calling VirtualMachineImagesApi.virtual_machine_images_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{offer}', CGI.escape(offer.to_s)).sub('{skus}', CGI.escape(skus.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of all virtual machine image versions for the specified edge zone
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param [Hash] opts the optional parameters
    # @return [VmImagesInEdgeZoneListResult]
    def virtual_machine_images_list_by_edge_zone(api_version, subscription_id, location, edge_zone, opts = {})
      data, _status_code, _headers = virtual_machine_images_list_by_edge_zone_with_http_info(api_version, subscription_id, location, edge_zone, opts)
      data
    end

    # Gets a list of all virtual machine image versions for the specified edge zone
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param edge_zone [String] The name of the edge zone.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VmImagesInEdgeZoneListResult, Integer, Hash)>] VmImagesInEdgeZoneListResult data, response status code and response headers
    def virtual_machine_images_list_by_edge_zone_with_http_info(api_version, subscription_id, location, edge_zone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'edge_zone' is set
      if @api_client.config.client_side_validation && edge_zone.nil?
        fail ArgumentError, "Missing the required parameter 'edge_zone' when calling VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/vmimages'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{edgeZone}', CGI.escape(edge_zone.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VmImagesInEdgeZoneListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_list_by_edge_zone",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_list_by_edge_zone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine image offers for the specified location and publisher.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_list_offers(api_version, subscription_id, location, publisher_name, opts = {})
      data, _status_code, _headers = virtual_machine_images_list_offers_with_http_info(api_version, subscription_id, location, publisher_name, opts)
      data
    end

    # Gets a list of virtual machine image offers for the specified location and publisher.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_list_offers_with_http_info(api_version, subscription_id, location, publisher_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_list_offers ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_list_offers"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_list_offers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_list_offers"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_list_offers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_list_offers"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_list_offers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_list_offers"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_list_offers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_list_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine image publishers for the specified Azure location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_list_publishers(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = virtual_machine_images_list_publishers_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets a list of virtual machine image publishers for the specified Azure location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_list_publishers_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_list_publishers ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_list_publishers"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_list_publishers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_list_publishers"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_list_publishers, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_list_publishers"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_list_publishers, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_list_publishers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_list_publishers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineImageResource>]
    def virtual_machine_images_list_skus(api_version, subscription_id, location, publisher_name, offer, opts = {})
      data, _status_code, _headers = virtual_machine_images_list_skus_with_http_info(api_version, subscription_id, location, publisher_name, offer, opts)
      data
    end

    # Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] A valid image publisher.
    # @param offer [String] A valid image publisher offer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineImageResource>, Integer, Hash)>] Array<VirtualMachineImageResource> data, response status code and response headers
    def virtual_machine_images_list_skus_with_http_info(api_version, subscription_id, location, publisher_name, offer, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineImagesApi.virtual_machine_images_list_skus ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineImagesApi.virtual_machine_images_list_skus"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineImagesApi.virtual_machine_images_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineImagesApi.virtual_machine_images_list_skus"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineImagesApi.virtual_machine_images_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineImagesApi.virtual_machine_images_list_skus"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineImagesApi.virtual_machine_images_list_skus, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineImagesApi.virtual_machine_images_list_skus"
      end
      # verify the required parameter 'offer' is set
      if @api_client.config.client_side_validation && offer.nil?
        fail ArgumentError, "Missing the required parameter 'offer' when calling VirtualMachineImagesApi.virtual_machine_images_list_skus"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{offer}', CGI.escape(offer.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineImageResource>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineImagesApi.virtual_machine_images_list_skus",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineImagesApi#virtual_machine_images_list_skus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end