=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureRest
  module Compute
  class VirtualMachineExtensionImagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets a virtual machine extension image.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] 
    # @param type [String] 
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineExtensionImage]
    def virtual_machine_extension_images_get(api_version, subscription_id, location, publisher_name, type, version, opts = {})
      data, _status_code, _headers = virtual_machine_extension_images_get_with_http_info(api_version, subscription_id, location, publisher_name, type, version, opts)
      data
    end

    # Gets a virtual machine extension image.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] 
    # @param type [String] 
    # @param version [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineExtensionImage, Integer, Hash)>] VirtualMachineExtensionImage data, response status code and response headers
    def virtual_machine_extension_images_get_with_http_info(api_version, subscription_id, location, publisher_name, type, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{type}', CGI.escape(type.to_s)).sub('{version}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineExtensionImage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineExtensionImagesApi.virtual_machine_extension_images_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineExtensionImagesApi#virtual_machine_extension_images_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine extension image types.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<VirtualMachineExtensionImage>]
    def virtual_machine_extension_images_list_types(api_version, subscription_id, location, publisher_name, opts = {})
      data, _status_code, _headers = virtual_machine_extension_images_list_types_with_http_info(api_version, subscription_id, location, publisher_name, opts)
      data
    end

    # Gets a list of virtual machine extension image types.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VirtualMachineExtensionImage>, Integer, Hash)>] Array<VirtualMachineExtensionImage> data, response status code and response headers
    def virtual_machine_extension_images_list_types_with_http_info(api_version, subscription_id, location, publisher_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineExtensionImage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineExtensionImagesApi#virtual_machine_extension_images_list_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of virtual machine extension image versions.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.
    # @option opts [Integer] :top 
    # @option opts [String] :orderby 
    # @option opts [String] :expand Expand the response to include additional read-only metadata. Allowed values: &#x60;properties&#x60; — returns extended metadata (&#x60;releaseCategory&#x60;, &#x60;urgencyLevel&#x60;, &#x60;runProfile&#x60;).
    # @return [Array<VirtualMachineExtensionImage>]
    def virtual_machine_extension_images_list_versions(api_version, subscription_id, location, publisher_name, type, opts = {})
      data, _status_code, _headers = virtual_machine_extension_images_list_versions_with_http_info(api_version, subscription_id, location, publisher_name, type, opts)
      data
    end

    # Gets a list of virtual machine extension image versions.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param publisher_name [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The filter to apply on the operation.
    # @option opts [Integer] :top 
    # @option opts [String] :orderby 
    # @option opts [String] :expand Expand the response to include additional read-only metadata. Allowed values: &#x60;properties&#x60; — returns extended metadata (&#x60;releaseCategory&#x60;, &#x60;urgencyLevel&#x60;, &#x60;runProfile&#x60;).
    # @return [Array<(Array<VirtualMachineExtensionImage>, Integer, Hash)>] Array<VirtualMachineExtensionImage> data, response status code and response headers
    def virtual_machine_extension_images_list_versions_with_http_info(api_version, subscription_id, location, publisher_name, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'publisher_name' is set
      if @api_client.config.client_side_validation && publisher_name.nil?
        fail ArgumentError, "Missing the required parameter 'publisher_name' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions"
      end
      allowable_values = ["properties"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s)).sub('{publisherName}', CGI.escape(publisher_name.to_s)).sub('{type}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualMachineExtensionImage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachineExtensionImagesApi.virtual_machine_extension_images_list_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachineExtensionImagesApi#virtual_machine_extension_images_list_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end