=begin
#Azure Compute resource management API.

#Compute Client

The version of the OpenAPI document: 2026-04-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module Compute
  class VirtualMachinesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assess patches on the VM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineAssessPatchesResult]
    def virtual_machines_assess_patches(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      data, _status_code, _headers = virtual_machines_assess_patches_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      data
    end

    # Assess patches on the VM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineAssessPatchesResult, Integer, Hash)>] VirtualMachineAssessPatchesResult data, response status code and response headers
    def virtual_machines_assess_patches_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_assess_patches ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_assess_patches"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_assess_patches, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_assess_patches"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_assess_patches, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_assess_patches"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_assess_patches, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_assess_patches, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_assess_patches"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/assessPatches'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineAssessPatchesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_assess_patches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_assess_patches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach and detach data disks to/from the virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param parameters [AttachDetachDataDisksRequest] Parameters supplied to the attach and detach data disks operation on the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [StorageProfile]
    def virtual_machines_attach_detach_data_disks(api_version, subscription_id, resource_group_name, vm_name, parameters, opts = {})
      data, _status_code, _headers = virtual_machines_attach_detach_data_disks_with_http_info(api_version, subscription_id, resource_group_name, vm_name, parameters, opts)
      data
    end

    # Attach and detach data disks to/from the virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param parameters [AttachDetachDataDisksRequest] Parameters supplied to the attach and detach data disks operation on the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageProfile, Integer, Hash)>] StorageProfile data, response status code and response headers
    def virtual_machines_attach_detach_data_disks_with_http_info(api_version, subscription_id, resource_group_name, vm_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_attach_detach_data_disks ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualMachinesApi.virtual_machines_attach_detach_data_disks"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/attachDetachDataDisks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_attach_detach_data_disks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_attach_detach_data_disks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Captures the VM by copying virtual hard disks of the VM and outputs a template that can be used to create similar VMs.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param parameters [VirtualMachineCaptureParameters] Parameters supplied to the Capture Virtual Machine operation.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineCaptureResult]
    def virtual_machines_capture(api_version, subscription_id, resource_group_name, vm_name, parameters, opts = {})
      data, _status_code, _headers = virtual_machines_capture_with_http_info(api_version, subscription_id, resource_group_name, vm_name, parameters, opts)
      data
    end

    # Captures the VM by copying virtual hard disks of the VM and outputs a template that can be used to create similar VMs.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param parameters [VirtualMachineCaptureParameters] Parameters supplied to the Capture Virtual Machine operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineCaptureResult, Integer, Hash)>] VirtualMachineCaptureResult data, response status code and response headers
    def virtual_machines_capture_with_http_info(api_version, subscription_id, resource_group_name, vm_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_capture ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_capture"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_capture, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_capture"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_capture, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_capture"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_capture, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_capture, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_capture"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualMachinesApi.virtual_machines_capture"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/capture'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineCaptureResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_capture",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_capture\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Converts virtual machine disks from blob-based to managed disks. Virtual machine must be stop-deallocated before invoking this operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machines_convert_to_managed_disks(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      virtual_machines_convert_to_managed_disks_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      nil
    end

    # Converts virtual machine disks from blob-based to managed disks. Virtual machine must be stop-deallocated before invoking this operation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machines_convert_to_managed_disks_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_convert_to_managed_disks ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_convert_to_managed_disks"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/convertToManagedDisks'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_convert_to_managed_disks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_convert_to_managed_disks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to create or update a virtual machine. Please note some properties can be set only during virtual machine creation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param parameters [VirtualMachine] Parameters supplied to the Create Virtual Machine operation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
    # @option opts [String] :if_none_match Set to &#39;*&#39; to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.
    # @return [VirtualMachine]
    def virtual_machines_create_or_update(api_version, subscription_id, resource_group_name, vm_name, parameters, opts = {})
      data, _status_code, _headers = virtual_machines_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_name, parameters, opts)
      data
    end

    # The operation to create or update a virtual machine. Please note some properties can be set only during virtual machine creation.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param parameters [VirtualMachine] Parameters supplied to the Create Virtual Machine operation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
    # @option opts [String] :if_none_match Set to &#39;*&#39; to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.
    # @return [Array<(VirtualMachine, Integer, Hash)>] VirtualMachine data, response status code and response headers
    def virtual_machines_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, vm_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_create_or_update"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_create_or_update"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling VirtualMachinesApi.virtual_machines_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'If-Match'] = opts[:'if_match'] if !opts[:'if_match'].nil?
      header_params[:'If-None-Match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Shuts down the virtual machine and releases the compute resources. You are not billed for the compute resources that this virtual machine uses.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :hibernate Optional parameter to hibernate a virtual machine.
    # @option opts [Boolean] :force_deallocate Optional parameter to force deallocate a virtual machine. Default is false.
    # @return [nil]
    def virtual_machines_deallocate(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      virtual_machines_deallocate_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      nil
    end

    # Shuts down the virtual machine and releases the compute resources. You are not billed for the compute resources that this virtual machine uses.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :hibernate Optional parameter to hibernate a virtual machine.
    # @option opts [Boolean] :force_deallocate Optional parameter to force deallocate a virtual machine. Default is false.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machines_deallocate_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_deallocate ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_deallocate"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_deallocate"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_deallocate"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_deallocate, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_deallocate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_deallocate"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/deallocate'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'hibernate'] = opts[:'hibernate'] if !opts[:'hibernate'].nil?
      query_params[:'forceDeallocate'] = opts[:'force_deallocate'] if !opts[:'force_deallocate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_deallocate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_deallocate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to delete a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete virtual machines.
    # @return [nil]
    def virtual_machines_delete(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      virtual_machines_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      nil
    end

    # The operation to delete a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :force_deletion Optional parameter to force delete virtual machines.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machines_delete_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_delete"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_delete"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'forceDeletion'] = opts[:'force_deletion'] if !opts[:'force_deletion'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets the OS state of the virtual machine to generalized. It is recommended to sysprep the virtual machine before performing this operation. For Windows, please refer to [Create a managed image of a generalized VM in Azure](https://docs.microsoft.com/azure/virtual-machines/windows/capture-image-resource). For Linux, please refer to [How to create an image of a virtual machine or VHD](https://docs.microsoft.com/azure/virtual-machines/linux/capture-image).
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machines_generalize(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      virtual_machines_generalize_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      nil
    end

    # Sets the OS state of the virtual machine to generalized. It is recommended to sysprep the virtual machine before performing this operation. For Windows, please refer to [Create a managed image of a generalized VM in Azure](https://docs.microsoft.com/azure/virtual-machines/windows/capture-image-resource). For Linux, please refer to [How to create an image of a virtual machine or VHD](https://docs.microsoft.com/azure/virtual-machines/linux/capture-image).
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machines_generalize_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_generalize ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_generalize"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_generalize, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_generalize"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_generalize, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_generalize"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_generalize, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_generalize, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_generalize"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/generalize'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_generalize",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_generalize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves information about the model view or the instance view of a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; retrieves a snapshot of the runtime properties of the virtual machine that is managed by the platform and can change outside of control plane operations. &#39;UserData&#39; retrieves the UserData property as part of the VM model view that was provided by the user during the VM Create/Update operation.
    # @return [VirtualMachine]
    def virtual_machines_get(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      data, _status_code, _headers = virtual_machines_get_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      data
    end

    # Retrieves information about the model view or the instance view of a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand The expand expression to apply on the operation. &#39;InstanceView&#39; retrieves a snapshot of the runtime properties of the virtual machine that is managed by the platform and can change outside of control plane operations. &#39;UserData&#39; retrieves the UserData property as part of the VM model view that was provided by the user during the VM Create/Update operation.
    # @return [Array<(VirtualMachine, Integer, Hash)>] VirtualMachine data, response status code and response headers
    def virtual_machines_get_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_get"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_get"
      end
      allowable_values = ["instanceView", "userData", "resiliencyView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Installs patches on the VM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param install_patches_input [VirtualMachineInstallPatchesParameters] Input for InstallPatches as directly received by the API
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineInstallPatchesResult]
    def virtual_machines_install_patches(api_version, subscription_id, resource_group_name, vm_name, install_patches_input, opts = {})
      data, _status_code, _headers = virtual_machines_install_patches_with_http_info(api_version, subscription_id, resource_group_name, vm_name, install_patches_input, opts)
      data
    end

    # Installs patches on the VM.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param install_patches_input [VirtualMachineInstallPatchesParameters] Input for InstallPatches as directly received by the API
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineInstallPatchesResult, Integer, Hash)>] VirtualMachineInstallPatchesResult data, response status code and response headers
    def virtual_machines_install_patches_with_http_info(api_version, subscription_id, resource_group_name, vm_name, install_patches_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_install_patches ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_install_patches"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_install_patches, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_install_patches"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_install_patches, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_install_patches"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_install_patches, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_install_patches, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_install_patches"
      end
      # verify the required parameter 'install_patches_input' is set
      if @api_client.config.client_side_validation && install_patches_input.nil?
        fail ArgumentError, "Missing the required parameter 'install_patches_input' when calling VirtualMachinesApi.virtual_machines_install_patches"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/installPatches'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(install_patches_input)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineInstallPatchesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_install_patches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_install_patches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves information about the run-time state of a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineInstanceView]
    def virtual_machines_instance_view(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      data, _status_code, _headers = virtual_machines_instance_view_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      data
    end

    # Retrieves information about the run-time state of a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineInstanceView, Integer, Hash)>] VirtualMachineInstanceView data, response status code and response headers
    def virtual_machines_instance_view_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_instance_view ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_instance_view"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_instance_view"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_instance_view"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_instance_view, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_instance_view, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_instance_view"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/instanceView'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineInstanceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_instance_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_instance_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the virtual machines in the specified resource group. Use the nextLink property in the response to get the next page of virtual machines.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The system query option to filter VMs returned in the response. Allowed value is &#39;virtualMachineScaleSet/id&#39; eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}&#39;
    # @option opts [String] :expand The expand expression to apply on operation. &#39;instanceView&#39; enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified
    # @return [VirtualMachineListResult]
    def virtual_machines_list(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = virtual_machines_list_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # Lists all of the virtual machines in the specified resource group. Use the nextLink property in the response to get the next page of virtual machines.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter The system query option to filter VMs returned in the response. Allowed value is &#39;virtualMachineScaleSet/id&#39; eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}&#39;
    # @option opts [String] :expand The expand expression to apply on operation. &#39;instanceView&#39; enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified
    # @return [Array<(VirtualMachineListResult, Integer, Hash)>] VirtualMachineListResult data, response status code and response headers
    def virtual_machines_list_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_list"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_list, the character length must be greater than or equal to 1.'
      end

      allowable_values = ["instanceView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all of the virtual machines in the specified subscription. Use the nextLink property in the response to get the next page of virtual machines.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status_only statusOnly&#x3D;true enables fetching run time status of all Virtual Machines in the subscription.
    # @option opts [String] :filter The system query option to filter VMs returned in the response. Allowed value is &#39;virtualMachineScaleSet/id&#39; eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}&#39;
    # @option opts [String] :expand The expand expression to apply on operation. &#39;instanceView&#39; enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified
    # @return [VirtualMachineListResult]
    def virtual_machines_list_all(api_version, subscription_id, opts = {})
      data, _status_code, _headers = virtual_machines_list_all_with_http_info(api_version, subscription_id, opts)
      data
    end

    # Lists all of the virtual machines in the specified subscription. Use the nextLink property in the response to get the next page of virtual machines.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status_only statusOnly&#x3D;true enables fetching run time status of all Virtual Machines in the subscription.
    # @option opts [String] :filter The system query option to filter VMs returned in the response. Allowed value is &#39;virtualMachineScaleSet/id&#39; eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}&#39;
    # @option opts [String] :expand The expand expression to apply on operation. &#39;instanceView&#39; enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified
    # @return [Array<(VirtualMachineListResult, Integer, Hash)>] VirtualMachineListResult data, response status code and response headers
    def virtual_machines_list_all_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_list_all ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_list_all"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_list_all, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_list_all"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_list_all, the character length must be greater than or equal to 1.'
      end

      allowable_values = ["instanceView"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'statusOnly'] = opts[:'status_only'] if !opts[:'status_only'].nil?
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$expand'] = opts[:'expand'] if !opts[:'expand'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_list_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_list_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists all available virtual machine sizes to which the specified virtual machine can be resized.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineSizeListResult]
    def virtual_machines_list_available_sizes(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      data, _status_code, _headers = virtual_machines_list_available_sizes_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      data
    end

    # Lists all available virtual machine sizes to which the specified virtual machine can be resized.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineSizeListResult, Integer, Hash)>] VirtualMachineSizeListResult data, response status code and response headers
    def virtual_machines_list_available_sizes_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_list_available_sizes ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_list_available_sizes"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_list_available_sizes"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_list_available_sizes"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_list_available_sizes, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_list_available_sizes, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_list_available_sizes"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/vmSizes'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineSizeListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_list_available_sizes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_list_available_sizes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all the virtual machines under the specified subscription for the specified location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [VirtualMachineListResult]
    def virtual_machines_list_by_location(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = virtual_machines_list_by_location_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # Gets all the virtual machines under the specified subscription for the specified location.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param location [String] The name of Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualMachineListResult, Integer, Hash)>] VirtualMachineListResult data, response status code and response headers
    def virtual_machines_list_by_location_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_list_by_location ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_list_by_location"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_list_by_location, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_list_by_location"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_list_by_location, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling VirtualMachinesApi.virtual_machines_list_by_location"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling VirtualMachinesApi.virtual_machines_list_by_location, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualMachineListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_list_by_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_list_by_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Migrate a virtual machine from availability set to Flexible Virtual Machine Scale Set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [MigrateVMToVirtualMachineScaleSetInput] :parameters Parameters supplied to the Migrate Virtual Machine operation.
    # @return [nil]
    def virtual_machines_migrate_to_vm_scale_set(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      virtual_machines_migrate_to_vm_scale_set_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      nil
    end

    # Migrate a virtual machine from availability set to Flexible Virtual Machine Scale Set.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @option opts [MigrateVMToVirtualMachineScaleSetInput] :parameters Parameters supplied to the Migrate Virtual Machine operation.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machines_migrate_to_vm_scale_set_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set"
      end
      if @api_client.config.client_side_validation && subscription_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "subscription_id" when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'vm_name' is set
      if @api_client.config.client_side_validation && vm_name.nil?
        fail ArgumentError, "Missing the required parameter 'vm_name' when calling VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/migrateToVirtualMachineScaleSet'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{vmName}', CGI.escape(vm_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'parameters'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"VirtualMachinesApi.virtual_machines_migrate_to_vm_scale_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VirtualMachinesApi#virtual_machines_migrate_to_vm_scale_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # The operation to perform maintenance on a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def virtual_machines_perform_maintenance(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      virtual_machines_perform_maintenance_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts)
      nil
    end

    # The operation to perform maintenance on a virtual machine.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param vm_name [String] The name of the virtual machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def virtual_machines_perform_maintenance_with_http_info(api_version, subscription_id, resource_group_name, vm_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VirtualMachinesApi.virtual_machines_perform_maintenance ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
[...]
