=begin
#ContainerServiceClient

#The Container Service Client.

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module ContainerService
  class AgentPoolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aborts last operation running on agent pool.
    # Aborts the currently running operation on the agent pool. The Agent Pool will be moved to a Canceling state and eventually to a Canceled state when cancellation finishes. If the operation completes before cancellation can take place, a 409 error code is returned.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def agent_pools_abort_latest_operation(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      agent_pools_abort_latest_operation_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts)
      nil
    end

    # Aborts last operation running on agent pool.
    # Aborts the currently running operation on the agent pool. The Agent Pool will be moved to a Canceling state and eventually to a Canceled state when cancellation finishes. If the operation completes before cancellation can take place, a 409 error code is returned.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def agent_pools_abort_latest_operation_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_abort_latest_operation ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_abort_latest_operation"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_abort_latest_operation, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_abort_latest_operation"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_abort_latest_operation, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_abort_latest_operation, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/abort'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_abort_latest_operation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_abort_latest_operation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates or updates an agent pool in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param parameters [AgentPool] The agent pool to create or update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @option opts [String] :if_none_match The request should only proceed if no entity matches this string.
    # @return [AgentPool]
    def agent_pools_create_or_update(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, parameters, opts = {})
      data, _status_code, _headers = agent_pools_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, parameters, opts)
      data
    end

    # Creates or updates an agent pool in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param parameters [AgentPool] The agent pool to create or update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @option opts [String] :if_none_match The request should only proceed if no entity matches this string.
    # @return [Array<(AgentPool, Integer, Hash)>] AgentPool data, response status code and response headers
    def agent_pools_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_create_or_update"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling AgentPoolsApi.agent_pools_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'if-match'] = opts[:'if_match'] if !opts[:'if_match'].nil?
      header_params[:'if-none-match'] = opts[:'if_none_match'] if !opts[:'if_none_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'AgentPool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an agent pool in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :ignore_pod_disruption_budget ignore-pod-disruption-budget&#x3D;true to delete those pods on a node without considering Pod Disruption Budget
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @return [nil]
    def agent_pools_delete(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      agent_pools_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts)
      nil
    end

    # Deletes an agent pool in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :ignore_pod_disruption_budget ignore-pod-disruption-budget&#x3D;true to delete those pods on a node without considering Pod Disruption Budget
    # @option opts [String] :if_match The request should only proceed if an entity matches this string.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def agent_pools_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_delete"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_delete"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_delete, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version
      query_params[:'ignore-pod-disruption-budget'] = opts[:'ignore_pod_disruption_budget'] if !opts[:'ignore_pod_disruption_budget'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'if-match'] = opts[:'if_match'] if !opts[:'if_match'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes specific machines in an agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param machines [AgentPoolDeleteMachinesParameter] A list of machines from the agent pool to be deleted.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def agent_pools_delete_machines(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, machines, opts = {})
      agent_pools_delete_machines_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, machines, opts)
      nil
    end

    # Deletes specific machines in an agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param machines [AgentPoolDeleteMachinesParameter] A list of machines from the agent pool to be deleted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def agent_pools_delete_machines_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, machines, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_delete_machines ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_delete_machines"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_delete_machines"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_delete_machines"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_delete_machines"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_delete_machines, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_delete_machines"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_delete_machines, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_delete_machines, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'machines' is set
      if @api_client.config.client_side_validation && machines.nil?
        fail ArgumentError, "Missing the required parameter 'machines' when calling AgentPoolsApi.agent_pools_delete_machines"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/deleteMachines'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(machines)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_delete_machines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_delete_machines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified managed cluster agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [AgentPool]
    def agent_pools_get(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      data, _status_code, _headers = agent_pools_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts)
      data
    end

    # Gets the specified managed cluster agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentPool, Integer, Hash)>] AgentPool data, response status code and response headers
    def agent_pools_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_get"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_get"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_get, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentPool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of supported Kubernetes versions for the specified agent pool.
    # See [supported Kubernetes versions](https://docs.microsoft.com/azure/aks/supported-kubernetes-versions) for more details about the version lifecycle.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [AgentPoolAvailableVersions]
    def agent_pools_get_available_agent_pool_versions(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = agent_pools_get_available_agent_pool_versions_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Gets a list of supported Kubernetes versions for the specified agent pool.
    # See [supported Kubernetes versions](https://docs.microsoft.com/azure/aks/supported-kubernetes-versions) for more details about the version lifecycle.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentPoolAvailableVersions, Integer, Hash)>] AgentPoolAvailableVersions data, response status code and response headers
    def agent_pools_get_available_agent_pool_versions_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_get_available_agent_pool_versions ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_get_available_agent_pool_versions, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/availableAgentPoolVersions'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentPoolAvailableVersions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_get_available_agent_pool_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_get_available_agent_pool_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the upgrade profile for an agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [AgentPoolUpgradeProfile]
    def agent_pools_get_upgrade_profile(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      data, _status_code, _headers = agent_pools_get_upgrade_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts)
      data
    end

    # Gets the upgrade profile for an agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentPoolUpgradeProfile, Integer, Hash)>] AgentPoolUpgradeProfile data, response status code and response headers
    def agent_pools_get_upgrade_profile_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_get_upgrade_profile ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_get_upgrade_profile"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_get_upgrade_profile, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_get_upgrade_profile"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_get_upgrade_profile, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_get_upgrade_profile, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/upgradeProfiles/default'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentPoolUpgradeProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_get_upgrade_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_get_upgrade_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of agent pools in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [AgentPoolListResult]
    def agent_pools_list(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = agent_pools_list_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Gets a list of agent pools in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AgentPoolListResult, Integer, Hash)>] AgentPoolListResult data, response status code and response headers
    def agent_pools_list_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_list"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_list, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AgentPoolListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upgrades the node image version of an agent pool to the latest.
    # Upgrading the node image version of an agent pool applies the newest OS and runtime updates to the nodes. AKS provides one new image per week with the latest updates. For more details on node image versions, see: https://docs.microsoft.com/azure/aks/node-image-upgrade
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def agent_pools_upgrade_node_image_version(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      agent_pools_upgrade_node_image_version_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts)
      nil
    end

    # Upgrades the node image version of an agent pool to the latest.
    # Upgrading the node image version of an agent pool applies the newest OS and runtime updates to the nodes. AKS provides one new image per week with the latest updates. For more details on node image versions, see: https://docs.microsoft.com/azure/aks/node-image-upgrade
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def agent_pools_upgrade_node_image_version_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentPoolsApi.agent_pools_upgrade_node_image_version ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling AgentPoolsApi.agent_pools_upgrade_node_image_version, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/upgradeNodeImageVersion'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"AgentPoolsApi.agent_pools_upgrade_node_image_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentPoolsApi#agent_pools_upgrade_node_image_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end