=begin
#ContainerServiceClient

#The Container Service Client.

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module ContainerService
  class MachinesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a specific machine in the specified agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param machine_name [String] Host name of the machine.
    # @param [Hash] opts the optional parameters
    # @return [Machine]
    def machines_get(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, machine_name, opts = {})
      data, _status_code, _headers = machines_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, machine_name, opts)
      data
    end

    # Get a specific machine in the specified agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param machine_name [String] Host name of the machine.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Machine, Integer, Hash)>] Machine data, response status code and response headers
    def machines_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, machine_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MachinesApi.machines_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling MachinesApi.machines_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling MachinesApi.machines_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling MachinesApi.machines_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling MachinesApi.machines_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling MachinesApi.machines_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling MachinesApi.machines_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling MachinesApi.machines_get"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling MachinesApi.machines_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling MachinesApi.machines_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling MachinesApi.machines_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling MachinesApi.machines_get"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling MachinesApi.machines_get, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling MachinesApi.machines_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling MachinesApi.machines_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'machine_name' is set
      if @api_client.config.client_side_validation && machine_name.nil?
        fail ArgumentError, "Missing the required parameter 'machine_name' when calling MachinesApi.machines_get"
      end
      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,39}$/)
      if @api_client.config.client_side_validation && machine_name !~ pattern
        fail ArgumentError, "invalid value for 'machine_name' when calling MachinesApi.machines_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/machines/{machineName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s)).sub('{machineName}', CGI.escape(machine_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Machine'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"MachinesApi.machines_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MachinesApi#machines_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of machines in the specified agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [MachineListResult]
    def machines_list(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      data, _status_code, _headers = machines_list_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts)
      data
    end

    # Gets a list of machines in the specified agent pool.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param agent_pool_name [String] The name of the agent pool.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MachineListResult, Integer, Hash)>] MachineListResult data, response status code and response headers
    def machines_list_with_http_info(api_version, subscription_id, resource_group_name, resource_name, agent_pool_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MachinesApi.machines_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling MachinesApi.machines_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling MachinesApi.machines_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling MachinesApi.machines_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling MachinesApi.machines_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling MachinesApi.machines_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling MachinesApi.machines_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling MachinesApi.machines_list"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling MachinesApi.machines_list, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling MachinesApi.machines_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling MachinesApi.machines_list, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'agent_pool_name' is set
      if @api_client.config.client_side_validation && agent_pool_name.nil?
        fail ArgumentError, "Missing the required parameter 'agent_pool_name' when calling MachinesApi.machines_list"
      end
      if @api_client.config.client_side_validation && agent_pool_name.to_s.length > 12
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling MachinesApi.machines_list, the character length must be smaller than or equal to 12.'
      end

      if @api_client.config.client_side_validation && agent_pool_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "agent_pool_name" when calling MachinesApi.machines_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z][a-z0-9]{0,11}$/)
      if @api_client.config.client_side_validation && agent_pool_name !~ pattern
        fail ArgumentError, "invalid value for 'agent_pool_name' when calling MachinesApi.machines_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/machines'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{agentPoolName}', CGI.escape(agent_pool_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MachineListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"MachinesApi.machines_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MachinesApi#machines_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end