=begin
#ContainerServiceClient

#The Container Service Client.

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module ContainerService
  class ManagedNamespacesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates or updates a namespace managed by ARM for the specified managed cluster. Users can configure aspects like resource quotas, network ingress/egress policies, and more. See aka.ms/aks/managed-namespaces for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param parameters [ManagedNamespace] The namespace to create or update.
    # @param [Hash] opts the optional parameters
    # @return [ManagedNamespace]
    def managed_namespaces_create_or_update(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, parameters, opts = {})
      data, _status_code, _headers = managed_namespaces_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, parameters, opts)
      data
    end

    # Creates or updates a namespace managed by ARM for the specified managed cluster. Users can configure aspects like resource quotas, network ingress/egress policies, and more. See aka.ms/aks/managed-namespaces for more details.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param parameters [ManagedNamespace] The namespace to create or update.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedNamespace, Integer, Hash)>] ManagedNamespace data, response status code and response headers
    def managed_namespaces_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedNamespacesApi.managed_namespaces_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedNamespacesApi.managed_namespaces_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedNamespacesApi.managed_namespaces_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedNamespacesApi.managed_namespaces_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'managed_namespace_name' is set
      if @api_client.config.client_side_validation && managed_namespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_create_or_update"
      end
      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/[a-z0-9]([-a-z0-9]*[a-z0-9])?/)
      if @api_client.config.client_side_validation && managed_namespace_name !~ pattern
        fail ArgumentError, "invalid value for 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ManagedNamespacesApi.managed_namespaces_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/managedNamespaces/{managedNamespaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{managedNamespaceName}', CGI.escape(managed_namespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedNamespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedNamespacesApi.managed_namespaces_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedNamespacesApi#managed_namespaces_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a namespace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def managed_namespaces_delete(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts = {})
      managed_namespaces_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts)
      nil
    end

    # Deletes a namespace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def managed_namespaces_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedNamespacesApi.managed_namespaces_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedNamespacesApi.managed_namespaces_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedNamespacesApi.managed_namespaces_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedNamespacesApi.managed_namespaces_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_delete"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'managed_namespace_name' is set
      if @api_client.config.client_side_validation && managed_namespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_delete"
      end
      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/[a-z0-9]([-a-z0-9]*[a-z0-9])?/)
      if @api_client.config.client_side_validation && managed_namespace_name !~ pattern
        fail ArgumentError, "invalid value for 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/managedNamespaces/{managedNamespaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{managedNamespaceName}', CGI.escape(managed_namespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedNamespacesApi.managed_namespaces_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedNamespacesApi#managed_namespaces_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the specified namespace of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param [Hash] opts the optional parameters
    # @return [ManagedNamespace]
    def managed_namespaces_get(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts = {})
      data, _status_code, _headers = managed_namespaces_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts)
      data
    end

    # Gets the specified namespace of a managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedNamespace, Integer, Hash)>] ManagedNamespace data, response status code and response headers
    def managed_namespaces_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedNamespacesApi.managed_namespaces_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedNamespacesApi.managed_namespaces_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedNamespacesApi.managed_namespaces_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedNamespacesApi.managed_namespaces_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_get"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'managed_namespace_name' is set
      if @api_client.config.client_side_validation && managed_namespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_get"
      end
      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/[a-z0-9]([-a-z0-9]*[a-z0-9])?/)
      if @api_client.config.client_side_validation && managed_namespace_name !~ pattern
        fail ArgumentError, "invalid value for 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/managedNamespaces/{managedNamespaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{managedNamespaceName}', CGI.escape(managed_namespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedNamespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedNamespacesApi.managed_namespaces_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedNamespacesApi#managed_namespaces_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of managed namespaces in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [ManagedNamespaceListResult]
    def managed_namespaces_list_by_managed_cluster(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = managed_namespaces_list_by_managed_cluster_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # Gets a list of managed namespaces in the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedNamespaceListResult, Integer, Hash)>] ManagedNamespaceListResult data, response status code and response headers
    def managed_namespaces_list_by_managed_cluster_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/managedNamespaces'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedNamespaceListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedNamespacesApi.managed_namespaces_list_by_managed_cluster",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedNamespacesApi#managed_namespaces_list_by_managed_cluster\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the credentials of a namespace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param [Hash] opts the optional parameters
    # @return [CredentialResults]
    def managed_namespaces_list_credential(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts = {})
      data, _status_code, _headers = managed_namespaces_list_credential_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts)
      data
    end

    # Lists the credentials of a namespace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CredentialResults, Integer, Hash)>] CredentialResults data, response status code and response headers
    def managed_namespaces_list_credential_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedNamespacesApi.managed_namespaces_list_credential ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedNamespacesApi.managed_namespaces_list_credential"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedNamespacesApi.managed_namespaces_list_credential"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedNamespacesApi.managed_namespaces_list_credential"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_list_credential"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_list_credential, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'managed_namespace_name' is set
      if @api_client.config.client_side_validation && managed_namespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_list_credential"
      end
      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_list_credential, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/[a-z0-9]([-a-z0-9]*[a-z0-9])?/)
      if @api_client.config.client_side_validation && managed_namespace_name !~ pattern
        fail ArgumentError, "invalid value for 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_list_credential, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/managedNamespaces/{managedNamespaceName}/listCredential'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{managedNamespaceName}', CGI.escape(managed_namespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CredentialResults'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedNamespacesApi.managed_namespaces_list_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedNamespacesApi#managed_namespaces_list_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates tags on a managed namespace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param parameters [TagsObject] Parameters supplied to the patch namespace operation, we only support patch tags for now.
    # @param [Hash] opts the optional parameters
    # @return [ManagedNamespace]
    def managed_namespaces_update(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, parameters, opts = {})
      data, _status_code, _headers = managed_namespaces_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, parameters, opts)
      data
    end

    # Updates tags on a managed namespace.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param managed_namespace_name [String] The name of the managed namespace.
    # @param parameters [TagsObject] Parameters supplied to the patch namespace operation, we only support patch tags for now.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManagedNamespace, Integer, Hash)>] ManagedNamespace data, response status code and response headers
    def managed_namespaces_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, managed_namespace_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedNamespacesApi.managed_namespaces_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ManagedNamespacesApi.managed_namespaces_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ManagedNamespacesApi.managed_namespaces_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ManagedNamespacesApi.managed_namespaces_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_update"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ManagedNamespacesApi.managed_namespaces_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'managed_namespace_name' is set
      if @api_client.config.client_side_validation && managed_namespace_name.nil?
        fail ArgumentError, "Missing the required parameter 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_update"
      end
      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && managed_namespace_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "managed_namespace_name" when calling ManagedNamespacesApi.managed_namespaces_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/[a-z0-9]([-a-z0-9]*[a-z0-9])?/)
      if @api_client.config.client_side_validation && managed_namespace_name !~ pattern
        fail ArgumentError, "invalid value for 'managed_namespace_name' when calling ManagedNamespacesApi.managed_namespaces_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ManagedNamespacesApi.managed_namespaces_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/managedNamespaces/{managedNamespaceName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{managedNamespaceName}', CGI.escape(managed_namespace_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ManagedNamespace'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ManagedNamespacesApi.managed_namespaces_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedNamespacesApi#managed_namespaces_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end