=begin
#ContainerServiceClient

#The Container Service Client.

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module ContainerService
  class ResolvePrivateLinkServiceIdApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the private link service ID for the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param parameters [PrivateLinkResource] Parameters required in order to resolve a private link service ID.
    # @param [Hash] opts the optional parameters
    # @return [PrivateLinkResource]
    def resolve_private_link_service_id_post(api_version, subscription_id, resource_group_name, resource_name, parameters, opts = {})
      data, _status_code, _headers = resolve_private_link_service_id_post_with_http_info(api_version, subscription_id, resource_group_name, resource_name, parameters, opts)
      data
    end

    # Gets the private link service ID for the specified managed cluster.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param parameters [PrivateLinkResource] Parameters required in order to resolve a private link service ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PrivateLinkResource, Integer, Hash)>] PrivateLinkResource data, response status code and response headers
    def resolve_private_link_service_id_post_with_http_info(api_version, subscription_id, resource_group_name, resource_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/resolvePrivateLinkServiceId'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateLinkResource'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ResolvePrivateLinkServiceIdApi.resolve_private_link_service_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResolvePrivateLinkServiceIdApi#resolve_private_link_service_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end