=begin
#ContainerServiceClient

#The Container Service Client.

The version of the OpenAPI document: 2026-07-01

Generated by: https://openapi-generator.tech
Generator version: 7.26.0

=end

require 'cgi'

module AzureRest
  module ContainerService
  class TrustedAccessApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update a trusted access role binding
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param trusted_access_role_binding_name [String] The name of trusted access role binding.
    # @param trusted_access_role_binding [TrustedAccessRoleBinding] A trusted access role binding
    # @param [Hash] opts the optional parameters
    # @return [TrustedAccessRoleBinding]
    def trusted_access_role_bindings_create_or_update(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, trusted_access_role_binding, opts = {})
      data, _status_code, _headers = trusted_access_role_bindings_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, trusted_access_role_binding, opts)
      data
    end

    # Create or update a trusted access role binding
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param trusted_access_role_binding_name [String] The name of trusted access role binding.
    # @param trusted_access_role_binding [TrustedAccessRoleBinding] A trusted access role binding
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrustedAccessRoleBinding, Integer, Hash)>] TrustedAccessRoleBinding data, response status code and response headers
    def trusted_access_role_bindings_create_or_update_with_http_info(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, trusted_access_role_binding, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrustedAccessApi.trusted_access_role_bindings_create_or_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'trusted_access_role_binding_name' is set
      if @api_client.config.client_side_validation && trusted_access_role_binding_name.nil?
        fail ArgumentError, "Missing the required parameter 'trusted_access_role_binding_name' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update"
      end
      if @api_client.config.client_side_validation && trusted_access_role_binding_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "trusted_access_role_binding_name" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && trusted_access_role_binding_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "trusted_access_role_binding_name" when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^([A-Za-z0-9-])+$/)
      if @api_client.config.client_side_validation && trusted_access_role_binding_name !~ pattern
        fail ArgumentError, "invalid value for 'trusted_access_role_binding_name' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'trusted_access_role_binding' is set
      if @api_client.config.client_side_validation && trusted_access_role_binding.nil?
        fail ArgumentError, "Missing the required parameter 'trusted_access_role_binding' when calling TrustedAccessApi.trusted_access_role_bindings_create_or_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings/{trustedAccessRoleBindingName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{trustedAccessRoleBindingName}', CGI.escape(trusted_access_role_binding_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trusted_access_role_binding)

      # return_type
      return_type = opts[:debug_return_type] || 'TrustedAccessRoleBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TrustedAccessApi.trusted_access_role_bindings_create_or_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrustedAccessApi#trusted_access_role_bindings_create_or_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a trusted access role binding.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param trusted_access_role_binding_name [String] The name of trusted access role binding.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def trusted_access_role_bindings_delete(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, opts = {})
      trusted_access_role_bindings_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, opts)
      nil
    end

    # Delete a trusted access role binding.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param trusted_access_role_binding_name [String] The name of trusted access role binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def trusted_access_role_bindings_delete_with_http_info(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrustedAccessApi.trusted_access_role_bindings_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TrustedAccessApi.trusted_access_role_bindings_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TrustedAccessApi.trusted_access_role_bindings_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling TrustedAccessApi.trusted_access_role_bindings_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_delete"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'trusted_access_role_binding_name' is set
      if @api_client.config.client_side_validation && trusted_access_role_binding_name.nil?
        fail ArgumentError, "Missing the required parameter 'trusted_access_role_binding_name' when calling TrustedAccessApi.trusted_access_role_bindings_delete"
      end
      if @api_client.config.client_side_validation && trusted_access_role_binding_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "trusted_access_role_binding_name" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && trusted_access_role_binding_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "trusted_access_role_binding_name" when calling TrustedAccessApi.trusted_access_role_bindings_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^([A-Za-z0-9-])+$/)
      if @api_client.config.client_side_validation && trusted_access_role_binding_name !~ pattern
        fail ArgumentError, "invalid value for 'trusted_access_role_binding_name' when calling TrustedAccessApi.trusted_access_role_bindings_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings/{trustedAccessRoleBindingName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{trustedAccessRoleBindingName}', CGI.escape(trusted_access_role_binding_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TrustedAccessApi.trusted_access_role_bindings_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrustedAccessApi#trusted_access_role_bindings_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a trusted access role binding.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param trusted_access_role_binding_name [String] The name of trusted access role binding.
    # @param [Hash] opts the optional parameters
    # @return [TrustedAccessRoleBinding]
    def trusted_access_role_bindings_get(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, opts = {})
      data, _status_code, _headers = trusted_access_role_bindings_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, opts)
      data
    end

    # Get a trusted access role binding.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param trusted_access_role_binding_name [String] The name of trusted access role binding.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrustedAccessRoleBinding, Integer, Hash)>] TrustedAccessRoleBinding data, response status code and response headers
    def trusted_access_role_bindings_get_with_http_info(api_version, subscription_id, resource_group_name, resource_name, trusted_access_role_binding_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrustedAccessApi.trusted_access_role_bindings_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TrustedAccessApi.trusted_access_role_bindings_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TrustedAccessApi.trusted_access_role_bindings_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling TrustedAccessApi.trusted_access_role_bindings_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_get"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'trusted_access_role_binding_name' is set
      if @api_client.config.client_side_validation && trusted_access_role_binding_name.nil?
        fail ArgumentError, "Missing the required parameter 'trusted_access_role_binding_name' when calling TrustedAccessApi.trusted_access_role_bindings_get"
      end
      if @api_client.config.client_side_validation && trusted_access_role_binding_name.to_s.length > 24
        fail ArgumentError, 'invalid value for "trusted_access_role_binding_name" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be smaller than or equal to 24.'
      end

      if @api_client.config.client_side_validation && trusted_access_role_binding_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "trusted_access_role_binding_name" when calling TrustedAccessApi.trusted_access_role_bindings_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^([A-Za-z0-9-])+$/)
      if @api_client.config.client_side_validation && trusted_access_role_binding_name !~ pattern
        fail ArgumentError, "invalid value for 'trusted_access_role_binding_name' when calling TrustedAccessApi.trusted_access_role_bindings_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings/{trustedAccessRoleBindingName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s)).sub('{trustedAccessRoleBindingName}', CGI.escape(trusted_access_role_binding_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrustedAccessRoleBinding'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TrustedAccessApi.trusted_access_role_bindings_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrustedAccessApi#trusted_access_role_bindings_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List trusted access role bindings.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [TrustedAccessRoleBindingListResult]
    def trusted_access_role_bindings_list(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      data, _status_code, _headers = trusted_access_role_bindings_list_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts)
      data
    end

    # List trusted access role bindings.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param resource_name [String] The name of the managed cluster resource.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrustedAccessRoleBindingListResult, Integer, Hash)>] TrustedAccessRoleBindingListResult data, response status code and response headers
    def trusted_access_role_bindings_list_with_http_info(api_version, subscription_id, resource_group_name, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrustedAccessApi.trusted_access_role_bindings_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TrustedAccessApi.trusted_access_role_bindings_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TrustedAccessApi.trusted_access_role_bindings_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TrustedAccessApi.trusted_access_role_bindings_list"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling TrustedAccessApi.trusted_access_role_bindings_list"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_list, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling TrustedAccessApi.trusted_access_role_bindings_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_list"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_list, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && resource_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_name" when calling TrustedAccessApi.trusted_access_role_bindings_list, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling TrustedAccessApi.trusted_access_role_bindings_list, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{resourceName}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrustedAccessRoleBindingListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TrustedAccessApi.trusted_access_role_bindings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrustedAccessApi#trusted_access_role_bindings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported trusted access roles.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [TrustedAccessRoleListResult]
    def trusted_access_roles_list(api_version, subscription_id, location, opts = {})
      data, _status_code, _headers = trusted_access_roles_list_with_http_info(api_version, subscription_id, location, opts)
      data
    end

    # List supported trusted access roles.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param location [String] The name of the Azure region.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TrustedAccessRoleListResult, Integer, Hash)>] TrustedAccessRoleListResult data, response status code and response headers
    def trusted_access_roles_list_with_http_info(api_version, subscription_id, location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrustedAccessApi.trusted_access_roles_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling TrustedAccessApi.trusted_access_roles_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling TrustedAccessApi.trusted_access_roles_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling TrustedAccessApi.trusted_access_roles_list"
      end
      # verify the required parameter 'location' is set
      if @api_client.config.client_side_validation && location.nil?
        fail ArgumentError, "Missing the required parameter 'location' when calling TrustedAccessApi.trusted_access_roles_list"
      end
      if @api_client.config.client_side_validation && location.to_s.length < 1
        fail ArgumentError, 'invalid value for "location" when calling TrustedAccessApi.trusted_access_roles_list, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/trustedAccessRoles'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{location}', CGI.escape(location.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrustedAccessRoleListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"TrustedAccessApi.trusted_access_roles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrustedAccessApi#trusted_access_roles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end