=begin
#MySQLManagementClient

#The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.

The version of the OpenAPI document: 2024-12-30

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module AzureSDK
  module MySQL
  class ServersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new server or updates an existing server. The update action will overwrite the existing server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [Server] The required parameters for creating or updating a server.
    # @param [Hash] opts the optional parameters
    # @return [Server]
    def servers_create(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = servers_create_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Creates a new server or updates an existing server. The update action will overwrite the existing server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [Server] The required parameters for creating or updating a server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Server, Integer, Hash)>] Server data, response status code and response headers
    def servers_create_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_create ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_create"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_create"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_create"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_create, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_create, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_create"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_create, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_create, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_create, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_create"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'Server'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_delete(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Deletes a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_delete_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_delete ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_delete"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_delete"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_delete"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_delete, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_delete, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_delete"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_delete, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_delete, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_delete, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach VNet on a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerDetachVNetParameter] The required parameters for detach vnet on a server.
    # @param [Hash] opts the optional parameters
    # @return [Server]
    def servers_detach_v_net(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = servers_detach_v_net_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Detach VNet on a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerDetachVNetParameter] The required parameters for detach vnet on a server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Server, Integer, Hash)>] Server data, response status code and response headers
    def servers_detach_v_net_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_detach_v_net ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_detach_v_net"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_detach_v_net, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_detach_v_net"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_detach_v_net"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_detach_v_net, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_detach_v_net, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_detach_v_net"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_detach_v_net, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_detach_v_net, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_detach_v_net, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_detach_v_net"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/detachVNet'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'Server'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_detach_v_net",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_detach_v_net\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manual failover a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_failover(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_failover_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Manual failover a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_failover_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_failover ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_failover"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_failover, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_failover"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_failover"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_failover, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_failover, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_failover"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_failover, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_failover, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_failover, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/failover'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_failover",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_failover\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets information about a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Server]
    def servers_get(api_version, subscription_id, resource_group_name, server_name, opts = {})
      data, _status_code, _headers = servers_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      data
    end

    # Gets information about a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Server, Integer, Hash)>] Server data, response status code and response headers
    def servers_get_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_get ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_get"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_get"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_get"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_get, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_get, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_get"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_get, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_get, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Server'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the servers in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [ServerListResult]
    def servers_list(api_version, subscription_id, opts = {})
      data, _status_code, _headers = servers_list_with_http_info(api_version, subscription_id, opts)
      data
    end

    # List all the servers in a given subscription.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerListResult, Integer, Hash)>] ServerListResult data, response status code and response headers
    def servers_list_with_http_info(api_version, subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_list ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_list"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_list, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_list"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/flexibleServers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all the servers in a given resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [ServerListResult]
    def servers_list_by_resource_group(api_version, subscription_id, resource_group_name, opts = {})
      data, _status_code, _headers = servers_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts)
      data
    end

    # List all the servers in a given resource group.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerListResult, Integer, Hash)>] ServerListResult data, response status code and response headers
    def servers_list_by_resource_group_with_http_info(api_version, subscription_id, resource_group_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_list_by_resource_group ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_list_by_resource_group"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_list_by_resource_group"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_list_by_resource_group, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_list_by_resource_group, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServerListResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_list_by_resource_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_list_by_resource_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resets GTID on a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerGtidSetParameter] The required parameters for resetting GTID on a server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_reset_gtid(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      servers_reset_gtid_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      nil
    end

    # Resets GTID on a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerGtidSetParameter] The required parameters for resetting GTID on a server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_reset_gtid_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_reset_gtid ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_reset_gtid"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_reset_gtid, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_reset_gtid"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_reset_gtid"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_reset_gtid, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_reset_gtid, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_reset_gtid"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_reset_gtid, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_reset_gtid, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_reset_gtid, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_reset_gtid"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/resetGtid'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_reset_gtid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_reset_gtid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restarts a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerRestartParameter] The required parameters for restarting a server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_restart(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      servers_restart_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      nil
    end

    # Restarts a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerRestartParameter] The required parameters for restarting a server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_restart_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_restart ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_restart"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_restart"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_restart"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_restart, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_restart, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_restart"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_restart, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_restart, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_restart, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_restart"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/restart'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_restart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_start(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_start_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Starts a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_start_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_start ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_start"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_start, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_start"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_start"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_start, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_start, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_start"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_start, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_start, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_start, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/start'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_start",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stops a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def servers_stop(api_version, subscription_id, resource_group_name, server_name, opts = {})
      servers_stop_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts)
      nil
    end

    # Stops a server.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def servers_stop_with_http_info(api_version, subscription_id, resource_group_name, server_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_stop ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_stop"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_stop, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_stop"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_stop"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_stop, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_stop, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_stop"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_stop, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_stop, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_stop, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/stop'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing server. The request body can contain one to many of the properties present in the normal server definition.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerForUpdate] The required parameters for updating a server.
    # @param [Hash] opts the optional parameters
    # @return [Server]
    def servers_update(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = servers_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Updates an existing server. The request body can contain one to many of the properties present in the normal server definition.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [ServerForUpdate] The required parameters for updating a server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Server, Integer, Hash)>] Server data, response status code and response headers
    def servers_update_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_update ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_update"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_update"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_update"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_update, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_update, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_update"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_update, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_update, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_update"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'Server'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate a deployment of high availability.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [HighAvailabilityValidationEstimation] The required parameters for validation of high availability deployment.
    # @param [Hash] opts the optional parameters
    # @return [HighAvailabilityValidationEstimation]
    def servers_validate_estimate_high_availability(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      data, _status_code, _headers = servers_validate_estimate_high_availability_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts)
      data
    end

    # Validate a deployment of high availability.
    # @param api_version [String] The API version to use for this operation.
    # @param subscription_id [String] The ID of the target subscription. The value must be an UUID.
    # @param resource_group_name [String] The name of the resource group. The name is case insensitive.
    # @param server_name [String] The name of the server.
    # @param parameters [HighAvailabilityValidationEstimation] The required parameters for validation of high availability deployment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HighAvailabilityValidationEstimation, Integer, Hash)>] HighAvailabilityValidationEstimation data, response status code and response headers
    def servers_validate_estimate_high_availability_with_http_info(api_version, subscription_id, resource_group_name, server_name, parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_validate_estimate_high_availability ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling ServersApi.servers_validate_estimate_high_availability"
      end
      if @api_client.config.client_side_validation && api_version.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_version" when calling ServersApi.servers_validate_estimate_high_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling ServersApi.servers_validate_estimate_high_availability"
      end
      # verify the required parameter 'resource_group_name' is set
      if @api_client.config.client_side_validation && resource_group_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_group_name' when calling ServersApi.servers_validate_estimate_high_availability"
      end
      if @api_client.config.client_side_validation && resource_group_name.to_s.length > 90
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_validate_estimate_high_availability, the character length must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && resource_group_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "resource_group_name" when calling ServersApi.servers_validate_estimate_high_availability, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'server_name' is set
      if @api_client.config.client_side_validation && server_name.nil?
        fail ArgumentError, "Missing the required parameter 'server_name' when calling ServersApi.servers_validate_estimate_high_availability"
      end
      if @api_client.config.client_side_validation && server_name.to_s.length > 63
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_validate_estimate_high_availability, the character length must be smaller than or equal to 63.'
      end

      if @api_client.config.client_side_validation && server_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "server_name" when calling ServersApi.servers_validate_estimate_high_availability, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][-a-z0-9]*(?<!-)$/)
      if @api_client.config.client_side_validation && server_name !~ pattern
        fail ArgumentError, "invalid value for 'server_name' when calling ServersApi.servers_validate_estimate_high_availability, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling ServersApi.servers_validate_estimate_high_availability"
      end
      # resource path
      local_var_path = '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/validateEstimateHighAvailability'.sub('{subscriptionId}', CGI.escape(subscription_id.to_s)).sub('{resourceGroupName}', CGI.escape(resource_group_name.to_s)).sub('{serverName}', CGI.escape(server_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'HighAvailabilityValidationEstimation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['azure_auth']

      new_options = opts.merge(
        :operation => :"ServersApi.servers_validate_estimate_high_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_validate_estimate_high_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
  end
end